<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j">

    <div align="center">
        <strong>#{messages['txt.presentation_no']} / #{messages['txt.current_state']}</strong>
        <rich:panel>
            <h:panelGrid columns="2" width="#{width}">
                <h:outputText value="#{messages['txt.presentation_no']}" />
                <h:outputText value="#{permit.presentationNo}"/>
        
                <h:outputText value="#{messages['txt.current_state']}" />
                <h:outputText value="#{permit.approved != null ? (permit.approved ? messages['txt.APPROVED'] : messages['txt.REJECTED']) : messages['txt.IN_PROCESS']}" />
            </h:panelGrid>
        </rich:panel>
        
        <br />
        
        <strong>#{messages['permit.data']}</strong>
        <rich:panel>
            <h:panelGrid columns="2" width="#{width}">
                <h:outputText value="#{messages['permit.partyid']}" />
                <h:outputText value="#{permit.extParty.formalIdentity}"/>
        
                <h:outputText value="#{messages['permit.party_full_name']}" />
                <h:outputText value="#{permit.extParty.name}" />
        
                <h:outputText value="#{messages['permit.type']}" />
                <h:outputText value="#{messages[permit.type.name()]}" />
        
                <h:outputText value="#{messages['permit.validity_from']}" />
                <h:outputText value="#{permit.validityFrom}" />
        
                <h:outputText value="#{messages['permit.validity_to']}" />
                <h:outputText value="#{permit.validityTo}" />
        
                <h:outputText value="#{messages['building_permit.new_buildings_parcel']}" />
                <h:outputText value="#{generalHelper.formatZoneNameText(permit.selectedZone)}" />
            </h:panelGrid>
        </rich:panel>
        
        
        
        
        <br />
        
        
        
        
        <strong>#{messages['building_permit.building_data']}</strong>
        <rich:panel>
            <h:panelGrid columns="2" width="#{width}">
                <h:outputText value="#{messages['building_permit.building_area']}" />
                <h:outputText value="#{permit.buildingUnit.builtArea}" />
        
                <h:outputText value="#{messages['building_permit.number_of_floors']}" />
                <h:outputText value="#{permit.buildingUnit.numberOfFloors}" />

                <h:outputText value="#{messages['building_permit.building_value']}" />
                <h:outputText value="#{permit.buildingUnit.value}" />
            </h:panelGrid>
        </rich:panel>
    </div>

</ui:composition>
