<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <div align="center">
        <strong>#{messages['txt.presentation_no']} / #{messages['txt.current_state']}</strong>
        <rich:panel>
            <h:panelGrid columns="2" width="#{width}">
                <h:outputText value="#{messages['txt.presentation_no']}" />
                <h:outputText value="#{permit.id}"/>
        
                <h:outputText value="#{messages['txt.current_state']}" />
                <h:outputText value="#{permit.approved != null ? (permit.approved ? messages['txt.APPROVED'] : messages['txt.REJECTED']) : messages['txt.IN_PROCESS']}" />
            </h:panelGrid>
        </rich:panel>

        <br />

        <strong>#{messages['permit.data']}</strong>
        <rich:panel>
            <h:panelGrid columns="2" width="#{width}">
                <h:outputText value="#{messages['permit.partyid']}" />
                <h:outputText value="#{permit.extParty.formalIdentity}"/>
        
                <h:outputText value="#{messages['permit.party_full_name']}:" />
                <h:outputText value="#{permit.extParty.name}"/>
        
                <h:outputText value="#{messages['permit.type']}" />
                <h:outputText value="#{messages[permit.type.name()]}" />
        
                <h:outputText value="#{messages['permit.validity_from']}" />
                <h:outputText value="#{permit.validityFrom}" />
        
                <h:outputText value="#{messages['permit.validity_to']}" />
                <h:outputText value="#{permit.validityTo}" />
        
                <h:outputText value="#{messages['operation_permit.permit_zone']}" />
                <h:outputText value="#{generalHelper.formatZoneNameText(permit.selectedZone)}" />
        
                <h:outputText value="#{messages['operation_permit.business_type']}" />
                <h:outputText value="#{permit.businessType != null ? permit.businessType.name : '--'}" />
            </h:panelGrid>
        </rich:panel>
    </div>
</ui:composition>
