<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">


    <script type="text/javascript">
        function redrawTxnLayer(wlId, wlName) {
            var cqlFilter = "workinglayerid = '" + wlId + "'";
            if (#{interactiveViewerHelper.mapServerAlive} === true)
                doFilterLayer(wlName, cqlFilter);
        }
    </script>

    <strong>#{messages['topography.data_section']}</strong>
    <hr />
    <br />
    <h:panelGrid width="80%" columns="2"
        columnClasses="introCol1,introCol2">

        <h:outputText rendered="#{readonly}" value="#{messages['topography.transaction_no']}" />
        <h:outputText rendered="#{readonly}" value="#{topographyMaintenanceHelper.transaction.presentationNo}" style="font-weight:bold;" />
        
        <h:outputText value="#{messages['topography.layer']}" />
        <h:panelGroup>
            <h:panelGroup rendered="#{not readonly}">
                <h:selectOneMenu id="layerSelect"
                    label="#{messages['topography.layer']}"
                    value="#{topographyMaintenanceHelper.transaction.workingLayer}"
                    converter="#{uiConverters.layer}" required="true">
                    <f:selectItems value="#{uiConverters.layer.selectItems(topographyMaintenanceHelper.layers)}" />
                    <a4j:ajax event="change" execute="@this" render="tracePickMapLnk"></a4j:ajax>
                </h:selectOneMenu>
                <br />
                <rich:message style="color:Red;" for="layerSelect" />
            </h:panelGroup>
            <h:outputText rendered="#{readonly}" value="#{topographyMaintenanceHelper.transaction.workingLayer.name}" />
        </h:panelGroup>
        
        <h:outputText value="#{messages['topography.box']}" />
        <h:panelGroup id="grpExtentsBox">
            <table>
                <tr>
                    <td>X1</td>
                    <td>
                        <h:inputText readonly="true" value="#{topographyMaintenanceHelper.x1}" />
                    </td>
                    <td>Y1</td>
                    <td>
                        <h:inputText readonly="true" value="#{topographyMaintenanceHelper.y1}" />
                    </td>
                    <td>
                        <h:panelGroup rendered="#{not readonly}" id="tracePickMapLnk">
                            <a4j:commandLink execute="@this" rendered="#{topographyMaintenanceHelper.transaction.workingLayer != null}"
                                oncomplete="redrawTxnLayer('#{topographyMaintenanceHelper.transaction.workingLayer.IID}', '#{generalHelper.topographicTxnsWMSLayerName}'); #{rich:component('selectZonePanel')}.show(); mapEditor.zoomToMaxExtent();">
                                <h:outputText value="#{messages['topography.pickbox_from_map']}" />
                            </a4j:commandLink>
                        </h:panelGroup>
                    </td>
                </tr>
                <tr>
                    <td>X2</td>
                    <td>
                        <h:inputText readonly="true" value="#{topographyMaintenanceHelper.x2}" />
                    </td>
                    <td>Y2</td>
                    <td>
                        <h:inputText readonly="true" value="#{topographyMaintenanceHelper.y2}" />
                    </td>
                    <td></td>
                </tr>
            </table>
            #{'   '}
            <br />
            <!-- rich:message style="color:Red;" for="selectedZoneName" /-->
        </h:panelGroup>

        <h:outputText value="#{messages['topography.request_text']}" />
        <h:panelGroup>
            <h:panelGroup rendered="#{not readonly}">
                <a4j:region renderRegionOnly="true">
                    <h:inputTextarea id="requestText"
                        label="#{messages['topography.request_text']}"
                        value="#{topographyMaintenanceHelper.transaction.description}" required="true"
                        rows="5" style="width:100%" validatorMessage="Valor muy corto">
                        <f:validateLength minimum="3" />
                        <a4j:ajax event="blur" />
                    </h:inputTextarea>
                    <br />
                    <rich:message style="color:Red;" for="requestText" />
                </a4j:region>
            </h:panelGroup>
            <h:inputTextarea rendered="#{readonly}"
                readonly="true"
                value="#{topographyMaintenanceHelper.transaction.description}"
                rows="5" style="width:100%">
            </h:inputTextarea>
        </h:panelGroup>
    </h:panelGrid>

</ui:composition>
