.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.item span{
  font-weight: bold;
}

#loading{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 35px;
}

.parcel{
  width: 50%;
  height: 100%;
  float: left
}

.drrContainer{
  float: left;
  padding: 5px;
  width: 100%;
  height: 100%;
}

#root{
  float: left;
  width: 100%;
  height: auto;
  padding: 15px;
  font-size: 12px;
}

#main{
  padding: 50px;
  float: left;
  width: 100%;
  height: 100%;
}

#transaction-view{
  height: auto;
  position: inherit;
  float: left;
}

.ant-modal-body {
  float: left;
  padding: 0px;
}

.ant-modal-content{
  float: left;
  width: 100%;
}

.ant-modal-body{
  width: 100%;
}

#login-block{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

#loading-button{
  z-index: 99999999;
}

div#header-actions {
  background: black;
  padding: 10px 10px 10px 10px;
  position: fixed;
  width: 100%;
  z-index: 9999999;
  top: 0;
  margin-left: -15px;
}

#current-item-modal{
  font-size: 12px;
}

#transaction-view h4 {
  font-size: 20px;
}

#transaction-view h2 {
  font-size: 26px;
}


#root th, #root td {
  padding: 8px 8px;
}

.item-details {
  margin: 15px 0px 15px 0px;
}

body .ant-popover.ant-popover-placement-topLeft {
  z-index: 9999999;
}

div#action-bar {
  float: left;
}

div#close-button {
  float: right;
}

.main-data{
  margin-top: 25px;
  padding:"50px";
  width: '100%';
  float: "left";
}

.main-data h3{
  border-bottom: 1px solid #ebedf0;
  text-align: center;
}

.main-table{
  float: left;
  width: 100%;
  margin-bottom: 45px;
}

.resources-table{
  float: left;
  width: 100%;
  margin-bottom: 45px;
}

.resources-table h2{
  border-bottom: 1px solid #ebedf0;
  text-align: center;
}


.drrContainer h4{
  margin-top: 25px;
}

.drrContainer h4:first-child{
  margin-top: 0px;
}

div#detail-header {
  float: left;
  width: 103%;
}

#detail-header label{
  font-weight: bold;
}

body .ant-row.ant-form-item {
  margin-bottom: 0px;
}

#login-block .ant-row.ant-form-item {
  margin-bottom: 15px;
}

#detail-content input{
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #dad5d5;
  padding: 5px;
}

.ant-modal-confirm-btns button.ant-btn[disabled]{
  opacity: 0;
}

.disabled-main{
  pointer-events: none;
  opacity: 0.5;
}