<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    >

    <strong>#{title}</strong>
    <hr />
    <br />
    
    <table width="70%" style="text-align: left;">
        <tr>
            <th width="35%">#{messages['permit.spatial_rulegroup']}</th>
            <td width="65%">#{ruleGroupName}</td>
        </tr>
    </table>
    
    <br />
    <br />
    
    <ui:repeat var="pos"
        value="#{permitObservations}">
        <rich:panel>
            <table width="60%" style="text-align: left;">
                <tr>
                    <th width="30%">#{messages['spatial_rules.code']}</th>
                    <td width="70%">#{pos.spatialRuleName}</td>
                </tr>
                <tr>
                    <th>#{messages['spatial_rules.description']}</th>
                    <td>#{pos.spatialRuleDescription}</td>
                </tr>
            </table>
            <br />
            <ui:include src="/WEB-INF/includes/zoneInfoIncl.xhtml">
                <ui:param name="zone" value="#{pos.targetSpatialZone}" />
                <ui:param name="noZoneMsg" value="#{messages['permit.no_zone_selected']}" />
                <ui:param name="width" value="60%" />
            </ui:include>
            <br />
            <h:outputText value="#{messages['permit.analyst_opinion']}" style="color:Red;font-weight:bold;" />
            <br />
            <h:inputTextarea value="#{pos.analystObservation}" style="width: 85%;" rendered="#{not readonly}" />

            <h:panelGroup rendered="#{readonly}">
                <rich:panel>
                    <table width="80%">
                        <tr>
                            <td style="text-align: left;font-weight:bold;">
                                <h:outputText value="#{pos.analystObservation}" rendered="#{readonly}" />
                            </td>
                        </tr>
                    </table>
                </rich:panel>
            </h:panelGroup>
        </rich:panel>
    </ui:repeat>

</ui:composition>
