<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <rich:popupPanel id="attachedFilesPanel" minWidth="550" minHeight="420" zindex="10000">
        <f:facet name="header">
            <h:outputText value="#{messages['intro2.attacheddocs']}" />
        </f:facet>

        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="attachedFilesPanel" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>

        <div align="center">
            <br />
            <h:form id="frmAttachedFiles">
                <ui:include src="attachedFilesIncl.xhtml">
                    <ui:param name="aPermitHelper" value="#{aPermitHelper}"/>
                    <ui:param name="reRenderAfterEdit" value="info" />
                    <ui:param name="deleteDisabled" value="#{true}" />
                </ui:include>
            </h:form>
            <ui:include src="attachFilesPanel.xhtml">
                <ui:param name="onOkRender" value="frmAttachedFiles:attachedFilesTable"></ui:param>
            </ui:include>
        </div>
    </rich:popupPanel>
</ui:composition>
