<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j">

    <h:panelGroup id="attachedFilesTable">
        <h:panelGroup rendered="#{empty aPermitHelper.attachedFiles}">
            <div align="center">
                <br/>
                <h:outputText value="#{messages['intro2.nodocsattached']}"/>
            </div>
        </h:panelGroup>
    
        <h:panelGroup rendered="#{not empty aPermitHelper.attachedFiles}">
            <rich:dataTable id="attachedFilesTableData" value="#{aPermitHelper.attachedFiles}" var="file" rowKeyVar="row">
                <rich:column>
                    <f:facet name="header">#{messages['intro2.description']}</f:facet>
                    <h:outputText value="#{file.descripcion}"/>
                </rich:column>
        
                <rich:column>
                    <f:facet name="header">#{messages['txt.type']}</f:facet>
                    <h:outputText value="#{messages[file.adminSourceType.name()]}"/>
                </rich:column>
        
                <rich:column>
                    <f:facet name="header">#{messages['intro2.filename']}</f:facet>
                    <h:inputText readonly="true" value="#{file.fileName}" />
                </rich:column>
        
                <rich:column>
                    <a href="/sigit/services/docs/#{source.archive.sID}" target="_blank">
                        <h:outputText value="#{messages['viewtransaction.viewattacheddoc']}"/>
                    </a>
                </rich:column>
        
                <rich:column rendered="#{not readonly}">
                    <a4j:commandLink
                        value="#{messages['intro2.edit']}"
                        oncomplete="#{rich:component('attachFilePanel')}.show()"
                        render="#{reRenderAfterEdit}">
                        <f:setPropertyActionListener target="#{aPermitHelper.selectedFile}" value="#{file}"/>
                        <f:setPropertyActionListener target="#{aPermitHelper.editMode}" value="1"/>
                        <f:setPropertyActionListener target="#{aPermitHelper.currentRow}" value="#{row}"/>
                    </a4j:commandLink>
                    <h:outputText value="  "/>
                    <a4j:commandLink rendered="#{not deleteDisabled}"
                        value="#{messages['intro2.delete']}"
                        action="#{aPermitHelper.deleteSelectedFile}"
                        render="attachedFilesTable">
                        <f:setPropertyActionListener target="#{aPermitHelper.currentRow}" value="#{row}"/>
                    </a4j:commandLink>
                </rich:column>
            </rich:dataTable>
        </h:panelGroup>
        
        <h:panelGroup rendered="#{not readonly}">
            <br />
            <a4j:commandLink value="#{messages['intro2.add']}"
                    oncomplete="if (#{facesContext.maximumSeverity==null}) #{rich:component('attachFilePanel')}.show()" render="info">
                <f:setPropertyActionListener value="0" target="#{aPermitHelper.editMode}" />
            </a4j:commandLink>
        </h:panelGroup>
        
    </h:panelGroup>    
</ui:composition>
