<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    xmlns:rich="http://richfaces.org/rich">

    <script type="text/javascript">
        function showErrorMsg(text) {
            #{rich:element('txtError')}.innerHTML = text;
            #{rich:component('simpleErrorPanel')}.show()
        }
    </script>    
    <rich:popupPanel id="attachFilePanel" minWidth="350" minHeight="250" zindex="10001" >
        <f:facet name="header">
            <h:outputText value="#{messages['button.edit']}" rendered="#{aPermitHelper.editMode == '1'}"/>
            <h:outputText value="#{messages['button.add']}" rendered="#{aPermitHelper.editMode == '0'}"/>
        </f:facet>

        <div align="center">
            <h:panelGroup id="info">
                <h:panelGroup rendered="#{aPermitHelper.attachedFiles == null or aPermitHelper.attachedFiles.size() lt 5}">
                    <h:form>
                        <h:panelGrid columns="2">
                            <h:outputText value="#{messages['intro2.file']}:"/>
                            <h:panelGroup>
                                <h:outputText rendered="#{aPermitHelper.selectedFile != null}" id="nombreArchivo" value="#{aPermitHelper.selectedFile.fileName}"/>
                                <rich:fileUpload rendered="#{aPermitHelper.selectedFile == null}" acceptedTypes="gif,jpg,png,pdf,doc,xls,docx,xlsx"
                                    allowFlash="false" autoclear="false" noDuplicate="true"
                                    maxFileSize="#{generalHelper.maxUploadedFileSize}" maxFilesQuantity="1" immediateUpload="true"
                                    addLabel="#{messages['txt.select']}" clearAllLabel="" clearLabel=""
                                    fileUploadListener="#{aPermitHelper.attachFileListener}" style="width:250px"
                                    listHeight="80" listWidth="150"
                                    uploadcomplete="#{rich:element('refreshInfo')}.click();"
                                    onsizerejected="showErrorMsg('#{messages['attached_files.max_file_size_exceeded']}')"
                                    ontyperejected="showErrorMsg('#{messages['attached_files.unsupported_file_type']}')">
                                </rich:fileUpload>
                            </h:panelGroup>
                        </h:panelGrid>
                        
                        <h:panelGrid columns="2" rendered="#{aPermitHelper.selectedFile != null}" columnClasses="introCol1,introCol2">
                            <h:outputText value="#{messages['txt.type']}" />
                            <h:panelGroup>
                                <h:selectOneMenu id="fileAdminSourceType" required="true"
                                label="#{messages['txt.type']}"
                                value="#{aPermitHelper.selectedFile.adminSourceType}"
                                converter="#{uiConverters.administrativeSourceType}">
                                    <f:selectItems
                                        noSelectionValue=""
                                        value="#{uiConverters.administrativeSourceType.valueList}">
                                    </f:selectItems>
                                </h:selectOneMenu>
                                <rich:message style="color:Red;" for="fileAdminSourceType" />
                            </h:panelGroup>
                            
                            <h:outputText value="#{messages['intro2.description']}:"/>
                            <h:panelGroup id="fileDescr">
                                <h:inputTextarea id="fileDescription" required="true"
                                    label="#{messages['intro2.description']}"
                                    value="#{aPermitHelper.selectedFile.descripcion}"
                                    cols="30" rows="5">
                                </h:inputTextarea>
                                <rich:message style="color:Red;" for="fileDescription" />
                            </h:panelGroup>
                        </h:panelGrid>

                        <br />
                        <br />
            
                        <a4j:commandButton execute="@form"
                            render="#{onOkRender}"
                            value="#{messages['button.ok']}"
                            action="#{aPermitHelper.acceptSelectedFile}"
                            oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('attachFilePanel')}.hide()">
                        </a4j:commandButton>
                        <a4j:commandButton execute="@this" value="#{messages['button.close']}" oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('attachFilePanel')}.hide()">
                            <f:setPropertyActionListener value="#{null}" target="#{aPermitHelper.selectedFile}" />
                        </a4j:commandButton>
                        <a4j:commandLink id="refreshInfo" value="H2" render="info" style="visibility:hidden;"/>
                    </h:form>
                </h:panelGroup>
                <h:panelGroup rendered="#{aPermitHelper.attachedFiles != null and aPermitHelper.attachedFiles.size() gt 4}">
                    <h:outputText value="#{messages['attached_files.max_file_count_exceeded']}"/>
                    <div style="height: 15px"/>
                    <sigit:simpleButton value="#{messages['button.ok']}" onclick="#{rich:component('attachFilePanel')}.hide()" />
                </h:panelGroup>
            </h:panelGroup>
        </div>
    </rich:popupPanel>
</ui:composition>
