<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <strong>#{messages['txt.presentation_no']} / #{messages['txt.current_state']}</strong>
    <hr />
    <rich:panel>
        <h:panelGrid columns="2" width="#{width}">
            <h:outputText value="#{messages['txt.presentation_no']}" />
            <h:inputText value="#{permit.presentationNo}" readonly="true"/>
    
            <h:outputText value="#{messages['txt.current_state']}" />
            <h:inputText value="#{permit.approved != null ? (permit.approved ? messages['txt.APPROVED'] : messages['txt.REJECTED']) : messages['txt.IN_PROCESS']}" readonly="true" />
        </h:panelGrid>
    </rich:panel>
    <br />
    <br />

</ui:composition>
