<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    <rich:popupPanel id="spatialAnalysisPanel" minHeight="580" minWidth="640">
        <f:facet name="header">
            <h:outputText value="#{messages['permit.spatial_analysis']}"/>
        </f:facet>
        
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="spatialAnalysisPanel" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
        
        <h:form>
            <table width="90%" align="center" border="0">
                <tr>
                    <th style="text-align: left;width: 40%">#{messages['permit.spatial_rulegroup_to_apply']}</th>
                    <td>
                        <h:selectOneMenu value="#{buildingPermitHelper.ruleGroup}" converter="#{buildingPermitHelper.permitRuleGroupConverter}" style="width: 95%">
                            <f:selectItems value="#{buildingPermitHelper.permitRuleGroupItemList}"/>
                        </h:selectOneMenu>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center" colspan="2">
                        <br />
                        <a4j:commandButton
                            value="Realizar analisis"
                            action="#{spatialAnalysisHelper.doNewSpatialAnalysis}"
                            render="grpSpatialAnalysisPanel">
                            <f:setPropertyActionListener target="#{spatialAnalysisHelper.spatialZone}" value="#{buildingPermitHelper.permit.spatialZone}" />
                            <f:setPropertyActionListener target="#{spatialAnalysisHelper.ruleGroup}" value="#{buildingPermitHelper.ruleGroup}" />
                            <f:setPropertyActionListener target="#{spatialAnalysisHelper.distance}" value="#{null}" />
                        </a4j:commandButton>
                    </td>
                </tr>
            </table>
        </h:form>
        
        <br />
        
        <h:panelGroup id="grpSpatialAnalysisPanel">
            <rich:panel>
                <div style="height:400px;width:100%;overflow:auto;">
                    <ui:include src="/viewer/includes/spatialAnalysisContentIncl.xhtml" />
                </div>
            </rich:panel>
            <br />
            <div align="center">
                <sigit:simpleButton type="button"
                    rendered="#{render == null}"
                    value="#{messages['button.ok']}"
                    onclick="#{rich:component('spatialAnalysisPanel')}.hide();">
                </sigit:simpleButton>
                
                <h:panelGroup>
                    <h:form rendered="#{render != null}">
                        <table width="30%">
                            <tr>
                                <td width="50%" align="center">
                                    <a4j:commandButton
                                        value="#{messages['button.ok']}"
                                        render="#{render != null ? render : ''}"
                                        oncomplete="#{rich:component('spatialAnalysisPanel')}.hide();">
                                        <f:setPropertyActionListener target="#{spatialAnalysisHelper.spatialZone}" value="#{buildingPermitHelper.permit.spatialZone}" />
                                        <f:setPropertyActionListener target="#{spatialAnalysisHelper.ruleGroup}" value="#{buildingPermitHelper.ruleGroup}" />
                                        <f:setPropertyActionListener target="#{spatialAnalysisHelper.distance}" value="#{null}" />
                                    </a4j:commandButton>
                                </td>
                                <td align="center">
                                    <sigit:simpleButton type="button"
                                        value="#{messages['button.close']}"
                                        onclick="#{rich:component('spatialAnalysisPanel')}.hide();">
                                    </sigit:simpleButton>
                                </td>
                            </tr>
                        </table>
                    </h:form>
                </h:panelGroup>
            </div>
        </h:panelGroup>
    </rich:popupPanel>

</ui:composition>
