<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    >

    <div align="center">
        <h:panelGroup rendered="#{title != null}">
            <h3>#{title}</h3>
            <hr />
            <br />
            <br />
        </h:panelGroup>

        <strong>#{messages['permit.approver']}</strong>
        <hr />
        <br/>
        <table width="70%" border="0">
            <tr align="left">
                <th style="width:60%">#{messages['permit.issue_date']}</th>
                <td>#{issueDate != null ? issueDate : '--'}</td>
            </tr>
            <tr align="left">
                <th>#{messages['permit.is_approved']}</th>
                <td>#{approved != null ? (approved ? messages['txt.YES'] : messages['txt.NO']) : '--'}</td>
            </tr>
        </table>
        
        <br />
        <br />
        
        <strong>#{messages['permit.approver_opinion']}</strong>
        <hr />
        <br/>
        <h:inputTextarea
            readonly="true"
            rows="2"
            style="width: 70%;"
            value="#{approverOpinion != null ? approverOpinion : '--'}">
        </h:inputTextarea>
    </div>
</ui:composition>
