<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    >

    <div align="center">
        <h:panelGroup rendered="#{title != null}">
            <h3>#{title}</h3>
            <hr />
            <br />
            <br />
        </h:panelGroup>

        <strong>#{messages['viewtransaction.analyst']}</strong>
        <hr />
        <br/>
        <h:panelGrid columns="2">
            <h:outputText value="#{messages['viewtransaction.analyst_username']}"/>
            <h:outputText value="#{analystUserName}"/>
            
            <h:outputText value="#{messages['viewtransaction.analyst_fullname']}"/>
            <h:outputText value="#{analystFullName}"/>
        </h:panelGrid>
        
        <br/>
        <br/>
        
        <strong>#{messages['permit.type']}</strong>
        <hr />
        <br />
        <h:panelGrid columns="2">
            <h:outputText value="#{messages['analysis.request_type']}" />
            <h:outputText value="#{permitType}"/>
        </h:panelGrid>
        
        <br/>
        <br/>

        <strong>#{messages['permit.target_zone']}</strong>
        <hr />
        <br />
        <ui:include src="/WEB-INF/includes/zoneInfoIncl.xhtml">
            <ui:param name="zone" value="#{spatialZone}" />
            <ui:param name="noZoneMsg" value="#{messages['permit.no_zone_selected']}" />
            <ui:param name="width" value="90%" />
        </ui:include>

        <br/>
        <br/>
        
        <ui:include src="/permits/includes/analystObservationsIncl.xhtml">
            <ui:param name="title" value="#{messages['permit.analysis_observations_by_spatial_rule']}" />
            <ui:param name="ruleGroupName" value="#{ruleGroupName}" />
            <ui:param name="permitObservations" value="#{permitObservations}" />
            <ui:param name="readonly" value="true" />
        </ui:include>
        
        <br />
        <br />
        
        <strong>#{messages['permit.analyst_opinion']}</strong>
        <hr />
        <br/>
        <h:inputTextarea
            readonly="true"
            value="#{analystOpinion}"
            rows="5" style="width:75%">
        </h:inputTextarea>
    </div>

</ui:composition>
