<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    >

    <div align="center">
        <h:panelGroup rendered="#{title != null}">
            <h3>#{title}</h3>
            <hr />
            <br />
            <br />
        </h:panelGroup>
        
        <strong>#{messages['viewtransaction.receptionist']}</strong>
        <hr />
        <br/>
        <h:panelGrid columns="2">
            <h:outputText value="#{messages['viewtransaction.receptionist_username']}"/>
            <h:outputText value="#{receptionistUserName}"/>
            
            <h:outputText value="#{messages['viewtransaction.receptionist_fullname']}"/>
            <h:outputText value="#{receptionistFullName}"/>
        </h:panelGrid>
        
        <br/>
        <br/>
        
        <strong>#{messages['permit.preliminary_data']}</strong>
        <hr />
        <br />
        <rich:panel>
            <h:panelGrid columns="2" columnClasses="alignTop,alignTop">
                <h:outputText value="#{messages['permit.partyid']}:"/>
                <h:outputText value="#{buildingPermitHelper.partyNationalIdentity}"/>
        
                <h:outputText value="#{messages['permit.party_full_name']}:"/>
                <h:outputText value="#{buildingPermitHelper.partyName}"/>

                <h:outputText value="#{messages['permit.validity_from']}" />
                <h:outputText value="#{validityFrom}" />
                
                <h:outputText value="#{messages['permit.validity_to']}" />
                <h:outputText value="#{validityTo}" />
        
                <h:outputText value="#{messages['intro.partyid']}" />
                <h:outputText value="#{partyNationalIdentity}" />
                
                <h:outputText value="#{messages['intro.fullname']}" />
                <h:outputText value="#{partyName}" />
            </h:panelGrid>
        </rich:panel>
        
        <br />
        <br />

        <strong>#{messages['permit.request_text']}</strong>
        <hr />
        <br/>
        <h:inputTextarea readonly="true" value="#{requestText}" style="width:90%" rows="5">
        </h:inputTextarea>

        <br />
        <br />

        <strong>#{messages['introfin.attacheddocs']}</strong>
        <hr />
        <br/>
        <h:form>
            <ui:include src="#{showAttachedFilesXhtmlPath}" />
        </h:form>
        
        <br />
    </div>

</ui:composition>
