<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <style>
        .contentEditData {
            width: 100%;
            height: 300px;
            overflow: auto;
        }
    </style>

    <ui:define name="customContent">
        <h:panelGroup rendered="#{interactiveViewerHelper.mapServerAlive and interactiveViewerHelper.selectedLayer != null}">
            <ui:include src="includes/sideContentIncl.xhtml" />
        </h:panelGroup>
    </ui:define>

    <ui:define name="body">
        <h:panelGroup rendered="#{interactiveViewerHelper.mapServerAlive and interactiveViewerHelper.selectedLayer != null}">
            #{interactiveViewerHelper.setBorderEditMode('NONE')}
            <ui:include src="includes/mapContentIncl.xhtml" />
            <ui:include src="includes/spatialAnalysisContentIncl.xhtml" />
            <ui:include src="/viewer/toolbox/spatialAnalysis.xhtml" />
        </h:panelGroup>
        <h:panelGroup rendered="#{not interactiveViewerHelper.mapServerAlive}">
            El servidor de mapas no esta disponible
        </h:panelGroup>
        <h:panelGroup rendered="#{interactiveViewerHelper.selectedLayer == null}">
            No hay capas espaciales mostrables
        </h:panelGroup>
    </ui:define>

</ui:composition>
