<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <strong>ANALISIS ADMINISTRATIVO</strong>
    <hr />
    <br/>
    
    <rich:panel header="I.- #{messages['building_permit.analysis_max_built_area_restrictions']}">
        <table>
            <tr>
                <th>
                    <h:outputText value="#{messages['building_permit.requested_built_area']}" />
                </th>
                <td>
                    <h:outputText value="#{buildingPermitHelper.permit.buildingUnit.builtArea}" />
                </td>
            </tr>
        </table>
        <br />
        <h:panelGroup rendered="#{not empty buildingPermitHelper.buildingAreaRestrictingSZList}">
            <h:graphicImage value="/img/wrong-icon.png" />
            <br />
            <h:outputText value="#{messages['permit.analysis_restrictions_found']}" style="color:Red;"/>
            <br />
            <br />
            <rich:dataTable
            value="#{buildingPermitHelper.buildingAreaRestrictingSZList}"
            var="sz" rowKeyVar="row">
                <rich:column>
                    <f:facet name="header">No.</f:facet>
                    #{row + 1}
                </rich:column>
                <rich:column>
                    <f:facet name="header">Zona</f:facet>
                    <h:outputText value="#{generalHelper.getZoneUsefulName(sz)}" />
                </rich:column>
                <rich:column>
                    <f:facet name="header">Capa</f:facet>
                    <h:outputText value="#{generalHelper.formatLevelText(sz.level)}" />
                </rich:column>
                <rich:column style="text-align:right;">
                    <f:facet name="header">Area de construccion maxima permitida</f:facet>
                    <h:outputText value="#{sz.permitNorm.maxBuiltArea}" />
                </rich:column>
            </rich:dataTable>
        </h:panelGroup>
        <h:panelGroup rendered="#{empty buildingPermitHelper.buildingAreaRestrictingSZList}">
            <h:graphicImage value="/img/right-icon.png" />
            <br />
            <h:outputText value="#{messages['permit.analysis_restrictions_not_found']}" />
        </h:panelGroup>
    </rich:panel>
    
    <br />
    <br />
    
    <rich:panel header="II.- #{messages['building_permit.max_no_floors_restriction']}">
        <table>
            <tr valign="top">
                <th>
                    <h:outputText value="#{messages['building_permit.no_floors_requested']}" />
                </th>
                <td>
                    <h:outputText value="#{buildingPermitHelper.permit.buildingUnit.numberOfFloors}" />
                </td>
            </tr>
        </table>
        <br />
        <h:panelGroup rendered="#{not empty buildingPermitHelper.numberOfFloorsRestrictingSZList}">
            <h:graphicImage value="/img/wrong-icon.png" />
            <br />
            <h:outputText value="#{messages['permit.analysis_restrictions_found']}" style="color:Red;"/>
            <br />
            <br />
            <rich:dataTable
            value="#{buildingPermitHelper.numberOfFloorsRestrictingSZList}"
            var="sz" rowKeyVar="row">
                <rich:column>
                    <f:facet name="header">No.</f:facet>
                    #{row + 1}
                </rich:column>
                <rich:column>
                    <f:facet name="header">Zona</f:facet>
                    <h:outputText value="#{generalHelper.getZoneUsefulName(sz)}" />
                </rich:column>
                <rich:column>
                    <f:facet name="header">Capa</f:facet>
                    <h:outputText value="#{generalHelper.formatLevelText(sz.level)}" />
                </rich:column>
                <rich:column style="text-align:right;">
                    <f:facet name="header">#{messages['building_permit.max_allowed_floors']}</f:facet>
                    <h:outputText value="#{sz.permitNorm.maxNumberOfFloors}" />
                </rich:column>
            </rich:dataTable>
        </h:panelGroup>
        <h:panelGroup rendered="#{empty buildingPermitHelper.numberOfFloorsRestrictingSZList}">
            <h:graphicImage value="/img/right-icon.png" />
            <br />
            <h:outputText value="#{messages['permit.analysis_restrictions_not_found']}" />
        </h:panelGroup>
    </rich:panel>

    <br />
    <br />
    
    <rich:panel header="III.- #{messages['building_permit.analysis_material_restrictions']}">
        <table>
            <tr valign="top">
                <th>
                    <h:outputText value="#{messages['building_permit.analysis_requested_materials']}" />
                </th>
                <td>
                    <h:panelGroup rendered="#{not empty buildingPermitHelper.permit.buildingUnit.buildingMaterials}">
                        <ul>
                            <ui:repeat var="bm" value="#{buildingPermitHelper.permit.buildingUnit.buildingMaterials}">
                                <li>#{bm.name}</li>
                            </ui:repeat>
                        </ul>
                    </h:panelGroup>
                    <h:outputText rendered="#{empty buildingPermitHelper.permit.buildingUnit.buildingMaterials}" value="#{messages['building_permit.analysis_no_material_specified']}" />
                </td>
            </tr>
        </table>
        <br />
        <h:panelGroup rendered="#{not empty buildingPermitHelper.buildingMaterialRestrictingSZList}">
            <h:graphicImage value="/img/wrong-icon.png" />
            <br />
            <h:outputText value="#{messages['permit.analysis_restrictions_found']}" style="color:Red;"/>
            <br />
            <br />
            <rich:dataTable
            value="#{buildingPermitHelper.buildingMaterialRestrictingSZList}"
            var="sz">
                <rich:column>
                    <f:facet name="header">No.</f:facet>
                    #{row + 1}
                </rich:column>
                <rich:column>
                    <f:facet name="header">Zona</f:facet>
                    <h:outputText value="#{generalHelper.getZoneUsefulName(sz)}" />
                </rich:column>
                <rich:column>
                    <f:facet name="header">Capa</f:facet>
                    <h:outputText value="#{generalHelper.formatLevelText(sz.level)}" />
                </rich:column>
                <rich:column>
                    <f:facet name="header">#{messages['building_permit.analysis_restricting_materials']}</f:facet>
                    <ul>
                        <ui:repeat var="bm" value="#{buildingPermitHelper.szBuildingMaterials(sz)}">
                            <li>
                                <h:outputText value="#{bm.name}" />
                            </li>
                        </ui:repeat>
                    </ul>
                </rich:column>
            </rich:dataTable>
        </h:panelGroup>
        <h:panelGroup rendered="#{empty buildingPermitHelper.buildingMaterialRestrictingSZList}">
            <h:graphicImage value="/img/right-icon.png" />
            <br />
            <h:outputText value="#{messages['permit.analysis_restrictions_not_found']}" />
        </h:panelGroup>
    </rich:panel>
    
    <br />
    <br />
    
    <rich:panel header="IV.- Restricciones de tipos de uso incompatibles">
        <table>
            <tr valign="top">
                <th>
                    <h:outputText value="Tipo de uso primario solicitado" />
                </th>
                <td>
                    <h:outputText
                        rendered="#{buildingPermitHelper.permit.buildingUnit.landUse != null}"
                        value="#{generalHelper.formatLandUseText(buildingPermitHelper.permit.buildingUnit.landUse)}">
                    </h:outputText>
                    <h:outputText
                        rendered="#{buildingPermitHelper.permit.buildingUnit.landUse == null}"
                        value="Ninguno especificado">
                    </h:outputText>
                </td>
            </tr>
            <tr valign="top">
                <th>
                    <h:outputText value="Otros tipos de usos solicitados" />
                </th>
                <td>
                    <h:panelGroup rendered="#{not empty buildingPermitHelper.permit.buildingUnit.otherLandUses}">
                        <ul>
                            <ui:repeat var="lu" value="#{buildingPermitHelper.permit.buildingUnit.otherLandUses}">
                                <li>#{generalHelper.formatLandUseText(lu)}</li>
                            </ui:repeat>
                        </ul>
                    </h:panelGroup>
                    <h:outputText
                        rendered="#{empty buildingPermitHelper.permit.buildingUnit.otherLandUses}"
                        value="Ninguno especificado">
                    </h:outputText>
                </td>
            </tr>
        </table>
        <br />
        <h:panelGroup rendered="#{not empty buildingPermitHelper.landUseRestrictingSZList}">
            <h:graphicImage value="/img/wrong-icon.png" />
            <br />
            <h:outputText value="#{messages['permit.analysis_restrictions_found']}" style="color:Red;"/>
            <br />
            <br />
            <rich:dataTable
            value="#{buildingPermitHelper.landUseRestrictingSZList}"
            var="sz" rowKeyVar="row">
                <rich:column>
                    <f:facet name="header">No.</f:facet>
                    #{row + 1}
                </rich:column>
                <rich:column>
                    <f:facet name="header">Zona</f:facet>
                    <h:outputText value="#{generalHelper.getZoneUsefulName(sz)}" />
                </rich:column>
                <rich:column>
                    <f:facet name="header">Capa</f:facet>
                    <h:outputText value="#{generalHelper.formatLevelText(sz.level)}" />
                </rich:column>
                <rich:column>
                    <f:facet name="header">Tipo(s) de uso restrictor(es)</f:facet>
                    <ul>
                        <ui:repeat var="lu" value="#{buildingPermitHelper.szLandUses(sz)}">
                            <li>
                                <h:outputText value="#{generalHelper.formatLandUseText(lu)}" />
                            </li>
                        </ui:repeat>
                    </ul>
                </rich:column>
            </rich:dataTable>
        </h:panelGroup>
        <h:panelGroup rendered="#{empty buildingPermitHelper.landUseRestrictingSZList}">
            <h:graphicImage value="/img/right-icon.png" />
            <br />
            <h:outputText value="#{messages['permit.analysis_restrictions_not_found']}" />
        </h:panelGroup>
    </rich:panel>

</ui:composition>
