<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    >


    #{interactiveViewerHelper.setShowRightsToolbox(false)}
    #{interactiveViewerHelper.setShowRestrictionsToolbox(false)}
    #{interactiveViewerHelper.setShowResponsibilitiesToolbox(false)}
    #{interactiveViewerHelper.setShowDataToolbox(showDataToolbox)}
    #{interactiveViewerHelper.setShowSpatialAnalysisToolbox(false)}
    #{interactiveViewerHelper.setShowHelpToolbox(false)}
    #{interactiveViewerHelper.setShowTitle(true)}
    #{interactiveViewerHelper.setBorderEditMode('CREATE')}
    
    <table align="center" width="100%">
        <tr valign="top">
            <td width="20%">
                <h:form id="frmSideContent">
                    <ui:include src="/viewer/includes/sideContentIncl.xhtml" />
                </h:form>
            </td>
            <td width="80%">
                <ui:include src="/viewer/includes/mapContentIncl.xhtml" />
            </td>
        </tr>
    </table>

</ui:component>
