<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <rich:tabPanel switchType="client">
        <rich:tab header="#{messages['viewtransaction.presentation']}">
            <div class="content">
                <div align="center">
                    <ui:include src="/permits/includes/viewPresentationPartIncl.xhtml">
                        <ui:param name="receptionistUserName" value="#{buildingPermitHelper.permit.receptionistUserName}" />
                        <ui:param name="receptionistFullName" value="#{buildingPermitHelper.permit.receptionistFullName}" />
                        <ui:param name="validityFrom" value="#{buildingPermitHelper.permit.validityFrom}" />
                        <ui:param name="validityTo" value="#{buildingPermitHelper.permit.validityTo}" />
                        <ui:param name="partyNationalIdentity" value="#{buildingPermitHelper.partyNationalIdentity}" />
                        <ui:param name="partyName" value="#{buildingPermitHelper.partyName}" />
                        <ui:param name="requestText" value="#{buildingPermitHelper.permit.requestText}" />
                        <ui:param name="showAttachedFilesXhtmlPath" value="/permits/building/includes/showAttachedFiles.xhtml" />
                    </ui:include>
                </div>
            </div>
        </rich:tab>
        
        <rich:tab header="#{messages['viewtransaction.analysis']}">
            <div class="content">
                <div align="center">
                    <ui:include src="/permits/includes/viewAnalysisPartIncl.xhtml">
                        <ui:param name="analystUserName" value="#{buildingPermitHelper.permit.analystUserName}" />
                        <ui:param name="analystFullName" value="#{buildingPermitHelper.permit.analystFullName}" />
                        <ui:param name="permitType" value="#{messages[buildingPermitHelper.permit.type.name()]}" />
                        <ui:param name="spatialZone" value="#{buildingPermitHelper.permit.spatialZone}" />
                        <ui:param name="permitObservations" value="#{buildingPermitHelper.permitObservations}" />
                        <ui:param name="analystOpinion" value="#{buildingPermitHelper.permit.analystOpinion}" />
                    </ui:include>
                </div>
            </div>
        </rich:tab>
        
        <rich:tab header="#{messages['permit.approval_data']}">
            <div class="content">
                <div align="center">
                    <ui:include src="/permits/includes/viewApprovalPartIncl.xhtml">
                        <ui:param name="issueDate" value="#{buildingPermitHelper.permit.issueDate}" />
                        <ui:param name="approved" value="#{buildingPermitHelper.permit.isApproved()}" />
                        <ui:param name="approverOpinion" value="#{buildingPermitHelper.permit.approverOpinion}" />
                    </ui:include>
                </div>
            </div>
        </rich:tab>
    </rich:tabPanel>

</ui:component>
