<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:sigit="http://java.sun.com/jsf/composite/components">

    <rich:popupPanel id="attachedFilesDlg" minWidth="550" minHeight="420" zindex="10000">
        <f:facet name="header">
            <h:outputText value="#{messages['intro2.attacheddocs']}" />
        </f:facet>

        <f:facet name="controls">
            <h:panelGroup>
                <h:outputLink value="#" onclick="#{rich:component('attachedFilesDlg')}.hide(); return false;">
                    <h:graphicImage value="/img/close.png" styleClass="hidelink" />
                </h:outputLink>
            </h:panelGroup>
        </f:facet>

        <h:form>
            <ui:include src="mainAttachedFiles.xhtml">
                <ui:param name="allowToAdd" value="#{true}" />
            </ui:include>
        </h:form>
        
        <sigit:adminSourceFileUpload
            attachFileHelper="#{transactionHelper}">
        </sigit:adminSourceFileUpload>
    </rich:popupPanel>
</ui:composition>
