<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <h:panelGrid width="80%" columns="2" columnClasses="introCol1,introCol2">
        <h:outputText value="#{messages['intro.partyid']}" />
        <h:panelGroup>
            <h:panelGroup id="identGroup">
                <h:inputText value="#{transactionHelper.partyFormalIdentity}"
                    style="width:70%" readonly="true">
                </h:inputText>
                <h:inputHidden id="partyId" label="#{messages['intro.partyid']}"
                    value="#{transactionHelper.partyFormalIdentity}"
                    required="true" />
            </h:panelGroup>
            #{'   '}
            <a4j:commandLink execute="@this" oncomplete="#{rich:component('selectPartyPanel')}.show()" rendered="#{not transactionHelper.finished}">
                <f:setPropertyActionListener target="#{personHelper.returnValueField}" value="transactionHelper.party" />
                <f:setPropertyActionListener target="#{personHelper.reRenderComponents}" value="identGroup, partyGroup" />
                <f:setPropertyActionListener target="#{legalPersonHelper.returnValueField}" value="transactionHelper.party" />
                <f:setPropertyActionListener target="#{legalPersonHelper.reRenderComponents}" value="identGroup, partyGroup" />
                <h:outputText value="#{messages['intro.search']}" />
            </a4j:commandLink>
            <br />
            <rich:message style="color:Red;" for="partyId" />
        </h:panelGroup>

        <h:outputText value="#{messages['intro.fullname']}:"/>
        <h:panelGroup id="partyGroup">
            <a4j:region renderRegionOnly="true">
                <h:inputText id="partyName" value="#{transactionHelper.partyName}"
                required="true"
                readonly="true"
                requiredMessage="El nombre es requerido"
                validatorMessage="Nombre muy corto"
                style="width:100%;">
                    <f:validateLength minimum="3" />
                    <a4j:ajax event="blur" />
                </h:inputText>
                <br />
                <rich:message style="color:Red;" for="partyName" />
            </a4j:region>
        </h:panelGroup>
        

        <ui:remove>
        
        <!-- Inicio Atributos adicionales por SURE -->
        
        <h:outputText value="#{messages['intro.favored_party_id']}:" />
        <h:panelGroup>
            <h:panelGroup id="favoredIdentGroup">
                <h:inputText id="favoredPartyIdentity" value="#{transactionHelper.favoredPartyFormalIdentity}" required="true"
                style="width:70%"
                readonly="true"
                requiredMessage="Valor requerido"
                validatorMessage="Valor muy corto">
                    <f:validateLength minimum="13" />
                    <a4j:ajax event="blur" />
                </h:inputText>
            </h:panelGroup>
            #{'   '}
            <a4j:commandLink execute="@this" oncomplete="#{rich:component('selectPartyPanel')}.show()">
                <f:setPropertyActionListener target="#{personHelper.returnValueField}" value="transactionHelper.favoredParty" />
                <f:setPropertyActionListener target="#{personHelper.reRenderComponents}" value="favoredIdentGroup, favoredPartyGroup" />
                <f:setPropertyActionListener target="#{legalPersonHelper.returnValueField}" value="transactionHelper.favoredParty" />
                <f:setPropertyActionListener target="#{legalPersonHelper.reRenderComponents}" value="favoredIdentGroup, favoredPartyGroup" />
                <h:outputText value="#{messages['intro.search']}" />
            </a4j:commandLink>
            <br />
            <rich:message style="color:Red;" for="favoredPartyIdentity" />
        </h:panelGroup>

        <h:outputText value="#{messages['intro.favored_party_fullname']}:"/>
        <h:panelGroup id="favoredPartyGroup">
            <a4j:region renderRegionOnly="true">
                <h:inputText id="favoredPartyName" value="#{transactionHelper.favoredPartyName}"
                required="true"
                readonly="true"
                requiredMessage="El nombre es requerido"
                validatorMessage="Nombre muy corto"
                style="width:100%;">
                    <f:validateLength minimum="3" />
                    <a4j:ajax event="blur" />
                </h:inputText>
                <br />
                <rich:message style="color:Red;" for="favoredPartyName" />
            </a4j:region>
        </h:panelGroup>


        <h:outputText value="#{messages['intro.recorded_document']}:"/>
        <h:panelGroup>
            <a4j:region renderRegionOnly="true">
                <h:inputText id="cashiersCode" value="#{transactionHelper.transaction.cashiersCode}"
                label="#{messages['intro.cashierscode']}"
                style="width:100%;">
                    <a4j:ajax event="blur" />
                </h:inputText>
                <br />
                <rich:message style="color:Red;" for="cashiersCode" />
            </a4j:region>
        </h:panelGroup>

        <!-- FIN Atributos adicionales por SURE -->

        </ui:remove>
        
        
        

        <h:outputText value="#{messages['intro.cashierscode']}:"/>
        <h:panelGroup>
            <a4j:region renderRegionOnly="true">
                <h:inputText id="cashiersCode" value="#{transactionHelper.transaction.cashiersCode}"
                label="#{messages['intro.cashierscode']}"
                readonly="#{transactionHelper.finished}"
                required="true"
                style="width:100%;">
                    <a4j:ajax event="blur" />
                </h:inputText>
                <br />
                <rich:message style="color:Red;" for="cashiersCode" />
            </a4j:region>
        </h:panelGroup>
        
        <h:outputText value="#{messages['intro.payment']}:"/>
        <h:panelGroup>
            <a4j:region renderRegionOnly="true">
                <h:inputText id="payment" value="#{transactionHelper.transaction.payment}"
                label="#{messages['intro.payment']}"
                readonly="#{transactionHelper.finished}"
                required="true"
                style="width:100%;">
                    <a4j:ajax event="blur" />
                </h:inputText>
                <br />
                <rich:message style="color:Red;" for="payment" />
            </a4j:region>
        </h:panelGroup>
    </h:panelGrid>
    
    <br />
    <br />
    <br />
    
    <h3>
        <h:outputText value="#{messages['intro.description']}" />
    </h3>
    <hr />
    <br />
    <h:panelGroup>
        <a4j:region renderRegionOnly="true">
            <h:inputTextarea id="description" label="#{messages['intro.description']}"
            value="#{transactionHelper.transaction.description}" readonly="#{transactionHelper.finished}"
            required="true" rows="5" style="width:90%">
                <f:validateLength minimum="3" />
                <a4j:ajax event="blur" />
            </h:inputTextarea>
            <br />
            <rich:message style="color:Red;" for="description" />
        </a4j:region>
    </h:panelGroup>
</ui:composition>
