<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    xmlns:rich="http://richfaces.org/rich">

    <div align="center">
        <strong>#{messages['introfin.attacheddocs']}</strong>
        <hr />
    
        <h:panelGroup id="tabla">
            <ui:include src="showAttachedFiles.xhtml" />
        </h:panelGroup>
        
        <br />
        
        <a4j:commandButton
            value="#{messages['intro2.add']}"
            rendered="#{allowToAdd}"
            render="adminSourceInfo"
            oncomplete="if (#{facesContext.maximumSeverity==null}) #{rich:component('adminSourceFileUploadPanel')}.show()">
            <f:setPropertyActionListener value="0" target="#{transactionHelper.editMode}" />
        </a4j:commandButton>
        
        <sigit:simpleButton
            value="#{messages['button.close']}"
            type="button"
            rendered="#{view.viewId != '/workflow/transaction/presentation.xhtml'}"
            onclick="#{rich:component('attachedFilesDlg')}.hide()">
        </sigit:simpleButton>
    </div>
    
    <br/>
    <br/>

</ui:composition>
