<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <h:panelGroup rendered="#{empty transactionHelper.fileSources}">
        <div align="center">
            <br/>
            <h:outputText value="#{messages['intro2.nodocsattached']}"/>
        </div>
    </h:panelGroup>
    <br />
    <rich:dataTable id="datosTabla" width="95%" value="#{transactionHelper.fileSources}"
            var="source" rowKeyVar="row" rendered="#{not empty transactionHelper.fileSources}">
        <rich:column>
            <f:facet name="header">#{messages['intro2.description']}</f:facet>
            <h:outputText value="#{source.archive.description}"/>
        </rich:column>

        <rich:column>
            <f:facet name="header">#{messages['txt.type']}</f:facet>
            <h:outputText value="#{messages[source.type.name()]}"/>
        </rich:column>

        <rich:column>
            <f:facet name="header">#{messages['intro2.filename']}</f:facet>
            <h:outputText value="#{source.archive.name}"/>
        </rich:column>
        
        <rich:column>
            <a href="/sigit/services/docs/#{source.archive.sID}" target="_blank">
                <h:outputText value="#{messages['viewtransaction.viewattacheddoc']}"/>
            </a> 
        </rich:column>
    </rich:dataTable>

</ui:composition>
