<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <style type="text/css">
        .alignTop {
            vertical-align:top;
        }
    </style>

    <h:panelGrid columns="2" columnClasses="alignTop,alignTop">
        <h:outputText value="#{messages['viewtransaction.presentation_date']}" />
        <h:outputText value="#{transactionHelper.transaction.presentationDate}" />
        
        <h:outputText value="#{messages['viewtransaction.presentation_id']}" />
        <h:outputText value="#{transactionHelper.transaction.presentationNo}" />

        <h:outputText value="#{messages['intro.partyid']}" />
        <h:outputText value="#{transactionHelper.partyFormalIdentity}" />
        
        <h:outputText value="#{messages['intro.fullname']}" />
        <h:outputText value="#{transactionHelper.partyName}" />
        
        <h:outputText value="#{messages['intro.cashierscode']}" />
        <h:outputText value="#{transactionHelper.transaction.cashiersCode}" />
        
        <h:outputText value="#{messages['intro.payment']}" />
        <h:outputText value="#{transactionHelper.transaction.payment}" />
        
        <h:outputText value="#{messages['intro.description']}" />
        <h:outputText value="#{transactionHelper.transaction.description}" />
    </h:panelGrid>
    
</ui:composition>
