<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <ui:define name="body">
        <h:form>
            <div align="center">
                <h3>#{messages['operation_permit.activities']}</h3>
                <hr />
            </div>
            <br />
            <br />
            <h:panelGroup id="panelActividades">
                <rich:collapsiblePanel switchType="client" header="#{messages['activities.assignedactivitesheader']}">
                    <rich:dataTable value="#{operationPermitHelper.taskList}" var="task" rendered="#{not empty operationPermitHelper.taskList}">
                        <rich:column>
                            <f:facet name="header">#{messages['permit.number']}</f:facet>
                            <h:outputText value="#{task.presentationNo}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">#{messages['activities.activity']}</f:facet>
                            <h:outputText value="#{resBundle.loadMessage(task.name)}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">#{messages['activities.description']}</f:facet>
                            <h:outputText value="#{resBundle.loadMessage(task.description)}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">#{messages['activities.startdate']}</f:facet>
                            <h:outputText value="#{task.create}">
                                <f:convertDateTime type="both" dateStyle="full" timeStyle="medium"/>
                            </h:outputText>
                        </rich:column>
                        <rich:column>
                            <h:commandLink action="#{operationPermitHelper.startTask}" value="#{messages['activities.resume']} &gt;&gt;">
                                <f:setPropertyActionListener value="#{task}" target="#{operationPermitHelper.selectedTask}" />
                            </h:commandLink>
                        </rich:column>
                    </rich:dataTable>
                    <h:outputText value="#{messages['activities.nopending']}" rendered="#{empty operationPermitHelper.taskList}"/>
                </rich:collapsiblePanel>
                
                <br/>
                <br/>
                
                <rich:collapsiblePanel switchType="client" header="#{messages['activities.pooledactivitesheader']}">
                    <rich:dataTable id="sidebar_dtactivpendientes" var="task"
                        value="#{operationPermitHelper.pooledTaskList}"
                        rendered="#{not empty operationPermitHelper.pooledTaskList}">
                        <rich:column>
                            <f:facet name="header">#{messages['permit.number']}</f:facet>
                            <h:outputText value="#{task.presentationNo}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">#{messages['activities.activity']}</f:facet>
                            <h:outputText value="#{resBundle.loadMessage(task.name)}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">#{messages['activities.description']}</f:facet>
                            <h:outputText value="#{resBundle.loadMessage(task.description)}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">#{messages['activities.startdate']}</f:facet>
                            <h:outputText value="#{task.create}">
                                <f:convertDateTime type="both" dateStyle="full" timeStyle="medium"/>
                            </h:outputText>
                        </rich:column>
                        <rich:column>
                            <h:commandLink action="#{operationPermitHelper.assignToCurrentUser}" value="#{messages['activities.claim']}">
                                <f:setPropertyActionListener value="#{task}" target="#{operationPermitHelper.selectedTask}" />
                            </h:commandLink>
                        </rich:column>
                    </rich:dataTable>
                    <h:outputText value="#{messages['activities.nopending']}" rendered="#{empty operationPermitHelper.pooledTaskList}"/>
                </rich:collapsiblePanel>
                <br/>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
