<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    template="startPermitTemplate.xhtml">

    <ui:define name="mainControls">
        <h:outputText value="Opciones" />
        <h:outputText value="     " />
        <h:panelGroup>
            <sigit:simpleButton value="&lt;&lt; #{messages['BACK']}" onclick="goBack();"/>
            <sigit:simpleButton value="#{messages['FINISH']}" onclick="proceed();"/>
        </h:panelGroup>
    </ui:define>

    <ui:define name="title">
        <div align="center">
            <br/>
            <strong>#{messages['operation_permit.start_header']}</strong>
            <hr />
            <br/>
        </div>
    </ui:define>
            
    <ui:define name="stepBody">
        <h:form>
            <div align="center">
                <ui:include src="includes/inputData/proceedDataIncl.xhtml" />
                
                <br />
                <br />
            </div>

            <a4j:jsFunction
                name="goBack"
                execute="@this"
                action="#{operationPermitHelper.goBack}">
            </a4j:jsFunction>
            <a4j:jsFunction
                name="proceed"
                execute="@form"
                action="#{operationPermitHelper.beginProcess}">
            </a4j:jsFunction>
        </h:form>
    </ui:define>
</ui:composition>
