<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    <rich:popupPanel id="editRulesPanel" minWidth="650" minHeight="580" resizeable="true">
        <f:facet name="header">
            <h:outputText value="#{spatialRulesHelper.adding ? messages['spatial_rules.new_rule'] : messages['spatial_rules.edit_rule']}"/>
        </f:facet>
        
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="editRulesPanel" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
        
        <h:form>
            <a4j:jsFunction
                name="selectLandUse1"
                render="frmSelectLandUse"
                oncomplete="#{rich:component('selectLandUsePanel')}.show()">

                <f:setPropertyActionListener target="#{selectLandUseHelper.returnValueField}" value="spatialRulesHelper.selected.landUseOperand1" />
                <f:setPropertyActionListener target="#{selectLandUseHelper.reRenderComponents}" value="frmEditRule:nameLandUse1" />
            </a4j:jsFunction>
            <a4j:jsFunction
                name="selectLandUse2"
                render="frmSelectLandUse"
                oncomplete="#{rich:component('selectLandUsePanel')}.show()">

                <f:setPropertyActionListener target="#{selectLandUseHelper.returnValueField}" value="spatialRulesHelper.selected.landUseOperand2" />
                <f:setPropertyActionListener target="#{selectLandUseHelper.reRenderComponents}" value="frmEditRule:nameLandUse2" />
            </a4j:jsFunction>
        </h:form>
        
        <h:form id="frmEditRule">
            <h:panelGroup rendered="#{spatialRulesHelper.selected != null}">
            <div align="center">
                <strong>#{messages['spatial_rules.CODE_DESCRIPTION']}</strong>
                <br />
                <hr />
                <br />
                <h:panelGrid columns="2" style="width:95%">
                    <h:outputText value="#{messages['spatial_rules.code']}" />
                    <h:inputText id="spatialRulesCode" value="#{spatialRulesHelper.selected.code}"
                        label="#{messages['spatial_rules.code']}"
                        required="true"
                        style="width:30%"
                        rows="2">
                    </h:inputText>

                    <h:outputText value="#{messages['spatial_rules.description']}" />
                    <h:inputText id="spatialRulesDescription" value="#{spatialRulesHelper.selected.description}"
                        label="#{messages['spatial_rules.description']}"
                        maxlength="500"
                        style="width:100%"
                        rows="2">
                    </h:inputText>
                </h:panelGrid>
            </div>
            <br />
            <table style="width:100%;" cellpadding="5">
                <tr valign="top">
                    <th style="width:40%;">
                        <div align="center">
                            #{messages['spatial_rules.OPERAND']} 1
                        </div>
                        <hr />
                    </th>
                    <th style="width:20%;">
                        <div align="center">
                            #{messages['spatial_rules.rule_operator']}
                        </div>
                        <hr />
                    </th>
                    <th style="width:40%;">
                        <div align="center">
                            #{messages['spatial_rules.OPERAND']} 2
                        </div>
                        <hr />
                    </th>
                </tr>
                <tr valign="top">
                    <td>
                        <table style="width:100%;">
                            <tr>
                                <th style="width:20%;text-align: left;">#{messages['spatial_rules.level']}</th>
                                <td>
                                    <h:selectOneMenu value="#{spatialRulesHelper.selected.levelOperand1}"
                                    label="#{messages['spatial_rules.level']} 1"
                                    required="true"
                                    converter="#{spatialRulesHelper.levelConverter}" style="width:100%">
                                        <f:selectItems value="#{spatialRulesHelper.levelList}"/>
                                    </h:selectOneMenu>
                                </td>
                            </tr>
                            <tr>
                                <th style="width:20%;text-align: left;">#{messages['spatial_rules.use']}</th>
                                <td>
                                    <h:inputTextarea id="nameLandUse1" value="#{spatialRulesHelper.landUseName1}" rows="3" style="width:100%" readonly="true" ondblclick="selectLandUse1();" />
                                    <br />
                                    <h:outputText value="#{messages['msg.double_click_change_use']}" style="color:Blue;" />
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <h:selectOneMenu value="#{spatialRulesHelper.selected.ruleOperator}"
                        label="#{messages['spatial_rules.rule_operator']}"
                        required="true"
                        style="width:100%">
                            <f:selectItems value="#{spatialRulesHelper.ruleOperatorValueList}"/>
                        </h:selectOneMenu>
                    </td>
                    <td>
                        <table style="width:100%;">
                            <tr>
                                <th style="width:20%;text-align: left;">#{messages['spatial_rules.level']}</th>
                                <td>
                                    <h:selectOneMenu value="#{spatialRulesHelper.selected.levelOperand2}"
                                    label="#{messages['spatial_rules.level']} 2"
                                    required="true"
                                    converter="#{spatialRulesHelper.levelConverter}" style="width:100%">
                                        <f:selectItems value="#{spatialRulesHelper.levelList}"/>
                                    </h:selectOneMenu>
                                </td>
                            </tr>
                            <tr>
                                <th style="width:20%;text-align: left;">#{messages['spatial_rules.use']}</th>
                                <td>
                                    <h:inputTextarea id="nameLandUse2" value="#{spatialRulesHelper.landUseName2}" rows="3" style="width:100%" readonly="true" ondblclick="selectLandUse2();" />
                                    <br />
                                    <h:outputText value="#{messages['msg.double_click_change_use']}" style="color:Blue;" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            
            <br />
            
            <div align="center">
                <strong>#{messages['spatial_rules.DISTANCE_COMPARISON_OPERATOR']}</strong>
                <hr />
                <br />
                <table style="width:60%;">
                    <tr valign="bottom">
                        <th style="width:50%;text-align:left;">
                            #{messages['spatial_rules.distance_comparison_operator']}
                        </th>
                        <td>
                            <h:selectOneMenu value="#{spatialRulesHelper.selected.comparisonOperator}" style="width:100%">
                                <f:selectItems value="#{spatialRulesHelper.comparisonOperatorValueList}"/>
                            </h:selectOneMenu>
                        </td>
                    </tr>
                    <tr valign="top">
                        <th style="width:50%;text-align:left;">
                            #{messages['spatial_rules.distance_distance']}
                        </th>
                        <td>
                            <h:inputText value="#{spatialRulesHelper.selected.comparisonParameterValue}" style="width:100%" />
                        </td>
                    </tr>
                </table>
                <br />
                <br />
                <strong>#{messages['spatial_rules.ACTION']}</strong>
                <hr />
                <br />
                <table style="width:300px">
                    <tr>
                        <th>#{messages['spatial_rules.action']}</th>
                        <td>
                            <h:selectOneMenu id="spatialRulesAction"
                            label="#{messages['spatial_rules.action']}"
                            value="#{spatialRulesHelper.selected.action}"
                            required="true"
                            style="width:100%">
                                <f:selectItems value="#{spatialRulesHelper.ruleActionValueList}"/>
                            </h:selectOneMenu>
                        </td>
                    </tr>
                </table>
                
                <br />
                <rich:messages style="color:Red;" />
                <br />
                
                <a4j:commandButton
                    execute="@form"
                    value="#{messages['button.ok']}"
                    action="#{spatialRulesHelper.applyChanges}"
                    render="frmSpatialRules:dtSpatialRules"
                    oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('editRulesPanel')}.hide();">
                </a4j:commandButton>
                #{'  '}
                <a4j:commandButton value="#{messages['button.cancel']}" execute="@this" oncomplete="#{rich:component('editRulesPanel')}.hide();" />
                <br />
            </div>
            </h:panelGroup>
        </h:form>
    </rich:popupPanel>
    
    <ui:include src="/WEB-INF/includes/selectLandUse.xhtml" />
</ui:composition>
