<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <ui:define name="body">
        <h:form>
            <div align="center">
                <strong>#{messages['spatial_rule_groups.TITLE']}</strong>
                <br />
                <hr />
                <br />

                <a4j:commandLink
                    value="#{messages['spatial_rule_groups.new']}"
                    action="#{spatialRuleGroupsHelper.newPermitRuleGroup}"
                    render="editPanel, frmEdit"
                    oncomplete="#{rich:component('editPanel')}.show();">
                </a4j:commandLink>

                <br />
                <br />
                <rich:dataTable rendered="#{not empty spatialRuleGroupsHelper.spatialRuleGroups}" id="dtSpatialRuleGroups"
                    value="#{spatialRuleGroupsHelper.spatialRuleGroups}"
                    var="srg"
                    columnsWidth="30%,40%,20%,10%"
                    width="95%">
                    <rich:column>
                        <f:facet name="header">
                            #{messages['spatial_rule_groups.name']}
                        </f:facet>
                        <h:outputText value="#{srg.name}" />
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            #{messages['spatial_rule_groups.description']}
                        </f:facet>
                        <h:outputText value="#{srg.description}" />
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            #{messages['spatial_rule_groups.permit_type']}
                        </f:facet>
                        <h:outputText value="#{messages[srg.permitType.name()]}" />
                    </rich:column>
                    <rich:column style="text-align:center">
                        <a4j:commandLink
                            value="#{messages['button.edit']}"
                            action="#{spatialRuleGroupsHelper.editPermitRuleGroup(srg)}"
                            render="editPanel, frmEdit"
                            oncomplete="#{rich:component('editPanel')}.show();">
                        </a4j:commandLink>
                        #{'  '}
                        <a4j:commandLink value="#{messages['button.delete']}" oncomplete="#{rich:component('confirmation-dialog')}.show()">
                            <f:setPropertyActionListener target="#{dialogHelper.tagObject}" value="#{srg}"/>
                            <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['msg.delete_record']}. #{messages['button.continue']}?"/>
                            <f:setPropertyActionListener target="#{dialogHelper.confirmAction}" value="spatialRuleGroupsHelper.deletePermitRuleGroup(dialogHelper.tagObject)"/>
                            <f:setPropertyActionListener target="#{dialogHelper.reRenderList}" value="dtSpatialRuleGroups"/>
                            <f:setPropertyActionListener target="#{dialogHelper.width}" value="500"/>
                            <f:setPropertyActionListener target="#{dialogHelper.height}" value="20"/>
                        </a4j:commandLink>
                    </rich:column>
                </rich:dataTable>
                
                <h:outputText rendered="#{empty spatialRuleGroupsHelper.spatialRuleGroups}" value="No existen grupos de reglas espaciales registrados"/>
            </div>
            <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
        </h:form>
        
        
        <rich:popupPanel id="editPanel" minWidth="650" minHeight="565" resizeable="false">
            <f:facet name="header">
                <h:outputText value="#{ spatialRuleGroupsHelper.adding ? messages['spatial_rule_groups.new'] : messages['spatial_rule_groups.edit'] }"/>
            </f:facet>
            
            <f:facet name="controls">
                <h:graphicImage value="/img/close.png">
                    <rich:componentControl target="editPanel" operation="hide" event="click" />
                </h:graphicImage>
            </f:facet>
            
            <h:form id="frmEdit">
                <h:panelGroup rendered="#{spatialRuleGroupsHelper.selected != null}">
                    <div align="center" style="width:100%;height:475px;overflow:auto">
                        <strong>#{messages['spatial_rule_groups.data']}</strong>
                        <br />
                        <hr />
                        <br />
                        <h:panelGrid columns="2" style="width:95%">
                            <h:outputText value="#{messages['spatial_rule_groups.name']}" />
                            <h:inputText value="#{spatialRuleGroupsHelper.selected.name}"
                                label="#{messages['spatial_rule_groups.name']}"
                                required="true"
                                style="width:30%" rows="2">
                            </h:inputText>
        
                            <h:outputText value="#{messages['spatial_rule_groups.description']}" />
                            <h:inputText value="#{spatialRuleGroupsHelper.selected.description}" style="width:100%" rows="2" />
                            
                            <h:outputText value="#{messages['spatial_rule_groups.permit_type']}" />
                            <h:panelGroup>
                                <h:selectOneMenu value="#{spatialRuleGroupsHelper.selected.permitType}">
                                    <f:selectItems value="#{uiConverters.permitType.valueList}"/>
                                </h:selectOneMenu>
                                <h:outputText value="Dejar en blanco para ambos tipos de permiso" style="color:Blue;"/>
                            </h:panelGroup>
                        </h:panelGrid>
                        
                        <br />
                        <br />
                        
                        <strong>#{messages['spatial_rules.spatial_rules']}</strong>
                        <br />
                        <hr />
                        <br />
                        <a4j:commandLink
                            value="#{messages['button.add']}"
                            render="addPanel, frmAdd"
                            oncomplete="#{rich:component('addPanel')}.show()">
                        </a4j:commandLink>
                        <br />
                        <br />
                        <rich:dataTable id="dtSpatialRules" value="#{spatialRuleGroupsHelper.selectedSpatialRules}" var="sr" width="95%">
                            <f:facet name="header">
                                <rich:columnGroup>
                                    <rich:column rowspan="2">
                                        #{messages['spatial_rules.code']}
                                    </rich:column>
                                    
                                    <rich:column colspan="2">
                                        #{messages['spatial_rules.operand']} 1
                                    </rich:column>
                                    <rich:column rowspan="2">
                                        #{messages['spatial_rules.rule_operator']}
                                    </rich:column>
                                    <rich:column colspan="2">
                                        #{messages['spatial_rules.operand']} 2
                                    </rich:column>

                                    <rich:column rowspan="2">
                                        #{messages['spatial_rules.action']}
                                    </rich:column>
                                    
                                    <rich:column rowspan="2">
                                    </rich:column>

                                    <rich:column breakRowBefore="true">
                                        #{messages['spatial_rules.level']}
                                    </rich:column>
                                    <rich:column>
                                        #{messages['spatial_rules.use']}
                                    </rich:column>
                                    
                                    
                                    <rich:column>
                                        #{messages['spatial_rules.level']}
                                    </rich:column>
                                    <rich:column>
                                        #{messages['spatial_rules.use']}
                                    </rich:column>
                                </rich:columnGroup>
                            </f:facet>
                            
                            <rich:column>
                                <h:outputText value="#{sr.code}" />
                            </rich:column>
                            <rich:column>
                                <h:outputText value="#{sr.levelOperand1.name}" />
                            </rich:column>
                            <rich:column>
                                <h:outputText value="#{sr.landUseOperand1.completeCode} - #{sr.landUseOperand1.name}" />
                            </rich:column>
                            <rich:column>
                                <h:outputText value="#{messages[sr.ruleOperator.name()]}" />
                            </rich:column>
                            <rich:column>
                                <h:outputText value="#{sr.levelOperand2.name}" />
                            </rich:column>
                            <rich:column>
                                <h:outputText value="#{sr.landUseOperand2.completeCode} - #{sr.landUseOperand2.name}" />
                            </rich:column>
                            <rich:column>
                                <h:outputText value="#{messages[sr.action.name()]}" />
                            </rich:column>
                            <rich:column>
                                <a4j:commandLink
                                    value="#{messages['button.delete']}"
                                    render="frmEdit:dtSpatialRules"
                                    action="#{spatialRuleGroupsHelper.deleteSpatialRule(sr)}">
                                </a4j:commandLink>
                            </rich:column>
                        </rich:dataTable>
                        <br />
                        <rich:messages style="color:Red;"></rich:messages>
                        <br />
                    </div>
                    <div align="center">
                        <a4j:commandButton
                            value="#{messages['button.ok']}"
                            execute="@form"
                            action="#{spatialRuleGroupsHelper.applyChanges}"
                            render="dtSpatialRuleGroups"
                            oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('editPanel')}.hide();">
                        </a4j:commandButton>
                        #{' '}
                        <a4j:commandButton
                            value="#{messages['button.cancel']}"
                            execute="@this"
                            oncomplete="#{rich:component('editPanel')}.hide();">
                        </a4j:commandButton>
                    </div>
                </h:panelGroup>
            </h:form>
        </rich:popupPanel>
        
        <rich:popupPanel id="addPanel" minWidth="650" minHeight="410" resizeable="false">
            <f:facet name="header">
                <h:outputText value="#{messages['spatial_rule_groups.add_rule']}"/>
            </f:facet>
            
            <f:facet name="controls">
                <h:graphicImage value="/img/close.png">
                    <rich:componentControl target="addPanel" operation="hide" event="click" />
                </h:graphicImage>
            </f:facet>
            
            <h:form id="frmAdd">
                <h:panelGroup rendered="#{spatialRuleGroupsHelper.selected != null}">
                    <div align="center">
                        <h:selectManyListbox rendered="#{not empty spatialRuleGroupsHelper.spatialRuleSelectList}"
                            value="#{spatialRuleGroupsHelper.spatialRulesSelected}"
                            size="20" style="width:100%">
                            <f:selectItems value="#{spatialRuleGroupsHelper.spatialRuleSelectList}"/>
                        </h:selectManyListbox>
                        <h:outputText rendered="#{empty spatialRuleGroupsHelper.spatialRuleSelectList}" value="No existen reglas espaciales disponibles. Es posible que ya todas pertenezcan a un grupo."/>
                        
                        <br />
                        <br />
                        <rich:messages />
                        
                        <a4j:commandButton
                            value="#{messages['button.ok']}"
                            execute="@form"
                            rendered="#{not empty spatialRuleGroupsHelper.spatialRuleSelectList}"
                            action="#{spatialRuleGroupsHelper.acceptSpatialRules}"
                            render="frmEdit:dtSpatialRules"
                            oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('addPanel')}.hide();">
                        </a4j:commandButton>
                        #{' '}
                        <a4j:commandButton
                            value="#{messages['button.cancel']}"
                            execute="@this"
                            oncomplete="#{rich:component('addPanel')}.hide()">
                        </a4j:commandButton>
                    </div>
                </h:panelGroup>
            </h:form>
        </rich:popupPanel>
    </ui:define>
</ui:composition>
