<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <ui:define name="body">
        <h:form id="frmSpatialRules">
            <div align="center">
                <strong>#{messages['spatial_rules.TITLE']}</strong>
                <br />
                <hr />
                <br />
                <br />
                
                <a4j:commandLink
                    value="#{messages['spatial_rules.new_rule']}"
                    action="#{spatialRulesHelper.newSpatialRule}"
                    render="editRulesPanel, frmEditRule"
                    oncomplete="#{rich:component('editRulesPanel')}.show();">
                </a4j:commandLink>
                
                <br />
                <br />
                
                <rich:dataTable rendered="#{not empty spatialRulesHelper.spatialRules}" id="dtSpatialRules" value="#{spatialRulesHelper.spatialRules}" var="sr" width="95%">
                    <f:facet name="header">
                        <rich:columnGroup>
                            <rich:column rowspan="2">
                                #{messages['spatial_rules.code']}
                            </rich:column>
                            <rich:column rowspan="2">
                                #{messages['spatial_rules.description']}
                            </rich:column>
                            <rich:column colspan="2">
                                #{messages['spatial_rules.operand']} 1
                            </rich:column>
                            <rich:column rowspan="2">
                                #{messages['spatial_rules.rule_operator']}
                            </rich:column>
                            <rich:column colspan="2">
                                #{messages['spatial_rules.operand']} 2
                            </rich:column>
                            <rich:column colspan="2">
                                #{messages['spatial_rules.distance_parameters']}
                            </rich:column>
                            <rich:column rowspan="2">
                                #{messages['spatial_rules.action']}
                            </rich:column>
                            <rich:column rowspan="2">
                            </rich:column>
                            
                            <rich:column breakRowBefore="true">
                                #{messages['spatial_rules.level']}
                            </rich:column>
                            <rich:column>
                                #{messages['spatial_rules.use']}
                            </rich:column>
                            <rich:column>
                                #{messages['spatial_rules.level']}
                            </rich:column>
                            <rich:column>
                                #{messages['spatial_rules.use']}
                            </rich:column>
                            <rich:column>
                                #{messages['spatial_rules.distance_comparison_operator']}
                            </rich:column>
                            <rich:column>
                                #{messages['spatial_rules.distance_distance']}
                            </rich:column>
                        </rich:columnGroup>
                    </f:facet>
                    
                    <rich:column>
                        <h:outputText value="#{sr.code}" />
                    </rich:column>
                    <rich:column>
                        <h:outputText value="#{sr.description}" />
                    </rich:column>
                    <rich:column>
                        <h:outputText value="#{sr.levelOperand1.name}" />
                    </rich:column>
                    <rich:column>
                        <h:outputText value="#{sr.landUseOperand1.completeCode} - #{sr.landUseOperand1.name}" />
                    </rich:column>
                    <rich:column>
                        <h:outputText value="#{messages[sr.ruleOperator.name()]}" />
                    </rich:column>
                    <rich:column>
                        <h:outputText value="#{sr.levelOperand2.name}" />
                    </rich:column>
                    <rich:column>
                        <h:outputText value="#{sr.landUseOperand2.completeCode} - #{sr.landUseOperand2.name}" />
                    </rich:column>
                    <rich:column>
                        <h:outputText value="#{messages[sr.comparisonOperator.name()]}" />
                    </rich:column>
                    <rich:column>
                        <h:outputText value="#{sr.comparisonParameterValue}" />
                    </rich:column>
                    <rich:column>
                        <h:outputText value="#{messages[sr.action.name()]}" />
                    </rich:column>
                    <rich:column style="text-align:center;">
                        <a4j:commandLink
                            value="Editar"
                            action="#{spatialRulesHelper.editSpatialRule(sr)}"
                            render="editRulesPanel, frmEditRule"
                            oncomplete="#{rich:component('editRulesPanel')}.show();">
                        </a4j:commandLink>
                        #{'  '}
                        <a4j:commandLink value="#{messages['button.delete']}" oncomplete="#{rich:component('confirmation-dialog')}.show()">
                            <f:setPropertyActionListener target="#{dialogHelper.tagObject}" value="#{sr}"/>
                            <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['msg.delete_record']}. #{messages['button.continue']}?"/>
                            <f:setPropertyActionListener target="#{dialogHelper.confirmAction}" value="spatialRulesHelper.deleteSpatialRule(dialogHelper.tagObject)"/>
                            <f:setPropertyActionListener target="#{dialogHelper.reRenderList}" value="dtSpatialRules"/>
                            <f:setPropertyActionListener target="#{dialogHelper.width}" value="500"/>
                            <f:setPropertyActionListener target="#{dialogHelper.height}" value="20"/>
                        </a4j:commandLink>
                    </rich:column>
                </rich:dataTable>
                
                <h:outputText rendered="#{empty spatialRulesHelper.spatialRules}" value="No existen reglas espaciales registradas"/>
            </div>
            <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
        </h:form>
        
        <ui:include src="/permits/editSpatialRules.xhtml" />
    </ui:define>
    

</ui:composition>

