<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    <rich:popupPanel id="selectZonePanel" minWidth="#{width}" minHeight="#{height}" resizeable="true" onshow="mapEditor.updateSize()">
        <f:facet name="header">
            <h:outputText value="#{messages['interactiveviewer.select_title']}"/>
        </f:facet>
        
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="selectZonePanel" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
        
        <style type="text/css">
            .szwrapper {
                position:absolute;
                height:93%;
                left: 7px;
                right: 7px;
                bottom: 5px;
            }
            .selectZoneContent {
                position:inherit;
                top:0px;
                bottom:30px;
                width: 100%;
            }
            .selectZoneControls {
                position:inherit;
                bottom:0px;
                height:30px;
                width: 100%;
            }
        </style>
        
        <div class="szwrapper">
            <div class="selectZoneContent">
                <ui:include src="/zoneselector/zoneSelectorIncl.xhtml">
                    <ui:param name="showRightsToolbox" value="#{not hideRightsToolbox}" />
                    <ui:param name="showRestrictionsToolbox" value="#{not hideRestrictionsToolbox}" />
                    <ui:param name="showResponsibilitiesToolbox" value="#{not hideResponsibilitiesToolbox}" />
                    <ui:param name="showDataToolbox" value="#{not hideDataToolbox}" />
                    <ui:param name="showTopographicTxnLayer" value="#{showTopographicTxnLayer}" />
                    <ui:param name="showBBoxOptions" value="#{showBBoxOptions}" />
                    <ui:param name="drawParcelLayerOnly" value="#{drawParcelLayerOnly}" />
                    <ui:param name="layerTypes" value="#{layerTypes}" />
                </ui:include>
            </div>
            <div class="selectZoneControls">
                <h:form>
                    <div align="center">
                        <h:panelGroup rendered="#{interactiveViewerHelper.mapServerAlive}">
                            <a4j:commandButton
                                value="#{messages['button.ok']}"
                                action="#{generalHelper.executeELMethod(selectAction, null)}"
                                execute="@form"
                                render="#{render}"
                                oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('selectZonePanel')}.hide(); else #{rich:component('msgPanel')}.show();">
                            </a4j:commandButton>
                            <h:outputText value="   " />
                            <button
                                onclick="#{rich:component('selectZonePanel')}.hide();">
                                #{messages['button.cancel']}
                            </button>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{not interactiveViewerHelper.mapServerAlive}">
                            <a4j:commandButton
                                value="#{messages['button.ok']}"
                                action="#{navigationHelper.navigateTo('/home')}">
                            </a4j:commandButton>
                        </h:panelGroup>
                    </div>
                    <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
                </h:form>
            </div>
        </div>
    </rich:popupPanel>

</ui:component>
