<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    >

    <rich:popupPanel id="selectBuildingPanel" minWidth="#{width}" minHeight="#{height}" resizeable="true" onshow="mapEditor.updateSize()">
        <f:facet name="header">
            <h:outputText value="#{messages['interactiveviewer.select_title']}"/>
        </f:facet>
        
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="selectBuildingPanel" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
        
        <ui:include src="/zoneselector/buildingSelectorIncl.xhtml">
            <ui:param name="showDataToolbox" value="true" />
            <ui:param name="drawParcelLayerOnly" value="#{drawParcelLayerOnly}" />
        </ui:include>
        
        <h:form>
            <div align="center">
                <a4j:commandButton
                    value="#{messages['button.ok']}"
                    action="#{generalHelper.executeELMethod(selectAction, null)}"
                    render="#{render}"
                    oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('selectBuildingPanel')}.hide();">
                </a4j:commandButton>
                <h:outputText value="   " />
                <button
                    onclick="#{rich:component('selectBuildingPanel')}.hide();">
                    #{messages['button.cancel']}
                </button>
            </div>
        </h:form>
    </rich:popupPanel>

</ui:component>
