<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j">

    #{interactiveViewerHelper.setShowRightsToolbox(showRightsToolbox)}
    #{interactiveViewerHelper.setShowRestrictionsToolbox(showRestrictionsToolbox)}
    #{interactiveViewerHelper.setShowResponsibilitiesToolbox(showResponsibilitiesToolbox)}
    #{interactiveViewerHelper.setShowDataToolbox(showDataToolbox)}
    #{interactiveViewerHelper.setShowSpatialAnalysisToolbox(false)}
    #{interactiveViewerHelper.setShowHelpToolbox(false)}
    #{interactiveViewerHelper.setShowTitle(false)}
    #{interactiveViewerHelper.setShowTopographicTxnLayer(showTopographicTxnLayer)}
    #{interactiveViewerHelper.setShowBBoxOptions(showBBoxOptions)}
    #{interactiveViewerHelper.setDrawParcelLayerOnly(drawParcelLayerOnly)}
    #{interactiveViewerHelper.setLayerTypes(layerTypes)}
    #{interactiveViewerHelper.setBorderEditMode('NONE')}
    
    <style type="text/css">
        .left-sidebar {
            position:absolute;
            width: 150px;
            height:95%;
            margin:0px;
        }
        .map-content {
            position:absolute;
            height: 95%;
            left: 150px;
            right: 0px;
        }
    </style>
    
    <div class="left-sidebar">
        <rich:panel style="height:100%">
            <h:form id="frmSideContent">
                <ui:include src="/viewer/includes/sideContentIncl.xhtml">
                </ui:include>
            </h:form>
        </rich:panel>
    </div>
    <div class="map-content">
        <ui:include src="/viewer/includes/mapContentIncl.xhtml">
            <ui:param name="justIcons" value="true" />
        </ui:include>
    </div>

</ui:component>
