<p:document xmlns:p="http://sigit.org/schema/spring/pdf"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:xh="http://www.w3.org/1999/xhtml">

    <h:panelGroup rendered="#{buildingPermitCertificateHelper.permit != null}">
        <ui:include src="docHeader.xhtml" />

        <p:html>
            <br />
            <br />
            <br />
            <br />
            <div align="center">
                <h2>PERMISO DE CONSTRUCCI&#x00D3;N</h2>
                <br />
                <h4>C&#x00D3;DIGO #{buildingPermitCertificateHelper.transactionCode}</h4>
            </div>
            <br />
            <p>
                El suscrito Jefe del Departamento de Planeamiento y Ordenamiento Territorial, por medio de la presente extiende el permiso de construccion en predio identificado con la Clave Catastral
                #{buildingPermitCertificateHelper.cadastralKey(buildingPermitCertificateHelper.permit.selectedZone)}, localizado en el barrio #{buildingPermitCertificateHelper.neighborHood(buildingPermitCertificateHelper.permit.selectedZone)} y con derechos de propiedad
                #{buildingPermitCertificateHelper.rightsTextStr(buildingPermitCertificateHelper.permit.selectedZone)}.
            </p>
            <p>
                El presente permiso autoriza la construcci&#x00F3;n de una edificaci&#x00F3;n con un n&#x00FA;mero de pisos de #{buildingPermitCertificateHelper.permit.buildingUnit.numberOfFloors}, un &#x00E1;rea de construcci&#x00F3;n de #{buildingPermitCertificateHelper.permit.buildingUnit.builtArea} metros cuadrados y por un valor monetario de #{buildingPermitCertificateHelper.spanishConvertNumberToWords(buildingPermitCertificateHelper.permit.buildingUnit.value, 'lempira(s)', 'con', 'centavo(s)')} (L. #{buildingPermitCertificateHelper.permit.buildingUnit.value})
            </p>
            <br />
            <br />
            <br />
            <p>
                Para los fines que al interesado convengan, se extiende la presente constancia en la ciudad de Puerto Cort&#x00E9;s, a los #{buildingPermitCertificateHelper.todaysDay} d&#x00ED;as del mes de #{buildingPermitCertificateHelper.todaysMonth} del a&#x00F1;o #{buildingPermitCertificateHelper.todaysYear}.
            </p>
            <br />
            <br />
            <br />
            <p>
                ________________________________
            </p>
            <p>
                Jefe de Planeamiento y<br />Ordenamiento Territorial
            </p>
        </p:html>
    </h:panelGroup>
    <h:panelGroup rendered="#{buildingPermitCertificateHelper.permit == null}">
        <p:html>
            (seleccione un permiso)
        </p:html>
    </h:panelGroup>

</p:document>
