<p:document xmlns:p="http://sigit.org/schema/spring/pdf"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:xh="http://www.w3.org/1999/xhtml">

    <p:font size="24">
        <p:paragraph spacingAfter="50">CERTIFICADO CATASTRAL</p:paragraph>
    </p:font>
    <p:html>
        <table width="95%" cellspacing="10px" border="1">
            <tr valign="top" align="center">
                <td width="50%">
                    <rich:panel style="width:360px">
                    </rich:panel>
                </td>
                <td width="50%">
                    <strong>Datos Generales</strong>
                    <hr />
                    <br />
                    <h:panelGrid columns="2">
                        <h:outputText value="Ficha de Campo" style="font-weight:bold;" />
                        <h:outputText value="#{cadastralCertificateHelper.parcel.fieldTab != null ? cadastralCertificateHelper.parcel.fieldTab : '(sin ficha de campo)'}" />
                
                        <h:outputText value="Clave Municipal" style="font-weight:bold;" />
                        <h:outputText value="#{cadastralCertificateHelper.parcel.municipalKey != null ? cadastralCertificateHelper.parcel.municipalKey : '(sin clave municipal)'}" />
                
                        <h:outputText value="Clave Catastral" style="font-weight:bold;" />
                        <h:outputText value="#{cadastralCertificateHelper.parcel.cadastralKey != null ? cadastralCertificateHelper.parcel.cadastralKey : '(sin clave catastral)'}" />
                
                        <h:outputText value="Nombre" style="font-weight:bold;" />
                        <h:outputText value="#{cadastralCertificateHelper.parcel.zoneName != null ? cadastralCertificateHelper.parcel.zoneName : '(sin nombre)'}" />
                    </h:panelGrid>
                    
                    <br />
                    <br />
                    
                    <strong>Vigencia</strong>
                    <hr />
                    <br />
                    <h:panelGrid columns="2">
                        <h:outputText value="Vigente" style="font-weight:bold;" />
                        <h:panelGroup>
                            <h:outputText value="#{messages['txt.YES']}" rendered="#{cadastralCertificateHelper.parcel.alive}" />
                            <h:outputText value="#{messages['txt.NO']}" rendered="#{not cadastralCertificateHelper.parcel.alive}" style="color:Red;" />
                        </h:panelGroup>
                        
                        <h:outputText value="Comienzo vigencia" style="font-weight:bold;" />
                        <h:outputText value="#{cadastralCertificateHelper.parcel.beginLifespanVersion}" />
                        
                        <h:outputText value="Fin de vigencia" style="font-weight:bold;" />
                        <h:outputText value="#{cadastralCertificateHelper.parcel.endLifespanVersion}" />
                    </h:panelGrid>
                </td>
            </tr>
        </table>
    </p:html>
</p:document>
