<p:document xmlns:p="http://sigit.org/schema/spring/pdf"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:xh="http://www.w3.org/1999/xhtml">

    <ui:repeat var="parcel" value="#{cadastralRecordHelper.requestedParcels}">
        <ui:include src="docHeader.xhtml" />

        <p:html>
            <br />
            <div align="center">
                <h3>CONSTANCIA CATASTRAL</h3>
                <br />
                <h4>C&#x00D3;DIGO #{cadastralRecordHelper.transactionCode}</h4>
            </div>
            <br />
            <p>
                El suscrito Jefe del Departamento de Planeamiento y Ordenamiento Territorial, por medio de la presente constancia certifica: Que de acuerdo a la Base de Datos Catastral de este Municipio existe un predio identificado con la Clave Catastral
                #{cadastralRecordHelper.cadastralKey(parcel)}, localizado en el barrio #{cadastralRecordHelper.neighborHood(parcel)} y con derechos de propiedad
                #{cadastralRecordHelper.rightsTextStr(parcel)}.
            </p>
            <p>
                El cual tiene un valor catastral de #{cadastralRecordHelper.fiscalAppraisalWords(parcel)} (L. #{cadastralRecordHelper.fiscalAppraisal(parcel)}); una extensi&#x00F3;n superficial documentada de #{cadastralRecordHelper.documentedArea(parcel)} metros cuadrados y tiene las siguientes colindancias:
            </p>
            <ul>
                <ui:repeat var="np" value="#{cadastralRecordHelper.neighborParcels(parcel)}">
                    <li>
                        Predio con clave catastral #{cadastralRecordHelper.cadastralKey(np)}, localizado en barrio #{cadastralRecordHelper.neighborHood(np)} y con derechos de propiedad #{cadastralRecordHelper.rightsTextStr(np)}.
                    </li>
                </ui:repeat>
            </ul>
            <br />
            <br />
            <br />
            <p>
                Para los fines que al interesado convengan, se extiende la presente constancia en la ciudad de Puerto Cort&#x00E9;s, a los #{cadastralRecordHelper.todaysDay} d&#x00ED;as del mes de #{cadastralRecordHelper.todaysMonth} del a&#x00F1;o #{cadastralRecordHelper.todaysYear}.
            </p>
            <br />
            <br />
            <br />
            <p>
                ________________________________
            </p>
            <p>
                Jefe de de Planeamiento y<br />Ordenamiento Territorial
            </p>
        </p:html>
        
        <p:newPage />
    </ui:repeat>
</p:document>
