<f:view xmlns:f="http://java.sun.com/jsf/core"  
     xmlns:ui="http://java.sun.com/jsf/facelets"  
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:p="http://sigit.org/schema/spring/pdf" locale="#{localeSelector.selectedLocale}">  

    <h:panelGroup rendered="#{docHeaderHelper.validLogoUrl}">
        <p:table widthPercentage="100" columns="2" borderWidth="0" widths="25 75">
            <p:cell horizontalAlignment="center" borderWidth="0">
                <p:image value="#{docHeaderHelper.image}" width="60" />
            </p:cell>
            <p:cell horizontalAlignment="center" verticalAlignment="middle" minimumHeight="100">
                <p:html>
                    <h:outputText value="#{configurationHelper.jurisdictionName}" style="font-size:18;font-weight:bold;" />
                </p:html>
            </p:cell>
        </p:table>
    </h:panelGroup>
    
    <h:panelGroup rendered="#{not docHeaderHelper.validLogoUrl}">
        <p:table widthPercentage="100" columns="1" borderWidth="0" widths="100">
            <p:cell horizontalAlignment="center" verticalAlignment="middle" minimumHeight="100">
                <p:html>
                    <h:outputText value="#{configurationHelper.jurisdictionName}" style="font-size:18;font-weight:bold;" />
                </p:html>
            </p:cell>
        </p:table>
    </h:panelGroup>
    
</f:view>
