<p:document xmlns:p="http://sigit.org/schema/spring/pdf"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:include src="docHeader.xhtml" />
    

    <p:html>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div align="center">
            <h2>Comprobante de Recepci&#x00F3;n de Documentos</h2>
            <br />
        </div>
        <br />
        
        <p>
            Por medio de la presente se certifica la recepci&#x00F3;n de Documentos Legales, para la actualizaci&#x00F3;n de la base catastral y
            emisi&#x00F3;n del del certificado catastral identificado con el n&#x00FA;mero de Presentaci&#x00F3;n:
        </p>
        
        <br />
        <br />
        
        <p align="center">
            No. <b>#{cadastralRecordHelper.transactionCode}</b>
        </p>
        
        <br />
        <br />
        <br />
        <br />
        <br />
        
        <p>
            f. Receptor
        </p>
    </p:html>
        
</p:document>
