<p:document xmlns:p="http://sigit.org/schema/spring/pdf"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:xh="http://www.w3.org/1999/xhtml">
    <h:panelGroup rendered="#{operationPermitCertificateHelper.permit != null}">
        <ui:include src="docHeader.xhtml" />

        <p:html>
            <br />
            <br />
            <br />
            <div align="center">
                <h2>PERMISO DE OPERACI&#x00D3;N</h2>
                <br />
                <h4>C&#x00D3;DIGO #{operationPermitCertificateHelper.transactionCode}</h4>
            </div>
            <br />
            <p>
                El suscrito Jefe del Departamento de Planeamiento y Ordenamiento Territorial, por medio de la presente extiende el permiso de operacion en predio identificado con la Clave Catastral
                #{operationPermitCertificateHelper.cadastralKey(operationPermitCertificateHelper.permit.selectedZone)}, localizado en el barrio #{operationPermitCertificateHelper.neighborHood(operationPermitCertificateHelper.permit.selectedZone)} y con derechos de propiedad
                #{operationPermitCertificateHelper.rightsTextStr(operationPermitCertificateHelper.permit.selectedZone)}.
            </p>
            <p>
                El presente permiso autoriza es por un tipo de negocio #{operationPermitCertificateHelper.nullText( operationPermitCertificateHelper.permit.businessType.name )} con los siguientes tipos de uso: #{operationPermitCertificateHelper.landUsesText}
            </p>
            <br />
            <br />
            <br />
            <p>
                Para los fines que al interesado convengan, se extiende la presente constancia en la ciudad de Puerto Cort&#x00E9;s, a los #{operationPermitCertificateHelper.todaysDay} d&#x00ED;as del mes de #{operationPermitCertificateHelper.todaysMonth} del a&#x00F1;o #{operationPermitCertificateHelper.todaysYear}.
            </p>
            <br />
            <br />
            <br />
            <p>
                ________________________________
            </p>
            <p>
                Jefe de Planeamiento y<br />Ordenamiento Territorial
            </p>
        </p:html>
    </h:panelGroup>
    <h:panelGroup rendered="#{operationPermitCertificateHelper.permit == null}">
        <p:html>
            (seleccione un permiso)
        </p:html>
    </h:panelGroup>
    
</p:document>
