<p:document xmlns:p="http://sigit.org/schema/spring/pdf"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    pageSize="#{viewerPrintHelper.pageSize.size}"
    margins="#{viewerPrintHelper.pageMargins.spaceValues}"
    orientation="landscape"
    title="#{viewerPrintHelper.title}"
    author="SIGIT">

    #{interactiveViewerHelper.layerHelper.initializeThemeGroups()}
    <p:table widthPercentage="100" columns="#{viewerPrintHelper.layoutNumColumns}" widths="#{viewerPrintHelper.columnWidths}" borderWidth="0">
        <f:facet name="defaultCell">
            <p:cell borderWidth="1" verticalAlignment="middle"/>
        </f:facet>
        
        <ui:remove>
            <!-- Title -->
        </ui:remove>
        <h:panelGroup rendered="#{viewerPrintHelper.printTitle}">
            <p:cell horizontalAlignment="center" colspan="#{viewerPrintHelper.layoutNumColumns}" fixedHeight="#{viewerPrintHelper.titleHeight}">
                <p:html>
                    <h:outputText value="#{viewerPrintHelper.title}" style="font-size:20;font-weight:bold;" />
                </p:html>
            </p:cell>
        </h:panelGroup>
        
        <ui:remove>
            <!-- Image & Legend -->
            <!-- Width is defined by the width of the image -->
        </ui:remove>
        <p:cell horizontalAlignment="center" verticalAlignment="middle" fixedHeight="#{viewerPrintHelper.imageHeight}" borderWidth="1">
            <p:image value="#{viewerPrintHelper.imageStream}" width="#{viewerPrintHelper.imageWidth}"/>
        </p:cell>
        <h:panelGroup rendered="#{viewerPrintHelper.drawLegendSidebar}">
            <p:cell verticalAlignment="top" horizontalAlignment="center" borderWidth="1">
                
                <p:table columns="2" widthPercentage="100" widths="15 85">
                    <f:facet name="defaultCell">
                        <p:cell borderWidth="1" verticalAlignment="middle" colspan="2"/>
                    </f:facet>
                    
                    <p:cell horizontalAlignment="center">
                        <p:html>
                            <h:outputText value="LEYENDA" style="font-weight:bold;" />
                        </p:html>
                    </p:cell>
                    
                    <ui:repeat var="tlg" value="#{interactiveViewerHelper.layerHelper.visibleLayerSmallThemeGroups}">
                        <p:cell horizontalAlignment="center">
                            <p:html>
                                <h:outputText value="#{tlg.title}" style="font-weight:bold;" />
                            </p:html>
                        </p:cell>
                        
                        <h:panelGroup rendered="#{tlg.styleName == 'sigit_landuse'}">
                            <ui:repeat var="layer" value="#{tlg.layers}">
                                <p:cell horizontalAlignment="center">
                                    <p:html>
                                        <h:outputText value="#{layer.name}" style="font-weight:bold;" />
                                    </p:html>
                                </p:cell>
                                
                                
                                <ui:repeat var="lu" value="#{tlg.layerLandUses(layer)}">
                                    <p:cell colspan="1">
                                        <p:html>
                                            <h:graphicImage value="#{interactiveViewerHelper.layerHelper.legendGraphicURL(tlg.styleName, lu.completeCode)}" />
                                        </p:html>
                                    </p:cell>
                                    <p:cell colspan="1">
                                        <p:html>
                                            <h:outputText value="#{lu.fullName}" style="font-size:10" />
                                        </p:html>
                                    </p:cell>
                                </ui:repeat>
                            </ui:repeat>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{tlg.styleName != 'sigit_landuse'}">
                            <ui:repeat var="lsi" value="#{interactiveViewerHelper.getLegendStyleInfo(tlg.styleName)}">
                                <p:cell colspan="1">
                                    <p:html>
                                        <h:graphicImage value="#{interactiveViewerHelper.layerHelper.legendGraphicURL(tlg.styleName, lsi.ruleName)}" />
                                    </p:html>
                                </p:cell>
                                <p:cell colspan="1">
                                    <p:html>
                                        <h:outputText value="#{messages[lsi.label]}" style="font-size:10" />
                                    </p:html>
                                </p:cell>
                            </ui:repeat>
                        </h:panelGroup>
                    </ui:repeat>
                </p:table>
            </p:cell>
        </h:panelGroup>

        <ui:remove>
            <!-- Notes -->
        </ui:remove>
        <h:panelGroup rendered="#{viewerPrintHelper.printScale}">
            <p:cell colspan="#{viewerPrintHelper.layoutNumColumns}" fixedHeight="#{viewerPrintHelper.notesHeight}">
                <p:html>
                    <h:outputText value="ESCALA: #{viewerPrintHelper.scaleRatioText}" style="font-size:10" />
                </p:html>
            </p:cell>
        </h:panelGroup>
    </p:table>
    
    <h:panelGroup rendered="#{viewerPrintHelper.printLegend}">
        <p:newPage />
        
        <p:table widthPercentage="100">
            <ui:repeat var="tlg" value="#{interactiveViewerHelper.layerHelper.visibleLayerAdditionalThemeGroups}">
                <p:cell horizontalAlignment="center">
                    <p:html>
                        <h:outputText value="#{tlg.title}" style="font-weight:bold;" />
                    </p:html>
                </p:cell>
                
                <h:panelGroup rendered="#{tlg.styleName == 'sigit_landuse'}">
                    <ui:repeat var="layer" value="#{tlg.layers}">
                        <p:cell horizontalAlignment="center">
                            <p:html>
                                <h:outputText value="#{layer.name}" style="font-weight:bold;" />
                            </p:html>
                        </p:cell>
                        <p:cell horizontalAlignment="center">
                            <p:table widthPercentage="100" columns="#{viewerPrintHelper.min(tlg.layerLandUses(layer).size(), 4)}">
                                <f:facet name="defaultCell">
                                    <p:cell borderWidth="0" />
                                </f:facet>
                                <ui:repeat var="lu" value="#{tlg.layerLandUses(layer)}">
                                    <p:cell>
                                        <p:table widthPercentage="100" columns="2" widths="15 85">
                                            <p:cell>
                                                <p:html>
                                                    <h:graphicImage value="#{interactiveViewerHelper.layerHelper.legendGraphicURL(tlg.styleName, lu.completeCode)}" />
                                                </p:html>
                                            </p:cell>
                                            <p:cell>
                                                <p:html>
                                                    <h:outputText value="#{lu.fullName}" style="font-size:10" />
                                                </p:html>
                                            </p:cell>
                                        </p:table>
                                    </p:cell>
                                </ui:repeat>
                            </p:table>
                        </p:cell>
                    </ui:repeat>
                </h:panelGroup>
                <h:panelGroup rendered="#{tlg.styleName != 'sigit_landuse'}">
                    <p:cell horizontalAlignment="center">
                        <p:table widthPercentage="100" columns="#{viewerPrintHelper.min( interactiveViewerHelper.legendStyleInfoCount(tlg.styleName), 4 )}">
                            <f:facet name="defaultCell">
                                <p:cell borderWidth="0" />
                            </f:facet>
                            
                            <ui:repeat var="lsi" value="#{interactiveViewerHelper.getLegendStyleInfo(tlg.styleName)}">
                                <p:table widthPercentage="100" widths="15 85">
                                    <p:cell>
                                        <p:html>
                                            <h:graphicImage value="#{interactiveViewerHelper.layerHelper.legendGraphicURL(tlg.styleName, lsi.ruleName)}" />
                                        </p:html>
                                    </p:cell>
                                    <p:cell>
                                        <p:html>
                                            <h:outputText value="#{messages[lsi.label]}" style="font-size:10" />
                                        </p:html>
                                    </p:cell>
                                </p:table>
                            </ui:repeat>
                        </p:table>
                    </p:cell>
                </h:panelGroup>
            </ui:repeat>
        </p:table>
    </h:panelGroup>
</p:document>
