<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <ui:define name="body">
        <h:form>
            <div align="center">
                <h3>#{messages['topography.activities']}</h3>
                <hr />
            </div>
            <br />
            <br />
            <h:panelGroup id="panelActividades">
                <rich:collapsiblePanel switchType="client" header="#{messages['activities.assignedactivitesheader']}">
                    <rich:dataTable value="#{topographyHelper.pendingTopographicTransactions}" var="trx" rendered="#{not empty topographyHelper.pendingTopographicTransactions}">
                        <rich:column>
                            <f:facet name="header">#{messages['topography.transaction_no']}</f:facet>
                            <h:outputText value="#{trx.presentationNo}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">#{messages['activities.activity']}</f:facet>
                            <h:outputText value="#{messages['options.topographic_maintenance']}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">#{messages['activities.description']}</f:facet>
                            <h:outputText value="#{messages['options.topographic_maintenance']}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">#{messages['activities.startdate']}</f:facet>
                            <h:outputText value="#{trx.startDate}">
                                <f:convertDateTime type="both" dateStyle="full" timeStyle="medium"/>
                            </h:outputText>
                        </rich:column>
                        <rich:column>
                            <a4j:commandLink value="#{messages['activities.resume']} &gt;&gt;" action="#{navigationHelper.navigateTo('/topography/maintainTopography.xhtml', true)}">
                                <f:setPropertyActionListener target="#{topographyHelper.selected}" value="#{trx}" />
                                <f:setPropertyActionListener target="#{topographyMaintenanceHelper.transaction}" value="#{trx}" />
                                <f:setPropertyActionListener target="#{interactiveViewerHelper.customMapExtents}" value="#{topographyHelper.selected.extents}" />
                                <f:setPropertyActionListener target="#{interactiveViewerHelper.selectedLayer}" value="#{trx.workingLayer}" />
                                <f:setPropertyActionListener target="#{interactiveViewerHelper.layerHelper.allowChangeActiveLayer}" value="#{false}" />
                            </a4j:commandLink>
                        </rich:column>
                    </rich:dataTable>
                    <h:outputText value="#{messages['activities.nopending']}" rendered="#{empty topographyHelper.pendingTopographicTransactions}"/>
                </rich:collapsiblePanel>
                
                <br/>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
