<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <style>
        .contentEditData {
            width:100%;
            height:300px;
            overflow:auto;
        }
    </style>
    
    <ui:define name="customContent">
    </ui:define>
    
    <ui:define name="body">
        <div align="center">
            <h:outputText value="EDICION DE DATOS ALFANUMERICOS" style="font-weight:bolder;" />
            <hr />
            <br />
            <br />
            <h:form>
                <table style="width:90%">
                    <tr valign="top">
                        <td>
                            Zona seleccionada
                        </td>
                        <td>
                            <rich:panel id="zoneInfoPanel">
                                <ui:include src="/WEB-INF/includes/zoneInfoIncl.xhtml">
                                    <ui:param name="zone" value="#{topographyHelper.selectedSpatialZone}" />
                                    <ui:param name="noZoneMsg" value="#{messages['permit.no_zone_selected']}" />
                                    <ui:param name="width" value="50%" />
                                </ui:include>
                            </rich:panel>
                        </td>
                        <td>
                            <a4j:commandLink execute="@this" oncomplete="#{rich:component('selectZonePanel')}.show()">
                                <h:outputText value="#{messages['permit.select_zone']}"/>
                            </a4j:commandLink>
                        </td>
                    </tr>
                </table>
            </h:form>
        </div>
        
        <ui:include src="/zoneselector/selectZonePanel.xhtml">
            <ui:param name="width" value="830" />
            <ui:param name="height" value="630" />
            <ui:param name="drawParcelLayerOnly" value="true" />
            <ui:param name="selectAction" value="topographyHelper.selectZoneFromMap" />
            <ui:param name="render" value="zoneInfoPanel" />
        </ui:include>
    </ui:define>
    
</ui:composition>
