<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    template="/WEB-INF/esquema/permitSubTemplate.xhtml">

    <ui:define name="mainControls">
        <h:outputText value="#{messages['txt.options']}" />
        <h:outputText value="   " />
        <sigit:simpleButton value="#{messages['FINISH']}" onclick="finish();"/>
    </ui:define>

    <ui:define name="title">
        <div align="center">
            <br/>
            <strong>#{messages['topography.new_transaction_title']}</strong>
            <hr />
            <br/>
        </div>
    </ui:define>
    
    <ui:define name="permitBody">
        <style type="text/css">
            .introCol1 {
                vertical-align:top;
                width:30%;
            }
            .introCol2 {
                vertical-align:top;
                width:70%;
            }
        </style>

        <h:form>
            <div align="center">
                <ui:include src="includes/inputInitialData.xhtml">
                    <ui:param name="readonly" value="true" />
                </ui:include>
            </div>
            
            <br />
            
            <a4j:jsFunction
                name="finish"
                action="#{topographyMaintenanceHelper.finishDataIntro}">
            </a4j:jsFunction>
        </h:form>
    </ui:define>
</ui:composition>
