<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <style>
        .contentEditData {
            width:100%;
            height:300px;
            overflow:auto;
        }
    </style>
    
    <ui:define name="customContent">
    </ui:define>
    
    <ui:define name="body">
    </ui:define>
    
</ui:composition>
