<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    template="/WEB-INF/esquema/topographyMaintTemplate.xhtml">

    <style>
        .contentEditData {
            width:100%;
            height:300px;
            overflow:auto;
        }
    </style>


    <ui:define name="mainControls">
        <h:form>
            <a4j:commandButton value="#{messages['FINISH'].toUpperCase()}" oncomplete="#{rich:component('strict-confirmation-dialog')}.show()">
                <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['topography.finish_dataentry']}"/>
                <f:setPropertyActionListener target="#{dialogHelper.jsFunction}" value="finish();"/>
            </a4j:commandButton>
            <a4j:commandButton value="#{messages['button.l8r']}" oncomplete="#{rich:component('confirmation-dialog')}.show()">
                <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['dataentry.l8r']}"/>
                <f:setPropertyActionListener target="#{dialogHelper.jsFunction}" value="pause();"/>
            </a4j:commandButton>
            <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
        </h:form>
    </ui:define>

    <ui:define name="extraControls">
        <h:form>
            <sigit:simpleButton value="#{messages['options.view_request']}" render="transactionData"
                type="button" onclick="#{rich:component('viewRequestPanel')}.show()">
            </sigit:simpleButton>
            <a4j:commandButton value="Eliminar zona seleccionada..." render="deleteZoneFrm"
                oncomplete="#{rich:component('deleteZoneDlg')}.show()">
            </a4j:commandButton>
        </h:form>
    </ui:define>
    
    <ui:define name="rightThings">
        <strong>#{messages['options.topographic_maintenance'].toUpperCase()}</strong>
    </ui:define>

    
    <ui:define name="customContent">
        #{interactiveViewerHelper.setShowSaveModificationButtons(true)}
        #{interactiveViewerHelper.setAllowEditing(true)}
        <ui:include src="/viewer/includes/sideContentIncl.xhtml" />
    </ui:define>
    
    <ui:define name="body">
        <ui:include src="/viewer/toolbox/spatialAnalysis.xhtml" />
        <ui:include src="/WEB-INF/includes/selectBuildingMaterial.xhtml" />

        <ui:include src="includes/interactionMapIncl.xhtml">
            <ui:param name="showRightsToolbox" value="true" />
            <ui:param name="showRestrictionsToolbox" value="true" />
            <ui:param name="showResponsibilitiesToolbox" value="true" />
            <ui:param name="showDataToolbox" value="true" />
        </ui:include>
        
        <rich:popupPanel id="deleteZoneDlg" minWidth="400" minHeight="270" resizeable="#{false}" zindex="5000">
            <f:facet name="header">
                <h:outputText value="#{messages['topography.delete_selected_zone.end_lifespan_definition']}"/>
            </f:facet>
            <f:facet name="controls">
                <h:panelGroup>
                    <h:graphicImage value="/img/close.png" styleClass="hidelink"
                    onclick="#{rich:component('deleteZoneDlg')}.hide()"/>
                </h:panelGroup>
            </f:facet>
            
            <h:form id="deleteZoneFrm">
                <script type="text/javascript">
                    function redrawMap() {
                        zoomToExtent(#{interactiveViewerHelper.envelopeLeft},
                                #{interactiveViewerHelper.envelopeBottom},
                                #{interactiveViewerHelper.envelopeRight},
                                #{interactiveViewerHelper.envelopeTop});

                        parcelFeaturesLayer.destroyFeatures();
                        /*
                        for (var i = 0; i &lt; mapEditor.layers.length; i++) {
                            var layer = mapEditor.layers[i];
                            layer.setVisibility(false);
                            layer.redraw();
                            layer.setVisibility(true);
                        }
                        polyLayer.destroyFeatures();
                        */
                    }
                </script>
                <h:panelGroup rendered="#{interactiveViewerHelper.selectedZone != null}">
                    <h:panelGroup rendered="#{topographyMaintenanceHelper.selectedSZLockedInCurrentTransaction}">
                        <h:panelGrid columns="2" style="width:100%">
                            <h:outputLabel for="endLifespan" value="#{messages['topography.delete_selected_zone.end_lifespan_date']}" style="font-weight:bold;" />
                            <h:panelGroup>
                                <rich:calendar id="endLifespan"
                                    label="#{messages['topography.delete_selected_zone.end_lifespan_date']}"
                                    value="#{topographyMaintenanceHelper.endLifespan}" required="true">
                                </rich:calendar>
                                <rich:message for="endLifespan" style="color:Red;"/>
                            </h:panelGroup>
                        </h:panelGrid>
                        <br />
                        <h:panelGrid columns="1" style="width:100%">
                            <h:outputLabel for="endLifespanReason" value="#{messages['topography.delete_selected_zone.end_lifespan_reason']}" style="font-weight:bold;" />
                            <h:panelGroup>
                                <h:inputTextarea id="endLifespanReason"
                                    label="#{messages['topography.delete_selected_zone.end_lifespan_reason']}"
                                    value="#{topographyMaintenanceHelper.endLifespanReason}" cols="3" required="true" style="width:100%">
                                </h:inputTextarea>
                                <rich:message for="endLifespanReason" style="color:Red;"/>
                            </h:panelGroup>
                        </h:panelGrid>
                        <div align="center">
                            <a4j:commandButton value="#{messages['button.ok']}"
                                action="#{topographyMaintenanceHelper.deleteSelectedSZ}"
                                render="grpSelectedZone, grpHighlighted, panelRRR"
                                oncomplete="if (#{facesContext.maximumSeverity != null}) #{rich:component('msgPanel')}.show(); else { #{rich:component('deleteZoneDlg')}.hide(); redrawMap(); }">
                            </a4j:commandButton>
                            <sigit:simpleButton value="#{messages['button.cancel']}" type="button" onclick="#{rich:component('deleteZoneDlg')}.hide()"/>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{not topographyMaintenanceHelper.selectedSZLockedInCurrentTransaction}">
                        <div align="center">
                            <h:outputText value="#{messages['topography.delete_selected_zone.no_editable_sz']}" style="color:Red;" />
                            <br />
                            <br />
                            <sigit:simpleButton value="#{messages['button.ok']}" type="button" onclick="#{rich:component('deleteZoneDlg')}.hide()"/>
                        </div>
                    </h:panelGroup>
                </h:panelGroup>
                <h:panelGroup rendered="#{interactiveViewerHelper.selectedZone == null}">
                    <div align="center">
                        <h:outputText value="#{messages['topography.delete_selected_zone.no_sz_selected']}" style="color:Red;" />
                        <br />
                        <br />
                        <sigit:simpleButton value="#{messages['button.ok']}" type="button" onclick="#{rich:component('deleteZoneDlg')}.hide()"/>
                    </div>
                </h:panelGroup>
            </h:form>
        </rich:popupPanel>
        
        <br />
        <br />
        
        <h:form>
            <a4j:jsFunction id="finish" name="finish" action="#{topographyMaintenanceHelper.endTransaction}"/>
            <a4j:jsFunction name="pause" action="#{navigationHelper.navigateToHome}" />
        </h:form>
    </ui:define>
    
</ui:composition>
