<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    template="startTopographicTransactionTemplate.xhtml">

    <ui:define name="mainControls">
        <h:outputText value="#{messages['txt.options']}" />
        <h:outputText value="   " />
        <h:panelGroup>
            <h:form>
                <a4j:commandButton value="#{messages['button.ok']}" oncomplete="if (#{topographyMaintenanceHelper.validateEndDataIntro()}) #{rich:component('strict-confirmation-dialog')}.show(); else setTimeout(function(){endDataIntro();}, 50);">
                    <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['topography.confirmation_msg']}"/>
                    <f:setPropertyActionListener target="#{dialogHelper.jsFunction}" value="endDataIntro();"/>
                </a4j:commandButton>
                <a4j:commandButton value="#{messages['button.cancel']}" action="#{navigationHelper.navigateToHome}" />
            </h:form>
        </h:panelGroup>
    </ui:define>
    
    <ui:define name="rightThings">
        <strong>#{messages['topography.new_transaction_title']}</strong>
    </ui:define>


    <ui:define name="stepBody">
        <style type="text/css">
            .introCol1 {
                vertical-align:top;
                width:30%;
            }
            .introCol2 {
                vertical-align:top;
                width:70%;
            }
        </style>

        <h:form>
            <div align="center">
                <ui:include src="includes/inputInitialData.xhtml" />
            </div>
            
            <br />
            
            <a4j:jsFunction
                name="endDataIntro"
                execute="@form"
                action="#{topographyMaintenanceHelper.endDataIntro}"
                oncomplete="if (#{facesContext.maximumSeverity != null}) #{rich:component('msgPanel')}.show();">
            </a4j:jsFunction>
            
            <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
        </h:form>
    </ui:define>
</ui:composition>
