<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/WEB-INF/esquema/permitTemplate.xhtml">

    <ui:define name="body">
        <h:panelGroup rendered="#{topographyMaintenanceHelper.layers.size() gt 0}">
            <ui:insert name="stepBody" />
            
            <ui:include src="/WEB-INF/includes/selectLandUse.xhtml" />
            <ui:include src="/WEB-INF/includes/selectBuildingMaterial.xhtml" />
            <ui:include src="/WEB-INF/includes/selectBuildingType.xhtml" />
            <f:subview id="sp">
                <ui:include src="/WEB-INF/includes/selectParty.xhtml" />
            </f:subview>
            <ui:include src="/zoneselector/selectZonePanel.xhtml">
                <ui:param name="width" value="910" />
                <ui:param name="height" value="650" />
                <ui:param name="hideRightsToolbox" value="true" />
                <ui:param name="hideRestrictionsToolbox" value="true" />
                <ui:param name="hideResponsibilitiesToolbox" value="true" />
                <ui:param name="hideDataToolbox" value="true" />
                <ui:param name="drawParcelLayerOnly" value="false" />
                <ui:param name="showTopographicTxnLayer" value="true" />
                <ui:param name="showBBoxOptions" value="true" />
                <ui:param name="selectAction" value="topographyMaintenanceHelper.pickExtentsFromMap" />
                <ui:param name="render" value="grpExtentsBox" />
            </ui:include>
        </h:panelGroup>
        
        <h:panelGroup rendered="#{topographyMaintenanceHelper.layers.size() eq 0}">
            <div align="center">
                <br/>
                <strong>#{messages['building_permit.start_header']}</strong>
                <hr />
                <br/>
            </div>
            
            <div align="center">
                <h:outputText value="#{messages['txt.no_building_layers_available']}" />
                <br />
                <br />
            </div>
        </h:panelGroup>
    </ui:define>
    
</ui:composition>
