<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    
    >


    <style type="text/css">
        .alignTop {
            vertical-align:top;
        }
    </style>
    
    <h:panelGroup id="transactionData">
        <ui:include src="/topography/includes/inputInitialData.xhtml">
            <ui:param name="readonly" value="#{true}" />
        </ui:include>
    </h:panelGroup>
    
</ui:composition>
