<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    #{mantUISettingsHelper.setShowTitle(showTitle)}
    #{mantUISettingsHelper.setNumElements(numElements)}
    #{businessTypeHelper.setSelecting(selecting)}
    #{businessTypeHelper.setShowAddButton(showAddButton)}
    #{businessTypeHelper.setShowEditButton(showEditButton)}
    <div align="center">
        <h:panelGroup id="title" rendered="#{mantUISettingsHelper.showTitle}">
            <h3>#{messages['options.operationpermit.business_types']}</h3>
            <br />
            <hr/>
            <br />
        </h:panelGroup>
        
        <div align="center" style="width: 770px">
            <rich:toolbar height="25" itemSeparator="line">
                <rich:toolbarGroup>
                    <ui:insert name="tlbMainControls"/>
                </rich:toolbarGroup>
                <rich:toolbarGroup>
                    <ui:insert name="tlbExtraControls"/>
                </rich:toolbarGroup>
            </rich:toolbar>
            
            <br />
            <ui:insert name="resultGrid"/>
            <br />
            
            <rich:toolbar height="25" itemSeparator="line">
                <rich:toolbarGroup>
                    <ui:insert name="tlbMainControls"/>
                </rich:toolbarGroup>
                <rich:toolbarGroup>
                    <ui:insert name="tlbExtraControls"/>
                </rich:toolbarGroup>
            </rich:toolbar>                        
        </div>
    </div>
    
    <ui:insert name="res"/>
</ui:composition>
