<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <ui:define name="body">
        <ui:include src="businessType.xhtml">
            <ui:param name="showTitle" value="#{true}" />
            <ui:param name="numElements" value="10" />
            <ui:param name="showAddButton" value="#{true}" />
            <ui:param name="showEditButton" value="#{true}" />
        </ui:include>
        
        <h:form>
            <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
        </h:form>
    </ui:define>
</ui:composition>
