<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    template="/WEB-INF/esquema/plantillaworkflow.xhtml">

    <style>
        .contentEditData {
            width:100%;
            height:300px;
            overflow:auto;
        }
    </style>
    
    <ui:define name="activityCustomContent">
        <script type="text/javascript">
            function zoomToExtent(left, button, right, top) {
                bounds = new OpenLayers.Bounds();
                bounds.left = left;
                bounds.bottom = button;
                bounds.right = right;
                bounds.top = top;
                mapEditor.zoomToExtent(bounds, true);
            }
            function getLayer(layerName) {
                var layer;
                for (var i = 0; i &lt; mapEditor.layers.length; i++) {
                    if ( mapEditor.layers[i].id === layerName ) {
                        layer = mapEditor.layers[i];
                        break;
                    }
                }
                return layer;
            }
    
            function setLayerVisible(layerName, isVisible) {
                var layer = getLayer(layerName);
                layer.setVisibility(isVisible);
            }
        </script>
        <h:panelGroup id="zoomFun">
            <script type="text/javascript">
                function doZoom() {
                    zoomToExtent(#{dataEntryHelper.envelopeLeft}, #{dataEntryHelper.envelopeBottom}, #{dataEntryHelper.envelopeRight}, #{dataEntryHelper.envelopeTop})
                }
            </script>
        </h:panelGroup>

        <h3>#{messages['dataentry.properties_to_work']}</h3>
        <br/>
        Parcelas por ficha de campo/clave catastral!
        <br />
        <br />
        <h:panelGroup id="grpSelectedZone" style="color:Red;">
            Parcela seleccionada:
            <br />
            <strong>
                <h:outputText value="#{generalHelper.getZoneUsefulName(dataEntryHelper.selectedZone)}"/>
            </strong>
        </h:panelGroup>
        <br />
        <br />
        Haga clic en predio
        <br/>
        <br/>
        <div class="contentEditData">
            <h:panelGroup id="transactionCnts">
                <h:panelGroup id="requestedParcelList">
                    <ui:repeat var="parcel" value="#{dataEntryHelper.requestedParcels}">
                        <a4j:commandLink render="zoomFun" oncomplete="doZoom()">
                            <f:setPropertyActionListener value="#{parcel}" target="#{interactiveViewerHelper.zoomedInZone}" />
                            <h:outputText value="#{generalHelper.getZoneUsefulName(parcel)}" />
                        </a4j:commandLink>
                        <br />
                        <h:panelGroup rendered="#{not interactiveViewerHelper.editing}">
                            #{' - '}
                            <a4j:commandLink value="Seleccionar"
                            render="#{interactiveViewerHelper.reRenderList}"
                            oncomplete="doZoom()">
                                <f:setPropertyActionListener target="#{interactiveViewerHelper.rrrHelper.parcelRightsList}" value="#{null}" />
                                <f:setPropertyActionListener target="#{interactiveViewerHelper.rrrHelper.parcelRestrictionsList}" value="#{null}" />
                                <f:setPropertyActionListener target="#{interactiveViewerHelper.rrrHelper.parcelResponsibilitiesList}" value="#{null}" />
                                <f:setPropertyActionListener target="#{interactiveViewerHelper.selectedZone}" value="#{parcel}" />
                            </a4j:commandLink>
                            <br />
                            <br />
                        </h:panelGroup>
                    </ui:repeat>
                </h:panelGroup>
                <br/>
                <br/>
                Parcelas vecinas
                <br/>
                <br/>
                <ui:repeat var="parcel" value="#{dataEntryHelper.neighborParcels}">
                    <li>
                        <a4j:commandLink render="zoomFun" oncomplete="doZoom()">
                            <f:setPropertyActionListener value="#{parcel}" target="#{interactiveViewerHelper.zoomedInZone}" />
                            <h:outputText value="#{generalHelper.getZoneUsefulName(parcel)}" />
                        </a4j:commandLink>
                    </li>
                </ui:repeat>
            </h:panelGroup>
        </div>
        <br/><br/>
        <hr style="height:3px"/>
        <br/>
    </ui:define>
    
    <ui:define name="mainControls">
        <h:form>
            <a4j:commandButton value="#{messages['button.ok']}" oncomplete="#{rich:component('strict-confirmation-dialog')}.show()">
                <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['dataentry.finish']}"/>
                <f:setPropertyActionListener target="#{dialogHelper.jsFunction}" value="finish();"/>
            </a4j:commandButton>
            <a4j:commandButton value="#{messages['button.l8r']}" oncomplete="#{rich:component('confirmation-dialog')}.show()">
                <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['dataentry.l8r']}"/>
                <f:setPropertyActionListener target="#{dialogHelper.jsFunction}" value="pause();"/>
            </a4j:commandButton>
        </h:form>
    </ui:define>

    <ui:define name="extraControls">
        <h:form>
            <a4j:commandButton value="#{messages['button.back2analysis']}" oncomplete="#{rich:component('strict-confirmation-dialog')}.show()">
                <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['dataentry.back2analysis']}"/>
                <f:setPropertyActionListener target="#{dialogHelper.jsFunction}" value="back2analysis();"/>
            </a4j:commandButton>
        </h:form>
    </ui:define>
    
    <ui:define name="rightThings">
        <strong>INGRESO DE DATOS</strong>
    </ui:define>
    
    <ui:define name="body">
        <style type="text/css">
            .olControlPanel {
                float: right;
                right: 0px;
                height: 30px;
            }
            .olControlPanel div {
                float: right;
                display:block;
                width:  24px;
                height: 24px;
                margin: 5px;
                background-color:red;
            }

            .olControlPanel .olControlNavigationItemActive {
                background-color: blue;
                background-image: url("#{generalHelper.openLayersThemeDefaultImgPath}/pan_on.png");
            }
            .olControlPanel .olControlNavigationItemInactive {
                background-color: orange;
                background-image: url("#{generalHelper.openLayersThemeDefaultImgPath}/pan_off.png");
            }
            .olControlPanel .olControlDrawFeatureItemActive {
                width:  22px;
                height: 22px;
                background-image: url("#{generalHelper.openLayersThemeDefaultImgPath}/draw_line_on.png");
            }
            .olControlPanel .olControlDrawFeatureItemInactive {
                width:  22px;
                height: 22px;
                background-image: url("#{generalHelper.openLayersThemeDefaultImgPath}/draw_line_off.png");
            }
            .olControlPanel .olControlZoomBoxItemInactive {
                width:  22px;
                height: 22px;
                background-color: orange;
                background-image: url("#{generalHelper.openLayersThemeDefaultImgPath}/drag-rectangle-off.png");
            }
            .olControlPanel .olControlZoomBoxItemActive {
                width:  22px;
                height: 22px;
                background-color: blue;
                background-image: url("#{generalHelper.openLayersThemeDefaultImgPath}/drag-rectangle-on.png");
            }
            .olControlPanel .olControlZoomToMaxExtentItemInactive {
                width:  18px;
                height: 18px;
                background-image: url("#{generalHelper.openLayersImgPath}/zoom-world-mini.png");
            }
            .alignTop {
                vertical-align:top;
            }
            .rich-filter-input {
                width: 50px;
            }
            .rich-spinner-input {
                width: 30px;
            }
            .superMap {
                position: absolute;
                width: 100%;
                height: 97%;
            }
        </style>

        <h:outputScript library="openlayers" name="#{generalHelper.openLayersJS}" target="head"/>

        <script type="text/javascript">
            var parcel_style = new OpenLayers.Style({'fillColor': '#669933', 'fillOpacity': .8, 'strokeColor': '#aaee77', 'strokeWidth': 3, 'pointRadius': 8, 'label': '${label}'});
            var parcel_style_map = new OpenLayers.StyleMap({'default': parcel_style});
            //alert(parcelFeaturesLayer);
            //alert('el estilo es: ' + parcel_style_map);
            //parcelFeaturesLayer.styleMap = parcel_style_map;
        
            function drawNeighborParcelsAux(parcelsGML) {
                var prop = new OpenLayers.Format.GML().read(parcelsGML);
                neighborParcelLayer.addFeatures(prop);
            }
            function drawNeighborParcels() {
                var dataEntryHelper = Seam.Component.getInstance('dataEntryHelper');
                interactiveViewerHelper.getNeighborParcelsGML(drawNeighborParcelsAux);
            }
            function drawRequestedParcelsAux(parcelsGML) {
                var prop = new OpenLayers.Format.GML().read(parcelsGML);
                parcelFeaturesLayer.addFeatures(prop);
            }
            function drawRequestedParcels() {
                var dataEntryHelper = Seam.Component.getInstance('dataEntryHelper');
                interactiveViewerHelper.getRequestedParcelsGML(drawRequestedParcelsAux);
            }
        </script>
        
        <h:panelGroup id="drawParcelFunctions">
            <script type="text/javascript">
                function drawParcelsReRender() {
                    var reqParcelsGML = '#{generalHelper.escapeJS( dataEntryHelper.getRequestedParcelsGML() )}';
                    var neighParcelsGML = '#{generalHelper.escapeJS( dataEntryHelper.getNeighborParcelsGML() )}';
                    
                    var reqParcels = new OpenLayers.Format.GML().read(reqParcelsGML);
                    var neighParcels = new OpenLayers.Format.GML().read(neighParcelsGML);

                    parcelFeaturesLayer.destroyFeatures();
                    neighborParcelLayer.destroyFeatures();
                    
                    parcelFeaturesLayer.addFeatures(reqParcels);
                    neighborParcelLayer.addFeatures(neighParcels);
                }
            </script>
        </h:panelGroup>
                

        <div class="superMap">
            <div style="width:100%; height:65px; overflow:auto;">
                <rich:toolbar height="25" itemSeparator="line">
                    <rich:toolbarGroup rendered="#{dataEntryHelper.canMutateRRR}">
                        <h:panelGroup>
                            <sigit:simpleButton
                                value="#{messages['dataentry.rights_toolbox']}"
                                iconImage="/img/rights-icon.png"
                                tooltipText="#{messages['dataentry.rights_toolbox_desc']}"
                                tooltipDirection="bottomRight"
                                onclick="#{rich:component('rightsPanelToolbox')}.show()">
                            </sigit:simpleButton>
                            <sigit:simpleButton
                                value="#{messages['dataentry.restrictions_toolbox']}"
                                iconImage="/img/restrictions-icon.png"
                                tooltipText="#{messages['dataentry.restrictions_toolbox_desc']}"
                                tooltipDirection="bottomRight"
                                onclick="#{rich:component('restrictionsPanelToolbox')}.show()">
                            </sigit:simpleButton>
                            <sigit:simpleButton
                                value="#{messages['dataentry.responsibilities_toolbox']}"
                                iconImage="/img/responsibilities-icon.png"
                                tooltipText="#{messages['dataentry.responsibilities_toolbox_desc']}"
                                tooltipDirection="bottomRight"
                                onclick="#{rich:component('responsibilitiesPanelToolbox')}.show()">
                            </sigit:simpleButton>
                        </h:panelGroup>
                    </rich:toolbarGroup>
                    
                    <rich:toolbarGroup rendered="#{dataEntryHelper.canSplit or dataEntryHelper.canMerge}">
                        <h:panelGroup>
                            <sigit:simpleButton
                                value="#{messages['dataentry.split_toolbox']}"
                                iconImage="/img/split-icon.png"
                                tooltipText="#{messages['dataentry.split_toolbox_desc']}"
                                tooltipDirection="bottomRight"
                                onclick="#{rich:component('splitPanelToolbox')}.show()"
                                rendered="#{dataEntryHelper.canSplit}">
                            </sigit:simpleButton>
                            <sigit:simpleButton
                                value="#{messages['dataentry.merge_toolbox']}"
                                iconImage="/img/merge-icon.png"
                                tooltipText="#{messages['dataentry.merge_toolbox_desc']}"
                                tooltipDirection="bottomRight"
                                onclick="#{rich:component('mergePanelToolbox')}.show()"
                                rendered="#{dataEntryHelper.canMerge}">
                            </sigit:simpleButton>
                        </h:panelGroup>
                    </rich:toolbarGroup>
                    
                    <rich:toolbarGroup rendered="#{dataEntryHelper.canEditData}">
                        <sigit:simpleButton
                            value="#{messages['dataentry.editdata_toolbox']}"
                            iconImage="/img/edit.gif"
                            tooltipText="#{messages['dataentry.editdata_toolbox_desc']}"
                            tooltipDirection="bottomRight"
                            onclick="#{rich:component('editDataPanelToolbox')}.show()">
                        </sigit:simpleButton>
                    </rich:toolbarGroup>
                    
                    <rich:toolbarGroup>
                        <h:panelGroup>
                            <sigit:simpleButton
                                value="#{messages['interactiveviewer.layers']}"
                                iconImage="/img/layers-icon.png"
                                tooltipText="#{messages['interactiveviewer.layers_desc']}"
                                tooltipDirection="topRight"
                                onclick="#{rich:component('lightLayersToolbox')}.show()">
                            </sigit:simpleButton>
                            <sigit:simpleButton
                                value="#{messages['interactiveviewer.legend']}"
                                iconImage="/img/legend-icon.png"
                                tooltipText="#{messages['interactiveviewer.legend_desc']}"
                                tooltipDirection="topRight"
                                onclick="#{rich:component('legendToolbox')}.show()">
                            </sigit:simpleButton>
                        </h:panelGroup>
                    </rich:toolbarGroup>

                    <ui:remove>
                    <!-- NOTA: Funcionalidad de UNDO no se utilizara por ahora -->
                    <rich:toolbarGroup>
                        <sigit:simpleButton type="button" onclick="#{rich:component('undoPanelToolbox')}.show()">
                            <h:graphicImage id="undoImg" value="/img/undo-icon.png" width="24px" height="24px"/>
                            <br />
                            <h:outputLabel value="#{messages['dataentry.undo_toolbox']}" for="undoImg" style="font-weight:bold;" />
                            <rich:tooltip followMouse="true" direction="bottomRight" showDelay="500">
                                <span style="white-space:nowrap">
                                    #{messages['dataentry.undo_toolbox_desc']}
                                </span>
                            </rich:tooltip>
                        </sigit:simpleButton>
                    </rich:toolbarGroup>
                    </ui:remove>
                    
                    <rich:toolbarGroup location="right">
                        <sigit:simpleButton
                            value="#{messages['dataentry.refresh_toolbox']}"
                            iconImage="/img/refresh-icon.png"
                            tooltipText="#{messages['dataentry.refresh_toolbox_desc']}"
                            tooltipDirection="topRight"
                            onclick="drawParcels();">
                        </sigit:simpleButton>
                    </rich:toolbarGroup>
                    
                    <ui:remove>
                    <!-- LA AYUDA NO SE ESTA USANDO, PROVEER CONTENIDO PARA COLABORAR -->
                    <rich:toolbarGroup location="right" width="24px" height="24px">
                        <sigit:simpleButton type="button">
                            <h:graphicImage value="/img/help.png" width="25px" height="25px"/>
                            <br />
                            <h:outputLabel value="Ayuda" for="refreshImg" style="font-weight:bold;" />
                            <rich:tooltip direction="top-left" showEvent="onclick" zorder="10000">
                                <ui:include src="/WEB-INF/includes/showHelpIncl.xhtml">
                                    <ui:param name="width" value="500" />
                                    <ui:param name="mainMessage" value="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh." />
                                    
                                    <ui:param name="msgBullet"  value="EN DESARROLLO" />
                                    <ui:param name="msgBullet1" value="EN DESARROLLO" />
                                </ui:include>
                            </rich:tooltip>
                        </sigit:simpleButton>
                    </rich:toolbarGroup>
                    </ui:remove>
                    
                </rich:toolbar>
            </div>
            
            <div style="position: inherit; top: 65px; bottom: 0px; width: 100%;">    
                <m:map id="mapEditor" width="100%" height="100%" options="#{mapHelper.mapOptions(false)}" jsVariable="mapEditor">
                    <m:wmsLayer name="Centroides de predio"
                        url="#{generalHelper.wmsUrl}"
                        params="{layers: '#{generalHelper.primaryWMSLayer}', transparent: true, format: 'image/png'}"
                        options="{ projection: '#{generalHelper.workingSRS}', isBaseLayer: true }">
                    </m:wmsLayer>

                    <m:vectorLayer name="" jsVariable="vlayer"/>
                    <m:vectorLayer name="" jsVariable="polyLayer"/>
                    <m:vectorLayer name="parcelFeaturesLayer" jsVariable="parcelFeaturesLayer" />
                    <m:vectorLayer name="neighborParcelLayer" jsVariable="neighborParcelLayer"/>
                    <m:navigationControl />
                    <m:panZoomBarControl />
                    <m:layerSwitcherControl options="{ascending:false}"/>
                    <m:scaleLineControl />
                    <m:mousePositionControl />
                    <m:overviewMapControl />
                    <m:panelControl jsVariable="mapPanel">
                        <m:navigationControl options="{title:'#{messages['map.navigation']}'}"/>
                        <m:zoomBoxControl options="{title:'#{messages['map.zoom_box']}'}"/>
                        <m:zoomToMaxExtentControl options="{title:'#{messages['map.zoom_to_max_extent']}'}" />
                    </m:panelControl>
                    <m:script>
                        <h:outputText value="#{mapHelper.dataEntryMapScript}" />
                    </m:script>
                </m:map>
            </div>
        </div>

        <h:form id="misc">
            <a4j:jsFunction name="drawParcels" render="drawParcelFunctions" oncomplete="drawParcelsReRender()"/>
            <a4j:jsFunction id="finish" name="finish" action="#{transactionHelper.endDataEntry}"/>
            <a4j:jsFunction name="back2analysis" action="#{transactionHelper.dataEntryBackToAnalysis}"/>
            <a4j:jsFunction name="pause" action="home"/>
        </h:form>

        #{interactiveViewerHelper.setBorderEditMode('SPLIT_MERGE')}
        <ui:include src="/viewer/toolbox/split.xhtml"/>
        <ui:include src="/viewer/toolbox/mutateRRR.xhtml"/>
        <ui:include src="/viewer/toolbox/merge.xhtml"/>
        <ui:include src="/viewer/toolbox/editData.xhtml" />
        <ui:include src="/viewer/toolbox/lightLayers.xhtml" />
        <ui:include src="/viewer/toolbox/legend.xhtml" />
        
        <script type="text/javascript">
            drawParcels();
        </script>
    </ui:define>
</ui:composition>
