<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    template="/workflow/startTransactionTemplate.xhtml">

    <ui:define name="stepBody">
        <h:form>
            <style type="text/css">
                .col {
                    vertical-align:top;
                }
            </style>
        
            <h:panelGroup id="introEndGrp">
                <h:panelGroup rendered="#{not transactionHelper.finished}">
                    <ui:include src="/WEB-INF/includes/showHelpIncl.xhtml">
                        <ui:param name="width" value="500" />
                        <ui:param name="mainMessage" value="#{messages['introfin.requestcompleted']}" />
                        <ui:param name="observation" value="#{messages['introfin.observation']}:" />
                        
                        <ui:param name="msgBullet"  value="#{messages['introfin.observation1']}" />
                        <ui:param name="msgBullet1" value="#{messages['introfin.observation2']}" />
                        <ui:param name="msgBullet2" value="#{messages['introfin.observation3']}" />
                    </ui:include>
                
                    <div align="center">
                        <br/>
                        <strong>#{messages['introfin.transactiondata']}</strong>
                    </div>
                    <hr />
                    <h:panelGrid columns="2" columnClasses="col,col">
                        <h:outputText value="#{messages['intro.partyid']}:"/>
                        <h:outputText value="#{transactionHelper.partyFormalIdentity}"/>
                
                        <h:outputText value="#{messages['intro.fullname']}:"/>
                        <h:outputText value="#{transactionHelper.partyName}"/>
                        
                        <h:outputText value="#{messages['intro.cashierscode']}:"/>
                        <h:outputText value="#{transactionHelper.transaction.cashiersCode}"/>
                
                        <h:outputText value="#{messages['intro.payment']}:"/>
                        <h:outputText value="#{transactionHelper.transaction.payment}"/>
                
                        <h:outputText value="#{messages['intro.description']}:"/>
                        <h:inputTextarea value="#{transactionHelper.transaction.description}" readonly="true"
                                rows="5" cols="30"/>
                    </h:panelGrid>
                    
                    <br/>
                
                    <div align="center">
                        <strong>#{messages['introfin.attacheddocs']}</strong>
                    </div>
                    <hr />
                
                    <h:panelGroup id="tabla">
                        <h:outputText value="#{messages['introfin.nofilesattached']}" rendered="#{empty transactionHelper.attachedFiles}"/>
                        <br />
                        <rich:dataTable id="datosTabla" value="#{transactionHelper.attachedFiles}"
                                var="file" rowKeyVar="row" align="center"
                                rendered="#{not empty transactionHelper.attachedFiles}">
                            <rich:column>
                                <f:facet name="header">#{messages['intro2.description']}</f:facet>
                                <h:outputText value="#{file.descripcion}"/>
                            </rich:column>
                            
                            <rich:column>
                                <f:facet name="header">#{messages['txt.type']}</f:facet>
                                <h:outputText value="#{messages[file.adminSourceType.name()]}"/>
                            </rich:column>
                            
                            <rich:column>
                                <f:facet name="header">#{messages['introfin.filename']}</f:facet>
                                <h:outputText value="#{file.fileName}"/>
                            </rich:column>
                        </rich:dataTable>
                    </h:panelGroup>
                
                    <br />
                    <br />
                    <br />
                
                    <a4j:commandButton value="#{messages['BACK']}" action="#{transactionHelper.hasAttachedFiles}"/>
                    <h:outputText value="   "/>
                    <a4j:commandButton value="#{messages['button.ok']}" oncomplete="#{rich:component('strict-confirmation-dialog')}.show()">
                        <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['introfin.finish']}"/>
                        <f:setPropertyActionListener target="#{dialogHelper.confirmAction}" value="transactionHelper.beginProcess"/>
                        <f:setPropertyActionListener target="#{dialogHelper.reRenderList}" value="introEndGrp"/>
                        <f:setPropertyActionListener target="#{dialogHelper.width}" value="500"/>
                        <f:setPropertyActionListener target="#{dialogHelper.height}" value="20"/>
                    </a4j:commandButton>
                </h:panelGroup>
                
                <h:panelGroup rendered="#{transactionHelper.finished}">
                    <ui:include src="introConfIncl.xhtml" />
                </h:panelGroup>
            </h:panelGroup>
            <br />
            <br />
            <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
        </h:form>
    </ui:define>
</ui:composition>
