<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    template="/workflow/startTransactionTemplate.xhtml">

    <ui:define name="stepBody">
        <style type="text/css">
            .col {
                vertical-align:top;
            }
        </style>
    
    
        <table style="width:500px;" border="0">
            <tr>
                <td>
                    <rich:panel>
                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                            <tr>
                                <td width="10%" valign="top">
                                    <h:graphicImage value="/img/int_ayuda.gif" width="45" height="43" />
                                </td>
                                <td>
                                    <h:outputText value="#{messages['introconf.success']}" style="font-size:medium;font-weight:bold;" />
                                    
                                    <div style="height: 30px"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h:outputText value="#{messages['introconf.presentation_no_is']}" />
    
                                    <div style="height: 30px"/>
                                    
                                    <div align="center">
                                        <h:outputFormat value="{0} - {1}" style="text-align:center;color:DarkRed;font-size:medium;font-weight:bold;">
                                            <f:param value="#{configurationHelper.jurisdictionCode}"/>
                                            <f:param value="#{transactionHelper.paddedTransactionId}"/>
                                        </h:outputFormat>
                                    </div>
    
    
                                    <div style="height: 40px"/>
    
                                    <h:outputText value="#{messages['introconf.proceed']}" />
    
                                    <div style="height: 30px"/>
    
                                    <div align="center">
                                        <sigit:simpleButton type="button" onclick="#{rich:element('documentsReceipt')}.click()">
                                            <h:graphicImage id="printImg" value="/img/print-icon.png" width="24px" height="24px"/>
                                            <br />
                                            <h:outputLabel value="#{messages['interactiveviewer.print']}" for="printImg" style="font-weight:bold;" />
                                            <rich:tooltip followMouse="true" direction="topRight" showDelay="500">
                                                <span style="white-space:nowrap">
                                                    <h:outputText value="#{messages['interactiveviewer.print']}" />
                                                </span>
                                            </rich:tooltip>
                                        </sigit:simpleButton>
                                    </div>
                                    <div style="height: 40px"/>
                                </td>
                            </tr>
                        </table>
                    </rich:panel>
                </td>
            </tr>
        </table>
    
        <div style="height: 20px"/>
    
        <a4j:commandButton value="#{messages['FINISH']}" action="activities"/>
        
        <h:commandLink
            id="documentsReceipt" value="a"
            action="#{navigationHelper.navigateTo('/queries/reports/documentsReceipt')}"
            target="_blank" style="visibility:hidden;">
            <f:setPropertyActionListener target="#{transactionQueryHelper.selected}" value="#{transactionHelper.transaction}"/>
        </h:commandLink>
    </ui:define>
</ui:composition>
