<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/WEB-INF/esquema/plantillaworkflow.xhtml">

    <ui:define name="sidebar">
        <ui:include src="/WEB-INF/esquema/sidebar2.xhtml"/>
    </ui:define>

    <ui:define name="mainControls">
        <h:form>
            <a4j:commandButton value="#{messages['button.ok']}" oncomplete="#{rich:component('confirmation-dialog')}.show()">
                <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['presentation.finish']}"/>
                <f:setPropertyActionListener target="#{dialogHelper.jsFunction}" value="finish();"/>
            </a4j:commandButton>
            <a4j:commandButton value="#{messages['button.l8r']}" oncomplete="#{rich:component('confirmation-dialog')}.show()">
                <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['introfin.l8r']}"/>
                <f:setPropertyActionListener target="#{dialogHelper.jsFunction}" value="pause();"/>
            </a4j:commandButton>
        </h:form>
    </ui:define>

    <ui:define name="extraControls">
    </ui:define>

    <ui:define name="body">
        <style type="text/css">
            .col {
                vertical-align:top;
            }
        </style>
        
        <div align="center">
            <strong>#{messages['presentation.header']}</strong>
            <hr />
            <br/>

            <ui:include src="/WEB-INF/includes/showHelpIncl.xhtml">
                <ui:param name="width" value="500" />
                
                <ui:param name="msgBullet"  value="#{messages['presentation.instruction1']}" />
                <ui:param name="msgBullet1" value="#{messages['presentation.instruction2']}" />
                <ui:param name="msgBullet2" value="#{messages['presentation.instruction3']}" />
            </ui:include>

            <br/>
        </div>
        <div align="center">
            <br/>
            <strong>#{messages['introfin.transactiondata']}</strong>
            <hr />
            <br/>
            <h:form>
                <ui:include src="includes/inputInitialData.xhtml" />
                <a4j:jsFunction name="finish" action="#{transactionHelper.endPresentation}"/>
                <a4j:jsFunction name="pause" action="#{navigationHelper.navigateToHome}"/>
                
                <br/>
                <br/>
            </h:form>
            <h:form>
                <ui:include src="includes/mainAttachedFiles.xhtml">
                    <ui:param name="allowToAdd" value="#{true}" />
                </ui:include>
            </h:form>
        </div>
        
        <ui:include src="/WEB-INF/includes/selectParty.xhtml" />
    </ui:define>
    
</ui:composition>
