<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    
    template="/WEB-INF/esquema/plantillaworkflow.xhtml">

    <ui:define name="body">
        <div align="center">
            <br/>
            <strong>#{messages['return.header']}</strong>
            <hr />
            <br/>

            <ui:include src="/WEB-INF/includes/showHelpIncl.xhtml">
                <ui:param name="width" value="500" />
                <ui:param name="mainMessage" value="#{messages['return.message']}:" />
                
                <ui:param name="msgBullet"  value="#{messages['return.bullet1']}" />
                <ui:param name="msgBullet1" value="#{messages['return.bullet2']}" />
                <ui:param name="msgBullet2" value="#{messages['return.bullet3']}" />
            </ui:include>

            <br/>
        </div>
        <h:form>
            <br />
            
            <ui:include src="../viewTransaction.xhtml" />
            
            <br/>
            
            <a4j:commandButton value="#{messages['return.buttonok']}" action="#{transactionHelper.endReturn}"/>
            <a4j:commandButton value="#{messages['button.cancel']}" action="home">
                <s:conversationPropagation type="end"/>
            </a4j:commandButton>
        </h:form>
    </ui:define>
</ui:composition>
