<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    template="/workflow/startTransactionTemplate.xhtml">

    <ui:define name="stepBody">
        <h:form>
            <style type="text/css">
                .introCol1 {
                    vertical-align:top;
                    width:30%;
                }
                .introCol2 {
                    vertical-align:top;
                    width:70%;
                }
            </style>
            
            <div align="center">
                <h3>#{messages['intro.partydata']}</h3>
                <hr />
                <br/>
        
                <ui:include src="includes/inputInitialData.xhtml" />
            </div>
        
            <br />
            <h:selectBooleanCheckbox id="adjuntaArchivos"
                    value="#{transactionHelper.attachInfo}"/>
            <h:outputLabel value="#{messages['intro.attachinfo']}" for="adjuntaArchivos"/>
        
            <br />
            <br />
            <br />
                
            <a4j:commandButton
                value="#{messages['intro.next']} &gt;&gt;"
                action="#{transactionHelper.hasAttachedFiles}">
            </a4j:commandButton>
        </h:form>
    </ui:define>
</ui:composition>
