<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    
    xmlns:m="http://www.ol4jsf.org"
    
    xmlns:a4j="http://richfaces.org/a4j">

    <style>
        .noMaskClass .rich-mpnl-mask-div {
            display:none;
        }
        .legendDiv {
            width:100%;
            height:475px;
            overflow:auto;
        }
    </style>

    <rich:popupPanel id="legendToolbox" modal="false" minWidth="450" minHeight="525" resizeable="true" zindex="10000">
        <f:facet name="header">
            <h:outputText value="#{messages['interactiveviewer.legend_desc']}"/>
        </f:facet>
        
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="legendToolbox" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
        
        <div align="center" class="legendDiv">
            <ui:include src="includes/legendContentIncl.xhtml" />
        </div>
    </rich:popupPanel>
    
</ui:component>

