<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    xmlns:a4j="http://richfaces.org/a4j">

    <style>
        .noMaskClass .rich-mpnl-mask-div {
            display:none;
        }
        .contentEditData {
            width:100%;
            height:290px;
            overflow:auto;
        }
    </style>



    <rich:popupPanel id="lightLayersToolbox" modal="false" minWidth="500" minHeight="590" resizeable="true" zindex="10000">
        <f:facet name="header">
            <h:outputText value="Capas"/>
        </f:facet>
        
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="lightLayersToolbox" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
        
        <br />
        
        <div align="center">
            <rich:tabPanel switchType="client">
                <rich:tab header="Capas">
                    <div align="center">
                        <h:form>
                            <br />
                            <strong>Capas</strong>
                            <hr />
                            <br />
                            <rich:dataTable id="dtLayerSelect" value="#{interactiveViewerHelper.layerHelper.layerDisplayData}" var="ldd" style="width:90%">
                                <rich:column>
                                    <f:facet name="header">Nombre</f:facet>
                                    <h:outputText value="#{ldd.layer.name}" />
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">Visible</f:facet>
                                    <h:selectBooleanCheckbox value="#{ldd.visible}">
                                        <a4j:ajax
                                            event="change"
                                            render="grpMapLegend"
                                            oncomplete="setLayerVisible( '#{generalHelper.layerFullQualifiedName(ldd.layer)}', #{ldd.visible} )">
                                        </a4j:ajax>
                                    </h:selectBooleanCheckbox>
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">Ampliar a</f:facet>
                                    <sigit:simpleButton type="button" onclick="zoomToExtent(#{ldd.extents.x1}, #{ldd.extents.y1}, #{ldd.extents.x2}, #{ldd.extents.y2})">
                                        <h:graphicImage width="16" height="16" value="/img/drag-rectangle-on.png" />
                                    </sigit:simpleButton>
                                </rich:column>
                            </rich:dataTable>
                            
                            
                            <script type="text/javascript">
                                function dataTableChangedSelected(check) {
                                    var id = check.name.substring(check.name.lastIndexOf(':'));
                                    var el = check.form.elements;
                                    for (var i = 0; i &lt; el.length; i++) {
                                        if (el[i].name.substring(el[i].name.lastIndexOf(':')) == id) {
                                            el[i].checked = false;
                                        }
                                    }
                                    check.checked = true;
                                }
                            </script>
                            
                        </h:form>
                    </div>
                </rich:tab>
                <rich:tab header="Descargar capa">
                    <div align="center">
                        <ui:remove>
                        <strong>Descargar capa</strong>
                        <hr />
                        </ui:remove>
                        
                        <br />
        
                        <ui:include src="/WEB-INF/includes/showHelpIncl.xhtml">
                            <ui:param name="width" value="95%" />
                            <ui:param name="mainMessage" value="IMPORTANTE:" />
                            
                            <ui:param name="msgBullet"  value="El proceso de descargar capa toma los datos de la capa en la base de datos espacial y los descarga como archivo Shape." />
                            <ui:param name="msgBullet1" value="El conjunto de archivos descargados no puede utilizarse para realizar modificaciones de vuelta a la capa descargada y solamente es para efectos de conveniencia de intercambio de datos con otros paquetes geograficos." />
                        </ui:include>
        
                        <br />
                        <br />
                        
                        <h:form>
                            <ui:remove>
                                <!-- Action for command button below -->
                                #{interactiveViewerHelper.layerHelper.downloadSelectedLayer()}
                            </ui:remove>
                            <sigit:simpleButton type="submit" action="">
                                <h:graphicImage value="/img/download-icon.png" />
                                <br />
                                <h:outputLabel value="Descargar capa" style="font-weight:bold;"/>
                                <rich:tooltip followMouse="true" direction="topRight" showDelay="500" styleClass="tooltip">
                                    <span style="white-space:nowrap">
                                        Descargar capa
                                    </span>
                                </rich:tooltip>
                            </sigit:simpleButton>
                        </h:form>
                    </div>
                </rich:tab>
            </rich:tabPanel>
            
            <br />
            <br />
            
            <br />
        </div>
    </rich:popupPanel>
    
    
    <ui:remove>
    <!-- FIXME THIS WILL ONLY BE SHOWN IN NO-TRANSACTION VIEWER -->
                        <ui:remove>
                        <strong>Descargar capa</strong>
                        <hr />
                        </ui:remove>
                        
                        <br />
        
                        <ui:include src="/WEB-INF/includes/showHelpIncl.xhtml">
                            <ui:param name="width" value="95%" />
                            <ui:param name="mainMessage" value="IMPORTANTE:" />
                            
                            <ui:param name="msgBullet"  value="El proceso de descargar capa toma los datos de la capa en la base de datos espacial y los descarga como archivo Shape." />
                            <ui:param name="msgBullet1" value="El conjunto de archivos descargados no puede utilizarse para realizar modificaciones de vuelta a la capa descargada y solamente es para efectos de conveniencia de intercambio de datos con otros paquetes geograficos." />
                        </ui:include>
        
                        <br />
                        <br />
                        
                        
                        <ui:remove>
                            <!-- Action for command button below -->
                            #{interactiveViewerHelper.layerHelper.downloadSelectedLayer()}
                        </ui:remove>
                        <sigit:simpleButton type="submit" action="">
                            <h:graphicImage value="/img/download-icon.png" />
                            <br />
                            <h:outputLabel value="Descargar capa" style="font-weight:bold;"/>
                            <rich:tooltip followMouse="true" direction="topRight" showDelay="500" styleClass="tooltip">
                                <span style="white-space:nowrap">
                                    Descargar capa
                                </span>
                            </rich:tooltip>
                        </sigit:simpleButton>
    </ui:remove>
</ui:component>

