<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j">

    <style>
        .noMaskClass .rich-mpnl-mask-div {
            display:none;
        }
        .contentRights {
            width:100%;
            overflow:auto;
        }
    </style>
    
    
    <h:panelGroup id="panelRRR">
        <rich:popupPanel id="rightsPanelToolbox" modal="false" minWidth="530" minHeight="565" zindex="10000">
            <f:facet name="header">
                <h:outputText value="#{messages['dataentry.rights_toolbox_desc']}"/>
            </f:facet>
            <f:facet name="controls">
                <h:panelGroup>
                    <h:graphicImage value="/img/close.png" styleClass="hidelink"
                    onclick="#{rich:component('rightsPanelToolbox')}.hide()"/>
                </h:panelGroup>
            </f:facet>
            
            <h:panelGroup id="panelRights">
                <ui:include src="includes/mutateRights.xhtml" />
            </h:panelGroup>
        </rich:popupPanel>
        
        <rich:popupPanel id="restrictionsPanelToolbox" modal="false" minWidth="530" minHeight="565" zindex="10000">
            <f:facet name="header">
                <h:outputText value="#{messages['dataentry.restrictions_toolbox_desc']}"/>
            </f:facet>
            <f:facet name="controls">
                <h:panelGroup>
                    <h:graphicImage value="/img/close.png" styleClass="hidelink"
                    onclick="#{rich:component('restrictionsPanelToolbox')}.hide()"/>
                </h:panelGroup>
            </f:facet>
            
            <h:panelGroup id="panelRestrictions">
                <ui:include src="includes/mutateRestrictions.xhtml" />
            </h:panelGroup>
        </rich:popupPanel>
        
        
        <rich:popupPanel id="responsibilitiesPanelToolbox" modal="false" minWidth="530" minHeight="565" zindex="10000">
            <f:facet name="header">
                <h:outputText value="#{messages['dataentry.responsibilities_toolbox_desc']}"/>
            </f:facet>
            <f:facet name="controls">
                <h:panelGroup>
                    <h:graphicImage value="/img/close.png" styleClass="hidelink"
                    onclick="#{rich:component('responsibilitiesPanelToolbox')}.hide()"/>
                </h:panelGroup>
            </f:facet>
            
            <h:panelGroup id="panelResponsibilities">
                <ui:include src="includes/mutateResponsibilities.xhtml" />
            </h:panelGroup>
        </rich:popupPanel>
    </h:panelGroup>

    <ui:include src="/WEB-INF/includes/selectParty.xhtml" />
</ui:composition>
