<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    
    xmlns:m="http://www.ol4jsf.org"
    
    xmlns:a4j="http://richfaces.org/a4j">

    <style>
        .noMaskClass .rich-mpnl-mask-div {
            display:none;
        }
        .contentRights {
            width:100%;
            height:155px;
            overflow:auto;
        }
    </style>
    
    <h:outputScript library="js" name="baseMath.js" target="head"/>
    <h:outputScript library="js" name="createSplit.js" target="head"/>
    

    <h:panelGroup id="drawBoundaryFunctions">
        <script type="text/javascript">
            function drawBoundaryReRender() {
                var wkt = '#{interactiveViewerHelper.borderHelper.borderWKT}';
                if (wkt != null) {
                    if (wkt == '') {
                        clearMap();
                    }
                    else {
                        var borderFeature = new OpenLayers.Format.WKT().read(wkt);
                        clearMap();
                        vlayer.addFeatures([borderFeature]);
                    }
                }
            }
        </script>
    </h:panelGroup>
    
    <h:form>
        <a4j:jsFunction name="drawBoundary"
            render="drawBoundaryFunctions"
            oncomplete="drawBoundaryReRender()">
        </a4j:jsFunction>
    </h:form>


    <rich:popupPanel id="splitPanelToolbox" modal="false" minWidth="520" minHeight="510" resizeable="true" zindex="10000">
        <f:facet name="header">
            <h:outputText value="#{interactiveViewerHelper.borderOperationTitle}" />
        </f:facet>
        
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="splitPanelToolbox" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>

        <h:panelGroup id="splitParcelPanel" rendered="#{interactiveViewerHelper.borderEditMode == 'SPLIT_MERGE' or interactiveViewerHelper.borderEditMode == 'MIXED'}">
            <ui:include src="includes/selectedZoneTlb.xhtml" />
        </h:panelGroup>

        <rich:tabPanel switchType="client">
            <rich:tab header="#{messages['txt.method']} 1">
                <ui:include src="includes/borderMethod1.xhtml" />
            </rich:tab>
            
            <rich:tab header="#{messages['txt.method']} 2">
                <ui:include src="includes/borderMethod2.xhtml" />
            </rich:tab>
            
            <rich:tab header="#{messages['txt.method']} 3">
                <ui:include src="includes/borderMethod3.xhtml" />
            </rich:tab>
        </rich:tabPanel>
                
        <br />

        <h:form rendered="#{interactiveViewerHelper.borderEditMode != 'NONE'}">
            <div align="center">
                <a4j:commandButton value="Aplicar cambios" action="#{interactiveViewerHelper.borderHelper.doOperation}"
                        render="#{interactiveViewerHelper.reRenderList}, coords, bearingAndDistanceTable"
                        rendered="#{interactiveViewerHelper.borderEditMode == 'SPLIT_MERGE' or interactiveViewerHelper.borderEditMode == 'MIXED'}"
                        oncomplete="if (#{facesContext.maximumSeverity==null}) {drawParcelsReRender(); resetInputs();} else #{rich:component('msgPanel')}.show();">
                    <f:setPropertyActionListener target="#{interactiveViewerHelper.borderHelper.viewerCallable}" value="#{interactiveViewerHelper.splitCallable}" />
                </a4j:commandButton>
                <a4j:commandButton value="Crear Zona espacial" action="#{interactiveViewerHelper.borderHelper.doOperation}"
                        render="#{interactiveViewerHelper.reRenderList}, grpDrawCreatedZone, coords, bearingAndDistanceTable"
                        rendered="#{interactiveViewerHelper.borderEditMode == 'CREATE' or interactiveViewerHelper.borderEditMode == 'MIXED'}"
                        oncomplete="if (#{facesContext.maximumSeverity==null}) {drawCreatedZoneJS(); drawParcelsReRender(); resetInputs();} else #{rich:component('msgPanel')}.show();">
                    <f:setPropertyActionListener target="#{interactiveViewerHelper.borderHelper.viewerCallable}" value="#{interactiveViewerHelper.createZoneCallable}" />
                </a4j:commandButton>
            </div>
        </h:form>
    </rich:popupPanel>
    

    <h:form>
        <a4j:jsFunction name="deleteLastBoundaryPoint"
            action="#{interactiveViewerHelper.borderHelper.deleteLastBoundaryPoint}"
            render="drawBoundaryFunctions, coords, bearingAndDistanceTable"
            oncomplete="drawBoundaryReRender()">
        </a4j:jsFunction>
        <a4j:jsFunction name="clearBoundary"
            action="#{interactiveViewerHelper.borderHelper.clearBoundary}"
            render="coords, bearingAndDistanceTable"
            oncomplete="resetInputs(); clearMap();">
        </a4j:jsFunction>
        <a4j:jsFunction
            name="uploadFileFun"
            action="#{interactiveViewerHelper.borderHelper.uploadNewFile}"
            render="frmUploadFile"
            oncomplete="#{rich:component('uploadFileDlg')}.show();">
        </a4j:jsFunction>
    </h:form>
    
    
    <ui:include src="includes/borderUploadFile.xhtml" />
</ui:component>

