<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:sigit="http://java.sun.com/jsf/composite/components">

    <rich:popupPanel id="viewerPrintDlg" width="420" height="360" resizeable="false" zindex="10050">
        <f:facet name="header">
            <h:outputText value="#{messages['interactiveviewer.print_map']}"/>
        </f:facet>
        
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="viewerPrintDlg" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
        
        <div align="center">
            <h:form id="frmViewerPrint">
                <h:outputText value="#{messages['viewerprint.map_title']}" style="font-weight:bold;"/>
                <hr />
                <br />
                <h:inputText value="#{viewerPrintHelper.title}" style="width:98%"/>
                
                <br />
                <br />
                <br />
                
                <table style="width: 100%">
                    <tr valign="top" align="center">
                        <td width="70%">
                            <h:outputText value="#{messages['viewerprint.scale_options']}" style="font-weight:bold;" />
                            <hr />
                        </td>
                        <td>
                            <h:outputText value="#{messages['viewerprint.elements_to_print']}" style="font-weight:bold;" />
                            <hr />
                        </td>
                    </tr>
                    <tr valign="top">
                        <td>
                            <h:selectOneRadio value="#{viewerPrintHelper.scaleOption}" layout="pageDirection">
                                <f:selectItem itemValue="AUTOMATIC" itemLabel="#{messages['viewerprint.automatic_scale']}"/>
                                <f:selectItem itemValue="CUSTOM" itemLabel="#{messages['viewerprint.custom_scale']}"/>
                            </h:selectOneRadio>
                            <h:outputText value="#{messages['viewerprint.custom_scale_txt']}" />
                            <br />
                            <h:inputText value="#{viewerPrintHelper.customScaleText}" />
                        </td>
                        <td>
                            <h:panelGrid columns="2">
                                <h:selectBooleanCheckbox id="chkPrintTitle" value="#{viewerPrintHelper.printTitle}" />
                                <h:outputLabel value="#{messages['viewerprint.map_title']}" for="chkPrintTitle"/>
                                
                                <h:selectBooleanCheckbox id="chkPrintScale" value="#{viewerPrintHelper.printScale}" />
                                <h:outputLabel value="#{messages['viewerprint.scale']}" for="chkPrintScale"/>
                                
                                <h:selectBooleanCheckbox id="chkPrintLegend" value="#{viewerPrintHelper.printLegend}" />
                                <h:outputLabel value="#{messages['viewerprint.legend']}" for="chkPrintLegend"/>
                            </h:panelGrid>
                        </td>
                    </tr>
                </table>

                
    
                <!-- Cambiar a inputHidden despues -->
                <h:inputHidden id="clientExtentLeft" value="#{viewerPrintHelper.clientExtent.left}" />
                <h:inputHidden id="clientExtentBottom" value="#{viewerPrintHelper.clientExtent.bottom}" />
                <h:inputHidden id="clientExtentRight" value="#{viewerPrintHelper.clientExtent.right}" />
                <h:inputHidden id="clientExtentTop" value="#{viewerPrintHelper.clientExtent.top}" />
    
                <a4j:jsFunction
                    name="submitPrintData" execute="@form"
                    action="#{viewerPrintHelper.doPrint}"
                    oncomplete="if (#{facesContext.maximumSeverity == null}) { setTimeout(function() { doClick(); }, 1); } else #{rich:component('msgPanel')}.show();">
                </a4j:jsFunction>
                <script type="text/javascript">
                    function preparePrintData() {
                        var extent = mapEditor.getExtent();
        
                        #{rich:element('clientExtentLeft')}.value = extent.left;
                        #{rich:element('clientExtentBottom')}.value = extent.bottom;
                        #{rich:element('clientExtentRight')}.value = extent.right;
                        #{rich:element('clientExtentTop')}.value = extent.top;

                        setTimeout(function() {submitPrintData();}, 1);
                    }

                    function doClick() {
                        console.log('do clicking');
                        #{rich:element('viewerPrintout')}.click();
                        console.log('finished clicking');
                    }
                </script>
                <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
            </h:form>
            
            <h:form>
                <h:commandLink
                    id="viewerPrintout" value="imprimir!"
                    action="#{viewerPrintHelper.showPrint}"
                    target="_blank" style="visibility:hidden;">
                </h:commandLink>
            </h:form>
            
            <br />
            <sigit:simpleButton
                value="#{messages['interactiveviewer.print']}"
                onclick="preparePrintData()"
                iconImage="/img/print-icon.png">
            </sigit:simpleButton>
        </div>
    </rich:popupPanel>
</ui:composition>
