<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <h:form id="frmSelectLandUse">
        <h:panelGroup id="funCompleteSelection" rendered="#{not selectLandUseHelper.landUseNameInputFieldName.equals('')}">
            <script type="text/javascript">
                function completeSelection() {
                    #{rich:element(selectLandUseHelper.landUseNameInputFieldName)}.value = '#{selectLandUseHelper.selectedNameStr}';
                    #{rich:component('selectLandUsePanel')}.hide();
                }
            </script>
        </h:panelGroup>
        
        <h:panelGroup id="frmLandUse">
            <rich:toolbar style="height:25px">
                <rich:toolbarGroup location="left">
                    <h:outputText value="Nivel: #{selectLandUseHelper.currentLevel}" />
                </rich:toolbarGroup>
                <rich:toolbarGroup location="left" style="width:200px">
                    <h:selectOneMenu value="#{selectLandUseHelper.selectedDomain}" converter="#{uiConverters.landUseDomain}">
                        <f:selectItems value="#{uiConverters.landUseDomain.selectItems(selectLandUseHelper.landUseDomainList)}"/>
                        <a4j:ajax event="change" execute="@this" render="frmLandUse"/>
                    </h:selectOneMenu>
                </rich:toolbarGroup>
                <rich:toolbarGroup location="right">
                    <a4j:commandLink
                        value="Nivel superior"
                        action="#{selectLandUseHelper.rollUp}"
                        render="frmLandUse"
                        rendered="#{selectLandUseHelper.currentLevel gt 0}">
                    </a4j:commandLink>
                </rich:toolbarGroup>
            </rich:toolbar>    
            
            <div style="height:10px"/>
            
            <div style="width:100%;height:95%;overflow:auto;">
                <rich:dataTable id="dtLandUse" var="lu" value="#{selectLandUseHelper.landUseList}" rows="15" width="100%" columnsWidth="10%,70%,20%">
                    <f:facet name="header">
                        <rich:dataScroller maxPages="15"></rich:dataScroller>
                    </f:facet>
                    <f:facet name="footer">
                        <rich:dataScroller maxPages="15"></rich:dataScroller>
                    </f:facet>

                    <rich:column style="text-align:right;">
                        <f:facet name="header">
                            <h:outputText value="Codigo" />
                        </f:facet>
                        <h:outputText value="#{lu.completeCode}" />
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Nombre" />
                        </f:facet>
                        <a4j:commandLink
                            value="#{lu.name}"
                            action="#{selectLandUseHelper.drillDown(lu)}"
                            render="frmLandUse"
                            rendered="#{not lu.leaf}">
                        </a4j:commandLink>
                        <h:outputText value="#{lu.name}" rendered="#{lu.leaf}" />
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Leyenda" />
                        </f:facet>
                        <center>
                            <h:panelGrid columns="2">
                            <ui:include src="/WEB-INF/includes/landUse/landUseLegend.xhtml">
                                <ui:param name="lu" value="#{lu}" />
                            </ui:include>
                            <a4j:commandLink rendered="#{editCompatibilities}" value="..."
                                action="#{selectLandUseHelper.editLegend(lu)}"
                                render="frmLegendDlg"
                                oncomplete="#{rich:component('legendDlg')}.show()"
                                title="Editar leyenda">
                            </a4j:commandLink>
                            </h:panelGrid>
                        </center>
                    </rich:column>
                    <rich:column style="text-align:center;">
                        <f:facet name="header">
                            <h:outputText value="Compatibilidades" />
                        </f:facet>
                        <a4j:commandLink
                            value="#{editCompatibilities ? 'Editar' : 'Ver'}"
                            action="#{selectLandUseHelper.select(lu)}"
                            render="frmCompatibility"
                            oncomplete="#{rich:component('compatibilityDlg')}.show()">
                        </a4j:commandLink>
                    </rich:column>
                    <rich:column rendered="#{not editCompatibilities}">
                        <a4j:commandLink
                            value="#{messages['button.select']}"
                            rendered="#{selectLandUseHelper.landUseNameInputFieldName.equals('')}"
                            action="#{selectLandUseHelper.select(lu)}"
                            render="#{selectLandUseHelper.reRenderComponents}"
                            oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('selectLandUsePanel')}.hide(); else #{rich:component('msgPanel')}.show();">
                        </a4j:commandLink>
                        <a4j:commandLink
                            value="#{messages['button.select']}"
                            rendered="#{not selectLandUseHelper.landUseNameInputFieldName.equals('')}"
                            action="#{selectLandUseHelper.select(lu)}"
                            render="funCompleteSelection,#{selectLandUseHelper.reRenderComponents}"
                            oncomplete="completeSelection()">
                        </a4j:commandLink>
                    </rich:column>
                </rich:dataTable>
            </div>
        </h:panelGroup>
        <br/>
    </h:form>
    
    <rich:popupPanel id="compatibilityDlg" width="400" height="450" zindex="11000">
        <f:facet name="header">
            <h:outputText value="Compatibilidades de tipo de uso"/>
        </f:facet>
        
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="compatibilityDlg" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
        
        <div align="center">
            <h:outputText value="#{generalHelper.landUseName(selectLandUseHelper.selected)}" style="font-weight:bold;"/>
            <hr />
            <br />
            <h:form id="frmCompatibility">
                <h:panelGroup rendered="#{editCompatibilities}">
                    <a4j:commandLink value="#{messages['txt.add']}"
                        render="frmSimpleSelectLandUse"
                        oncomplete="#{rich:component('simpleSelectLandUsePanel')}.show()">
                        <f:setPropertyActionListener target="#{simpleLandUseHelper.reRenderComponents}" value="frmCompatibility" />
                        <f:setPropertyActionListener target="#{simpleLandUseHelper.addingToList}" value="#{true}" />
                        <f:setPropertyActionListener target="#{simpleLandUseHelper.addToListMethod}" value="selectLandUseHelper.addCompatibility" />
                        <f:setPropertyActionListener target="#{simpleLandUseHelper.returnValueField}" value="selectLandUseHelper.pickedLandUse" />
                    </a4j:commandLink>
                    <br />
                    <br />
                </h:panelGroup>
                <rich:dataTable id="compatibilityTable"
                    width="95%"
                    rendered="#{not empty selectLandUseHelper.selected.compatibleLandUses}"
                    value="#{selectLandUseHelper.selected.compatibleLandUses}"
                    var="lu">
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['txt.code']}" />
                        </f:facet>
                        <h:outputText value="#{lu.completeCode}" />
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['txt.name']}" />
                        </f:facet>
                        <h:outputText value="#{lu.name}" />
                    </rich:column>
                    <rich:column rendered="#{editCompatibilities}">
                        <a4j:commandLink value="#{messages['txt.delete']}" action="#{selectLandUseHelper.deleteCompatibility}" render="frmCompatibility">
                            <f:setPropertyActionListener target="#{selectLandUseHelper.pickedLandUse}" value="#{lu}" />
                        </a4j:commandLink>
                    </rich:column>
                </rich:dataTable>
                
                <h:panelGroup rendered="#{empty selectLandUseHelper.selected.compatibleLandUses}">
                    <h:outputText value="No se encontraron compatibilidades" />
                </h:panelGroup>
            </h:form>
        </div>
    </rich:popupPanel>
    
    <rich:popupPanel id="legendDlg" minWidth="500" minHeight="400" zindex="11000" resizeable="#{false}">
        <f:facet name="header">
            <h:outputText value="Leyenda de #{generalHelper.landUseName(selectLandUseHelper.selected)}"/>
        </f:facet>
        
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="legendDlg" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
        
        <div align="center">
            <h:form id="frmLegendDlg" rendered="#{editCompatibilities}">
                <rich:panel style="height:320px">
                    <h:outputText value="Relleno / Fondo" style="text-align:center;font-weight:bold;" />
                    <hr />
                    <br />
                    <table style="width:100%">
                        <tr>
                            <td width="100px">
                                <h:outputText value="Color de relleno" />
                            </td>
                            <td>
                                <input type="color" style="width:70%" value="#{selectLandUseHelper.styleInfoFillColor}" onchange="#{rich:element('fillColor')}.value = this.value"/>
                                <h:inputHidden id="fillColor" value="#{selectLandUseHelper.styleInfoFillColor}" />
                                <br />
                                Haga clic en el boton de color arriba 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputText value="Opacidad (%)" />
                            </td>
                            <td>
                                <rich:inputNumberSlider minValue="0" maxValue="100" width="100%" value="#{selectLandUseHelper.styleInfoOpacity}" />
                            </td>
                        </tr>
                    </table>
                    
                    <div style="height:20px;"/>
                    
                    <h:outputText value="Borde" style="font-weight:bold;" />
                    <hr />
                    <br />
                    <table style="width:100%">
                        <tr>
                            <td width="100px">
                                <h:outputText value="Color de borde" />
                            </td>
                            <td>
                                <input type="color" style="width:70%" value="#{selectLandUseHelper.styleInfoStrokeColor}" onchange="#{rich:element('strokeColor')}.value = this.value"/>
                                <h:inputHidden id="strokeColor" value="#{selectLandUseHelper.styleInfoStrokeColor}" />
                                <br />
                                Haga clic en el boton de color arriba 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h:outputText value="Ancho de borde (%)" />
                            </td>
                            <td>
                                <rich:inputNumberSlider minValue="0" maxValue="200" width="100%" value="#{selectLandUseHelper.styleInfoStrokeWidth}" />
                            </td>
                        </tr>
                    </table>
                </rich:panel>
                
                <div style="height:15px"/>
                
                <input type="button" value="#{messages['button.ok']}" onclick="applyStyle();" />
                <input type="button" value="#{messages['button.cancel']}" onclick="#{rich:component('legendDlg')}.hide()"/>
            
                <a4j:jsFunction
                    name="applyStyle"
                    execute="@form"
                    render="dtLandUse"
                    action="#{selectLandUseHelper.applyLegendChange}"
                    oncomplete="if (#{facesContext.maximumSeverity != null}) #{rich:component('msgPanel')}.show(); else #{rich:component('legendDlg')}.hide(); ">
                </a4j:jsFunction>
                
                <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
            </h:form>
        </div>
    </rich:popupPanel>
    
    
    <ui:include src="/WEB-INF/includes/util/simpleSelectLandUse.xhtml" />

</ui:component>
