<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <div style="
        background-color:#{lu.styleInfo.fillColor};opacity:#{lu.styleInfo.fillOpacity};
        border:#{lu.styleInfo.strokeWidth}px solid #{lu.styleInfo.strokeColor};
        width:15px;height:15px;">
    </div>

</ui:component>
