<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <h:form id="frmSimpleSelectLandUse">
        <h:panelGroup id="funCompleteSelection" rendered="#{not simpleLandUseHelper.landUseNameInputFieldName.equals('')}">
            <script type="text/javascript">
                function completeSelection() {
                    #{rich:element(simpleLandUseHelper.landUseNameInputFieldName)}.value = '#{simpleLandUseHelper.selectedNameStr}';
                    #{rich:component('selectLandUsePanel')}.hide();
                }
            </script>
        </h:panelGroup>
        
        <h:panelGroup id="frmSimpleLandUse">
            <rich:toolbar style="height:25px">
                <rich:toolbarGroup location="left">
                    <h:outputText value="Nivel: #{simpleLandUseHelper.currentLevel}" />
                </rich:toolbarGroup>
                <rich:toolbarGroup location="left" style="width:200px">
                    <h:selectOneMenu value="#{simpleLandUseHelper.selectedDomain}" converter="#{uiConverters.landUseDomain}">
                        <f:selectItems value="#{uiConverters.landUseDomain.selectItems(simpleLandUseHelper.landUseDomainList)}"/>
                        <a4j:ajax event="change" execute="@this" render="frmSimpleLandUse"/>
                    </h:selectOneMenu>
                </rich:toolbarGroup>
                <rich:toolbarGroup location="right">
                    <a4j:commandLink
                        value="Nivel superior"
                        action="#{simpleLandUseHelper.rollUp}"
                        render="frmSimpleLandUse"
                        rendered="#{simpleLandUseHelper.currentLevel gt 0}">
                    </a4j:commandLink>
                </rich:toolbarGroup>
            </rich:toolbar>    
            
            <br />
            <br />
            
            <div style="width:100%;height:420px;overflow:auto;">
                <rich:dataTable id="dtLandUse" var="lu" value="#{simpleLandUseHelper.landUseList}" rows="15" width="100%" columnsWidth="10%,70%,20%">
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['txt.code']}" />
                        </f:facet>
                        <h:outputText value="#{lu.completeCode}" />
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['txt.name']}" />
                        </f:facet>
                        <a4j:commandLink
                            value="#{lu.name}"
                            action="#{simpleLandUseHelper.drillDown(lu)}"
                            render="frmSimpleLandUse"
                            rendered="#{not lu.leaf}">
                        </a4j:commandLink>
                        <h:outputText value="#{lu.name}" rendered="#{lu.leaf}" />
                    </rich:column>
                    <rich:column>
                        <a4j:commandLink
                            value="#{messages['button.select']}"
                            rendered="#{simpleLandUseHelper.landUseNameInputFieldName.equals('')}"
                            action="#{simpleLandUseHelper.select(lu)}"
                            render="#{simpleLandUseHelper.reRenderComponents}"
                            oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('simpleSelectLandUsePanel')}.hide(); else #{rich:component('msgPanel')}.show();">
                        </a4j:commandLink>
                        <a4j:commandLink
                            value="#{messages['button.select']}"
                            rendered="#{not simpleLandUseHelper.landUseNameInputFieldName.equals('')}"
                            action="#{simpleLandUseHelper.select(lu)}"
                            render="funCompleteSelection"
                            oncomplete="completeSelection()">
                        </a4j:commandLink>
                    </rich:column>
                </rich:dataTable>
            </div>
        </h:panelGroup>
        <br/>
    </h:form>
</ui:component>
