<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <strong>ANALISIS ADMINISTRATIVO</strong>
    <hr />
    <br/>

    <rich:panel header="I.- Tipos de uso compatibles">
        <table>
            <tr valign="top">
                <th>
                    <h:outputText value="Tipo de uso primario solicitado" />
                </th>
                <td>
                    <h:outputText
                        rendered="#{operationPermitHelper.permit.landUse != null}"
                        value="#{operationPermitHelper.selectedLandUseName}">
                    </h:outputText>
                    <h:outputText
                        rendered="#{operationPermitHelper.permit.landUse == null}"
                        value="Ninguno especificado">
                    </h:outputText>
                </td>
            </tr>
            <tr valign="top">
                <th>
                    <h:outputText value="Otros tipos de usos solicitados" />
                </th>
                <td>
                    <h:panelGroup rendered="#{not empty operationPermitHelper.permit.otherLandUses}">
                        <ul>
                            <ui:repeat var="lu" value="#{operationPermitHelper.permit.otherLandUses}">
                                <li>#{generalHelper.formatLandUseText(lu)}</li>
                            </ui:repeat>
                        </ul>
                    </h:panelGroup>
                    <h:outputText
                        rendered="#{empty operationPermitHelper.permit.otherLandUses}"
                        value="Ninguno especificado">
                    </h:outputText>
                </td>
            </tr>
        </table>
        <br />
        <h:panelGroup rendered="#{not empty operationPermitHelper.landUseRestrictingSZList}">
            <h:graphicImage value="/img/wrong-icon.png" />
            <br />
            <h:outputText value="Se encontraron las siguientes restricciones" style="color:Red;"/>
            <br />
            <br />
            <rich:dataTable
            value="#{operationPermitHelper.landUseRestrictingSZList}"
            var="sz" rowKeyVar="row">
                <rich:column>
                    <f:facet name="header">No.</f:facet>
                    #{row + 1}
                </rich:column>
                <rich:column>
                    <f:facet name="header">Zona</f:facet>
                    <h:outputText value="#{generalHelper.getZoneUsefulName(sz)}" />
                </rich:column>
                <rich:column>
                    <f:facet name="header">Capa</f:facet>
                    <h:outputText value="#{generalHelper.formatLevelText(sz.level)}" />
                </rich:column>
                <rich:column>
                    <f:facet name="header">Tipo(s) de uso restrictor(es)</f:facet>
                    <ul>
                        <ui:repeat var="lu" value="#{operationPermitHelper.szLandUses(sz)}">
                            <li>
                                <h:outputText value="#{generalHelper.formatLandUseText(lu)}" />
                            </li>
                        </ui:repeat>
                    </ul>
                </rich:column>
            </rich:dataTable>
        </h:panelGroup>
        <h:panelGroup rendered="#{empty operationPermitHelper.landUseRestrictingSZList}">
            <h:graphicImage value="/img/right-icon.png" />
            <br />
            <h:outputText value="No se encontraron restricciones" />
        </h:panelGroup>
    </rich:panel>

</ui:composition>
