<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">


    <strong>#{messages['permit.data']}</strong>
    <hr />
    <br />
    <ui:include src="inputData/permitDataIncl.xhtml" />

    <br />
    <br />

    <strong>#{messages['txt.land_uses']}</strong>
    <hr />
    <br />
    <ui:include src="inputData/landUsesIncl.xhtml" />

    <br />
    <br />

    <strong>#{messages['intro2.attacheddocs']}</strong>
    <hr />
    <br />
    <ui:include src="/permits/includes/attachedFilesIncl.xhtml">
        <ui:param name="aPermitHelper" value="#{operationPermitHelper}" />
        <ui:param name="reRenderAfterEdit" value="info" />
    </ui:include>
            
    <br />
    <br />

</ui:composition>
