<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <style type="text/css">
        .alignTop {
            vertical-align:top;
        }
    </style>
    
    <h:panelGrid columns="2" columnClasses="alignTop,alignTop">
        <h:outputText value="#{messages['permit.validity_from']}" />
        <h:outputText value="#{operationPermitHelper.permit.validityFrom}" />
        
        <h:outputText value="#{messages['permit.validity_to']}" />
        <h:outputText value="#{operationPermitHelper.permit.validityTo}" />

        <h:outputText value="#{messages['intro.partyid']}" />
        <h:outputText value="#{operationPermitHelper.partyNationalIdentity}" />
        
        <h:outputText value="#{messages['intro.fullname']}" />
        <h:outputText value="#{operationPermitHelper.partyName}" />
        
        <h:outputText value="#{messages['intro.description']}" />
        <h:outputText value="#{operationPermitHelper.permit.requestText}" />
    </h:panelGrid>
    
</ui:composition>
