<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    template="searchLayout.xhtml">

    <ui:define name="searchSelectorControl">
        <h:selectOneMenu value="#{operationPermitQueryHelper.searchSelector}">
            <f:selectItem itemValue="BY_PRESENTATION_NO" itemLabel="#{messages['txt.presentation_no']}"/>
            <f:selectItem itemValue="BY_CURRENT_STATE" itemLabel="#{messages['txt.current_state']}"/>
            <f:selectItem itemValue="BY_TYPE" itemLabel="#{messages['txt.type']}"/>

            <a4j:ajax event="change" render="searchControl" execute="@this"/>
        </h:selectOneMenu>
    </ui:define>
    
    <ui:define name="searchControlCnts">
        <h:panelGroup rendered="#{operationPermitQueryHelper.searchSelector == 'BY_PRESENTATION_NO'}">
            <h:inputText value="#{operationPermitQueryHelper.searchText}" required="true" style="width:200px" />
        </h:panelGroup>
        <h:panelGroup rendered="#{operationPermitQueryHelper.searchSelector == 'BY_CURRENT_STATE'}">
            <h:selectOneMenu value="#{operationPermitQueryHelper.searchText}" required="true" style="width:200px">
                <f:selectItem itemValue="APPROVED" itemLabel="#{messages['txt.APPROVED']}"/>
                <f:selectItem itemValue="REJECTED" itemLabel="#{messages['txt.REJECTED']}"/>
                <f:selectItem itemValue="IN_PROCESS" itemLabel="#{messages['txt.IN_PROCESS']}"/>
            </h:selectOneMenu>
        </h:panelGroup>
        <h:panelGroup rendered="#{operationPermitQueryHelper.searchSelector == 'BY_TYPE'}">
            <h:selectOneMenu value="#{operationPermitQueryHelper.searchText}" required="true" style="width:200px">
                <f:selectItems value="#{uiConverters.operationPermitType.valueList}"/>
            </h:selectOneMenu>
        </h:panelGroup>
    </ui:define>
    
    <ui:define name="doNewSearchCtrl">
        <h:commandButton value="#{messages['txt.search']}" action="#{operationPermitQueryHelper.doNewSearch}" />
    </ui:define>

    <ui:define name="extraControlsCnts">
        <sigit:simpleButton rendered="#{operationPermitQueryHelper.approved}"
            type="button"
            value="#{messages['txt.permit_record']}"
            onclick="#{rich:element('certificateRecord')}.click();">
        </sigit:simpleButton>

        <h:form rendered="#{operationPermitQueryHelper.approved}">
            <h:commandLink
                id="certificateRecord" value="Certifique"
                action="#{navigationHelper.navigateTo('/queries/reports/operationPermitCertificate')}"
                style="visibility:hidden;" target="_blank">
            </h:commandLink>
        </h:form>
    </ui:define>
</ui:composition>
