<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    template="operationPermitSearchLayout.xhtml">

    <ui:define name="body">
        <h:form>
            <rich:dataGrid value="#{operationPermitQueryHelper.queryResultList}" var="permit"
            columns="#{operationPermitQueryHelper.min(operationPermitQueryHelper.queryResultList.size(), 3)}" 
            elements="#{mantUISettingsHelper.numElements}" width="100%">
                <f:facet name="header">
                    <rich:dataScroller maxPages="15"></rich:dataScroller>
                </f:facet>
                <f:facet name="footer">
                    <rich:dataScroller maxPages="15"></rich:dataScroller>
                </f:facet>
                
                <rich:panel>
                <table style="width: 100%">
                    <tr>
                        <td>
                            <ui:include src="/WEB-INF/includes/permits/operationPermitInfoIncl.xhtml">
                                <ui:param name="permit" value="#{permit}" />
                                <ui:param name="width" value="100%" />
                            </ui:include>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <h:commandLink action="#{navigationHelper.navigateTo('/queries/operationPermits')}" value="#{messages['button.select']}">
                                <f:setPropertyActionListener value="#{permit}" target="#{operationPermitQueryHelper.selected}" />
                            </h:commandLink>
                            <br />
                        </td>
                    </tr>
                </table>
                </rich:panel>
            </rich:dataGrid>
        </h:form>
    </ui:define>
    
</ui:composition>

