<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    template="operationPermitSearchLayout.xhtml">

    <ui:define name="rightThings">
        <b>#{messages['query.operation_permit.title']}</b>
    </ui:define>

    <ui:define name="body">
        <h:outputScript library="openlayers" name="#{generalHelper.openLayersJS}" target="head" />
        <div align="center">
            <h:panelGroup id="searchResult">
                <h:panelGroup rendered="#{operationPermitQueryHelper.selected != null}">
                    <ui:include src="/permits/operation/includes/viewRequestPanelTabCnts.xhtml">
                        <ui:param name="unboundedHeight" value="#{true}" />
                    </ui:include>
                    <br />
                </h:panelGroup>
                
                <h:panelGroup rendered="#{operationPermitQueryHelper.selected == null}">
                    <br />
                    #{messages['query.operation_permit.no_result_line1']}
                    <br />
                    #{messages['query.operation_permit.no_result_line2']}
                </h:panelGroup>
            </h:panelGroup>

            <br />
            <br />

        </div>
        <br />
    </ui:define>
</ui:composition>
