<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    
    template="parcelSearchLayout.xhtml">


    <ui:define name="body">
        <h:outputScript library="openlayers" name="#{generalHelper.openLayersJS}" target="head" />
        <div align="center">
            <br />
            <h3>CONSULTA DE PARCELAS</h3>
            <hr />
            <br />
            <h:panelGroup id="searchResult">
                <h:panelGroup rendered="#{parcelQueryHelper.selected != null}">
                    <ui:include src="/WEB-INF/includes/viewParcelHeader.xhtml">
                        <ui:param name="parcel" value="#{parcelQueryHelper.selected}" />
                    </ui:include>
                    <br />
                    <h:form>
                        <rich:tabPanel id="queryTabPanel" switchType="ajax">
                            <rich:tab header="#{messages['query.zone.location_and_data']}" >
                                <ui:include src="/WEB-INF/includes/viewParcelAdminData.xhtml">
                                    <ui:param name="parcel" value="#{parcelQueryHelper.selected}" />
                                </ui:include>
                            </rich:tab>
                            <rich:tab header="#{messages['query.zone.rrr']}" >
                                <ui:include src="/WEB-INF/includes/viewParcelRRR.xhtml">
                                    <ui:param name="parcel" value="#{parcelQueryHelper.selected}" />
                                </ui:include>
                            </rich:tab>
                            <rich:tab header="#{messages['query.zone.transactions']}" >
                            </rich:tab>
                            <rich:tab header="#{messages['query.zone.permits']}" >
                            </rich:tab>
                            <rich:tab header="#{messages['query.zone.history']}" >
                                <div align="center">
                                    <strong>Predecesor(es)</strong>
                                    <hr />
                                    <br />
                                    <ui:include src="/WEB-INF/includes/viewSelectedParcelPredSucc.xhtml">
                                        <ui:param name="predSucc" value="0" />
                                    </ui:include>
                                    <br />
                                    <br />
                                    <strong>Sucesor(es)</strong>
                                    <hr />
                                    <br />
                                    <ui:include src="/WEB-INF/includes/viewSelectedParcelPredSucc.xhtml">
                                        <ui:param name="predSucc" value="1" />
                                    </ui:include>
                                </div>
                            </rich:tab>
                            <rich:tab header="#{messages['query.zone.spatial_relations']}" action="#{spatialAnalysisHelper.doNewSpatialAnalysis}">
                                <div align="center">
                                    <br />
                                    <ui:include src="/viewer/includes/spatialAnalysisContentInteractionsIncl.xhtml" />
                                </div>
                            </rich:tab>
                        </rich:tabPanel>
                    </h:form>
                </h:panelGroup>
                
                <h:panelGroup rendered="#{parcelQueryHelper.selected == null}">
                    <br />
                    No hay parcela seleccionada o parcela buscada inexistente
                    <br />
                    Defina el criterio de busqueda en las ventanas emergente por medio de las opciones de la barra lateral
                </h:panelGroup>
            </h:panelGroup>

            <br />
            <br />

        </div>
        <br />
        <h:form>
            <!-- a4j:jsFunction name="doCadastralCertificate" action=""/-->
        </h:form>
    </ui:define>
</ui:composition>
