<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    template="searchLayout.xhtml">

    <ui:define name="searchSelectorControl">
        <h:selectOneMenu value="#{parcelQueryHelper.searchSelector}">
            <f:selectItem itemValue="BY_CADASTRAL_KEY" itemLabel="#{messages['txt.cadastral_key']}"/>
            <f:selectItem itemValue="BY_MUNICIPAL_KEY" itemLabel="#{messages['txt.municipal_key']}"/>
            <f:selectItem itemValue="BY_FIELD_TAB" itemLabel="#{messages['txt.field_tab']}"/>
            <f:selectItem itemValue="IN_TRANSACTION" itemLabel="En proceso de transaccion"/>
            <f:selectItem itemValue="BY_TAX_STATUS" itemLabel="Estado pago de impuestos"/>
            
            <a4j:ajax event="change" render="searchControl" execute="@this"/>
        </h:selectOneMenu>
    </ui:define>
    
    <ui:define name="searchControlCnts">
        <h:panelGroup rendered="#{parcelQueryHelper.quickSearchTextControlType == 'TEXT_BOX'}">
            <h:inputText value="#{parcelQueryHelper.searchText}" required="true" style="width:200px" />
        </h:panelGroup>
        <h:panelGroup rendered="#{parcelQueryHelper.quickSearchTextControlType == 'VALUE_LIST'}">
            <h:panelGroup rendered="#{parcelQueryHelper.searchSelector == 'IN_TRANSACTION'}">
                <h:selectOneMenu value="#{parcelQueryHelper.searchText}" required="true" style="width:200px">
                    <f:selectItems value="#{uiConverters.yesNoType.valueList}"/>
                </h:selectOneMenu>
            </h:panelGroup>
            <h:panelGroup rendered="#{parcelQueryHelper.searchSelector == 'BY_TAX_STATUS'}">
                <h:selectOneMenu value="#{parcelQueryHelper.searchText}" required="true" style="width:200px">
                    <f:selectItems value="#{uiConverters.taxStatusTypeNoDefault.valueList}"/>
                </h:selectOneMenu>
            </h:panelGroup>
        </h:panelGroup>
    </ui:define>
    
    <ui:define name="doNewSearchCtrl">
        <h:commandButton value="#{messages['txt.search']}" action="#{parcelQueryHelper.doNewSearch}" />
    </ui:define>
    
    
    <ui:define name="extraControlsCnts">
        <!-- TODO: Disenyo del Certificado Catastral -->
        <ui:remove>
            <h:form rendered="#{parcelQueryHelper.selected != null}">
                <sigit:simpleButton
                    value="Certificado catastral"
                    type="button"
                    onclick="#{rich:element('cert')}.click();">
                </sigit:simpleButton>
                <h:commandLink id="cert" value="Certifique"
                action="#{navigationHelper.navigateTo('/queries/reports/cadastralCertificate')}"
                target="_blank" style="visibility:hidden;">
                    <f:setPropertyActionListener target="#{cadastralCertificateHelper.parcel}" value="#{parcelQueryHelper.selected}"/>
                </h:commandLink>
            </h:form>
        </ui:remove>
    </ui:define>
</ui:composition>
