<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/WEB-INF/esquema/toolbarTemplate.xhtml">

    <ui:define name="customContent">
        <ui:insert name="customContentCnts" />
    </ui:define>
    
    <ui:define name="mainControls">
        #{mantUISettingsHelper.setShowTitle(true)}
        #{mantUISettingsHelper.setNumElements(15)}
        <h:form>
            <h:outputText value="#{messages['txt.search_by']}   " style="font-weight:bold;" />
            
            <ui:insert name="searchSelectorControl" />
            
            <h:outputText value="  " />
            
            <h:panelGroup id="searchControl">
                <ui:insert name="searchControlCnts"/>
            </h:panelGroup>
            
            <h:outputText value="  " />
            
            <ui:insert name="doNewSearchCtrl"/>
        </h:form>
    </ui:define>

    <ui:define name="extraControls">
        <ui:insert name="extraControlsCnts" />
    </ui:define>
</ui:composition>
