<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    template="transactionSearchLayout.xhtml">

    <ui:define name="body">
        <h:outputScript library="openlayers" name="#{generalHelper.openLayersJS}" target="head" />
        <div align="center">
            <br />
            <h3>#{messages['query.transaction_title']}</h3>
            <hr />
            <br />
            <h:panelGroup id="searchResult">
                <h:panelGroup rendered="#{transactionQueryHelper.selected != null}">
                    <ui:include src="/WEB-INF/includes/transaction/transactionMainInfo.xhtml">
                        <ui:param name="transaction" value="#{transactionQueryHelper.selected}" />
                    </ui:include>
                    <br />
                    <h:form>
                        <rich:tabPanel id="queryTabPanel" switchType="client">
                            <rich:tab header="#{messages['query.tracking']}" >
                                <ui:include src="/WEB-INF/includes/transaction/transactionTrack.xhtml">
                                    <ui:param name="transaction" value="#{transactionQueryHelper.selected}" />
                                </ui:include>
                            </rich:tab>
                            <rich:tab header="#{messages['query.transaction.involved_spatial_zones']}" >
                                <ui:include src="/WEB-INF/includes/transaction/transactionSpatialZones.xhtml">
                                    <ui:param name="transaction" value="#{transactionQueryHelper.selected}" />
                                </ui:include>
                            </rich:tab>
                            <rich:tab  header="#{messages['query.transaction.state_before_after']}" >
                                <ui:include src="/WEB-INF/includes/transaction/transactionStates.xhtml">
                                    <ui:param name="transaction" value="#{transactionQueryHelper.selected}" />
                                </ui:include>
                            </rich:tab>
                        </rich:tabPanel>
                    </h:form>
                </h:panelGroup>
                
                <h:panelGroup rendered="#{transactionQueryHelper.selected == null}">
                    <br />
                    #{messages['query.transaction.no_result_line1']}
                    <br />
                    #{messages['query.transaction.no_result_line2']}
                </h:panelGroup>
            </h:panelGroup>

            <br />
            <br />

        </div>
        <br />
    </ui:define>
</ui:composition>
