<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    template="searchLayout.xhtml">

    <ui:define name="searchSelectorControl">
        <h:selectOneMenu value="#{transactionQueryHelper.searchSelector}">
            <f:selectItem itemValue="BY_PRESENTATION_NO" itemLabel="#{messages['txt.presentation_no']}"/>
            <f:selectItem itemValue="BY_CURRENT_STATE" itemLabel="#{messages['txt.current_state']}"/>
            <f:selectItem itemValue="BY_ACTIVITY_TYPE" itemLabel="Actividad actual"/>
            <f:selectItem itemValue="BY_TYPE" itemLabel="#{messages['txt.type']}"/>

            <a4j:ajax event="change" render="searchControl" execute="@this"/>
        </h:selectOneMenu>
    </ui:define>
    
    <ui:define name="searchControlCnts">
        <h:panelGroup rendered="#{transactionQueryHelper.searchSelector == 'BY_PRESENTATION_NO'}">
            <h:inputText value="#{transactionQueryHelper.searchText}" required="true" style="width:200px" />
        </h:panelGroup>
        <h:panelGroup rendered="#{transactionQueryHelper.searchSelector == 'BY_CURRENT_STATE'}">
            <h:selectOneMenu value="#{transactionQueryHelper.searchText}" required="true" style="width:200px">
                <f:selectItem itemValue="APPROVED" itemLabel="#{messages['txt.APPROVED']}"/>
                <f:selectItem itemValue="REJECTED" itemLabel="#{messages['txt.REJECTED']}"/>
                <f:selectItem itemValue="IN_PROCESS" itemLabel="#{messages['txt.IN_PROCESS']}"/>
            </h:selectOneMenu>
        </h:panelGroup>
        <h:panelGroup rendered="#{transactionQueryHelper.searchSelector == 'BY_ACTIVITY_TYPE'}">
            <h:selectOneMenu value="#{transactionQueryHelper.searchText}" required="true" style="width:200px">
                <f:selectItems value="#{uiConverters.activityType.valueList}"/>
            </h:selectOneMenu>
        </h:panelGroup>
        <h:panelGroup rendered="#{transactionQueryHelper.searchSelector == 'BY_TYPE'}">
            <h:selectOneMenu value="#{transactionQueryHelper.searchText}" required="true" style="width:200px">
                <f:selectItems value="#{uiConverters.municipalTransactionType.valueList}"/>
            </h:selectOneMenu>
        </h:panelGroup>
    </ui:define>
    
    <ui:define name="doNewSearchCtrl">
        <h:commandButton value="#{messages['txt.search']}" action="#{transactionQueryHelper.doNewSearch}" />
    </ui:define>

    <ui:define name="extraControlsCnts">
        <sigit:simpleButton rendered="#{transactionQueryHelper.selected != null}"
            type="button"
            value="#{messages['txt.documentsReceipt']}"
            onclick="#{rich:element('documentsReceipt')}.click();">
        </sigit:simpleButton>
        <sigit:simpleButton rendered="#{transactionQueryHelper.approvedLocally and identity.loggedIn}"
            type="button"
            value="#{messages['txt.cadastral_record']}"
            onclick="#{rich:element('cadastralRecord')}.click();">
        </sigit:simpleButton>
        
        <h:form>
            <h:commandLink
                id="documentsReceipt" value="a"
                action="#{navigationHelper.navigateTo('/queries/reports/documentsReceipt')}"
                target="_blank" style="visibility:hidden;">
            </h:commandLink>
        </h:form>
        <h:form rendered="#{transactionQueryHelper.approvedLocally and identity.loggedIn}">
            <h:commandLink
                id="cadastralRecord" value="Certifique"
                action="#{navigationHelper.navigateTo('/queries/reports/cadastralRecord')}"
                target="_blank" style="visibility:hidden;">
            </h:commandLink>
        </h:form>
    </ui:define>
</ui:composition>
