<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    xmlns:a4j="http://richfaces.org/a4j">


    <script type="text/javascript">
        var offsetFeatures;
        
        function submitBearingDistance() {
            #{rich:element('nextPointBearing')}.value = #{rich:element('npBearing')}.value;
            #{rich:element('nextPointDistance')}.value = #{rich:element('npDistance')}.value;
            addBearingDistanceToBoundary();
        }
        
        function pickRefOffset() {
            getPickSinglePointControl().deactivate();
            
            getPickPointControl().events.remove('featureadded');
            getPickPointControl().events.register('featureadded', this, doneOffsetPicking);
            getPickPointControl().activate();
        }

        function setRefBearing() {
            var bearing = #{rich:element('refBearing')}.value;
            var radAngle = directionToRadAngle(bearing);
            if (radAngle == undefined || !isNumber(radAngle)) {
                alert('#{messages["txt.invalid_direction"]}');
                return;
            }

            var layer = offsetFeatures[0].layer;
            var newFeatures = setLineBearing(offsetFeatures[0], radAngle);
            layer.addFeatures(newFeatures[0]);
            
            offsetFeatures = addOffsetFeatures(newFeatures[0], offsetFeatures, false);
            setRefOffsetInputs();

            getPickPointControl().deactivate();
            method2SubmitRefPoint();
        }
        
        function setRefDistance() {
            var refDist = #{rich:element('refDistance')}.value;
            if (!isNumber(refDist)) {
                alert('#{messages["txt.invalid_numeric_format"]}');
                return;
            }
            
            var layer = offsetFeatures[0].layer;
            var newFeatures = setLineLength(offsetFeatures[0], refDist);
            layer.addFeatures(newFeatures[0]);
            
            offsetFeatures = addOffsetFeatures(newFeatures[0], offsetFeatures, false);
            setRefOffsetInputs();

            getPickPointControl().deactivate();
            method2SubmitRefPoint();
        }

        function doneOffsetPicking(evt) {
            var offsetFeature = evt.feature;
            var geom = offsetFeature.geometry;
            
            offsetFeatures = addOffsetFeatures(offsetFeature, offsetFeatures, false);
            setOffsetControls(geom,
                    #{rich:element('initialRefPointY')},
                    #{rich:element('initialRefPointX')},
                    #{rich:element('refBearing')},
                    #{rich:element('refDistance')});

            setRefOffsetInputs();

            getPickPointControl().deactivate();
            method2SubmitRefPoint();
        }

        function setRefOffsetInputs() {
            #{rich:element('refPointYInput')}.value = offsetFeatures[1].geometry.y;
            #{rich:element('refPointXInput')}.value = offsetFeatures[1].geometry.x;
            #{rich:element('resultingPointYInput')}.value = offsetFeatures[2].geometry.y;
            #{rich:element('resultingPointXInput')}.value = offsetFeatures[2].geometry.x;
        } 

        function resetMethod2Inputs() {
            #{rich:element('initialRefPointY')}.value = '';
            #{rich:element('initialRefPointX')}.value = '';
            #{rich:element('refBearing')}.value = '';
            #{rich:element('refDistance')}.value = '';
            #{rich:element('refPointYInput')}.value = '';
            #{rich:element('refPointXInput')}.value = '';
            #{rich:element('resultingPointYInput')}.value = '';
            #{rich:element('resultingPointXInput')}.value = '';

            offsetFeatures = null;
            getPickPointControl().deactivate();
            getPickPointControl().layer.destroyFeatures();
        }
    </script>
    
    <rich:toolbar height="20" itemSeparator="grid">
        <rich:toolbarGroup>
            <h:panelGroup>
                <sigit:simpleButton
                    tooltipText="Agregar rumbo/distancia"
                    iconImage="/img/add-icon.png" iconHeight="16px" iconWidth="16px"
                    onclick="submitBearingDistance()">
                </sigit:simpleButton>
                <sigit:simpleButton
                    tooltipText="Borrar ultimo punto"
                    iconImage="/img/delete-icon.png" iconHeight="16px" iconWidth="16px"
                    onclick="deleteLastBoundaryPoint()">
                </sigit:simpleButton>
                <sigit:simpleButton
                    tooltipText="Borrar todo"
                    iconImage="/img/delete-all-icon.png" iconHeight="16px" iconWidth="16px"
                    onclick="clearBoundary()">
                </sigit:simpleButton>
            </h:panelGroup>
        </rich:toolbarGroup>
        
        <rich:toolbarGroup location="right">
            <h:panelGroup>
                <sigit:simpleButton
                    tooltipText="Dibujar frontera"
                    iconImage="/img/draw-icon.png" iconHeight="16px" iconWidth="16px"
                    onclick="drawBoundary();">
                </sigit:simpleButton>
            </h:panelGroup>
        </rich:toolbarGroup>
    </rich:toolbar>
    
    <br />
    <div align="center">
        <h:outputText value="#{messages['txt.border.method2']}" style="font-weight:bold" />
    </div>
    <hr/>
    <br />

    <table style="width: 100%">
        <tr valign="top">
            <td style="width: 50%">
                <!-- Left column -->
                <table style="width: 90%">
                    <tr>
                        <th colspan="2" align="left">
                            <table style="width: 100%">
                                <tr>
                                    <td width="50%">
                                        <h:outputText value="Punto de Referencia" />
                                    </td>
                                    <td align="right">
                                        <a href="#" onclick="pickRefOffset()">#{messages['button.select']}</a>
                                    </td>
                                </tr>
                            </table>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <h:inputText id="initialRefPointY" readonly="true" value="" style="width: 100%"/>
                        </td>
                        <th>
                            <div /><!-- TODO: replace <rich:spacer/> -->
                            <h:outputText value=" N" />
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <h:inputText id="initialRefPointX" readonly="true" value="" style="width: 100%"/>
                        </td>
                        <th>
                            <div /><!-- TODO: replace <rich:spacer/> -->
                            <h:outputText value=" E" />
                        </th>
                    </tr>
                </table>
                
                <br />
                
                <table style="width: 90%">
                    <tr>
                        <th align="left">
                            <table style="width: 100%">
                                <tr>
                                    <td width="50%">
                                        <h:outputText value="Rumbo" />
                                    </td>
                                    <td align="right">
                                        <a href="#" onclick="setRefBearing()">#{messages['button.set']}</a>
                                    </td>
                                </tr>
                            </table>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <h:inputText id="refBearing" value="" style="width: 100%"/>
                        </td>
                    </tr>
                </table>
                
                <br />
                
                <table style="width: 90%">
                    <tr>
                        <th align="left">
                            <table style="width: 100%">
                                <tr>
                                    <td width="50%">
                                        <h:outputText value="Distancia" />
                                    </td>
                                    <td align="right">
                                        <a href="#" onclick="setRefDistance()">#{messages['button.set']}</a>
                                    </td>
                                </tr>
                            </table>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <h:inputText id="refDistance" value="" style="width: 100%"/>
                        </td>
                    </tr>
                </table>
            </td>
            
            
            <td style="width: 50%">
                <!-- Right column -->
                
                <table style="width: 90%">
                    <tr>
                        <th colspan="2" align="left">
                            <h:outputText value="Siguiente punto" />
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Rumbo
                        </th>
                        <td>
                            <h:inputText id="npBearing" value="#{interactiveViewerHelper.borderHelper.bearingDistance.bearing}" style="width: 100%"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Distancia
                        </th>
                        <td>
                            <h:inputText id="npDistance" value="#{interactiveViewerHelper.borderHelper.bearingDistance.distance}" style="width: 100%"/>
                        </td>
                    </tr>
                </table>
                
                <br />
                
                <div align="center">
                    <!-- Border coordinates table -->
                    <h:panelGroup id="bearingAndDistanceTable">
                        <h:panelGroup rendered="#{empty interactiveViewerHelper.borderHelper.bearingAndDistances}">
                            <br/>
                            <h:outputText value="No se han ingresado puntos de la frontera" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{not empty interactiveViewerHelper.borderHelper.bearingAndDistances}">
                            <h:outputText value="Punto de partida" />
                            <br />
                            <table>
                                <tr>
                                    <th colspan="2">NORTE</th>
                                    <th colspan="2">ESTE</th>
                                </tr>
                                    <tr>
                                        <td align="right">#{interactiveViewerHelper.borderHelper.startingPoint.y}</td>
                                        <th>N</th>
                                        <td align="right">#{interactiveViewerHelper.borderHelper.startingPoint.x}</td>
                                        <th>E</th>
                                    </tr>
                            </table>
                            <br />
                            <div class="contentRights">
                                <table>
                                    <tr>
                                        <th colspan="2">RUMBO</th>
                                        <th colspan="2">DISTANCIA</th>
                                    </tr>
                                    <ui:repeat var="bd" value="#{interactiveViewerHelper.borderHelper.bearingAndDistances}">
                                        <tr>
                                            <td align="right">
                                                <h:outputText value="#{bd.azimuth}">
                                                    <f:convertNumber maxFractionDigits="6" minFractionDigits="6" locale="en-us" />
                                                </h:outputText>
                                            </td>
                                            <th>#{bd.direction}</th>
                                            <td align="right">
                                                <h:outputText value="#{bd.distance}">
                                                    <f:convertNumber maxFractionDigits="6" minFractionDigits="6" locale="en-us" />
                                                </h:outputText>
                                            </td>
                                            <th>m</th>
                                        </tr>
                                    </ui:repeat>
                                </table>
                            </div>
                        </h:panelGroup>
                    </h:panelGroup>
                </div>
            </td>
        </tr>
    </table>


    <h:form>
        <h:inputHidden id="nextPointBearing" value="#{interactiveViewerHelper.borderHelper.bearingDistance.bearing}" />
        <h:inputHidden id="nextPointDistance" value="#{interactiveViewerHelper.borderHelper.bearingDistance.distance}" />
        <a4j:jsFunction
            name="addBearingDistanceToBoundary"
            execute="@form"
            action="#{interactiveViewerHelper.borderHelper.addBearingDistanceToBoundary}"
            render="drawBoundaryFunctions, coords, bearingAndDistanceTable"
            oncomplete="if (#{facesContext.maximumSeverity == null}) drawBoundaryReRender(); else #{rich:component('msgPanel')}.show();">
        </a4j:jsFunction>
    </h:form>
    
    <h:form>
        <h:inputHidden id="refPointYInput" value="#{interactiveViewerHelper.borderHelper.refPoint.y}" />
        <h:inputHidden id="refPointXInput" value="#{interactiveViewerHelper.borderHelper.refPoint.x}" />
        <h:inputHidden id="resultingPointYInput" value="#{interactiveViewerHelper.borderHelper.resultingPoint.y}" />
        <h:inputHidden id="resultingPointXInput" value="#{interactiveViewerHelper.borderHelper.resultingPoint.x}" />
        <a4j:jsFunction
            name="method2SubmitRefPoint"
            execute="@form"
            action="#{interactiveViewerHelper.borderHelper.applyRefOffset}"
            render="drawBoundaryFunctions, coords, bearingAndDistanceTable"
            oncomplete="if (#{facesContext.maximumSeverity == null}) drawBoundaryReRender(); else #{rich:component('msgPanel')}.show();">
        </a4j:jsFunction>
    </h:form>
</ui:component>
