<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    xmlns:a4j="http://richfaces.org/a4j">

    <script type="text/javascript">
        function showErrorMsg(text) {
            //#{rich:element('txtError')}.innerHTML = text;
            //#{rich:component('simpleErrorPanel')}.show()
            //TODO implement error panel
            alert(text);
        }
    </script>
    <rich:popupPanel id="uploadFileDlg" minWidth="340" minHeight="230" zindex="15000">
        <f:facet name="header">
            <h:outputText value="Subir archivo con frontera" />
        </f:facet>
        
        <h:form id="frmUploadFile">
            <a4j:jsFunction name="refreshInfo" render="info,buttons">
            </a4j:jsFunction>
            <div style="height:170px;width:100%;overflow:auto;">
                <h:panelGroup id="info">
                    <h:panelGrid columns="2" width="100%">
                        <h:outputText
                            value="#{messages['intro2.file']}:"
                            style="font-weight:bold;">
                        </h:outputText>
                        <h:panelGroup>
                            <h:outputText
                                id="nombreArchivo"
                                value="#{interactiveViewerHelper.borderHelper.selectedFile.fileName.toUpperCase()}"
                                rendered="#{interactiveViewerHelper.borderHelper.selectedFile != null}">
                            </h:outputText>
                            <rich:fileUpload rendered="#{interactiveViewerHelper.borderHelper.selectedFile == null}" acceptedTypes="txt,shp"
                                allowFlash="false" autoclear="false" noDuplicate="true"
                                maxFileSize="#{generalHelper.maxUploadedFileSize}" maxFilesQuantity="1" immediateUpload="true"
                                fileUploadListener="#{interactiveViewerHelper.borderHelper.attachFileListener}"
                                listHeight="80" listWidth="250"
                                addLabel="Seleccionar" clearAllLabel="" clearLabel=""
                                onsizerejected="showErrorMsg('#{messages['attached_files.max_file_size_exceeded']}')"
                                ontyperejected="showErrorMsg('#{messages['attached_files.unsupported_file_type']}')"
                                onuploadcomplete="refreshInfo()">
                            </rich:fileUpload>
                        </h:panelGroup>
                    </h:panelGrid>
                    <br />
                    <h:panelGroup rendered="#{interactiveViewerHelper.borderHelper.selectedFile != null}">
                        <ul>
                            <li>
                                <h:outputText value="Haga clic en Aceptar para aplicar los datos de frontera proveniente del archivo" />
                            </li>
                            <li>
                                <h:outputText value="Haga clic en Cancelar para descartar los datos provenientes" />
                            </li>
                        </ul>
                    </h:panelGroup>
                </h:panelGroup>
            </div>
            
            <h:panelGroup id="buttons">
                <div align="center">
                    <a4j:commandButton
                        value="#{messages['button.ok']}"
                        action="#{interactiveViewerHelper.borderHelper.acceptSelectedFile}"
                        oncomplete="if (#{facesContext.maximumSeverity == null}) { resetCoordInputs(); drawBoundaryMode(); #{rich:component('uploadFileDlg')}.hide(); } else #{rich:component('msgPanel')}.show();"
                        rendered="#{interactiveViewerHelper.borderHelper.selectedFile != null}"
                        render="coords, bearingAndDistanceTable">
                    </a4j:commandButton>
                    <sigit:simpleButton
                        value="#{messages['button.cancel']}"
                        type="button"
                        onclick="#{rich:component('uploadFileDlg')}.hide()">
                    </sigit:simpleButton>
                </div>
            </h:panelGroup>
        </h:form>
    </rich:popupPanel>

</ui:component>
