<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    xmlns:a4j="http://richfaces.org/a4j">

    <script type="text/javascript">
        var lastPointFeature = null;
        
        function resetCoordInputs() {
            #{rich:element('pointYInput')}.value = '';
            #{rich:element('pointXInput')}.value = '';
        }
        function resetMethod1Inputs() {
            getPickSinglePointControl().deactivate();
            
            #{rich:element('pointYInput')}.value = '';
            #{rich:element('pointXInput')}.value = '';
        }
        
        function pickPoint() {
            getPickPointControl().deactivate();
            if (!getPickSinglePointControl().active) {
                getPickSinglePointControl().events.remove('featureadded');
                getPickSinglePointControl().events.register('featureadded', this, addedPoint);
                getPickSinglePointControl().activate();
            }
            else
                getPickSinglePointControl().deactivate();
        }
        function addedPoint(evt) {
            var pointFeature = evt.feature;
            var geom = pointFeature.geometry;
            var layer = pointFeature.layer;

            if (lastPointFeature != null)
                layer.destroyFeatures(lastPointFeature);
            
            lastPointFeature = pointFeature;

            #{rich:element('pointYInput')}.value = geom.y;
            #{rich:element('pointXInput')}.value = geom.x;
        }
    </script>
    
    <rich:toolbar height="20" itemSeparator="grid">
        <rich:toolbarGroup>
            <h:panelGroup>
                <sigit:simpleButton
                    tooltipText="Agregar punto"
                    iconImage="/img/add-icon.png" iconHeight="16px" iconWidth="16px"
                    onclick="addPointToBoundary()">
                </sigit:simpleButton>
                <sigit:simpleButton
                    tooltipText="Borrar ultimo punto"
                    iconImage="/img/delete-icon.png" iconHeight="16px" iconWidth="16px"
                    onclick="deleteLastBoundaryPoint()">
                </sigit:simpleButton>
                <sigit:simpleButton
                    tooltipText="Borrar todo"
                    iconImage="/img/delete-all-icon.png" iconHeight="16px" iconWidth="16px"
                    onclick="clearBoundary()">
                </sigit:simpleButton>
            </h:panelGroup>
        </rich:toolbarGroup>
        
        <rich:toolbarGroup location="right">
            <h:panelGroup>
                <sigit:simpleButton
                    tooltipText="Dibujar desde archivo"
                    iconImage="/img/edit.gif" iconHeight="16px" iconWidth="16px"
                    onclick="uploadFileFun()">
                </sigit:simpleButton>
                <sigit:simpleButton
                    tooltipText="Dibujar frontera"
                    iconImage="/img/draw-icon.png" iconHeight="16px" iconWidth="16px"
                    onclick="drawBoundary();">
                </sigit:simpleButton>
            </h:panelGroup>
        </rich:toolbarGroup>
    </rich:toolbar>

    <br />
    <div align="center">
        <h:outputText value="#{messages['txt.border.method1']}" style="font-weight:bold" />
    </div>
    <hr/>
    <br />
    
    <h:form>
        <table style="width: 100%">
            <tr valign="top">
                <td style="width: 50%">
                    <!-- Left column -->
                    <table style="width: 100%">
                        <tr>
                            <th colspan="2" align="left">
                                <table style="width: 100%">
                                    <tr>
                                        <td width="50%">
                                            <h:outputText value="Ingrese las coordenadas" />
                                        </td>
                                        <td align="right">
                                            <a href="#" onclick="pickPoint()">#{messages['button.select']}</a>
                                        </td>
                                    </tr>
                                </table>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <h:inputText id="pointYInput"
                                    value="#{interactiveViewerHelper.borderHelper.borderPoint.y}"
                                    style="width: 100%">
                                </h:inputText>
                            </td>
                            <th>
                                <div /><!-- TODO: replace <rich:spacer/> -->
                                <h:outputText value=" N" />
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <h:inputText id="pointXInput"
                                    value="#{interactiveViewerHelper.borderHelper.borderPoint.x}"
                                    style="width: 100%">
                                </h:inputText>
                            </td>
                            <th>
                                <div /><!-- TODO: replace <rich:spacer/> -->
                                <h:outputText value=" E" />
                            </th>
                        </tr>
                    </table>
                </td>
                <td style="width: 50%">
                    <!-- Right column -->
                    <div align="center">
                        <!-- Border coordinates table -->
                        <div class="contentRights">
                            <h:panelGroup id="coords">
                                <h:panelGroup rendered="#{empty interactiveViewerHelper.borderHelper.currentBorder}">
                                    <br/>
                                    <h:outputText value="No se han ingresado puntos de la frontera" />
                                </h:panelGroup>
                                <h:panelGroup rendered="#{not empty interactiveViewerHelper.borderHelper.currentBorder}">
                                    <table>
                                        <tr>
                                            <th colspan="2">NORTE</th>
                                            <th colspan="2">ESTE</th>
                                        </tr>
                                        <ui:repeat var="coord" value="#{interactiveViewerHelper.borderHelper.currentBorder}">
                                            <tr>
                                                <td align="right">#{coord.y}</td>
                                                <th>N</th>
                                                <td align="right">#{coord.x}</td>
                                                <th>E</th>
                                            </tr>
                                        </ui:repeat>
                                    </table>
                                </h:panelGroup>
                            </h:panelGroup>
                        </div>
                        <br/>
                    </div>
                </td>
            </tr>
        </table>
        
        <br/>
        
        <a4j:jsFunction name="addPointToBoundary"
            execute="@form"
            action="#{interactiveViewerHelper.borderHelper.addPointToBoundary}"
            process="pointYInput, pointXInput"
            render="drawBoundaryFunctions, coords, bearingAndDistanceTable"
            oncomplete="resetCoordInputs(); drawBoundaryReRender()">
        </a4j:jsFunction>
    </h:form>

</ui:component>
