<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:sigit="http://java.sun.com/jsf/composite/components">

    <rich:popupPanel id="editImprovementDlg" width="450" height="510" zindex="10050">
        <f:facet name="header">
            <h:outputText value="#{messages['txt.improvement.data']}"/>
        </f:facet>
        
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="editImprovementDlg" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
        
        <h:form id="frmEditImprovement">
            <h:panelGroup rendered="#{interactiveViewerHelper.parcelDataHelper.improvement != null}">
                <div align="center">
                    <h:outputText value="#{messages['txt.improvement.data']}" style="font-weight:bold;" />
                    <hr />
                    <br />
                    <h:panelGrid columns="2" style="width:100%">
                        <h:outputLabel value="#{messages['txt.improvement.use']}" for="use" />
                        <h:inputText
                            id="use"
                            required="true"
                            label="#{messages['txt.improvement.use']}"
                            value="#{interactiveViewerHelper.parcelDataHelper.improvement.use}"
                            readonly="#{interactiveViewerHelper.parcelDataHelper.improvementReadOnly}">
                        </h:inputText>
    
                        <h:outputLabel value="#{messages['txt.improvement.easement_class']}" for="easement_class" />
                        <h:inputText
                            id="easement_class"
                            label="#{messages['txt.improvement.easement_class']}"
                            value="#{interactiveViewerHelper.parcelDataHelper.improvement.easementClass}"
                            readonly="#{interactiveViewerHelper.parcelDataHelper.improvementReadOnly}">
                        </h:inputText>
    
                        <h:outputLabel value="#{messages['txt.improvement.percentage_good']}" for="percentage_good" />
                        <h:inputText
                            id="percentage_good"
                            label="#{messages['txt.improvement.percentage_good']}"
                            value="#{interactiveViewerHelper.parcelDataHelper.improvement.percentageGood}"
                            readonly="#{interactiveViewerHelper.parcelDataHelper.improvementReadOnly}">
                        </h:inputText>
                        
                        <h:outputLabel value="#{messages['txt.improvement.year_built']}" for="year_built" />
                        <h:inputText
                            id="year_built"
                            required="true"
                            label="#{messages['txt.improvement.year_built']}"
                            value="#{interactiveViewerHelper.parcelDataHelper.improvement.yearBuilt}"
                            readonly="#{interactiveViewerHelper.parcelDataHelper.improvementReadOnly}">
                        </h:inputText>
    
                        <h:outputLabel value="#{messages['txt.improvement.number_of_floors']}" for="number_of_floors" />
                        <h:inputText
                            id="number_of_floors"
                            label="#{messages['txt.improvement.number_of_floors']}"
                            value="#{interactiveViewerHelper.parcelDataHelper.improvement.numberOfFloors}"
                            readonly="#{interactiveViewerHelper.parcelDataHelper.improvementReadOnly}">
                        </h:inputText>
                        
                        <h:outputLabel value="#{messages['txt.improvement.front']}" for="front" />
                        <h:inputText
                            id="front"
                            label="#{messages['txt.improvement.front']}"
                            value="#{interactiveViewerHelper.parcelDataHelper.improvement.front}"
                            readonly="#{interactiveViewerHelper.parcelDataHelper.improvementReadOnly}">
                        </h:inputText>
                        
                        <h:outputLabel value="#{messages['txt.improvement.depth']}" for="depth" />
                        <h:inputText
                            id="depth"
                            label="#{messages['txt.improvement.depth']}"
                            value="#{interactiveViewerHelper.parcelDataHelper.improvement.depth}"
                            readonly="#{interactiveViewerHelper.parcelDataHelper.improvementReadOnly}">
                        </h:inputText>
                        
                        <h:outputLabel value="#{messages['txt.improvement.area']}" for="area" />
                        <h:inputText
                            id="area"
                            label="#{messages['txt.improvement.area']}"
                            value="#{interactiveViewerHelper.parcelDataHelper.improvement.area}"
                            readonly="#{interactiveViewerHelper.parcelDataHelper.improvementReadOnly}">
                        </h:inputText>
                        
                        <h:outputLabel value="#{messages['txt.improvement.observation']}" for="observation" />
                        <h:inputText
                            id="observation"
                            label="#{messages['txt.improvement.observation']}"
                            value="#{interactiveViewerHelper.parcelDataHelper.improvement.observation}"
                            readonly="#{interactiveViewerHelper.parcelDataHelper.improvementReadOnly}">
                        </h:inputText>
                    </h:panelGrid>
                    
                    <br />
                    <br />
                    
                    <h:outputText value="#{messages['txt.registry_data']}" style="font-weight:bold;" />
                    <hr />
                    <br />
                    <h:panelGrid columns="2">
                        <h:outputLabel value="#{messages['txt.reg_number']}" for="reg_number3"/>
                        <h:inputText
                            id="reg_number3"
                            label="#{messages['txt.reg_number']}"
                            value="#{interactiveViewerHelper.parcelDataHelper.improvement.registration.code}"
                            readonly="#{interactiveViewerHelper.parcelDataHelper.improvementReadOnly}">
                        </h:inputText>

                        <h:outputLabel value="#{messages['txt.tome']}" for="tome3"/>
                        <h:inputText
                            id="tome3"
                            label="#{messages['txt.tome']}"
                            value="#{interactiveViewerHelper.parcelDataHelper.improvement.registration.tome}"
                            readonly="#{interactiveViewerHelper.parcelDataHelper.improvementReadOnly}">
                        </h:inputText>
                    
                        <h:outputLabel value="#{messages['txt.folio']}" for="folio3" />
                        <h:inputText 
                            id="folio3"
                            label="#{messages['txt.folio']}"
                            value="#{interactiveViewerHelper.parcelDataHelper.improvement.registration.folio}"
                            readonly="#{interactiveViewerHelper.parcelDataHelper.improvementReadOnly}">
                        </h:inputText>
                    
                        <h:outputLabel value="#{messages['txt.annotation_number']}" for="annotation_number3"/>
                        <h:inputText
                            id="annotation_number3"
                            label="#{messages['txt.annotation_number']}"
                            value="#{interactiveViewerHelper.parcelDataHelper.improvement.registration.annotationNumber}"
                            readonly="#{interactiveViewerHelper.parcelDataHelper.improvementReadOnly}">
                        </h:inputText>
                    </h:panelGrid>
                    
                    <br/>
                    <hr/>
                    <br/>

                    <h:panelGroup rendered="#{interactiveViewerHelper.parcelDataHelper.improvementEditMode == 'VIEWING'}">
                        <sigit:simpleButton
                            type="button"
                            value="#{messages['button.ok']}"
                            onclick="#{rich:component('editImprovementDlg')}.hide()">
                        </sigit:simpleButton>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{interactiveViewerHelper.parcelDataHelper.improvementEditMode != 'VIEWING'}">
                        <a4j:commandButton
                            value="#{interactiveViewerHelper.parcelDataHelper.improvementEditMode != 'DELETING' ? messages['button.ok'] : messages['button.delete']}"
                            action="#{interactiveViewerHelper.parcelDataHelper.acceptImprovement}"
                            render="grpImprovement"
                            oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('editImprovementDlg')}.hide(); else #{rich:component('msgPanel')}.show()">
                        </a4j:commandButton>
                        <sigit:simpleButton
                            type="button"
                            value="#{messages['button.cancel']}"
                            onclick="#{rich:component('editImprovementDlg')}.hide()">
                        </sigit:simpleButton>
                    </h:panelGroup>
                </div>
            </h:panelGroup>
        </h:form>
    </rich:popupPanel>

</ui:composition>
