<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:panelGroup id="grpMapLegend">
        <strong>
            <h:outputText value="LEYENDA" />
        </strong>
        <hr />
        <br />
        
        <ui:repeat var="tlg" value="#{interactiveViewerHelper.layerHelper.visibleLayerThemeGroups}">
            <rich:collapsiblePanel switchType="client" header="#{tlg.title}" width="98%">
                <div align="center">
                    <h:panelGroup rendered="#{tlg.styleName == 'sigit_landuse'}">
                        <ui:repeat var="layer" value="#{tlg.layers}">
                            <h:outputText value="#{layer.name}" style="font-weight:bold;" />
                            <br />
                            <sigit:landUseGrid layers="#{tlg.layers}" layer="#{layer}"/>
                            <br />
                        </ui:repeat>
                    </h:panelGroup>
        
                    <h:panelGroup rendered="#{tlg.styleName != 'sigit_landuse'}">
                        <sigit:styleGrid styleName="#{tlg.styleName}" />
                    </h:panelGroup>
                </div>
            </rich:collapsiblePanel>
            <br />
            <br />
        </ui:repeat>
    </h:panelGroup>
</ui:component>
