<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:sigit="http://java.sun.com/jsf/composite/components">

    <h:panelGroup rendered="#{not interactiveViewerHelper.rrrHelper.editingRestrictions and not interactiveViewerHelper.rrrHelper.editingResponsibilities}">
        <h:form id="frmRightsBtns" rendered="#{interactiveViewerHelper.allowEditing}">
            <a4j:jsFunction name="editingRightsFun"
            rendered="#{not interactiveViewerHelper.rrrHelper.editingRights}"
            render="panelRights,panelRestrictions,panelResponsibilities">
                <f:setPropertyActionListener value="#{true}" target="#{interactiveViewerHelper.rrrHelper.editingRights}" />
            </a4j:jsFunction>
    
            <a4j:jsFunction name="cancelRightChangesFun"
            action="#{interactiveViewerHelper.rrrHelper.cancelRightChanges}"
            rendered="#{interactiveViewerHelper.rrrHelper.editingRights}"
            render="panelRights,panelRestrictions,panelResponsibilities">
            </a4j:jsFunction>
    
            <a4j:jsFunction name="applyRightChangesFun"
            action="#{interactiveViewerHelper.rrrHelper.applyRightChanges}"
            rendered="#{interactiveViewerHelper.rrrHelper.editingRights}"
            render="panelRights,panelRestrictions,panelResponsibilities"
            oncomplete="if ( #{facesContext.maximumSeverity != null} ) #{rich:component('msgPanel')}.show();">
            </a4j:jsFunction>
        </h:form>

        <ui:include src="selectedZoneTlb.xhtml" />
                
        <h:panelGroup rendered="#{interactiveViewerHelper.selectedParcel == null}">
            <div align="center">
                <h:outputText value="#{messages['txt.no_zone_or_parcel_selected']}" />
            </div>
        </h:panelGroup>
        <h:panelGroup rendered="#{interactiveViewerHelper.selectedParcel != null}">
            <rich:toolbar height="20" itemSeparator="line" rendered="#{interactiveViewerHelper.allowEditing}">
                <rich:toolbarGroup>
                    <h:panelGroup>
                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_rights.btn_edit']}"
                            iconImage="/img/edit.gif" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="editingRightsFun();"
                            rendered="#{not interactiveViewerHelper.rrrHelper.editingRights}">
                        </sigit:simpleButton>
        
                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_rights.btn_cancel']}"
                            iconImage="/img/cancel-icon.png" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="cancelRightChangesFun();"
                            rendered="#{interactiveViewerHelper.rrrHelper.editingRights}">
                        </sigit:simpleButton>
                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_rights.btn_save']}"
                            iconImage="/img/save-icon.png" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="applyRightChangesFun();"
                            rendered="#{interactiveViewerHelper.rrrHelper.editingRights}">
                        </sigit:simpleButton>
                    </h:panelGroup>
                </rich:toolbarGroup>
                
                <rich:toolbarGroup>
                    <h:panelGroup>
                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_rights.btn_add_new_one']}"
                            iconImage="/img/add-icon.png" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="addNewRightFun();"
                            rendered="#{interactiveViewerHelper.rrrHelper.editingRights}">
                        </sigit:simpleButton>

                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_rights.btn_modify_selected']}"
                            iconImage="/img/edit.gif" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="modifySelectedRightsFun();"
                            rendered="#{not (empty interactiveViewerHelper.rrrHelper.parcelRightsList or not interactiveViewerHelper.rrrHelper.editingRights)}">
                        </sigit:simpleButton>
                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_rights.btn_delete_selected']}"
                            iconImage="/img/delete-icon.png" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="deleteSelectedRightsFun();"
                            rendered="#{not (empty interactiveViewerHelper.rrrHelper.parcelRightsList or not interactiveViewerHelper.rrrHelper.editingRights)}">
                        </sigit:simpleButton>
                    </h:panelGroup>
                </rich:toolbarGroup>
            </rich:toolbar>
            
            <div align="center" style="height:450px;" class="contentRights">
                <br />
                <strong>#{messages['dataentry.mutate_rights.current']}</strong>
                <hr />
                <br />
                <h:panelGroup id="rightsTable">
                    <h:form>
                    <h:panelGroup rendered="#{not empty interactiveViewerHelper.rrrHelper.parcelRightsList}">
                        <rich:dataTable value="#{interactiveViewerHelper.rrrHelper.parcelRightsGroups}"
                            var="group" rowKeyVar="row"
                            cellspacing="1" rows="13"
                            style="vertical-align:baseline;">
                            <f:facet name="header">
                                <rich:columnGroup>
                                    <rich:column rendered="#{interactiveViewerHelper.rrrHelper.editingRights}">
                                        <h:outputText value="#{messages['dataentry.mutate_rrr.edit']}"/>
                                    </rich:column>
                                    <rich:column>
                                        <h:outputText value="#{messages['dataentry.mutate_rrr.party']}"/>
                                    </rich:column>
                                    <rich:column>
                                        <h:outputText value="#{messages['dataentry.mutate_rights.type']}"/>
                                    </rich:column>
                                    <rich:column>
                                        <h:outputText value="#{messages['dataentry.mutate_rrr.share']}"/>
                                    </rich:column>
                                </rich:columnGroup>
                            </f:facet>
                            
                            <rich:column rendered="#{interactiveViewerHelper.rrrHelper.editingRights}">
                                <div /><!-- TODO: replace <rich:spacer/> -->
                            </rich:column>
                            <rich:column colspan="2" style="font-weight:bold;background-color:#F1F1F1;">
                                <h:outputText value="#{messages['dataentry.mutate_rrr.total']} #{messages[group.rrrType].toUpperCase()}"/>
                            </rich:column>
                            <rich:column style="text-align:right;font-weight:bold;background-color:#F1F1F1;">
                                <h:outputText value="#{group.sumShares}" rendered="#{group.sumShares.one}" />
                                <h:outputText value="#{group.sumShares}" style="color:Red;" rendered="#{not group.sumShares.one}" />
                            </rich:column>
                            
                            <rich:collapsibleSubTable value="#{group.rrrList}" var="rrr">
                                <rich:column rendered="#{interactiveViewerHelper.rrrHelper.editingRights}">
                                    <h:selectBooleanCheckbox value="#{rrr.selected}"/>
                                </rich:column>
                                <rich:column>
                                    <h:outputText value="#{rrr.owner}"/>
                                </rich:column>
                                <rich:column>
                                    <h:outputText value="#{messages[rrr.rrrType.name()]}" />
                                </rich:column>
                                <rich:column style="text-align:right;">
                                    <h:outputText value="#{rrr.shareString}"/>
                                </rich:column>
                            </rich:collapsibleSubTable>
                        </rich:dataTable>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{empty interactiveViewerHelper.rrrHelper.parcelRightsList}">
                        <h:outputText value="#{messages['dataentry.mutate_rights.no']}" />
                        <br />
                    </h:panelGroup>

                    <h:panelGroup rendered="#{interactiveViewerHelper.allowEditing}">
                        <a4j:jsFunction name="addNewRightFun"
                            execute="@form"
                            rendered="#{interactiveViewerHelper.rrrHelper.editingRights}"
                            oncomplete="#{rich:component('panelModiRights')}.show(); #{rich:component('selectPartyPanel')}.show()">
                            <f:setPropertyActionListener target="#{personHelper.addingToList}" value="#{true}" />
                            <f:setPropertyActionListener target="#{personHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                            <f:setPropertyActionListener target="#{personHelper.addToListMethod}" value="interactiveViewerHelper.rrrHelper.addNewRight" />
                            <f:setPropertyActionListener target="#{personHelper.reRenderComponents}" value="#{rich:clientId('newRightsTable')}" />
                            
                            <f:setPropertyActionListener target="#{legalPersonHelper.addingToList}" value="#{true}" />
                            <f:setPropertyActionListener target="#{legalPersonHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                            <f:setPropertyActionListener target="#{legalPersonHelper.addToListMethod}" value="interactiveViewerHelper.rrrHelper.addNewRight" />
                            <f:setPropertyActionListener target="#{legalPersonHelper.reRenderComponents}" value="#{rich:clientId('newRightsTable')}" />
                        </a4j:jsFunction>
                        
                        <a4j:jsFunction name="modifySelectedRightsFun"
                            execute="@form"
                            action="#{interactiveViewerHelper.rrrHelper.modifySelectedRights}"
                            rendered="#{not empty interactiveViewerHelper.rrrHelper.parcelRightsList and interactiveViewerHelper.rrrHelper.editingRights}"
                            render="rightsTable,newRightsTable"
                            oncomplete="#{rich:component('panelModiRights')}.show();">
                        </a4j:jsFunction>
                        
                        <a4j:jsFunction name="deleteSelectedRightsFun"
                            execute="@form"
                            action="#{interactiveViewerHelper.rrrHelper.deleteSelectedRights}"
                            rendered="#{not empty interactiveViewerHelper.rrrHelper.parcelRightsList and interactiveViewerHelper.rrrHelper.editingRights}"
                            render="rightsTable,newRightsTable">
                        </a4j:jsFunction>
                    </h:panelGroup>
                    </h:form>
                </h:panelGroup>
                <br/>
                <br/>
                <h:panelGroup rendered="#{not interactiveViewerHelper.selectedZoneEditable}">
                    <h:outputText value="#{messages['dataentry.zone_not_editable']}" style="color:Red;" />
                </h:panelGroup>
            </div>
        </h:panelGroup>

        <h:panelGroup rendered="#{interactiveViewerHelper.selectedParcel != null and interactiveViewerHelper.allowEditing}">
            <rich:popupPanel id="panelModiRights" width="550" height="530" zindex="10500">
                <f:facet name="header">
                    <h:panelGroup>
                        <h:outputText value="#{messages['dataentry.mutate_rights.new']}"></h:outputText>
                    </h:panelGroup>
                </f:facet>
                <f:facet name="controls">
                    <h:panelGroup>
                        <h:graphicImage value="/img/close.png" styleClass="hidelink"
                        onclick="modiRightsCancel()" />
                    </h:panelGroup>
                </f:facet>
                
                <h:form>
                    <a4j:jsFunction name="addNewFun" execute="@form" oncomplete="#{rich:component('selectPartyPanel')}.show()">
                        <f:setPropertyActionListener target="#{personHelper.addingToList}" value="#{true}" />
                        <f:setPropertyActionListener target="#{personHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                        <f:setPropertyActionListener target="#{personHelper.addToListMethod}" value="interactiveViewerHelper.rrrHelper.addNewRight" />
                        <f:setPropertyActionListener target="#{personHelper.reRenderComponents}" value="#{rich:clientId('newRightsTable')}" />
                        
                        <f:setPropertyActionListener target="#{legalPersonHelper.addingToList}" value="#{true}" />
                        <f:setPropertyActionListener target="#{legalPersonHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                        <f:setPropertyActionListener target="#{legalPersonHelper.addToListMethod}" value="interactiveViewerHelper.rrrHelper.addNewRight" />
                        <f:setPropertyActionListener target="#{legalPersonHelper.reRenderComponents}" value="#{rich:clientId('newRightsTable')}" />
                    </a4j:jsFunction>
                    
                    <a4j:jsFunction name="acceptRightsModificationFun"
                    execute="@form"
                    action="#{interactiveViewerHelper.rrrHelper.acceptRightsModification}"
                    render="rightsTable, newRightsTable"
                    oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('panelModiRights')}.hide(); else #{rich:component('simpleMsgPanel')}.show();">
                    </a4j:jsFunction>
                    
                    <a4j:jsFunction name="modiRightsCancelFun" immediate="true" execute="@this"
                    action="#{interactiveViewerHelper.rrrHelper.cancelRightsModification}"
                    render="rightsTable, newRightsTable"
                    oncomplete="#{rich:component('panelModiRights')}.hide();">
                    </a4j:jsFunction>
        
                    <rich:toolbar itemSeparator="grid">
                        <rich:toolbarGroup>
                            <sigit:simpleButton
                                value="#{messages['dataentry.mutate_rrr.btn_add_new']}"
                                iconImage="/img/add-icon.png" iconHeight="16" iconWidth="16"
                                justIcons="true" tooltipDirection="bottomRight"
                                onclick="addNewFun();">
                            </sigit:simpleButton>
                        </rich:toolbarGroup>
                        
                        <rich:toolbarGroup location="right">
                            <h:panelGroup>
                                <sigit:simpleButton
                                    value="#{messages['dataentry.mutate_rrr.btn_accept_changes']}"
                                    iconImage="/img/accept-icon.png" iconHeight="16" iconWidth="16"
                                    justIcons="true" tooltipDirection="bottomLeft"
                                    onclick="acceptRightsModificationFun();">
                                </sigit:simpleButton>
                                <sigit:simpleButton
                                    value="#{messages['dataentry.mutate_rrr.btn_cancel_changes']}"
                                    iconImage="/img/cancel-icon.png" iconHeight="16" iconWidth="16"
                                    justIcons="true" tooltipDirection="bottomLeft"
                                    onclick="modiRightsCancelFun();">
                                </sigit:simpleButton>
                            </h:panelGroup>
                        </rich:toolbarGroup>
                    </rich:toolbar>
                    
                    <br/>
                    
                    <div align="center">
                        <h:panelGroup id="newRightsTable">
                            <h:panelGroup rendered="#{not empty interactiveViewerHelper.rrrHelper.newParcelRightsList}">
                                <div style="height:400px;" class="contentRights">
                                <rich:dataTable value="#{interactiveViewerHelper.rrrHelper.newParcelRightsList}" var="newRight" rowKeyVar="row">
                                    <f:facet name="header">
                                        <rich:columnGroup>
                                            <rich:column breakRowBefore="true" rowspan="2">
                                                <h:outputText value="#{messages['dataentry.mutate_rrr.party']}"/>
                                            </rich:column>
                                            <rich:column rowspan="2">
                                                <h:outputText value="#{messages['dataentry.mutate_rights.type']}"/>
                                            </rich:column>
                                            <rich:column colspan="2">
                                                <h:outputText value="#{messages['dataentry.mutate_rrr.share']}"/>
                                            </rich:column>
                                            <rich:column breakRowBefore="true">
                                                <h:outputText value="#{messages['dataentry.mutate_rrr.numerator']}"/>
                                            </rich:column>
                                            <rich:column>
                                                <h:outputText value="#{messages['dataentry.mutate_rrr.denominator']}"/>
                                            </rich:column>
                                        </rich:columnGroup>
                                    </f:facet>
                                    
                                    <rich:column>
                                        <a4j:commandLink id="editNameLink" oncomplete="#{rich:component('selectPartyPanel')}.show()">
                                            <f:setPropertyActionListener target="#{interactiveViewerHelper.rrrHelper.selectedRight}" value="#{newRight}"/>
                                            
                                            <f:setPropertyActionListener target="#{personHelper.addingToList}" value="#{false}" />
                                            <f:setPropertyActionListener target="#{personHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedRight.extParty" />
                                            <f:setPropertyActionListener target="#{personHelper.reRenderComponents}" value="#{rich:clientId('newRightsTable')}" />
                                            
                                            <f:setPropertyActionListener target="#{legalPersonHelper.addingToList}" value="#{false}" />
                                            <f:setPropertyActionListener target="#{legalPersonHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedRight.extParty" />
                                            <f:setPropertyActionListener target="#{legalPersonHelper.reRenderComponents}" value="#{rich:clientId('newRightsTable')}" />
                                            
                                            <h:outputText value="#{newRight.owner}"/>
                                        </a4j:commandLink>
                                    </rich:column>
                                    <rich:column>
                                        <h:selectOneMenu value="#{newRight.rrrType}" label="#{messages['dataentry.mutate_rights.type']}" required="true" converter="#{uiConverters.rightType}">
                                            <f:selectItems value="#{uiConverters.rightType.valueList}"/>
                                        </h:selectOneMenu>
                                    </rich:column>
                                    <rich:column>
                                        <rich:inputNumberSpinner value="#{newRight.share.numerator}" minValue="0" maxValue="100" step="1"/>
                                    </rich:column>
                                    <rich:column>
                                        <rich:inputNumberSpinner value="#{newRight.share.denominator}" minValue="0" maxValue="100" step="1"/>
                                    </rich:column>
                                </rich:dataTable>
                                </div>
                                <br />
                                <br />
                            </h:panelGroup>
                            <h:panelGroup rendered="#{empty interactiveViewerHelper.rrrHelper.newParcelRightsList}">
                                <div align="center">
                                    <h:outputText value="#{messages['dataentry.mutate_rights.no_new']}" />
                                </div>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </h:form>
            </rich:popupPanel>
        </h:panelGroup>
    </h:panelGroup>

    <h:panelGroup rendered="#{interactiveViewerHelper.rrrHelper.editingRestrictions or interactiveViewerHelper.rrrHelper.editingResponsibilities}">
        <div align="center" style="height:10px"/>
        <h:outputText value="#{messages['dataentry.mutate_rrr.no_options']}" style="color:Red;font-weight:bold;"/>
    </h:panelGroup>
</ui:composition>
