<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:sigit="http://java.sun.com/jsf/composite/components">

    <h:panelGroup rendered="#{not interactiveViewerHelper.rrrHelper.editingRights and not interactiveViewerHelper.rrrHelper.editingRestrictions}">
        <h:form rendered="#{interactiveViewerHelper.allowEditing}">
            <a4j:jsFunction name="editingResponsibilitiesFun"
            rendered="#{not interactiveViewerHelper.rrrHelper.editingResponsibilities}"
            render="panelRights,panelRestrictions,panelResponsibilities">
                <f:setPropertyActionListener value="#{true}" target="#{interactiveViewerHelper.rrrHelper.editingResponsibilities}" />
            </a4j:jsFunction>
            
            <a4j:jsFunction name="cancelResponsibilityChangesFun"
            action="#{interactiveViewerHelper.rrrHelper.cancelResponsibilityChanges}"
            rendered="#{interactiveViewerHelper.rrrHelper.editingResponsibilities}"
            render="panelRights,panelRestrictions,panelResponsibilities">
            </a4j:jsFunction>
            
            <a4j:jsFunction name="applyResponsibilityChangesFun"
            action="#{interactiveViewerHelper.rrrHelper.applyResponsibilityChanges}"
            rendered="#{interactiveViewerHelper.rrrHelper.editingResponsibilities}"
            render="panelRights,panelRestrictions,panelResponsibilities"
            oncomplete="if ( #{facesContext.maximumSeverity != null} ) #{rich:component('msgPanel')}.show();">
            </a4j:jsFunction>
        </h:form>
        
        <ui:include src="selectedZoneTlb.xhtml" />
        
        <h:panelGroup rendered="#{interactiveViewerHelper.selectedParcel == null}">
            <div align="center">
                <h:outputText value="#{messages['txt.no_zone_or_parcel_selected']}" />
            </div>
        </h:panelGroup>
        <h:panelGroup rendered="#{interactiveViewerHelper.selectedParcel != null}">
            <rich:toolbar height="20" itemSeparator="line" rendered="#{interactiveViewerHelper.allowEditing}">
                <rich:toolbarGroup>
                    <h:panelGroup>
                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_responsibilities.btn_edit']}"
                            iconImage="/img/edit.gif" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="editingResponsibilitiesFun();"
                            rendered="#{not interactiveViewerHelper.rrrHelper.editingResponsibilities}">
                        </sigit:simpleButton>

                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_responsibilities.btn_cancel']}"
                            iconImage="/img/cancel-icon.png" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="cancelResponsibilityChangesFun();"
                            rendered="#{interactiveViewerHelper.rrrHelper.editingResponsibilities}">
                        </sigit:simpleButton>
                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_responsibilities.btn_save']}"
                            iconImage="/img/save-icon.png" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="applyResponsibilityChangesFun();"
                            rendered="#{interactiveViewerHelper.rrrHelper.editingResponsibilities}">
                        </sigit:simpleButton>
                    </h:panelGroup>
                </rich:toolbarGroup>
                
                <rich:toolbarGroup>
                    <h:panelGroup>
                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_responsibilities.btn_add_new_one']}"
                            iconImage="/img/add-icon.png" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="addNewResponsibilityFun();"
                            rendered="#{interactiveViewerHelper.rrrHelper.editingResponsibilities}">
                        </sigit:simpleButton>
                        
                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_responsibilities.btn_modify_selected']}"
                            iconImage="/img/edit.gif" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="modifySelectedResponsibilitiesFun();"
                            rendered="#{not (empty interactiveViewerHelper.rrrHelper.parcelResponsibilitiesList or not interactiveViewerHelper.rrrHelper.editingResponsibilities)}">
                        </sigit:simpleButton>
                        
                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_responsibilities.btn_delete_selected']}"
                            iconImage="/img/delete-icon.png" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="deleteSelectedResponsibilitiesFun();"
                            rendered="#{not (empty interactiveViewerHelper.rrrHelper.parcelResponsibilitiesList or not interactiveViewerHelper.rrrHelper.editingResponsibilities)}">
                        </sigit:simpleButton>
                    </h:panelGroup>
                </rich:toolbarGroup>
            </rich:toolbar>
            
            <div align="center" style="height:450px;" class="contentResponsibilities">
                <br />
                <strong>#{messages['dataentry.mutate_responsibilities.current']}</strong>
                <hr />
                <br />
                <h:panelGroup id="responsibilitiesTable">
                    <h:form>
                    <h:panelGroup rendered="#{not empty interactiveViewerHelper.rrrHelper.parcelResponsibilitiesList}">
                        <rich:dataTable
                        value="#{interactiveViewerHelper.rrrHelper.parcelResponsibilitiesGroups}"
                        var="group" rowKeyVar="row"
                        cellspacing="1" rows="13"
                        style="vertical-align:baseline;">
                            <f:facet name="header">
                                <rich:columnGroup>
                                    <rich:column rendered="#{interactiveViewerHelper.rrrHelper.editingResponsibilities}">
                                        <h:outputText value="#{messages['dataentry.mutate_rrr.edit']}"/>
                                    </rich:column>
                                    <rich:column>
                                        <h:outputText value="#{messages['dataentry.mutate_rrr.party']}"/>
                                    </rich:column>
                                    <rich:column>
                                        <h:outputText value="#{messages['dataentry.mutate_responsibilities.type']}"/>
                                    </rich:column>
                                    <rich:column style="text-align:right;">
                                        <h:outputText value="#{messages['dataentry.mutate_rrr.share']}"/>
                                    </rich:column>
                                </rich:columnGroup>
                            </f:facet>
                            
                            <rich:column rendered="#{interactiveViewerHelper.rrrHelper.editingResponsibilities}">
                                <div /><!-- TODO: replace <rich:spacer/> -->
                            </rich:column>
                            <rich:column colspan="2" style="font-weight:bold;background-color:#F1F1F1;">
                                <h:outputText value="#{messages['dataentry.mutate_rrr.total']} #{messages[group.rrrType].toUpperCase()}"/>
                            </rich:column>
                            <rich:column style="text-align:right;font-weight:bold;background-color:#F1F1F1;">
                                <h:outputText value="#{group.sumShares}" rendered="#{group.sumShares.one}" />
                                <h:outputText value="#{group.sumShares}" style="color:Red;" rendered="#{not group.sumShares.one}" />
                            </rich:column>
                            
                            <rich:collapsibleSubTable value="#{group.rrrList}" var="rrr">
                                <rich:column rendered="#{interactiveViewerHelper.rrrHelper.editingResponsibilities}">
                                    <h:selectBooleanCheckbox value="#{rrr.selected}"/>
                                </rich:column>
                                <rich:column>
                                    <h:outputText value="#{rrr.owner}"/>
                                </rich:column>
                                <rich:column>
                                    <h:outputText value="#{messages[rrr.rrrType.name()]}" />
                                </rich:column>
                                <rich:column style="text-align:right;">
                                    <h:outputText value="#{rrr.shareString}"/>
                                </rich:column>
                            </rich:collapsibleSubTable>
                        </rich:dataTable>
                    </h:panelGroup>
    
                    <h:panelGroup rendered="#{empty interactiveViewerHelper.rrrHelper.parcelResponsibilitiesList}">
                        <h:outputText value="#{messages['dataentry.mutate_responsibilities.no']}" />
                        <br />
                    </h:panelGroup>

                    <h:panelGroup rendered="#{interactiveViewerHelper.allowEditing}">
                        <a4j:jsFunction name="addNewResponsibilityFun"
                            execute="@form"
                            rendered="#{interactiveViewerHelper.rrrHelper.editingResponsibilities}"
                            oncomplete="#{rich:component('panelModiResponsibilities')}.show(); #{rich:component('selectPartyPanel')}.show()">
                            <f:setPropertyActionListener target="#{personHelper.addingToList}" value="#{true}" />
                            <f:setPropertyActionListener target="#{personHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                            <f:setPropertyActionListener target="#{personHelper.addToListMethod}" value="interactiveViewerHelper.rrrHelper.addNewResponsibility" />
                            <f:setPropertyActionListener target="#{personHelper.reRenderComponents}" value="#{rich:clientId('newResponsibilitiesTable')}" />
                            
                            <f:setPropertyActionListener target="#{legalPersonHelper.addingToList}" value="#{true}" />
                            <f:setPropertyActionListener target="#{legalPersonHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                            <f:setPropertyActionListener target="#{legalPersonHelper.addToListMethod}" value="interactiveViewerHelper.rrrHelper.addNewResponsibility" />
                            <f:setPropertyActionListener target="#{legalPersonHelper.reRenderComponents}" value="#{rich:clientId('newResponsibilitiesTable')}" />
                        </a4j:jsFunction>
                        
                        <a4j:jsFunction name="modifySelectedResponsibilitiesFun"
                            execute="@form"
                            action="#{interactiveViewerHelper.rrrHelper.modifySelectedResponsibilities}"
                            rendered="#{not empty interactiveViewerHelper.rrrHelper.parcelResponsibilitiesList and interactiveViewerHelper.rrrHelper.editingResponsibilities}"
                            render="responsibilitiesTable,newResponsibilitiesTable"
                            oncomplete="#{rich:component('panelModiResponsibilities')}.show();">
                        </a4j:jsFunction>
                        
                        <a4j:jsFunction name="deleteSelectedResponsibilitiesFun"
                            execute="@form"
                            action="#{interactiveViewerHelper.rrrHelper.deleteSelectedResponsibilities}"
                            rendered="#{not empty interactiveViewerHelper.rrrHelper.parcelResponsibilitiesList and interactiveViewerHelper.rrrHelper.editingResponsibilities}"
                            render="responsibilitiesTable,newResponsibilitiesTable">
                        </a4j:jsFunction>
                    </h:panelGroup>
                    </h:form>
                </h:panelGroup>
                <br />
                <br />
                <h:panelGroup rendered="#{not interactiveViewerHelper.selectedZoneEditable}">
                    <h:outputText value="#{messages['dataentry.zone_not_editable']}" style="color:Red;" />
                </h:panelGroup>
            </div>
        </h:panelGroup>
    
        <h:panelGroup rendered="#{interactiveViewerHelper.selectedParcel != null and interactiveViewerHelper.allowEditing}">
            <rich:popupPanel id="panelModiResponsibilities" width="550" height="530" zindex="10500">
                <f:facet name="header">
                    <h:panelGroup>
                        <h:outputText value="#{messages['dataentry.mutate_responsibilities.new']}"></h:outputText>
                    </h:panelGroup>
                </f:facet>
                <f:facet name="controls">
                    <h:panelGroup>
                        <h:graphicImage value="/img/close.png" styleClass="hidelink"
                        onclick="modiResponsibilitiesCancel()" />
                    </h:panelGroup>
                </f:facet>
                
                <h:form>
                    <a4j:jsFunction name="addNewFun" execute="@form" oncomplete="#{rich:component('selectPartyPanel')}.show()">
                        <f:setPropertyActionListener target="#{personHelper.addingToList}" value="#{true}" />
                        <f:setPropertyActionListener target="#{personHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                        <f:setPropertyActionListener target="#{personHelper.addToListMethod}" value="interactiveViewerHelper.rrrHelper.addNewResponsibility" />
                        <f:setPropertyActionListener target="#{personHelper.reRenderComponents}" value="#{rich:clientId('newResponsibilitiesTable')}" />
                        
                        <f:setPropertyActionListener target="#{legalPersonHelper.addingToList}" value="#{true}" />
                        <f:setPropertyActionListener target="#{legalPersonHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                        <f:setPropertyActionListener target="#{legalPersonHelper.addToListMethod}" value="interactiveViewerHelper.rrrHelper.addNewResponsibility" />
                        <f:setPropertyActionListener target="#{legalPersonHelper.reRenderComponents}" value="#{rich:clientId('newResponsibilitiesTable')}" />
                    </a4j:jsFunction>
                    
                    <a4j:jsFunction name="acceptResponsibilitiesModificationFun"
                        execute="@form"
                        action="#{interactiveViewerHelper.rrrHelper.acceptResponsibilitiesModification}"
                        render="responsibilitiesTable, newResponsibilitiesTable"
                        oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('panelModiResponsibilities')}.hide(); else #{rich:component('simpleMsgPanel')}.show();">
                    </a4j:jsFunction>
                    
                    <a4j:jsFunction name="modiResponsibilitiesCancelFun" immediate="true" execute="@this"
                        action="#{interactiveViewerHelper.rrrHelper.cancelResponsibilitiesModification}"
                        render="responsibilitiesTable, newResponsibilitiesTable"
                        oncomplete="#{rich:component('panelModiResponsibilities')}.hide();">
                    </a4j:jsFunction>
        
                    <rich:toolbar itemSeparator="grid">
                        <rich:toolbarGroup>
                            <sigit:simpleButton
                                value="#{messages['dataentry.mutate_rrr.btn_add_new']}"
                                iconImage="/img/add-icon.png" iconHeight="16" iconWidth="16"
                                justIcons="true" tooltipDirection="bottomRight"
                                onclick="addNewFun();">
                            </sigit:simpleButton>
                        </rich:toolbarGroup>
                        
                        <rich:toolbarGroup location="right">
                            <h:panelGroup>
                                <sigit:simpleButton
                                    value="#{messages['dataentry.mutate_rrr.btn_accept_changes']}"
                                    iconImage="/img/accept-icon.png" iconHeight="16" iconWidth="16"
                                    justIcons="true" tooltipDirection="bottomLeft"
                                    onclick="acceptResponsibilitiesModificationFun();">
                                </sigit:simpleButton>
                                <sigit:simpleButton
                                    value="#{messages['dataentry.mutate_rrr.btn_cancel_changes']}"
                                    iconImage="/img/cancel-icon.png" iconHeight="16" iconWidth="16"
                                    justIcons="true" tooltipDirection="bottomLeft"
                                    onclick="modiResponsibilitiesCancelFun();">
                                </sigit:simpleButton>
                            </h:panelGroup>
                        </rich:toolbarGroup>
                    </rich:toolbar>
                    
                    <br/>
                    
                    <div align="center">
                        <h:panelGroup id="newResponsibilitiesTable">
                            <h:panelGroup rendered="#{not empty interactiveViewerHelper.rrrHelper.newParcelResponsibilitiesList}">
                                <div style="height:400px;" class="contentResponsibilities">
                                <rich:dataTable value="#{interactiveViewerHelper.rrrHelper.newParcelResponsibilitiesList}" var="newResponsibility" rowKeyVar="row">
                                    <f:facet name="header">
                                        <rich:columnGroup>
                                            <rich:column breakRowBefore="true" rowspan="2">
                                                <h:outputText value="#{messages['dataentry.mutate_rrr.party']}"/>
                                            </rich:column>
                                            <rich:column rowspan="2">
                                                <h:outputText value="#{messages['dataentry.mutate_responsibilities.type']}"/>
                                            </rich:column>
                                            <rich:column colspan="2">
                                                <h:outputText value="#{messages['dataentry.mutate_rrr.share']}"/>
                                            </rich:column>
                                            <rich:column breakRowBefore="true">
                                                <h:outputText value="#{messages['dataentry.mutate_rrr.numerator']}"/>
                                            </rich:column>
                                            <rich:column>
                                                <h:outputText value="#{messages['dataentry.mutate_rrr.denominator']}"/>
                                            </rich:column>
                                        </rich:columnGroup>
                                    </f:facet>
                                    
                                    <rich:column>
                                        <a4j:commandLink id="editNameLink" oncomplete="#{rich:component('selectPartyPanel')}.show()">
                                            <f:setPropertyActionListener target="#{interactiveViewerHelper.rrrHelper.selectedResponsibility}" value="#{newResponsibility}"/>
                                            
                                            <f:setPropertyActionListener target="#{personHelper.addingToList}" value="#{false}" />
                                            <f:setPropertyActionListener target="#{personHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                                            <f:setPropertyActionListener target="#{personHelper.reRenderComponents}" value="#{rich:clientId('newResponsibilitiesTable')}" />
                                            
                                            <f:setPropertyActionListener target="#{legalPersonHelper.addingToList}" value="#{false}" />
                                            <f:setPropertyActionListener target="#{legalPersonHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                                            <f:setPropertyActionListener target="#{legalPersonHelper.reRenderComponents}" value="#{rich:clientId('newResponsibilitiesTable')}" />
        
                                            <h:outputText value="#{newResponsibility.owner}"/>
                                        </a4j:commandLink>
                                    </rich:column>
                                    <rich:column>
                                        <h:selectOneMenu value="#{newResponsibility.rrrType}" label="#{messages['dataentry.mutate_responsibilities.type']}" required="true" converter="#{uiConverters.responsibilityType}">
                                            <f:selectItems value="#{uiConverters.responsibilityType.valueList}"/>
                                        </h:selectOneMenu>
                                    </rich:column>
                                    <rich:column>
                                        <rich:inputNumberSpinner value="#{newResponsibility.share.numerator}" minValue="0" maxValue="100" step="1"/>
                                    </rich:column>
                                    <rich:column>
                                        <rich:inputNumberSpinner value="#{newResponsibility.share.denominator}" minValue="0" maxValue="100" step="1"/>
                                    </rich:column>
                                    
                                    <f:facet name="footer">
                                        <rich:columnGroup>
                                            <rich:column>#{messages['dataentry.mutate_rrr.total']}</rich:column>
                                            <rich:column colspan="3" style="text-align:right;">
                                                <h:outputText value="#{interactiveViewerHelper.rrrHelper.responsibilitiesSumNewShares}"/>
                                            </rich:column>
                                        </rich:columnGroup>
                                    </f:facet>
                                </rich:dataTable>
                                </div>
                                <br />
                                <br />
                            </h:panelGroup>
                            <h:panelGroup rendered="#{empty interactiveViewerHelper.rrrHelper.newParcelResponsibilitiesList}">
                                <div align="center">
                                    <h:outputText value="#{messages['dataentry.mutate_responsibilities.no_new']}" />
                                </div>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </h:form>
            </rich:popupPanel>
        </h:panelGroup>
    </h:panelGroup>

    <h:panelGroup rendered="#{interactiveViewerHelper.rrrHelper.editingRights or interactiveViewerHelper.rrrHelper.editingRestrictions}">
        <div align="center" style="height:10px"/>
        <h:outputText value="#{messages['dataentry.mutate_rrr.no_options']}" style="color:Red;font-weight:bold;"/>
    </h:panelGroup>
</ui:composition>
