<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:sigit="http://java.sun.com/jsf/composite/components">


    <h:panelGroup rendered="#{not interactiveViewerHelper.rrrHelper.editingRights and not interactiveViewerHelper.rrrHelper.editingResponsibilities}">
        <h:form rendered="#{interactiveViewerHelper.allowEditing}">
            <a4j:jsFunction name="editingRestrictionsFun"
            rendered="#{not interactiveViewerHelper.rrrHelper.editingRestrictions}"
            render="panelRights,panelRestrictions,panelResponsibilities">
                <f:setPropertyActionListener value="#{true}" target="#{interactiveViewerHelper.rrrHelper.editingRestrictions}" />
            </a4j:jsFunction>
            
            <a4j:jsFunction name="cancelRestrictionChangesFun"
            action="#{interactiveViewerHelper.rrrHelper.cancelRestrictionChanges}"
            rendered="#{interactiveViewerHelper.rrrHelper.editingRestrictions}"
            render="panelRights,panelRestrictions,panelResponsibilities">
            </a4j:jsFunction>
            
            <a4j:jsFunction name="applyRestrictionChangesFun"
            action="#{interactiveViewerHelper.rrrHelper.applyRestrictionChanges}"
            rendered="#{interactiveViewerHelper.rrrHelper.editingRestrictions}"
            render="panelRights,panelRestrictions,panelResponsibilities"
            oncomplete="if ( #{facesContext.maximumSeverity != null} ) #{rich:component('msgPanel')}.show();">
            </a4j:jsFunction>
        </h:form>
    
        <ui:include src="selectedZoneTlb.xhtml" />

        <h:panelGroup rendered="#{interactiveViewerHelper.selectedParcel == null}">
            <div align="center">
                <h:outputText value="#{messages['txt.no_zone_or_parcel_selected']}" />
            </div>
        </h:panelGroup>
        <h:panelGroup rendered="#{interactiveViewerHelper.selectedParcel != null}">
            <rich:toolbar height="20" itemSeparator="line" rendered="#{interactiveViewerHelper.allowEditing}">
                <rich:toolbarGroup>
                    <h:panelGroup>
                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_restrictions.btn_edit']}"
                            iconImage="/img/edit.gif" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="editingRestrictionsFun();"
                            rendered="#{not interactiveViewerHelper.rrrHelper.editingRestrictions}">
                        </sigit:simpleButton>

                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_restrictions.btn_cancel']}"
                            iconImage="/img/cancel-icon.png" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="cancelRestrictionChangesFun();"
                            rendered="#{interactiveViewerHelper.rrrHelper.editingRestrictions}">
                        </sigit:simpleButton>
        
                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_restrictions.btn_save']}"
                            iconImage="/img/save-icon.png" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="applyRestrictionChangesFun();"
                            rendered="#{interactiveViewerHelper.rrrHelper.editingRestrictions}">
                        </sigit:simpleButton>
                    </h:panelGroup>
                </rich:toolbarGroup>
                
                <rich:toolbarGroup>
                    <h:panelGroup>
                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_restrictions.btn_add_new_one']}"
                            iconImage="/img/add-icon.png" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="addNewRestrictionFun();"
                            rendered="#{interactiveViewerHelper.rrrHelper.editingRestrictions}">
                        </sigit:simpleButton>
                        
                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_restrictions.btn_modify_selected']}"
                            iconImage="/img/edit.gif" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="modifySelectedRestrictionsFun();"
                            rendered="#{not (empty interactiveViewerHelper.rrrHelper.parcelRestrictionsList or not interactiveViewerHelper.rrrHelper.editingRestrictions)}">
                        </sigit:simpleButton>

                        <sigit:simpleButton
                            value="#{messages['dataentry.mutate_restrictions.btn_delete_selected']}"
                            iconImage="/img/delete-icon.png" iconHeight="16" iconWidth="16"
                            justIcons="true" tooltipDirection="bottomRight"
                            onclick="deleteSelectedRestrictionsFun();"
                            rendered="#{not (empty interactiveViewerHelper.rrrHelper.parcelRestrictionsList or not interactiveViewerHelper.rrrHelper.editingRestrictions)}">
                        </sigit:simpleButton>
                    </h:panelGroup>
                </rich:toolbarGroup>
            </rich:toolbar>
            
            <div align="center" style="height:450px;" class="contentRestrictions">
                <br />
                <strong>#{messages['dataentry.mutate_restrictions.current']}</strong>
                <hr />
                <br />
                <h:panelGroup id="restrictionsTable">
                    <h:form>
                    <h:panelGroup rendered="#{not empty interactiveViewerHelper.rrrHelper.parcelRestrictionsList}">
                        <rich:dataTable value="#{interactiveViewerHelper.rrrHelper.parcelRestrictionsGroups}"
                            var="group" rowKeyVar="row"
                            cellspacing="1" rows="13"
                            style="vertical-align:baseline;">
                            <f:facet name="header">
                                <rich:columnGroup>
                                    <rich:column rendered="#{interactiveViewerHelper.rrrHelper.editingRestrictions}">
                                        <h:outputText value="#{messages['dataentry.mutate_rrr.edit']}"/>
                                    </rich:column>
                                    <rich:column>
                                        <h:outputText value="#{messages['dataentry.mutate_rrr.party']}"/>
                                    </rich:column>
                                    <rich:column>
                                        <h:outputText value="#{messages['dataentry.mutate_restrictions.type']}"/>
                                    </rich:column>
                                    <rich:column style="text-align:right;">
                                        <h:outputText value="#{messages['dataentry.mutate_rrr.share']}"/>
                                    </rich:column>
                                </rich:columnGroup>
                            </f:facet>
                            
                            <rich:column rendered="#{interactiveViewerHelper.rrrHelper.editingRestrictions}">
                                <div /><!-- TODO: replace <rich:spacer/> -->
                            </rich:column>
                            <rich:column colspan="2" style="font-weight:bold;background-color:#F1F1F1;">
                                <h:outputText value="#{messages['dataentry.mutate_rrr.total']} #{messages[group.rrrType].toUpperCase()}"/>
                            </rich:column>
                            <rich:column style="text-align:right;font-weight:bold;background-color:#F1F1F1;">
                                <h:outputText value="#{group.sumShares}" rendered="#{group.sumShares.one}" />
                                <h:outputText value="#{group.sumShares}" style="color:Red;" rendered="#{not group.sumShares.one}" />
                            </rich:column>
                            
                            <rich:collapsibleSubTable value="#{group.rrrList}" var="rrr">
                                <rich:column rendered="#{interactiveViewerHelper.rrrHelper.editingRestrictions}">
                                    <h:selectBooleanCheckbox value="#{rrr.selected}"/>
                                </rich:column>
                                <rich:column>
                                    <h:outputText value="#{rrr.owner}"/>
                                </rich:column>
                                <rich:column>
                                    <h:outputText value="#{messages[rrr.rrrType.name()]}" />
                                </rich:column>
                                <rich:column style="text-align:right;">
                                    <h:outputText value="#{rrr.shareString}"/>
                                </rich:column>
                            </rich:collapsibleSubTable>
                        </rich:dataTable>
                    </h:panelGroup>
                            
                    <h:panelGroup rendered="#{empty interactiveViewerHelper.rrrHelper.parcelRestrictionsList}">
                        <h:outputText value="#{messages['dataentry.mutate_restrictions.no']}" />
                        <br />
                    </h:panelGroup>

                    <h:panelGroup rendered="#{interactiveViewerHelper.allowEditing}">
                        <a4j:jsFunction name="addNewRestrictionFun"
                            execute="@form"
                            rendered="#{interactiveViewerHelper.rrrHelper.editingRestrictions}"
                            oncomplete="#{rich:component('panelModiRestrictions')}.show(); #{rich:component('selectPartyPanel')}.show()">
                            <f:setPropertyActionListener target="#{personHelper.addingToList}" value="#{true}" />
                            <f:setPropertyActionListener target="#{personHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                            <f:setPropertyActionListener target="#{personHelper.addToListMethod}" value="interactiveViewerHelper.rrrHelper.addNewRestriction" />
                            <f:setPropertyActionListener target="#{personHelper.reRenderComponents}" value="#{rich:clientId('newRestrictionsTable')}" />
                            
                            <f:setPropertyActionListener target="#{legalPersonHelper.addingToList}" value="#{true}" />
                            <f:setPropertyActionListener target="#{legalPersonHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                            <f:setPropertyActionListener target="#{legalPersonHelper.addToListMethod}" value="interactiveViewerHelper.rrrHelper.addNewRestriction" />
                            <f:setPropertyActionListener target="#{legalPersonHelper.reRenderComponents}" value="#{rich:clientId('newRestrictionsTable')}" />
                        </a4j:jsFunction>
                        
                        <a4j:jsFunction name="modifySelectedRestrictionsFun"
                            execute="@form"
                            action="#{interactiveViewerHelper.rrrHelper.modifySelectedRestrictions}"
                            rendered="#{not empty interactiveViewerHelper.rrrHelper.parcelRestrictionsList and interactiveViewerHelper.rrrHelper.editingRestrictions}"
                            render="restrictionsTable,newRestrictionsTable"
                            oncomplete="#{rich:component('panelModiRestrictions')}.show();">
                        </a4j:jsFunction>
                        
                        <a4j:jsFunction name="deleteSelectedRestrictionsFun"
                            execute="@form"
                            rendered="#{not empty interactiveViewerHelper.rrrHelper.parcelRestrictionsList and interactiveViewerHelper.rrrHelper.editingRestrictions}"
                            action="#{interactiveViewerHelper.rrrHelper.deleteSelectedRestrictions}"
                            render="restrictionsTable,newRestrictionsTable">
                        </a4j:jsFunction>
                    </h:panelGroup>
                    </h:form>
                </h:panelGroup>
                <br />
                <br />
                <h:panelGroup rendered="#{not interactiveViewerHelper.selectedZoneEditable}">
                    <h:outputText value="#{messages['dataentry.zone_not_editable']}" style="color:Red;" />
                </h:panelGroup>
            </div>
        </h:panelGroup>
    
        <h:panelGroup rendered="#{interactiveViewerHelper.selectedParcel != null and interactiveViewerHelper.allowEditing}">
            <rich:popupPanel id="panelModiRestrictions" width="550" height="530" zindex="10500">
                <f:facet name="header">
                    <h:panelGroup>
                        <h:outputText value="#{messages['dataentry.mutate_restrictions.new']}"></h:outputText>
                    </h:panelGroup>
                </f:facet>
                <f:facet name="controls">
                    <h:panelGroup>
                        <h:graphicImage value="/img/close.png" styleClass="hidelink"
                        onclick="modiRestrictionsCancel()" />
                    </h:panelGroup>
                </f:facet>
                
                <h:form>
                    <a4j:jsFunction name="addNewFun" execute="@form" oncomplete="#{rich:component('selectPartyPanel')}.show()">
                        <f:setPropertyActionListener target="#{personHelper.addingToList}" value="#{true}" />
                        <f:setPropertyActionListener target="#{personHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                        <f:setPropertyActionListener target="#{personHelper.addToListMethod}" value="interactiveViewerHelper.rrrHelper.addNewRestriction" />
                        <f:setPropertyActionListener target="#{personHelper.reRenderComponents}" value="#{rich:clientId('newRestrictionsTable')}" />
                        
                        <f:setPropertyActionListener target="#{legalPersonHelper.addingToList}" value="#{true}" />
                        <f:setPropertyActionListener target="#{legalPersonHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                        <f:setPropertyActionListener target="#{legalPersonHelper.addToListMethod}" value="interactiveViewerHelper.rrrHelper.addNewRestriction" />
                        <f:setPropertyActionListener target="#{legalPersonHelper.reRenderComponents}" value="#{rich:clientId('newRestrictionsTable')}" />
                    </a4j:jsFunction>
                    
                    <a4j:jsFunction name="acceptRestrictionsModificationFun"
                    execute="@form"
                    action="#{interactiveViewerHelper.rrrHelper.acceptRestrictionsModification}"
                    render="restrictionsTable, newRestrictionsTable"
                    oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('panelModiRestrictions')}.hide(); else #{rich:component('simpleMsgPanel')}.show();">
                    </a4j:jsFunction>
                    
                    <a4j:jsFunction name="modiRestrictionsCancelFun" immediate="true" execute="@this"
                    action="#{interactiveViewerHelper.rrrHelper.cancelRestrictionsModification}"
                    render="restrictionsTable, newRestrictionsTable"
                    oncomplete="#{rich:component('panelModiRestrictions')}.hide();">
                    </a4j:jsFunction>
        
                    <rich:toolbar itemSeparator="grid">
                        <rich:toolbarGroup>
                            <sigit:simpleButton
                                value="#{messages['dataentry.mutate_rrr.btn_add_new']}"
                                iconImage="/img/add-icon.png" iconHeight="16" iconWidth="16"
                                justIcons="true" tooltipDirection="bottomRight"
                                onclick="addNewFun();">
                            </sigit:simpleButton>
                        </rich:toolbarGroup>
                        
                        <rich:toolbarGroup location="right">
                            <h:panelGroup>
                                <sigit:simpleButton
                                    value="#{messages['dataentry.mutate_rrr.btn_accept_changes']}"
                                    iconImage="/img/accept-icon.png" iconHeight="16" iconWidth="16"
                                    justIcons="true" tooltipDirection="bottomLeft"
                                    onclick="acceptRestrictionsModificationFun();">
                                </sigit:simpleButton>

                                <sigit:simpleButton
                                    value="#{messages['dataentry.mutate_rrr.btn_cancel_changes']}"
                                    iconImage="/img/cancel-icon.png" iconHeight="16" iconWidth="16"
                                    justIcons="true" tooltipDirection="bottomLeft"
                                    onclick="modiRestrictionsCancelFun();">
                                </sigit:simpleButton>
                            </h:panelGroup>
                        </rich:toolbarGroup>
                    </rich:toolbar>
                    
                    <br/>
                    
                    <div align="center">
                        <h:panelGroup id="newRestrictionsTable">
                            <h:panelGroup rendered="#{not empty interactiveViewerHelper.rrrHelper.newParcelRestrictionsList}">
                                <div style="height:400px;" class="contentRestrictions">
                                <rich:dataTable value="#{interactiveViewerHelper.rrrHelper.newParcelRestrictionsList}" var="newRestriction" rowKeyVar="row">
                                    <f:facet name="header">
                                        <rich:columnGroup>
                                            <rich:column breakRowBefore="true" rowspan="2">
                                                <h:outputText value="#{messages['dataentry.mutate_rrr.party']}"/>
                                            </rich:column>
                                            <rich:column rowspan="2">
                                                <h:outputText value="#{messages['dataentry.mutate_restrictions.type']}"/>
                                            </rich:column>
                                            <rich:column colspan="2">
                                                <h:outputText value="#{messages['dataentry.mutate_rrr.share']}"/>
                                            </rich:column>
                                            <rich:column breakRowBefore="true">
                                                <h:outputText value="#{messages['dataentry.mutate_rrr.numerator']}"/>
                                            </rich:column>
                                            <rich:column>
                                                <h:outputText value="#{messages['dataentry.mutate_rrr.denominator']}"/>
                                            </rich:column>
                                        </rich:columnGroup>
                                    </f:facet>
                                    
                                    <rich:column>
                                        <a4j:commandLink id="editNameLink" oncomplete="#{rich:component('selectPartyPanel')}.show()">
                                            <f:setPropertyActionListener target="#{interactiveViewerHelper.rrrHelper.selectedRestriction}" value="#{newRestriction}"/>
                                            
                                            <f:setPropertyActionListener target="#{personHelper.addingToList}" value="#{false}" />
                                            <f:setPropertyActionListener target="#{personHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                                            <f:setPropertyActionListener target="#{personHelper.reRenderComponents}" value="#{rich:clientId('newRestrictionsTable')}" />
                                            
                                            <f:setPropertyActionListener target="#{legalPersonHelper.addingToList}" value="#{false}" />
                                            <f:setPropertyActionListener target="#{legalPersonHelper.returnValueField}" value="interactiveViewerHelper.rrrHelper.selectedPerson" />
                                            <f:setPropertyActionListener target="#{legalPersonHelper.reRenderComponents}" value="#{rich:clientId('newRestrictionsTable')}" />
        
                                            <h:outputText value="#{newRestriction.owner}"/>
                                        </a4j:commandLink>
                                    </rich:column>
                                    <rich:column>
                                        <h:selectOneMenu value="#{newRestriction.rrrType}" label="#{messages['dataentry.mutate_restrictions.type']}" required="true" converter="#{uiConverters.restrictionType}">
                                            <f:selectItems value="#{uiConverters.restrictionType.valueList}"/>
                                        </h:selectOneMenu>
                                    </rich:column>
                                    <rich:column>
                                        <rich:inputNumberSpinner value="#{newRestriction.share.numerator}" minValue="0" maxValue="100" step="1"/>
                                    </rich:column>
                                    <rich:column>
                                        <rich:inputNumberSpinner value="#{newRestriction.share.denominator}" minValue="0" maxValue="100" step="1"/>
                                    </rich:column>
                                </rich:dataTable>
                                </div>
                                <br />
                                <br />
                            </h:panelGroup>
                            <h:panelGroup rendered="#{empty interactiveViewerHelper.rrrHelper.newParcelRestrictionsList}">
                                <div align="center">
                                    <h:outputText value="#{messages['dataentry.mutate_restrictions.no_new']}" />
                                </div>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </h:form>
            </rich:popupPanel>
        </h:panelGroup>
    </h:panelGroup>
    
    <h:panelGroup rendered="#{interactiveViewerHelper.rrrHelper.editingRights or interactiveViewerHelper.rrrHelper.editingResponsibilities}">
        <div align="center" style="height:10px"/>
        <h:outputText value="#{messages['dataentry.mutate_rrr.no_options']}" style="color:Red;font-weight:bold;"/>
    </h:panelGroup>
</ui:composition>
