<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:sigit="http://java.sun.com/jsf/composite/components">


    <rich:toolbar height="20" itemSeparator="line">
        <rich:toolbarGroup>
            <h:outputText value="Zona seleccionada" />
        </rich:toolbarGroup>
        <rich:toolbarGroup>
            <h:outputText value="#{interactiveViewerHelper.selectedZoneText}" style="color:Red;" />
        </rich:toolbarGroup>
        <rich:toolbarGroup location="right">
            <sigit:simpleButton
                value="Ampliar" type="button" justIcons="true" onclick="doZoom()"
                iconImage="/img/drag-rectangle-on.png" iconHeight="16" iconWidth="16"
                disabled="#{interactiveViewerHelper.selectedZone == null}">
            </sigit:simpleButton>
        </rich:toolbarGroup>
    </rich:toolbar>
    

</ui:composition>
