<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <rich:toolbar height="20" itemSeparator="line">
        <rich:toolbarGroup>
            <h:outputText value="#{messages['txt.layers.selected_layer']}" />
        </rich:toolbarGroup>
        <rich:toolbarGroup location="right">
            <h:outputText value="#{interactiveViewerHelper.selectedLayer.name}" style="color:Red;" />
        </rich:toolbarGroup>
    </rich:toolbar>
    <rich:toolbar height="20" itemSeparator="line">
        <rich:toolbarGroup>
            <h:outputText value="#{messages['txt.layers.selected_layer_theme']}" />
        </rich:toolbarGroup>
        <rich:toolbarGroup location="right">
            <h:outputText value="#{messages[interactiveViewerHelper.selectedLayerTheme.name()]}" style="color:Red;" />
        </rich:toolbarGroup>
    </rich:toolbar>

</ui:composition>
