<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

<f:view locale="#{localeSelector.selectedLocale}">
    <h:head>
        <title>SIGIT</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <h:outputStylesheet library="css" name="layout.css" />
        <h:outputStylesheet library="css" name="layout.ecss" />
        <h:outputStylesheet library="css" name="screen.css" />
        <h:outputScript library="javax.faces" name="jsf.js" target="head" />
    </h:head>

    <h:body>
        <h:outputScript library="util" name="jsfFormViewStateChecker.js" target="head" />
        <div id="wrapper">
            <div id="header" class="rf-p">
                <div class="rf-p-b">
                    <ui:insert name="header"/>
                </div>
            </div>
            <div id="sidebar" class="rf-p">
                <div class="rf-p-b">
                    <ui:insert name="sidebar"/>
                </div>
            </div>

            <div id="content" class="rf-p">
                <div class="rf-p-b">
                    <div id="sigitBodyContent">
                        <ui:insert name="sigitBodyContent"/>
                    </div>
                </div>
            </div>
        </div>
    </h:body>
</f:view>
</html>
