<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    <br/>
    <h3>SIGIT</h3>
    <br/>
    <h:link
        value="#{messages['options.home']}"
        outcome="/home">
    </h:link>
    <br/>
    <h:link
        value="#{messages['options.viewer']}"
        outcome="/viewer/interactiveViewer">
    </h:link>
    <br/>
    <a4j:commandLink>#{messages['options.about']}</a4j:commandLink>
    <h:panelGroup rendered="#{not identity.loggedIn}">
        <br/><br/>
        <h:link
            value="#{messages['options.login']}"
            outcome="/login">
        </h:link>
    </h:panelGroup>
    <br/><br/>
    
    <hr /><!-- height 3px -->

    <ui:insert name="customContent"/>
    
    <br />
    <h3>#{messages['query.queries']}</h3>
    <br />
    <h:link
        value="#{messages['query.parcels']}"
        outcome="/queries/parcels">
    </h:link>
    <br />
    <h:link
        value="#{messages['query.transactions']}"
        outcome="/queries/transactions">
    </h:link>
    <br />
    <h:link
        value="#{messages['query.building_permits']}"
        outcome="/queries/buildingPermits">
    </h:link>
    <br />
    <h:link
        value="#{messages['query.operation_permits']}"
        outcome="/queries/operationPermits">
    </h:link>
    <br />
    <br />
</ui:composition>
