<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    >

    
    <h:panelGroup rendered="#{identity.loggedIn}">
        <!-- hr height="3px"/-->
        <hr/>
        
        <br/>
        
        <!-- BEGIN: Options for cadastral transacions -->

        <h3>#{messages['options.cadastral_transactions']}</h3>
        <br/>
        <h:link
            value="#{messages['options.newrequest']}"
            outcome="/workflow/transaction/startTransaction">
        </h:link>
        <br/>
        <h:link
            value="#{messages['options.pendingactivities']}"
            outcome="/workflow/activities">
        </h:link>
        <br/>
        <br/>
        
        <!-- END: Options for cadastral transacions -->
        
        <hr />
        <!-- hr height="3px"/-->
        <br/>

        <!-- BEGIN: Options for Permits -->
        
        <h3>#{messages['options.permits']}</h3>
        <br/>
        <strong>#{messages['options.buildpermit']}</strong>
        <br />
        <h:link
            value="#{messages['options.newprocess']}"
            outcome="/permits/building/startPermit">
        </h:link>
        <br />
        <h:link
            value="#{messages['options.pendingactivities']}"
            outcome="/permits/building/activities">
        </h:link>
        <br />
        <h:link
            value="#{messages['options.buildpermit.building_types']}"
            outcome="/permits/building/mant/buildingTypeMant">
        </h:link>
        <br />
        <h:link
            value="#{messages['options.buildpermit.building_materials']}"
            outcome="/permits/building/mant/buildingMaterialMant">
        </h:link>
        <br />
        <br />
        <strong>#{messages['options.operationpermit']}</strong>
        <br />
        <h:link
            value="#{messages['options.newprocess']}"
            outcome="/permits/operation/startPermit">
        </h:link>
        <br />
        <h:link
            value="#{messages['options.pendingactivities']}"
            outcome="/permits/operation/activities">
        </h:link>
        <br />
        <h:link
            value="#{messages['options.operationpermit.business_types']}"
            outcome="/permits/operation/mant/businessTypeMant">
        </h:link>
        <br />
        <br />
        <strong>#{messages['options.spatialrules']}</strong>
        <br />
        <h:link
            value="#{messages['options.permitrulegroups']}"
            outcome="/permits/spatialRuleGroups">
        </h:link>
        <br />
        <h:link
            value="#{messages['options.spatialrules']}"
            outcome="/permits/spatialRules">
        </h:link>
        <br/>
        <br/>
        
        <!-- END: Options for Permits -->
        
        
        <!-- hr height="3px"/-->
        <hr />
        <br />
        
        <!-- BEGIN: Options for Maintain Topography -->
        
        <h3>#{messages['options.topographic_maintenance']}</h3>
        <br />
        <h:link
            value="#{messages['options.add_delete_objects']}"
            outcome="/topography/startTopographicTransaction">
        </h:link>
        <br />
        <h:link
            value="#{messages['options.pendingactivities']}"
            outcome="/topography/activities">
        </h:link>
        <br />
        
        <ui:remove>
        <a4j:commandLink action="#{navigationHelper.navigateTo('/topography/editData.xhtml', true)}">
            Edicion de datos alfanumericos
        </a4j:commandLink>

        <a4j:commandLink action="#{navigationHelper.navigateTo('/topography/initialDataLoad.xhtml', true)}">
            #{messages['options.load_data']}
        </a4j:commandLink>
        </ui:remove>
        
        <br />
        <br />
        
        <!-- END: Options for Maintain Topography -->
        
        <!-- hr height="3px"/-->
        <hr />
        <br />

        <!-- BEGIN: Options for Systems Administration -->

        <h3>#{messages['options.sysadmin']}</h3>
        <h:panelGroup rendered="#{identity.hasRole('ROLE_SYSTEM_ADMINISTRATOR')}">
            <h:link
                value="Usuarios y roles"
                outcome="/admin/users">
            </h:link>
            <br />
        </h:panelGroup>
        <h:link
            value="Personas naturales/juridicas"
            outcome="/admin/personMant">
        </h:link>
        <br/>
        <h:link
            value="Tipos de uso"
            outcome="/admin/landUseMant">
        </h:link>
        <br />
        <h:panelGroup rendered="#{identity.hasRole('ROLE_SYSTEM_ADMINISTRATOR')}">
            <h:link
                value="Configuracion del Sistema"
                outcome="/admin/systemConfig">
            </h:link>
            <br />
        </h:panelGroup>
        <br />
        <!-- END: Options for Systems Administration -->


        <!-- hr height="3px"/-->
        <hr />
        <br/>

    </h:panelGroup>

</ui:composition>
