<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j">

    <h:panelGroup>
        <table style="width:100%">
            <tr>
                <td width="50%" align="center">
                    <h:form>
                        <h:selectOneMenu value="#{localeSelector.localeString}">
                            <f:selectItems value="#{localeSelector.supportedLocales}" />
                        </h:selectOneMenu>
                        <h:commandButton action="#{localeSelector.select}"
                            value="#{messages['footer.cambiaridioma']}" />
                    </h:form>
                </td>
                <td width="50%" align="center">
                    <table>
                        <tr align="center">
                            <td rowspan="2">
                                <p>Conversation: id = #{conversation.id},
                                #{conversation.longRunning ? 'long running' :
                                'temporary'}#{conversation.nested ? ', nested, parent id =
                                '.concat(conversation.parentId) : ''}</p>
                            </td>
                            <td width="200px">
                                <h:graphicImage width="100px" value="/img/urbal_ue.png" />
                            </td>
                        </tr>
                        <tr align="center">
                            <td>
                                <h:outputText value="Desarrollado con fondos de la CE en el marco del programa URBAL III" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </h:panelGroup>

</ui:composition>
