<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich">

    <h:panelGroup>
        <table style="width: 100%">
            <tbody>
                <tr>
                    <td width="150px" rowspan="2" align="center">
                        <rich:panel>
                            <h:graphicImage width="100px" value="/img/urbal_ue.png" />
                            <br />
                            <h:outputText value="Desarrollado con fondos de la CE en el marco del programa URBAL III" />
                        </rich:panel>
                    </td>
                    <td>
                        <h2><h:outputText value="#{messages['app.name']} - #{messages['app.fullName']} (v#{propertiesHelper.version})"/></h2>
                        <ui:include src="/WEB-INF/includes/util/blockPage.xhtml" />
                    </td>
                    <td align="right" width="475px">
                        <h:outputLink target="_blank" value="#{configurationHelper.webSiteURL}" rendered="#{configurationHelper.webSiteURL != ''}">
                            #{messages['header.institucion']}
                        </h:outputLink>
                        &#160;
                        <h:outputLink target="_blank" value="#{configurationHelper.userGuideURL}" rendered="#{configurationHelper.userGuideURL != ''}">
                            #{messages['header.guiausuario']}
                        </h:outputLink>
                        &#160;
                        <h:outputLink value="mailto:#{configurationHelper.supportURL}" rendered="#{configurationHelper.supportURL != ''}">
                            #{messages['header.soporte']}
                        </h:outputLink>
                        
                        <br />
                        <br />
                        
                        <h:form rendered="#{view.viewId == '/login.xhtml' or view.viewId == '/home.xhtml'}">
                            <rich:dataGrid columns="#{localeSelector.supportedLocales.size()}" value="#{localeSelector.supportedLocales}" var="locale">
                                <h:commandLink action="#{localeSelector.select}" title="#{locale.displayName}">
                                    <f:setPropertyActionListener target="#{localeSelector.localeString}" value="#{locale.language}" />
                                    <h:graphicImage value="/img/english.png" rendered="#{locale.language == 'en'}" />
                                    <h:graphicImage value="/img/spanish.png" rendered="#{locale.language == 'es'}" />
                                    <h:outputText value="#{locale.language}" />
                                </h:commandLink>
                            </rich:dataGrid>
                        </h:form>
                        <h:panelGroup rendered="#{view.viewId != '/login.xhtml' and view.viewId != '/home.xhtml'}">
                            <h:graphicImage value="/img/english.png" rendered="#{localeSelector.localeString == 'en'}" />
                            <h:graphicImage value="/img/spanish.png" rendered="#{localeSelector.localeString == 'es'}" />
                            <h:outputText value="#{localeSelector.localeString}"/>
                        </h:panelGroup>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="width:100%" border="0">
                            <tr>
                                <td>
                                    <h3>
                                        <h:outputText value="#{configurationHelper.jurisdictionCode} - #{configurationHelper.jurisdictionName}" />
                                    </h3>
                                    <h:messages id="messages" globalOnly="true" styleClass="message"
                                        errorClass="errormsg" infoClass="infomsg" warnClass="warnmsg"
                                        rendered="#{showGlobalMessages != 'false'}">
                                    </h:messages>
                                </td>
                                <td align="right">
                                    <p>Conversation: id = #{conversation.id}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td align="right">
                        <!-- Rendered if the user is *not* logged in and the page is not login.xhtml -->
                        <h:panelGroup rendered="#{not identity.loggedIn and view.viewId != '/login.xhtml'}">
                            <h:form id="headerLoginForm">
                                <h:outputLabel for="username">#{messages['login.username']}</h:outputLabel>
                                <h:inputText id="username" value="#{credentials.username}"  size="10"/>
                                <h:outputLabel for="password">#{messages['login.password']}</h:outputLabel>
                                <h:inputSecret id="password" value="#{credentials.password}" size="10" />
                                <h:outputLabel for="rememberMe">#{messages['login.recuerdame']}</h:outputLabel>
                                <h:selectBooleanCheckbox id="rememberMe" />
                                
                                <h:commandButton id="submit" value="#{messages['login.login']}" action="#{identity.login}" />
                            </h:form>
                        </h:panelGroup>
                        <!-- ========== -->
                        
                        <!-- Rendered if the user is logged in -->
                        <h:panelGroup rendered="#{identity.loggedIn}">
                            <h:outputText id="menuWelcomeId"
                            value="#{messages['header.username']}: #{credentials.username}"
                            rendered="#{identity.loggedIn}" />
                            
                            <h:form>
                                <h:link
                                    value="#{messages['header.logout']}"
                                    outcome="/logout">
                                </h:link>
                            </h:form>
                        </h:panelGroup>
                        <!-- ========== -->
                    </td>
                </tr>
            </tbody>
        </table>
    </h:panelGroup>

</ui:composition>
