<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    <h:form>
        <rich:toolbar>
            <rich:dropDownMenu>
                <f:facet name="label">
                    <h:panelGroup>
                        <!-- h:graphicImage value="/images/icons/copy.gif" styleClass="pic" /-->
                        <h:outputText value="#{messages['menu.transacciones']}" />
                    </h:panelGroup>
                </f:facet>
                <rich:menuItem submitMode="ajax" value="#{messages['menu.transacciones.reunion_predio']}" icon="" onclick="#{rich:component('panelProcesos')}.show();">
                </rich:menuItem>
                <rich:menuItem submitMode="ajax" value="#{messages['menu.transacciones.compra_venta_fraccion']}" icon="" />
                <!-- rich:menuGroup value="Save As...">
                    <rich:menuItem submitMode="ajax" value="Save" icon="" />
                    <rich:menuItem submitMode="ajax" value="Save All">
                        <f:facet name="icon">
                            <h:graphicImage value="/images/icons/save_all.gif" />
                        </f:facet>
                    </rich:menuItem>
                </rich:menuGroup-->
                <rich:menuSeparator id="menuSeparator11" />
                <rich:menuItem submitMode="ajax" value="#{messages['menu.salir']}" action="exit" />
            </rich:dropDownMenu>
            <rich:dropDownMenu>
                <f:facet name="label">
                    <h:panelGrid cellpadding="0" cellspacing="0" columns="2"
                        style="vertical-align:middle">
                        <h:outputText value="#{messages['menu.ayuda']}" />
                    </h:panelGrid>
                </f:facet>

                <rich:menuItem submitMode="none"
                    onclick="document.location.href='http://labs.jboss.com/jbossrichfaces/'">
                    <h:outputLink value="http://labs.jboss.com/jbossrichfaces/">
                        <h:outputText value="#{messages['menu.documentacion']}"></h:outputText>
                    </h:outputLink>
                </rich:menuItem>

                <rich:menuItem submitMode="none"
                    onclick="document.location.href='http://jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=261'">
                    <h:outputLink
                        value="http://jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=261">
                        <h:outputText value="#{messages['menu.acercade']}"></h:outputText>
                    </h:outputLink>
                </rich:menuItem>
            </rich:dropDownMenu>
            <rich:toolbarGroup location="right">
                <rich:dropDownMenu value="#{messages['menu.procesos']}" direction="bottomLeft"
                    jointPoint="br" styleClass="search">
                    <rich:menuItem submitMode="none">
                        <h:graphicImage value="/img/seamlogo.png" width="50" height="50"/>
                        <h:outputText value="#{messages['menu.procesos.permiso_construccion']}"/>
                    </rich:menuItem>
                    <rich:menuItem submitMode="none">
                        <h:graphicImage value="/img/seamlogo.png" width="50" height="50"/>
                        <h:outputText value="#{messages['menu.transacciones.compra_venta_fraccion']}"/>
                    </rich:menuItem>
                    <rich:menuItem value="#{messages['menu.procesos.msg']}"
                        disabled="true"></rich:menuItem>
                </rich:dropDownMenu>
            </rich:toolbarGroup>
        </rich:toolbar>
    </h:form>
</ui:composition>
