<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">
    
    <rich:toolbar height="25" itemSeparator="line">
        <rich:toolbarGroup>
            <ui:insert name="mainControls"/>
        </rich:toolbarGroup>
        <rich:toolbarGroup>
            <ui:insert name="extraControls"/>
        </rich:toolbarGroup>
        <rich:toolbarGroup location="right">
            <ui:insert name="rightThings"/>
        </rich:toolbarGroup>
    </rich:toolbar>
    
    
    <br />
    <ui:insert name="title"/>
    <br />
    <ui:insert name="permitBody" />
    <br />
    
    
    <rich:toolbar height="25" itemSeparator="line">
        <rich:toolbarGroup>
            <ui:insert name="mainControls"/>
        </rich:toolbarGroup>
        <rich:toolbarGroup>
            <ui:insert name="extraControls"/>
        </rich:toolbarGroup>
        <rich:toolbarGroup location="right">
            <ui:insert name="rightThings"/>
        </rich:toolbarGroup>
    </rich:toolbar>


</ui:composition>
