<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="base-layout-sidebar.xhtml">

    <ui:define name="header">
        <h:outputStylesheet library="css" name="toolbarLayout.css" />
        <ui:include src="/WEB-INF/esquema/header.xhtml" />
    </ui:define>

    <ui:define name="sidebar">
        <h:form rendered="#{usePermitSidebar}">
            <ui:include src="/WEB-INF/esquema/permitSidebar.xhtml" />
        </h:form>
        <h:panelGroup rendered="#{not usePermitSidebar}">
            <ui:include src="/WEB-INF/esquema/sidebar.xhtml" />
        </h:panelGroup>
    </ui:define>


    <ui:define name="sigitBodyContent">
        <ui:remove>
        <ui:include src="/WEB-INF/includes/util/blockPage.xhtml"/>
        </ui:remove>
        
        <div class="workflowTopToolbar">
            <rich:toolbar height="25" itemSeparator="line">
                <rich:toolbarGroup>
                    <ui:insert name="mainControls"/>
                </rich:toolbarGroup>
                <rich:toolbarGroup>
                    <ui:insert name="extraControls"/>
                </rich:toolbarGroup>
                <rich:toolbarGroup location="right">
                    <ui:insert name="rightThings"/>
                </rich:toolbarGroup>
            </rich:toolbar>
        </div>
        
        <div class="trxContent">
            <ui:insert name="title"/>
            <ui:insert name="body" />
            <h:form>
                <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
            </h:form>
        </div>
        
        <div class="workflowBottomToolbar">
            <rich:toolbar height="25" itemSeparator="line">
                <rich:toolbarGroup>
                    <ui:insert name="mainControls"/>
                </rich:toolbarGroup>
                <rich:toolbarGroup>
                    <ui:insert name="extraControls"/>
                </rich:toolbarGroup>
                <rich:toolbarGroup location="right">
                    <ui:insert name="rightThings"/>
                </rich:toolbarGroup>
            </rich:toolbar>
        </div>

        <ui:insert name="extraIncludes"/>
    </ui:define>
</ui:composition>
