<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    <h:form>
        <ui:include src="commonSidebar.xhtml"/>
        
        <h:panelGroup rendered="#{identity.loggedIn}">
            <ui:insert name="activityCustomContent"/>
        </h:panelGroup>
    </h:form>
</ui:composition>
