<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="base-layout-sidebar.xhtml">

    <ui:define name="header">
        <ui:include src="/WEB-INF/esquema/header.xhtml" />
    </ui:define>

    <ui:define name="sidebar">
        <ui:include src="/WEB-INF/esquema/sidebar2.xhtml" />
    </ui:define>

    <ui:define name="sigitBodyContent">
        <div class="workflowTopToolbar">
            <rich:toolbar height="25" itemSeparator="line">
                <rich:toolbarGroup>
                    <ui:insert name="mainControls"/>
                </rich:toolbarGroup>
                <rich:toolbarGroup>
                    <ui:insert name="extraControls"/>
                </rich:toolbarGroup>
                <rich:toolbarGroup rendered="#{view.viewId != '/workflow/transaction/presentation.xhtml'}">
                    <h:form>
                        <a4j:commandButton value="#{messages['options.view_request']}" render="transactionData"
                            oncomplete="#{rich:component('viewRequestPanel')}.show()"
                            rendered="#{view.viewId != '/workflow/transaction/approval.xhtml'}">
                            <f:setPropertyActionListener value="#{true}" target="#{viewTransactionHelper.renderTransactionData}" />
                        </a4j:commandButton>
                        
                        <a4j:commandButton value="#{messages['intro2.attacheddocs']}"
                            oncomplete="#{rich:component('attachedFilesDlg')}.show()">
                        </a4j:commandButton>
                    </h:form>
                </rich:toolbarGroup>
                <rich:toolbarGroup location="right">
                    <ui:insert name="rightThings"/>
                </rich:toolbarGroup>
            </rich:toolbar>
        </div>
        
        
        <div class="trxContent">
            <ui:insert name="body" />
        </div>
        
        
        <div class="workflowBottomToolbar">
            <rich:toolbar height="25" itemSeparator="line">
                <rich:toolbarGroup>
                    <ui:insert name="mainControls"/>
                </rich:toolbarGroup>
                <rich:toolbarGroup>
                    <ui:insert name="extraControls"/>
                </rich:toolbarGroup>
                <rich:toolbarGroup rendered="#{view.viewId != '/workflow/transaction/presentation.xhtml'}">
                    <h:form>
                        <a4j:commandButton value="#{messages['options.view_request']}" render="transactionData"
                        oncomplete="#{rich:component('viewRequestPanel')}.show()"
                        rendered="#{view.viewId != '/workflow/transaction/approval.xhtml'}">
                            <f:setPropertyActionListener value="#{true}" target="#{viewTransactionHelper.renderTransactionData}" />
                        </a4j:commandButton>
                        
                        <a4j:commandButton value="#{messages['intro2.attacheddocs']}"
                        oncomplete="#{rich:component('attachedFilesDlg')}.show()">
                        </a4j:commandButton>
                    </h:form>
                </rich:toolbarGroup>
                <rich:toolbarGroup location="right">
                    <ui:insert name="rightThings"/>
                </rich:toolbarGroup>
            </rich:toolbar>
        </div>

        <ui:include src="/WEB-INF/includes/modalPanels.xhtml"/>
        <ui:include
            src="/workflow/transaction/includes/attachedFilesDlg.xhtml"
            rendered="#{view.viewId != '/workflow/transaction/presentation.xhtml'}">
        </ui:include>
        
        <ui:insert name="extraIncludes"/>
    </ui:define>
</ui:composition>
