<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="base-layout-sidebar.xhtml">

    <ui:define name="header">
        <ui:include src="/WEB-INF/esquema/header.xhtml" />
    </ui:define>

    <ui:define name="sidebar">
        <ui:include src="/WEB-INF/esquema/sidebar.xhtml" />
    </ui:define>

    <ui:define name="sigitBodyContent">
        <ui:insert name="body" />
    </ui:define>

</ui:composition>
