<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="base-layout-sidebar.xhtml">

    <ui:define name="header">
        <ui:include src="/WEB-INF/esquema/header.xhtml" />
    </ui:define>

    <ui:define name="sidebar">
        <h:form>
            <ui:include src="commonSidebar.xhtml"/>
            <h:panelGroup rendered="#{identity.loggedIn}">
                <h3>#{messages['options.workflow']}</h3>
                <br/>
                
                <a4j:commandLink value="#{messages['options.view_request']}" render="transactionData"
                oncomplete="#{rich:component('viewRequestPanel')}.show()">
                </a4j:commandLink>
                
                <br/><br/>
                <hr height="3px"/>
                <br/>
                
                <ui:insert name="activityCustomContent"/>
            </h:panelGroup>
            
            <ui:include src="/WEB-INF/includes/viewTopographyMaintRequest.xhtml"/>
        </h:form>
    </ui:define>

    <ui:define name="sigitBodyContent">
        <style type="text/css">
            .sigitBodyContent {
                position: absolute;
                left: 10px;
                top: 3px;
                right: 20px;
                bottom: 3px;
            }
            .workflowTopToolbar {
                position: absolute;
                top: 0px;
                height: 33px;
                width: 100%;
            }
            .workflowBottomToolbar {
                position: absolute;
                bottom: 0px;
                height: 33px;
                width: 100%;
            }
            .trxContent {
                position: absolute;
                top: 33px;
                bottom: 33px;
                width: 100%;
                overflow: auto;
            }
        </style>

        <div class="workflowTopToolbar">
            <rich:toolbar height="25" itemSeparator="line">
                <rich:toolbarGroup>
                    <ui:insert name="mainControls"/>
                </rich:toolbarGroup>
                <rich:toolbarGroup>
                    <ui:insert name="extraControls"/>
                </rich:toolbarGroup>
                <rich:toolbarGroup location="right">
                    <ui:insert name="rightThings"/>
                </rich:toolbarGroup>
            </rich:toolbar>
        </div>
        
        
        <div class="trxContent">
            <ui:insert name="body" />
        </div>
        
        
        <div class="workflowBottomToolbar">
            <rich:toolbar height="25" itemSeparator="line">
                <rich:toolbarGroup>
                    <ui:insert name="mainControls"/>
                </rich:toolbarGroup>
                <rich:toolbarGroup>
                    <ui:insert name="extraControls"/>
                </rich:toolbarGroup>
                <rich:toolbarGroup location="right">
                    <ui:insert name="rightThings"/>
                </rich:toolbarGroup>
            </rich:toolbar>
        </div>
    
        <ui:insert name="extraIncludes"/>
    </ui:define>
</ui:composition>
