 <ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    <h:panelGroup rendered="#{identity.loggedIn}">
        <h3>#{messages['options.workflow']}</h3>
        <br/>
        
        <a4j:commandLink value="#{messages['options.view_request']}" render="transactionData"
        oncomplete="#{rich:component('viewRequestPanel')}.show()"
        rendered="#{view.viewId != '/workflow/transaction/approval.xhtml'}">
            <f:setPropertyActionListener value="#{true}" target="#{viewTransactionHelper.renderTransactionData}" />
        </a4j:commandLink>
        <br/>
        <a4j:commandLink value="#{messages['intro2.attacheddocs']}"
        rendered="#{view.viewId != '/workflow/transaction/presentation.xhtml'}"
        oncomplete="#{rich:component('attachedFilesDlg')}.show()">
        </a4j:commandLink>
        
        <br/><br/>
        <hr height="3px"/>
        <br/>
        
        <ui:insert name="activityCustomContent"/>
    </h:panelGroup>
    
    <ui:include src="/WEB-INF/includes/viewRequest.xhtml"/>
</ui:composition>
