<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <script type="text/javascript">
    var dlgTimeout;
    function doWait() {
        document.getElementById('disablingDiv').style.display='block';
        if (dlgTimeout) {
            clearTimeout(dlgTimeout);
            dlgTimeout = null;
        }
        dlgTimeout = setTimeout(function(){showWaitDialog()}, 3100);
    }
    function endWait() {
        if (dlgTimeout) {
            clearTimeout(dlgTimeout);
            dlgTimeout = null;
        }
        #{rich:component('wait-dialog')}.hide();
        document.getElementById('disablingDiv').style.display='none';
    }
    function showWaitDialog() {
        #{rich:component('wait-dialog')}.show();
    }
    </script>
    
    <a4j:status onstart="doWait();" onstop="endWait(); fixViewStates();" />

    <div id="disablingDiv"></div>

    <rich:popupPanel id="wait-dialog" resizeable="false" autosized="false"
        width="200" height="65" moveable="false" shadowOpacity="1"
        zindex="21000">
        <f:facet name="header">#{messages['txt.please_wait']}</f:facet>
        <h:outputText value="#{messages['txt.request_being_processed']}." />
    </rich:popupPanel>
</ui:component>
