<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <rich:popupPanel id="simpleSelectLandUsePanel" width="400" height="450" zindex="11600">
        <f:facet name="header">
            <h:outputText value="Seleccionar Tipo de Uso"/>
        </f:facet>
        
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="simpleSelectLandUsePanel" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
        
        <ui:include src="/WEB-INF/includes/landUse/simpleLandUses.xhtml" />
    </rich:popupPanel>

</ui:component>
