<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:sigit="http://java.sun.com/jsf/composite/components">
    
    <h:panelGroup id="mapContentGroup">
        <h:panelGroup id="mapContentServerOK" rendered="#{interactiveViewerHelper.mapServerAlive}">
            <style type="text/css">
                .olControlPanel {
                    float: right;
                    right: 0px;
                    height: 30px;
                }
                .olControlPanel div {
                    float: right;
                    display:block;
                    width:  24px;
                    height: 24px;
                    margin: 5px;
                    background-color:yellow;
                }
        
                .olControlPanel .olControlNavigationItemActive {
                    background-color: blue;
                    background-image: url("#{generalHelper.openLayersThemeDefaultImgPath}/pan_on.png");
                }
                .olControlPanel .olControlNavigationItemInactive {
                    background-color: orange;
                    background-image: url("#{generalHelper.openLayersThemeDefaultImgPath}/pan_off.png");
                }
                .olControlPanel .olControlDrawFeatureItemActive {
                    width:  22px;
                    height: 22px;
                    background-image: url("#{generalHelper.openLayersThemeDefaultImgPath}/draw_line_on.png");
                }
                .olControlPanel .olControlDrawFeatureItemInactive {
                    width:  22px;
                    height: 22px;
                    background-image: url("#{generalHelper.openLayersThemeDefaultImgPath}/draw_line_off.png");
                }
                .olControlPanel .olControlZoomBoxItemInactive {
                    width:  22px;
                    height: 22px;
                    background-color: orange;
                    background-image: url("#{generalHelper.openLayersThemeDefaultImgPath}/drag-rectangle-off.png");
                }
                .olControlPanel .olControlZoomBoxItemActive {
                    width:  22px;
                    height: 22px;
                    background-color: blue;
                    background-image: url("#{generalHelper.openLayersThemeDefaultImgPath}/drag-rectangle-on.png");
                }
                .olControlPanel .olControlZoomToMaxExtentItemInactive {
                    width:  18px;
                    height: 18px;
                    background-image: url("#{generalHelper.openLayersImgPath}/zoom-world-mini.png");
                }
                .olControlPanel .selectionButtonItemInactive {
                    width: 27px;
                    height: 25px;
                    background-image: url("#{generalHelper.openLayersImgPath}/selection.png");
                }
                
                .olControlPanel .quickSelectionButtonItemInactive {
                    width: 27px;
                    height: 25px;
                    background-image: url("#{generalHelper.openLayersImgPath}/quick-selection-off.png");
                }
                .olControlPanel .quickSelectionButtonItemActive {
                    width: 27px;
                    height: 25px;
                    background-image: url("#{generalHelper.openLayersImgPath}/quick-selection-on.png");
                }
        
                .alignTop {
                    vertical-align:top;
                }
                .rich-filter-input {
                    width: 50px;
                }
                .rich-spinner-input {
                    width: 30px;
                }
                .superMap {
                    position: absolute;
                    width: 100%;
                    height: 97%;
                }
        
            </style>
            
            <h:outputScript library="openlayers" name="#{generalHelper.openLayersJS}" target="head" />
            
            <h:panelGroup rendered="#{interactiveViewerHelper.showTitle}">
            </h:panelGroup>
            
            
            <h:form id="misc" style="height: 100%">
                <script type="text/javascript">
                    function fixMap() {
                        mapEditor.updateSize();
                    }
        
                    var highlightOnlyOne = false;
                    function updateHighlightedParcelList(evt) {
                        var features = evt.features;
        
                        if (features == undefined || features.length == 0) {
                            // Case when no features were selected on map click (click on an empty space)
                            if (parcelFeaturesLayer.features.length == 0) {
                                // Do nothing since there are no previously highlighted features.
                                return;
                            }
                            // Otherwise, if there are previously highlighted features, then clear them.
                            parcelFeaturesLayer.destroyFeatures();

                            // Clear all selections
                            suIds = #{rich:element('spatialUnitIds')};
                            suIds.value = '';
                            setTimeout(function() {
                                // Clear highlighted zone list
                                submitHighlightedSU();
                                setTimeout(function() {
                                    // No selected zone now. Done at the Helper side.
                                    reRenderSelectedZone();
                                }, 1);
                            }, 1);
                        }
                        else {
                            // Case when one or more features were selected on map click
                            for (var i = 0; i &lt; features.length; i++) {
                                if (!isFeatureInLayer(features[i], parcelFeaturesLayer)) {
                                    if (highlightOnlyOne) {
                                        parcelFeaturesLayer.destroyFeatures();
                                        parcelFeaturesLayer.addFeatures(features[i]);
                                        break;
                                    } else {
                                        parcelFeaturesLayer.addFeatures(features[i]);
                                    }
                                }
                                else {
                                    // The feature is already on list
                                    // let's remove it from there instead
                                    removeFeatureInLayerById(features[i].data.id, parcelFeaturesLayer);
                                }
                            }
        
                            suIds = #{rich:element('spatialUnitIds')};
                            suIds.value = '';
                            for (var i = 0; i &lt; parcelFeaturesLayer.features.length; i++) {
                                suIds.value += parcelFeaturesLayer.features[i].data.id;
                                if (i &lt; parcelFeaturesLayer.features.length-1) {
                                    suIds.value += ',';
                                }
                            }

                            #{rich:element('immediateHighlight')}.value = highlightOnlyOne;
                            if (highlightOnlyOne) {
                                // On quick selection mode, submit the selected features. The selected
                                // zone will be the first on that list.
                                setTimeout(function() {
                                    // Submit highlighted zone list
                                    submitHighlightedSU();
                                    setTimeout(function() {
                                        // Select first zone. Done at the Helper side.
                                        reRenderSelectedZone();
                                    }, 1);
                                }, 1);
                            } else {
                                setTimeout(function() { submitHighlightedSU(); }, 1);
                            }
                        }
                    }
        
                    function isFeatureInLayer(feature, layer) {
                        for (var i = 0; i &lt; layer.features.length; i++)
                            if (feature.data.id == layer.features[i].data.id)
                                return true;
                        return false;
                    }
        
                    function removeFeatureInLayerById(id, layer) {
                        for (var i = 0; i &lt; layer.features.length; i++)
                            if (id == layer.features[i].data.id) {
                                layer.destroyFeatures(layer.features[i]);
                                return;
                            }
                    }
        
                    function unHighlightAllParcels(evt) {
                    }
        
                    function highlightSelectedZone(zoneId) {
                        var selectControl = getControl('parcelSelectControl');
                        if (selectControl != null) {
                            var layer = selectControl.layer;
        
                            var feature = null;
                            for (var i = 0; i &lt; layer.features.length; i++) {
                                if (layer.features[i].data.id == zoneId) {
                                    feature = layer.features[i];
                                    break;
                                }
                            }
                            if (feature != null) {
                                selectControl.unselectAll();
                                selectControl.select(feature);
                            }
                        }
                    }
        
                    function changeWorkingLayer(layerName) {
                        var infoControl = getControl('infoControl');
                        infoControl.layers = [getLayer(layerName)];
                    }
        
                    function getControl(name) {
                        var selectControl = null;
                        for (var i = 0; i &lt; mapEditor.controls.length; i++) {
                            if (mapEditor.controls[i].id == name) {
                                selectControl = mapEditor.controls[i];
                                break;
                            }
                        }
                        return selectControl;
                    }
        
                    function getLayer(layerId) {
                        var layer = null;
                        for (var i = 0; i &lt; mapEditor.layers.length; i++) {
                            if (mapEditor.layers[i].id == layerId) {
                                layer = mapEditor.layers[i];
                                break;
                            }
                        }
                        return layer;
                    }
        
                    function doFilterLayer(layerId, cqlFilter) {
                        var layer = getLayer(layerId);
                        if (layer != null) {
                            delete layer.params.CQL_FILTER;

                            layer.mergeNewParams({'CQL_FILTER': cqlFilter});
                            layer.redraw();
                        } else {
                            alert('Filter Layer Not Found: ' + layerId);
                        }
                    }
        
                    function saveObjectModificationsJS() {
                        for (var i = 0; i &lt; mapEditor.layers.length; i++) {
                            mapEditor.layers[i].redraw();
                        }
        
                        polyLayer.destroyFeatures();
                    }
                    function cancelObjectModificationsJS() {
                        polyLayer.destroyFeatures();
                    }
        
                </script>
        
                <h:panelGroup id="grpDrawCreatedZone">
                    <script type="text/javascript">
                        function drawCreatedZoneJS() {
                            var wkt = '#{interactiveViewerHelper.lastGeomWKT}';
                            if (wkt != null) {
                                if (wkt != '') {
                                    var feature = new OpenLayers.Format.WKT().read(wkt);
                                    polyLayer.addFeatures([feature]);
                                    vlayer.destroyFeatures();
                                }
                            }
                        }
                    </script>
                </h:panelGroup>
                
                
                <a4j:jsFunction
                    name="saveObjectModifications" execute="@form"
                    action="#{interactiveViewerHelper.saveCreatedZones}"
                    render="zoomFun"
                    oncomplete="saveObjectModificationsJS(); doZoom();">
                </a4j:jsFunction>
                <a4j:jsFunction
                    name="cancelObjectModifications" execute="@form"
                    action="#{interactiveViewerHelper.resetCreatedZones}"
                    oncomplete="cancelObjectModificationsJS();">
                </a4j:jsFunction>
                
                <a4j:jsFunction name="setParcelId" execute="@form" render="panelRights"/>
                <a4j:jsFunction name="submitHighlightedSU" execute="@form" render="grpHighlighted"/>
                <a4j:jsFunction name="reRenderSelectedZone" execute="@form"
                    render="grpSelectedZone,#{interactiveViewerHelper.zoneSelectionRerenderString},frmEditData"
                    oncomplete="highlightSelectedZone('#{interactiveViewerHelper.selectedZone.suID}')">
                </a4j:jsFunction>
                
                <h:inputHidden id="spatialUnitIds" value="#{interactiveViewerHelper.highlightedSpatialUnitIds}" />
                <h:inputHidden id="immediateHighlight" value="#{interactiveViewerHelper.immediateHighlight}" />
        
                <div class="superMap">
                <div style="width:100%; height:#{not justIcons ? 50 : 40}px; overflow:auto;">
                    <rich:toolbar height="25" itemSeparator="line">
                        <rich:toolbarGroup rendered="#{interactiveViewerHelper.showSearchSpatialZoneToolbox}">
                            <sigit:simpleButton
                                value="#{messages['interactiveviewer.search_spatial_zone']}"
                                iconImage="/img/find-icon.png" justIcons="#{justIcons}"
                                tooltipText="#{messages['interactiveviewer.search_spatial_zone_desc']}"
                                onclick="#{rich:component('searchSpatialZoneToolbox')}.show()">
                            </sigit:simpleButton>
                        </rich:toolbarGroup>
        
                        <rich:toolbarGroup rendered="#{interactiveViewerHelper.showRightsToolbox || interactiveViewerHelper.showRestrictionsToolbox || interactiveViewerHelper.showResponsibilitiesToolbox}">
                            <h:panelGroup>
                                <sigit:simpleButton
                                    value="#{messages['dataentry.rights_toolbox']}"
                                    iconImage="/img/rights-icon.png" justIcons="#{justIcons}"
                                    tooltipText="#{messages['dataentry.rights_toolbox_desc']}"
                                    onclick="#{rich:component('rightsPanelToolbox')}.show()"
                                    rendered="#{interactiveViewerHelper.showRightsToolbox}">
                                </sigit:simpleButton>
                                    
                                <sigit:simpleButton
                                    value="#{messages['dataentry.restrictions_toolbox']}"
                                    iconImage="/img/restrictions-icon.png" justIcons="#{justIcons}"
                                    tooltipText="#{messages['dataentry.restrictions_toolbox_desc']}"
                                    onclick="#{rich:component('restrictionsPanelToolbox')}.show()"
                                    rendered="#{interactiveViewerHelper.showRestrictionsToolbox}">
                                </sigit:simpleButton>
    
                                <sigit:simpleButton
                                    value="#{messages['dataentry.responsibilities_toolbox']}"
                                    iconImage="/img/responsibilities-icon.png" justIcons="#{justIcons}"
                                    tooltipText="#{messages['dataentry.responsibilities_toolbox_desc']}"
                                    onclick="#{rich:component('responsibilitiesPanelToolbox')}.show()"
                                    rendered="#{interactiveViewerHelper.showResponsibilitiesToolbox}">
                                </sigit:simpleButton>
                            </h:panelGroup>
                        </rich:toolbarGroup>
        
                        <rich:toolbarGroup rendered="#{interactiveViewerHelper.borderEditMode != 'NONE'}">
                            <h:panelGroup  rendered="#{interactiveViewerHelper.borderEditMode == 'CREATE' or interactiveViewerHelper.borderEditMode == 'MIXED'}">
                                <sigit:simpleButton
                                    value="#{messages['dataentry.create_toolbox']}"
                                    iconImage="/img/new.png" justIcons="#{justIcons}"
                                    tooltipText="#{messages['dataentry.create_toolbox_desc']}"
                                    onclick="#{rich:component('splitPanelToolbox')}.show()">
                                </sigit:simpleButton>
                            </h:panelGroup>
                            
                            <h:panelGroup rendered="#{interactiveViewerHelper.borderEditMode == 'SPLIT_MERGE' or interactiveViewerHelper.borderEditMode == 'MIXED'}">
                                <sigit:simpleButton
                                    value="#{messages['dataentry.split_toolbox']}"
                                    iconImage="/img/split-icon.png" justIcons="#{justIcons}"
                                    tooltipText="#{messages['dataentry.split_toolbox_desc']}"
                                    onclick="#{rich:component('splitPanelToolbox')}.show()">
                                </sigit:simpleButton>

                                <sigit:simpleButton
                                    value="#{messages['dataentry.merge_toolbox']}"
                                    iconImage="/img/merge-icon.png" justIcons="#{justIcons}"
                                    tooltipText="#{messages['dataentry.merge_toolbox_desc']}"
                                    onclick="#{rich:component('mergePanelToolbox')}.show()">
                                </sigit:simpleButton>
                            </h:panelGroup>
                        </rich:toolbarGroup>
        
                        <rich:toolbarGroup rendered="#{interactiveViewerHelper.showDataToolbox}">
                            <sigit:simpleButton
                                value="#{messages['dataentry.editdata_toolbox']}"
                                iconImage="/img/edit.gif" justIcons="#{justIcons}"
                                tooltipText="#{messages['dataentry.editdata_toolbox']}"
                                onclick="#{rich:component('editDataPanelToolbox')}.show()">
                            </sigit:simpleButton>
                        </rich:toolbarGroup>
                        
                        <rich:toolbarGroup rendered="#{interactiveViewerHelper.showSpatialAnalysisToolbox}">
                            <sigit:simpleButton
                                value="#{messages['interactiveviewer.spatial_analysis']}"
                                iconImage="/img/analysis-icon.png" justIcons="#{justIcons}"
                                iconHeight="28px" iconWidth="28px"
                                tooltipText="#{messages['interactiveviewer.spatial_analysis_desc']}"
                                onclick="#{rich:component('spatialAnalysisToolbox')}.show()">
                            </sigit:simpleButton>
                        </rich:toolbarGroup>
        
                        <rich:toolbarGroup>
                            <h:panelGroup>
                                <sigit:simpleButton
                                    value="#{messages['interactiveviewer.layers']}"
                                    iconImage="/img/layers-icon.png" justIcons="#{justIcons}"
                                    tooltipText="#{messages['interactiveviewer.layers_desc']}"
                                    onclick="#{rich:component('layersToolbox')}.show()">
                                </sigit:simpleButton>
                                <sigit:simpleButton
                                    value="#{messages['interactiveviewer.legend']}"
                                    iconImage="/img/legend-icon.png" justIcons="#{justIcons}"
                                    tooltipText="#{messages['interactiveviewer.legend_desc']}"
                                    onclick="#{rich:component('legendToolbox')}.show()">
                                </sigit:simpleButton>
                            </h:panelGroup>
                        </rich:toolbarGroup>
        
                        <rich:toolbarGroup location="right" rendered="#{interactiveViewerHelper.showSaveModificationButtons}">
                            <sigit:simpleButton
                                value="#{messages['interactiveviewer.save']}"
                                iconImage="/img/save-icon.png" justIcons="#{justIcons}"
                                tooltipText="#{messages['interactiveviewer.save_desc']}"
                                onclick="saveObjectModifications()">
                            </sigit:simpleButton>
                            <sigit:simpleButton
                                value="#{messages['interactiveviewer.cancel']}"
                                iconImage="/img/cancel-icon.png" justIcons="#{justIcons}"
                                tooltipText="#{messages['interactiveviewer.cancel_desc']}"
                                onclick="cancelObjectModifications()">
                            </sigit:simpleButton>
                        </rich:toolbarGroup>
        
                        <rich:toolbarGroup location="right" rendered="#{interactiveViewerHelper.showHelpToolbox}">
                            <sigit:simpleButton
                                value="#{messages['interactiveviewer.print']}"
                                iconImage="/img/print-icon.png" justIcons="#{justIcons}"
                                tooltipText="#{messages['interactiveviewer.print_map']}"
                                onclick="#{rich:component('viewerPrintDlg')}.show()">
                            </sigit:simpleButton>
                        </rich:toolbarGroup>
                    </rich:toolbar>
                </div>
        
                
                <div style="position: inherit; top: #{not justIcons ? 50 : 40}px; bottom: 0px; width: 100%;">
                    <m:map id="mapEditor" width="100%" height="100%" options="#{interactiveViewerHelper.mapOptions}" jsVariable="mapEditor">
                        <m:wmsLayer
                            name="Centroides de predio"
                            url="#{generalHelper.wmsUrl}"
                            params="{layers: '#{generalHelper.primaryWMSLayer}', transparent: true, format: 'image/png'}"
                            options="{ isBaseLayer: true, projection: '#{generalHelper.workingSRS}' }">
                        </m:wmsLayer>
                        <m:vectorLayer name="Editable" jsVariable="vlayer"/>
                        <m:vectorLayer name="Temp" jsVariable="polyLayer"/>
                        <m:vectorLayer name="parcelFeaturesLayer" jsVariable="parcelFeaturesLayer" />
                        <m:vectorLayer name="neighborParcelLayer" jsVariable="neighborParcelLayer"/>
                        <m:navigationControl />
                        <m:panZoomBarControl />
                        <m:scaleLineControl />
                        <m:mousePositionControl />
                        <m:overviewMapControl />
                        <m:layerSwitcherControl/>
                        <m:panelControl jsVariable="mapPanel">
                            <m:zoomToMaxExtentControl options="{title:'#{messages['map.zoom_to_max_extent']}'}" />
                            <m:navigationControl options="{title:'#{messages['map.navigation']}'}" jsVariable="navigationControl"/>
                            <m:zoomBoxControl options="{title:'#{messages['map.zoom_box']}'}" jsVariable="zoomBoxControl"/>
                        </m:panelControl>
                        <m:script>
                            <h:outputText value="#{mapHelper.mapScript}" />
                        </m:script>
                    </m:map>
                </div>
                </div>
                <ui:remove>
                    <!-- Add this to the mapPanel -->
                    var _aBtn2 = new OpenLayers.Control.Button({displayClass: 'first', type: OpenLayers.Control.TYPE_TOGGLE, eventListeners: {'activate': function(){alert('Control of OpenLayers.Control.TYPE_TOGGLE type is activated')}, 'deactivate': function(){alert('Control of OpenLayers.Control.TYPE_TOGGLE type is deactivated')}}});mapPanel.addControls([_aBtn2]);
                        <m:navigationControl options="{title:'#{messages['map.navigation']}'}"/>
                        <m:zoomBoxControl options="{title:'#{messages['map.zoom_box']}'}"/>
                </ui:remove>
                
                <br />
                <br />
                <br />
            </h:form>
            
            <h:form id="frmZone">
                <h:inputHidden id="zoneWkts" value="#{topographyMaintenanceHelper.zoneWkts}" />
                <a4j:jsFunction name="saveZones" execute="@form" action="#{topographyMaintenanceHelper.saveZones}"/>
            </h:form>
        
            <ui:include src="/viewer/toolbox/search.xhtml" />
            <ui:include src="/viewer/toolbox/mutateRRR.xhtml"/>
            <ui:include src="/viewer/toolbox/merge.xhtml"/>
            <ui:include src="/viewer/toolbox/layers.xhtml" />
            <ui:include src="/viewer/toolbox/legend.xhtml" />
            <ui:include src="/viewer/toolbox/split.xhtml"/>
            <ui:include src="/viewer/toolbox/editData.xhtml" />
            <ui:include src="/viewer/toolbox/viewerPrint.xhtml" />
        </h:panelGroup>
        
        <h:panelGroup id="mapContentNoMapServer" rendered="#{not interactiveViewerHelper.mapServerAlive}">
            <h:form>
                <br />
                <br />
                <h:outputText value="#{messages['map_server.check_failed']}" style="color:Red;"/>
                <br />
                <br />
                <h:outputText value="#{messages['map_server.failure_indications']}" />
                <br />
                <br />
                <br />
                <a4j:commandButton value="#{messages['button.ok']}" action="#{navigationHelper.navigateTo('/home.xhtml')}" />
            </h:form>
        </h:panelGroup>
    </h:panelGroup>
</ui:component>
