<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j">
    
    <h:panelGroup id="sideContentMapGroup">
        <h:panelGroup rendered="#{interactiveViewerHelper.mapServerAlive}">
            <script type="text/javascript">
                function zoomToExtent(left, button, right, top) {
                    bounds = new OpenLayers.Bounds();
                    bounds.left = left;
                    bounds.bottom = button;
                    bounds.right = right;
                    bounds.top = top;
                    mapEditor.zoomToExtent(bounds, true);
                }
                function zoomToMaxExtent() {
                    mapEditor.zoomToMaxExtent();
                }
        
                function activateBox(val) {
                    if (val) {
                        var bc = getBoxControl();
                        bc.events.remove('featureadded');
                        bc.events.register('featureadded', this, doneExtentsBox);
                        bc.activate();
                    }
                    else
                        getBoxControl().deactivate();
                }
        
                function getLayer(layerName) {
                    var layer;
                    for (var i = 0; i &lt; mapEditor.layers.length; i++) {
                        if ( mapEditor.layers[i].id.equals(layerName) ) {
                            layer = mapEditor.layers[i];
                            break;
                        }
                    }
                    return layer;
                }
        
                function setLayerVisible(layerName, isVisible) {
                    var layer = getLayer(layerName);
                    layer.setVisibility(isVisible);
                }
        
                function applyStyleToLayer(layerName, styleName) {
                    var layer = getLayer(layerName);
                    layer.params['STYLES'] = styleName;
                    setLayerVisible(layerName, false)
                    setLayerVisible(layerName, true)
                    layer.redraw();
                }
            </script>
        
            <h:panelGroup id="zoomFun">
                <h:panelGroup rendered="#{interactiveViewerHelper.zoomedInZone != null}">
                    <script type="text/javascript">
                        function doZoom() {
                            zoomToExtent(#{interactiveViewerHelper.envelopeLeft}, #{interactiveViewerHelper.envelopeBottom}, #{interactiveViewerHelper.envelopeRight}, #{interactiveViewerHelper.envelopeTop})
                        }
                    </script>
                </h:panelGroup>
                <h:panelGroup rendered="#{interactiveViewerHelper.zoomedInZone == null}">
                    <script type="text/javascript">
                        function doZoom() {
                            zoomToMaxExtent();
                        }
                    </script>
                </h:panelGroup>
            </h:panelGroup>
        
            <br />
            <h3>Zona seleccionada</h3>
            <br />
            <h:panelGroup id="grpSelectedZone">
                <a4j:commandLink
                    oncomplete="doZoom()"
                    rendered="#{interactiveViewerHelper.selectedZone != null}"
                    render="zoomFun">
                    #{generalHelper.getZoneUsefulName(interactiveViewerHelper.selectedZone)}
                    <f:setPropertyActionListener
                        target="#{interactiveViewerHelper.zoomedInZone}"
                        value="#{interactiveViewerHelper.selectedZone}">
                    </f:setPropertyActionListener>
                </a4j:commandLink>
                <h:outputText
                    value="No hay seleccion"
                    rendered="#{interactiveViewerHelper.selectedZone == null}">
                </h:outputText>
            </h:panelGroup>
            <br />
            <br />
            <h3>Zona(s) resaltada(s)</h3>
            <br/>
            <h:panelGroup id="grpHighlighted">
                <ui:repeat var="spatialZone" value="#{interactiveViewerHelper.highlightedSpatialZoneList}">
                    <a4j:commandLink
                        oncomplete="doZoom()"
                        render="zoomFun">
                        #{generalHelper.getZoneUsefulName(spatialZone)}
                        <f:setPropertyActionListener
                            target="#{interactiveViewerHelper.zoomedInZone}"
                            value="#{spatialZone}">
                        </f:setPropertyActionListener>
                    </a4j:commandLink>
                    <br />
                    #{' - '}
                    <a4j:commandLink value="Seleccionar"
                        render="grpSelectedZone,#{interactiveViewerHelper.zoneSelectionRerenderString}"
                        oncomplete="highlightSelectedZone('#{spatialZone.suID}')">
                        <f:setPropertyActionListener
                            target="#{interactiveViewerHelper.selectedZone}"
                            value="#{spatialZone}">
                        </f:setPropertyActionListener>
                    </a4j:commandLink>
                    <br />
                </ui:repeat>
            </h:panelGroup>
            <br />
            <h3>Capa activa</h3>
            <br />
            <h:outputText id="txtActiveLayer" value="#{interactiveViewerHelper.selectedLayer.name}" style="color:Red;font-weight:bold;" />
            <br />
            <br />
            <hr height="3px"/>
            
            <h:panelGroup id="checkoutBox">
                <h:panelGroup rendered="#{interactiveViewerHelper.showBBoxOptions}">
                    <br />
                    <h:outputText value="#{messages['txt.options'].toUpperCase()}" style="font-weight:bold;" />
                        
                    <br />
                    
                    <input type="radio" name="boxradio" id="radioNavigate" onclick="activateBox(false)" checked="checked"/>
                    <label for="radioNavigate">#{messages['topography.navigate_map']}</label>
                    <br />
                    <input type="radio" name="boxradio" id="radioDrawBox" onclick="activateBox(true)"/>
                    <label for="radioDrawBox">#{messages['topography.pickbox_trace']}</label>
                    
                    <h:inputHidden id="extentsBoxWKT" value="#{interactiveViewerHelper.extentsBoxWKT}" />
                    <a4j:jsFunction name="submitBoxWKT" execute="@form">
                    </a4j:jsFunction>
                    
                    <script type="text/javascript">
                        var boxControl = null;
                        var s = new OpenLayers.Style({
                              'strokeWidth': 3,
                              'strokeColor': '#ff0000',
                              'fillColor': '#ff0000',
                              'fillOpacity': 0.5
                            });
                        var sm = new OpenLayers.StyleMap({'default': s});
                        function getBoxControl() {
                            if (boxControl == null) {
                                boxControl = new OpenLayers.Control.DrawFeature(vlayer,
                                    OpenLayers.Handler.RegularPolygon, {
                                        handlerOptions: {
                                            sides: 4,
                                            irregular: true,
                                            layerOptions: {styleMap: sm}
                                        }
                                    }
                                );
                                mapEditor.addControl(boxControl);
                                vlayer.styleMap = sm;
                            }
                            
                            return boxControl;
                        }
            
                        var lastExtentsBoxFeature = null;
                        var extentsBoxFeature = null;
                        var wktParser = new OpenLayers.Format.WKT();
                        function doneExtentsBox(evt) {
                            lastExtentsBoxFeature = extentsBoxFeature;
                            extentsBoxFeature = evt.feature;
        
                            if (lastExtentsBoxFeature != null) {
                                vlayer.styleMap = sm;
                                vlayer.destroyFeatures( [lastExtentsBoxFeature] );
                                lastExtentsBoxFeature = null;
                            }
            
                            document.getElementById('radioNavigate').click();
        
                            #{rich:element('extentsBoxWKT')}.value = wktParser.write(extentsBoxFeature);
        
                            submitBoxWKT();
                        }
                    </script>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
    </h:panelGroup>
</ui:component>
