<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <ui:define name="body">
        <div style="width:500px;margin: auto;">
            <ui:include src="/WEB-INF/includes/landUse/landUses.xhtml">
                <ui:param name="editCompatibilities" value="#{true}" />
            </ui:include>
        </div>

        <ui:remove>
        <ui:include src="/WEB-INF/includes/selectLandUse.xhtml">
            <ui:param name="showTitle" value="#{true}" />
            <ui:param name="numElements" value="10" />
        </ui:include>
        </ui:remove>
    </ui:define>
</ui:composition>
