<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    <rich:popupPanel id="editLegalPersonDlg" minWidth="450" minHeight="350" zindex="15500">
        <f:facet name="header">
            <h:outputText value="Agregar Persona Juridica" />
        </f:facet>

        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="editLegalPersonDlg" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>

        <h:form id="frmEditLegalPerson">
            <h:panelGroup rendered="#{legalPersonHelper.selected != null}">
                <h:panelGrid columns="2" width="100%">
                    <h:outputText value="#{messages['legal_person.tax_identification_number']}: " />
                    <h:inputText value="#{legalPersonHelper.selected.rtn}"
                        readonly="#{not legalPersonHelper.editing}"
                        style="width:100%">
                    </h:inputText>

                    <h:outputText value="#{messages['legal_person.name']}: " />
                    <h:inputText value="#{legalPersonHelper.selected.name}"
                        readonly="#{not legalPersonHelper.editing}" required="true"
                        label="#{messages['legal_person.name']}"
                        style="width:100%">
                    </h:inputText>
                </h:panelGrid>
                <br />
                <h:panelGrid columns="1" width="100%">
                    <h:outputText value="#{messages['txt.address']}: " />
                    <h:inputTextarea
                        value="#{legalPersonHelper.selected.addressDescription}"
                        readonly="#{not legalPersonHelper.editing}"
                        style="width:100%" rows="5">
                    </h:inputTextarea>
                </h:panelGrid>
                <br />
                <h:panelGrid columns="4" width="100%">
                    <h:outputText value="#{messages['txt.phones']}: " />
                    <h:inputText
                        value="#{legalPersonHelper.selected.phones}"
                        readonly="#{not legalPersonHelper.editing}">
                    </h:inputText>

                    <h:outputText value="#{messages['txt.emails']}: " />
                    <h:inputText
                        value="#{legalPersonHelper.selected.emails}"
                        readonly="#{not legalPersonHelper.editing}">
                    </h:inputText>
                </h:panelGrid>
            </h:panelGroup>

            <br />
            <br />
            <br />

            <div align="center">
                <h:panelGroup rendered="#{legalPersonHelper.editing}">
                    <a4j:commandButton value="#{messages['button.ok']}"
                        action="#{legalPersonHelper.saveSelected}"
                        render="frmLegalPersonGrid"
                        oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('editLegalPersonDlg')}.hide(); else #{rich:component('simpleMsgPanel')}.show();">
                    </a4j:commandButton>
                    <button
                        onclick="#{rich:component('editLegalPersonDlg')}.hide();"
                        type="button">
                        #{messages['button.cancel']}
                    </button>
                </h:panelGroup>
                <h:panelGroup rendered="#{not legalPersonHelper.editing}">
                    <button
                        onclick="#{rich:component('editLegalPersonDlg')}.hide();"
                        type="button">
                        #{messages['button.ok']}
                    </button>
                </h:panelGroup>
            </div>
        </h:form>
    </rich:popupPanel>

</ui:composition>
