<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    <rich:popupPanel id="editNatPersonDlg" minWidth="550" minHeight="420" zindex="15500">
        <f:facet name="header">
            <h:outputText value="Agregar Persona Natural" />
        </f:facet>

        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="editNatPersonDlg" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>

        <h:form id="frmEditNatPerson">
            <h:panelGroup rendered="#{personHelper.selected != null}">
                <h:panelGrid columns="4" width="100%">
                    <h:outputText value="#{messages['nat_person.national_identity']}: " />
                    <h:inputText value="#{personHelper.selected.identity}"
                        readonly="#{not personHelper.editing}" required="true"
                        label="#{messages['nat_person.national_identity']}">
                    </h:inputText>

                    <h:outputText value="#{messages['nat_person.tax_identification_number']}: " />
                    <h:inputText value="#{personHelper.selected.rtn}"
                        readonly="#{not personHelper.editing}"
                        label="#{messages['nat_person.tax_identification_number']}">
                    </h:inputText>

                    <h:outputText value="#{messages['nat_person.last_name']}: " />
                    <h:inputText value="#{personHelper.selected.lastName1}"
                        readonly="#{not personHelper.editing}" required="true"
                        label="#{messages['nat_person.last_name']}">
                    </h:inputText>

                    <h:outputText value="#{messages['nat_person.mothers_maiden_name']}: " />
                    <h:inputText value="#{personHelper.selected.lastName2}"
                        readonly="#{not personHelper.editing}"
                        label="#{messages['nat_person.mothers_maiden_name']}">
                    </h:inputText>

                    <h:outputText value="#{messages['nat_person.first_name']}: " />
                    <h:inputText value="#{personHelper.selected.firstName1}"
                        readonly="#{not personHelper.editing}" required="true"
                        label="#{messages['nat_person.first_name']}">
                    </h:inputText>

                    <h:outputText value="#{messages['nat_person.middle_name']}: " />
                    <h:inputText value="#{personHelper.selected.firstName2}"
                        readonly="#{not personHelper.editing}"
                        label="#{messages['nat_person.middle_name']}">
                    </h:inputText>

                    <h:outputText value="#{messages['nat_person.dob']}: " />
                    <rich:calendar value="#{personHelper.selected.dob}"
                        readonly="#{not personHelper.editing}">
                    </rich:calendar>

                    <h:outputText value="#{messages['nat_person.gender']}: " />
                    <h:selectOneMenu value="#{personHelper.selected.gender}"
                    readonly="#{not personHelper.editing}" required="true"
                    label="#{messages['nat_person.gender']}">
                        <f:selectItem itemValue="" itemLabel="#{messages['txt.select_item']}"/>
                        <f:selectItem itemValue="M" itemLabel="#{messages['txt.gender_male']}"/>
                        <f:selectItem itemValue="F" itemLabel="#{messages['txt.gender_female']}"/>
                        <f:selectItem itemValue="O" itemLabel="#{messages['txt.gender_other']}"/>
                    </h:selectOneMenu>

                    <h:outputText value="#{messages['nat_person.nationality']}: " />
                    <h:inputText value="#{personHelper.selected.nationality}"
                        readonly="#{not personHelper.editing}"
                        label="#{messages['nat_person.nationality']}">
                    </h:inputText>

                    <h:outputText value="#{messages['nat_person.marital_status']}: " />
                    <h:selectOneMenu value="#{personHelper.selected.maritalStatus}"
                    readonly="#{not personHelper.editing}" required="true"
                    label="#{messages['nat_person.marital_status']}">
                        <f:selectItem itemValue="" itemLabel="#{messages['txt.select_item']}"/>
                        <f:selectItem itemValue="S" itemLabel="#{messages['txt.marital_status_single']}"/>
                        <f:selectItem itemValue="C" itemLabel="#{messages['txt.marital_status_married']}"/>
                        <f:selectItem itemValue="W" itemLabel="#{messages['txt.marital_status_widowhood']}"/>
                        <f:selectItem itemValue="F" itemLabel="#{messages['txt.marital_status_free_union']}"/>
                        <f:selectItem itemValue="O" itemLabel="#{messages['txt.marital_status_other']}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:panelGrid columns="1" width="100%">
                    <h:outputText value="#{messages['txt.address']}: " />
                    <h:inputTextarea
                        value="#{personHelper.selected.addressDescription}"
                        readonly="#{not personHelper.editing}"
                        style="width:100%" rows="5">
                    </h:inputTextarea>
                </h:panelGrid>
                <br />
                <h:panelGrid columns="4" width="100%">
                    <h:outputText value="#{messages['txt.telephone']}(s): " />
                    <h:inputText
                        value="#{personHelper.selected.phones}"
                        readonly="#{not personHelper.editing}"
                        label="#{messages['txt.telephone']}">
                    </h:inputText>

                    <h:outputText value="#{messages['txt.emails']}: " />
                    <h:inputText
                        value="#{personHelper.selected.emails}"
                        readonly="#{not personHelper.editing}">
                    </h:inputText>
                </h:panelGrid>
            </h:panelGroup>

            <br />
            <br />
            <br />

            <div align="center">
                <h:panelGroup rendered="#{personHelper.editing}">
                    <a4j:commandButton value="#{messages['button.ok']}"
                        action="#{personHelper.saveSelected}"
                        render="frmNatPersonGrid"
                        oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('editNatPersonDlg')}.hide(); else #{rich:component('simpleMsgPanel')}.show();">
                    </a4j:commandButton>
                    <button
                        onclick="#{rich:component('editNatPersonDlg')}.hide();"
                        type="button">
                        #{messages['button.cancel']}
                    </button>
                </h:panelGroup>
                <h:panelGroup rendered="#{not personHelper.editing}">
                    <button
                        onclick="#{rich:component('editNatPersonDlg')}.hide();"
                        type="button">
                        #{messages['button.ok']}
                    </button>
                </h:panelGroup>
            </div>
        </h:form>
    </rich:popupPanel>

</ui:composition>
