<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    #{mantUISettingsHelper.setShowTitle(showTitle)}
    #{mantUISettingsHelper.setNumElements(numElements)}
    #{personHelper.setSelecting(selecting)}
    #{legalPersonHelper.setSelecting(selecting)}
    #{personHelper.setShowAddButton(showAddButton)}
    #{legalPersonHelper.setShowAddButton(showAddButton)}
    #{personHelper.setShowEditButton(showEditButton)}
    #{legalPersonHelper.setShowEditButton(showEditButton)}
    <div align="center">
        <h:panelGroup id="title" rendered="#{mantUISettingsHelper.showTitle}">
            <h3>
                <h:outputText value="#{messages['txt.person_types']}" />
            </h3>
            <br />
            <hr/>
            <br />
        </h:panelGroup>
        <rich:tabPanel width="770px" switchType="client">
            <rich:tab header="#{messages['txt.natural_persons']}">
                <div align="center">
                    <rich:toolbar height="25" itemSeparator="line">
                        <rich:toolbarGroup>
                            <ui:insert name="natPersonTlbMainControls"/>
                        </rich:toolbarGroup>
                        <rich:toolbarGroup>
                            <ui:insert name="natPersonTlbExtraControls"/>
                        </rich:toolbarGroup>
                    </rich:toolbar>
                    
                    <br />
                    <ui:insert name="natPersonResultGrid"/>
                    <br />
                    
                    <rich:toolbar height="25" itemSeparator="line">
                        <rich:toolbarGroup>
                            <ui:insert name="natPersonTlbMainControls"/>
                        </rich:toolbarGroup>
                        <rich:toolbarGroup>
                            <ui:insert name="natPersonTlbExtraControls"/>
                        </rich:toolbarGroup>
                    </rich:toolbar>                        
                </div>
            </rich:tab>
            
            <rich:tab header="#{messages['txt.legal_persons']}">
                <div align="center">
                    <rich:toolbar height="25" itemSeparator="line">
                        <rich:toolbarGroup>
                            <ui:insert name="legalPersonTlbMainControls"/>
                        </rich:toolbarGroup>
                        <rich:toolbarGroup>
                            <ui:insert name="legalPersonTlbExtraControls"/>
                        </rich:toolbarGroup>
                    </rich:toolbar>
                    
                    <ui:insert name="legalPersonResultGrid"/>
                    
                    <rich:toolbar height="25" itemSeparator="line">
                        <rich:toolbarGroup>
                            <ui:insert name="legalPersonTlbMainControls"/>
                        </rich:toolbarGroup>
                        <rich:toolbarGroup>
                            <ui:insert name="legalPersonTlbExtraControls"/>
                        </rich:toolbarGroup>
                    </rich:toolbar>                        
                </div>
            </rich:tab>
        </rich:tabPanel>
    </div>
    
    <ui:insert name="natPersonRes"/>
    <ui:insert name="legalPersonRes"/>
</ui:composition>
