<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="personLayout.xhtml">

    <ui:define name="natPersonTlbMainControls">
        <rich:toolbar height="25" itemSeparator="line">
            <rich:toolbarGroup>
                <h:form>
                    <h:outputText value="#{messages['txt.quick_search']}   " style="font-weight:bold;" />
                    <h:selectOneMenu value="#{personHelper.searchSelector}">
                        <f:selectItem itemValue="#{personHelper.BY_NATIONAL_ID}" itemLabel="#{messages['txt.national_id']}"/>
                        <f:selectItem itemValue="#{personHelper.BY_LASTNAMES}" itemLabel="#{messages['txt.last_names']}"/>
                        <f:selectItem itemValue="#{personHelper.BY_FIRSTNAMES}" itemLabel="#{messages['txt.names']}"/>
                        <f:selectItem itemValue="#{personHelper.BY_RTN}" itemLabel="#{messages['txt.rtn']}"/>
                    </h:selectOneMenu>
                    <h:outputText value="  " />
                    <h:inputText value="#{personHelper.searchText}" />
                    <h:outputText value="  " />
                    <a4j:commandButton
                        value="#{messages['txt.search']}"
                        action="#{personHelper.quickSearch}"
                        render="frmNatPersonGrid">
                    </a4j:commandButton>
                </h:form>
            </rich:toolbarGroup>
            <rich:toolbarGroup>
                <h:form>
                    <a4j:commandButton
                        value="#{messages['txt.add']}"
                        rendered="#{personHelper.showAddButton}"
                        action="#{personHelper.addNew}"
                        render="frmEditNatPerson"
                        oncomplete="#{rich:component('editNatPersonDlg')}.show();">
                    </a4j:commandButton>
                </h:form>
            </rich:toolbarGroup>
        </rich:toolbar>
    </ui:define>
    
    <ui:define name="natPersonResultGrid">
        <h:form id="frmNatPersonGrid">
            <h:panelGroup rendered="#{empty personHelper.entityList}">
                <h:messages style="color:Red;"/>
                <br />
                #{messages['txt.input_search_criterion']}
                <br />
                <br />
                <br />
            </h:panelGroup>
            
            <rich:dataGrid id="personGrid" value="#{personHelper.entityList}"
            rendered="#{not empty personHelper.entityList}" var="person"
            elements="#{mantUISettingsHelper.numElements}" columns="2" width="100%">
                <f:facet name="header">
                    <rich:dataScroller maxPages="15"></rich:dataScroller>
                </f:facet>
                <f:facet name="footer">
                    <rich:dataScroller maxPages="15"></rich:dataScroller>
                </f:facet>
                
                <table style="width: 100%">
                    <tr valign="top">
                        <td width="80%">
                            <h:panelGrid columns="2">
                                <h:outputText value="#{messages['nat_person.national_identity']}: " />
                                <h:outputText value="#{person.identity}" />
                                
                                <h:outputText value="#{messages['txt.last_names']}: " />
                                <h:outputText value="#{personHelper.lastNames(person)}" />
                                
                                <h:outputText value="#{messages['txt.names']}: " />
                                <h:outputText value="#{personHelper.names(person)}" />
                                
                                <h:outputText value="#{messages['nat_person.dob']}: " />
                                <h:outputText value="#{person.dob}">
                                    <f:convertDateTime dateStyle="short"/>
                                </h:outputText>
                                
                                <h:outputText value="#{messages['nat_person.tax_identification_number']}: " />
                                <h:outputText value="#{person.rtn}" />
            
                                <h:outputText value="#{messages['nat_person.gender']}: " />
                                <h:outputText value="#{personHelper.gender(person)}" />
                                
                                <h:outputText value="#{messages['nat_person.nationality']}: " />
                                <h:outputText value="#{person.nationality}" />
                                
                                <h:outputText value="#{messages['nat_person.marital_status']}: " />
                                <h:outputText value="#{personHelper.maritalStatus(person)}" />
                            </h:panelGrid>
                        </td>
                        <td>
                            <h:panelGrid columns="1">
                                <a4j:commandLink
                                    value="#{messages['button.select']}"
                                    rendered="#{personHelper.selecting}"
                                    action="#{personHelper.select(person)}"
                                    render="#{personHelper.reRenderComponents}"
                                    oncomplete="#{rich:component(selectionPanelName)}.hide();">
                                </a4j:commandLink>
                                <a4j:commandLink
                                    value="#{messages['button.edit']}"
                                    rendered="#{personHelper.showEditButton}"
                                    action="#{personHelper.edit(person)}"
                                    render="frmEditNatPerson"
                                    oncomplete="#{rich:component('editNatPersonDlg')}.show();">
                                </a4j:commandLink>
                                <a4j:commandLink
                                    value="#{messages['txt.details']}"
                                    action="#{personHelper.view(person)}"
                                    render="frmEditNatPerson"
                                    oncomplete="#{rich:component('editNatPersonDlg')}.show();">
                                </a4j:commandLink>
                            </h:panelGrid>
                        </td>
                    </tr>
                </table>
            </rich:dataGrid>
        </h:form>
    </ui:define>
    
    <ui:define name="natPersonRes">
        <ui:include src="natPersonDlgs.xhtml">
            <ui:param name="resultList" value="personGrid" />
        </ui:include>
    </ui:define>
    
    
    <!-- LEGAL PERSON STUFF -->
    <ui:define name="legalPersonTlbMainControls">
        <rich:toolbar height="25" itemSeparator="line">
            <rich:toolbarGroup>
                <h:form>
                    <h:outputText value="#{messages['txt.quick_search']}   " style="font-weight:bold;" />
                    <h:selectOneMenu value="#{legalPersonHelper.searchSelector}">
                        <f:selectItem itemValue="#{legalPersonHelper.BY_RTN}" itemLabel="#{messages['txt.rtn']}"/>
                        <f:selectItem itemValue="#{legalPersonHelper.BY_NAME}" itemLabel="#{messages['txt.name']}"/>
                    </h:selectOneMenu>
                    <h:outputText value="  " />
                    <h:inputText value="#{legalPersonHelper.searchText}" />
                    <h:outputText value="  " />
                    <a4j:commandButton
                        value="#{messages['txt.search']}"
                        action="#{legalPersonHelper.quickSearch}"
                        render="frmLegalPersonGrid">
                    </a4j:commandButton>
                </h:form>
            </rich:toolbarGroup>
            <rich:toolbarGroup>
                <h:form>
                    <a4j:commandButton
                        value="#{messages['txt.add']}"
                        rendered="#{legalPersonHelper.showAddButton}"
                        action="#{legalPersonHelper.addNew}"
                        render="frmEditLegalPerson"
                        oncomplete="#{rich:component('editLegalPersonDlg')}.show();">
                    </a4j:commandButton>
                </h:form>
            </rich:toolbarGroup>
        </rich:toolbar>
    </ui:define>
    
    <ui:define name="legalPersonResultGrid">
        <h:form id="frmLegalPersonGrid">
            <h:panelGroup rendered="#{empty legalPersonHelper.entityList}">
                <h:messages style="color:Red;"/>
                <br />
                <br />
                #{messages['txt.input_search_criterion']}
                <br />
                <br />
                <br />
            </h:panelGroup>
            
            <rich:dataGrid id="personGrid" value="#{legalPersonHelper.entityList}"
            rendered="#{not empty legalPersonHelper.entityList}" var="person"
            elements="#{mantUISettingsHelper.numElements}" columns="2" width="100%">
                <f:facet name="header">
                    <rich:dataScroller maxPages="15"></rich:dataScroller>
                </f:facet>
                <f:facet name="footer">
                    <rich:dataScroller maxPages="15"></rich:dataScroller>
                </f:facet>
                
                <table style="width: 100%">
                    <tr valign="top">
                        <td width="80%">
                            <h:panelGrid columns="2">
                                <h:outputText value="#{messages['legal_person.tax_identification_number']}: " />
                                <h:outputText value="#{person.rtn}" />

                                <h:outputText value="#{messages['legal_person.name']}: " />
                                <h:outputText value="#{person.name}" />

                                <h:outputText value="#{messages['txt.phones']}: " />
                                <h:outputText value="#{person.phones}" />
                                
                                <h:outputText value="#{messages['txt.emails']}: " />
                                <h:outputText value="#{person.emails}" />
                            </h:panelGrid>
                        </td>
                        <td>
                            <h:panelGrid columns="1">
                                <a4j:commandLink
                                    value="#{messages['button.select']}"
                                    rendered="#{legalPersonHelper.selecting}"
                                    action="#{legalPersonHelper.select(person)}"
                                    render="#{legalPersonHelper.reRenderComponents}"
                                    oncomplete="#{rich:component(selectionPanelName)}.hide();">
                                </a4j:commandLink>
                                <a4j:commandLink
                                    value="#{messages['button.edit']}"
                                    rendered="#{legalPersonHelper.showEditButton}"
                                    action="#{legalPersonHelper.edit(person)}"
                                    render="frmEditLegalPerson"
                                    oncomplete="#{rich:component('editLegalPersonDlg')}.show();">
                                </a4j:commandLink>
                                <a4j:commandLink
                                    value="#{messages['txt.details']}"
                                    action="#{legalPersonHelper.view(person)}"
                                    render="frmEditLegalPerson"
                                    oncomplete="#{rich:component('editLegalPersonDlg')}.show();">
                                </a4j:commandLink>
                            </h:panelGrid>
                        </td>
                    </tr>
                </table>
            </rich:dataGrid>
        </h:form>
    </ui:define>
    
    <ui:define name="legalPersonRes">
        <ui:include src="legalPersonDlgs.xhtml">
            <ui:param name="resultList" value="personGrid" />
        </ui:include>
    </ui:define>
</ui:composition>
