<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">


    <strong>#{messages['user.assigned_roles']}</strong>
    <hr />
    <h:panelGrid columns="2">
        <h:panelGroup>
            <h:selectBooleanCheckbox id="chkReceptionist" value="#{usersHelper.selected.receptionist}"/>
            <h:outputLabel for="chkReceptionist" value="#{messages['RECEPTIONIST']}"/>
        </h:panelGroup>

        <h:panelGroup>
            <h:selectBooleanCheckbox id="chkAnalyst" value="#{usersHelper.selected.analyst}"/>
            <h:outputLabel for="chkAnalyst" value="#{messages['ANALYST']}"/>
        </h:panelGroup>

        <h:panelGroup>
            <h:selectBooleanCheckbox id="chkEditor" value="#{usersHelper.selected.editor}"/>
            <h:outputLabel for="chkEditor" value="#{messages['EDITOR']}"/>
        </h:panelGroup>

        <h:panelGroup>
            <h:selectBooleanCheckbox id="chkApprover" value="#{usersHelper.selected.approver}"/>
            <h:outputLabel for="chkApprover" value="#{messages['APPROVER']}"/>
        </h:panelGroup>

        <h:panelGroup>
            <h:selectBooleanCheckbox id="chkSurveyingTechnician" value="#{usersHelper.selected.surveyingTechnician}"/>
            <h:outputLabel for="chkSurveyingTechnician" value="#{messages['SURVEYING_TECHNICIAN']}"/>
        </h:panelGroup>

        <h:panelGroup>
            <h:selectBooleanCheckbox id="chkExternalQuerier" value="#{usersHelper.selected.externalQuerier}"/>
            <h:outputLabel for="chkExternalQuerier" value="#{messages['EXTERNAL_QUERIER']}"/>
        </h:panelGroup>

        <h:panelGroup>
            <h:selectBooleanCheckbox id="chkInternalQuerier" value="#{usersHelper.selected.internalQuerier}"/>
            <h:outputLabel for="chkInternalQuerier" value="#{messages['INTERNAL_QUERIER']}"/>
        </h:panelGroup>

        <h:panelGroup>
            <h:selectBooleanCheckbox id="chkManager" value="#{usersHelper.selected.manager}"/>
            <h:outputLabel for="chkManager" value="#{messages['MANAGER']}"/>
        </h:panelGroup>

        <h:panelGroup>
            <h:selectBooleanCheckbox id="chkSystemAdministrator" value="#{usersHelper.selected.systemAdministrator}"/>
            <h:outputLabel for="chkSystemAdministrator" value="#{messages['SYSTEM_ADMINISTRATOR']}"/>
        </h:panelGroup>
    </h:panelGrid>

</ui:composition>
