<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <ui:define name="body">
        <div align="center">
            <h:outputText value="#{messages['system_config.reference_data']}" style="font-size:medium;font-weight:bold;" />
            <hr/>
            <br />
            <h:form>
                <h:panelGrid id="grdRefData" columns="2">    
                    <h:outputLabel for="support_url" value="#{messages['system_config.support_url']}" />
                    <h:panelGroup>
                        <h:inputText id="support_url"
                            label="#{messages['system_config.support_url']}"
                            value="#{systemConfigurationHelper.systemConfig.supportURL}"
                            validatorMessage="'#{messages['system_config.support_url']}': #{messages['system_config.invalid_email']}"
                            style="width:300px">
                            <f:validator validatorId="org.sigit.EmailValidator" />
                        </h:inputText>
                        <br />
                        <h:message for="support_url" style="color:Red;"/>
                    </h:panelGroup>

                    <h:outputLabel for="logo_url" value="#{messages['system_config.logo_url']}" />
                    <h:panelGroup>
                        <h:inputText id="logo_url"
                            label="#{messages['system_config.logo_url']}"
                            value="#{systemConfigurationHelper.systemConfig.logoURL}"
                            validatorMessage="'#{messages['system_config.logo_url']}': #{messages['system_config.invalid_url']}"
                            style="width:300px">
                            <f:validator validatorId="org.sigit.UrlValidator" />
                        </h:inputText>
                        <br />
                        <h:message for="logo_url" style="color:Red;"/>
                    </h:panelGroup>
                    
                    <h:outputLabel for="website_url" value="#{messages['system_config.website_url']}" />
                    <h:panelGroup>
                        <h:inputText id="website_url"
                            label="#{messages['system_config.website_url']}"
                            value="#{systemConfigurationHelper.systemConfig.webSiteURL}"
                            validatorMessage="'#{messages['system_config.website_url']}': #{messages['system_config.invalid_url']}"
                            style="width:300px">
                            <f:validator validatorId="org.sigit.UrlValidator" />
                        </h:inputText>
                        <br />
                        <h:message for="website_url" style="color:Red;"/>
                    </h:panelGroup>
                    
                    <h:outputLabel for="userguide_url" value="#{messages['system_config.userguide_url']}" />
                    <h:panelGroup>
                        <h:inputText id="userguide_url"
                            label="#{messages['system_config.userguide_url']}"
                            value="#{systemConfigurationHelper.systemConfig.userGuideURL}"
                            validatorMessage="'#{messages['system_config.userguide_url']}': #{messages['system_config.invalid_url']}"
                            style="width:300px">
                            <f:validator validatorId="org.sigit.UrlValidator" />
                        </h:inputText>
                        <br />
                        <h:message for="userguide_url" style="color:Red;"/>
                    </h:panelGroup>
                </h:panelGrid>
                <br />
                <a4j:commandButton value="#{messages['button.applychanges']}"
                    action="#{systemConfigurationHelper.save}" render="grdRefData"
                    oncomplete="if (#{facesContext.maximumSeverity == 'INFO 0'}) #{rich:component('msgPanel')}.show();">
                </a4j:commandButton>
                <sigit:simpleButton value="#{messages['button.reset']}" type="reset" />
                <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
            </h:form>

            <br />
            <br />
            <br />

            <h:outputText value="#{messages['system_config.main_data']}" style="font-size:medium;font-weight:bold;" />
            <hr/>
            <br />
            <h:form>
                <h:panelGrid id="grdMainData" columns="2">
                    <h:outputLabel for="municipality_name" value="#{messages['system_config.municipality_name']}" />
                    <h:panelGroup>
                        <h:inputText id="municipality_name"
                            label="#{messages['system_config.municipality_name']}"
                            value="#{systemConfigurationHelper.systemConfig.municipalityName}"
                            required="true" style="width:300px">
                        </h:inputText>
                        <br />
                        <h:message for="municipality_name" style="color:Red;"/>
                    </h:panelGroup>
                    
                    <h:outputLabel for="srid" value="#{messages['system_config.srid']}" />
                    <h:panelGroup>
                        <h:inputText id="srid"
                            label="#{messages['system_config.srid']}"
                            value="#{systemConfigurationHelper.systemConfig.srid}"
                            readonly="#{not systemConfigurationHelper.ableToEditProjection}"
                            required="true">
                            <f:validateLongRange minimum="0" maximum="32767"/>
                        </h:inputText>
                        <br />
                        <h:message for="srid" style="color:Red;"/>
                        <h:outputText
                            value="#{messages['system_config.unmodifiable_reason']}"
                            rendered="#{not systemConfigurationHelper.ableToEditProjection}"
                            style="color:Blue;">
                        </h:outputText>
                    </h:panelGroup>
                    
                    <h:outputLabel for="working_namespace" value="#{messages['system_config.working_namespace']}" />
                    <h:panelGroup>
                        <h:inputText id="working_namespace"
                            label="#{messages['system_config.working_namespace']}"
                            value="#{systemConfigurationHelper.systemConfig.workingNamespace}"
                            readonly="#{not systemConfigurationHelper.ableToEditProjection}"
                            required="true">
                            <f:validateLength minimum="2"/>
                        </h:inputText>
                        <br />
                        <h:message for="working_namespace" style="color:Red;"/>
                        <h:outputText
                            value="#{messages['system_config.unmodifiable_reason']}"
                            rendered="#{not systemConfigurationHelper.ableToEditProjection}"
                            style="color:Blue;">
                        </h:outputText>
                    </h:panelGroup>
                </h:panelGrid>
                <br />
                <a4j:commandButton value="#{messages['button.applychanges']}"
                    action="#{systemConfigurationHelper.save}" render="grdMainData"
                    oncomplete="if (#{facesContext.maximumSeverity == 'INFO 0'}) #{rich:component('msgPanel')}.show();">
                </a4j:commandButton>
                <sigit:simpleButton value="#{messages['button.reset']}" type="reset" />
                <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
            </h:form>

            <br />
            <br />
            <br />

            <h:outputText value="#{messages['system_config.permit_conf']}" style="font-size:medium;font-weight:bold;" />
            <hr/>
            <br />
            <h:form>
                <h:panelGrid id="grdPermitConf" columns="2">
                    <h:outputLabel for="building_permit_rule_group" value="#{messages['system_config.building_permit_rule_group']}" />
                    <h:panelGroup>
                        <h:selectOneMenu id="building_permit_rule_group"
                            label="#{messages['system_config.building_permit_rule_group']}"
                            value="#{systemConfigurationHelper.systemConfig.buildingPermitRuleGroup}"
                            converter="#{uiConverters.buildingPermitRuleGroup}"
                            required="true" style="width:300px">
                            <f:selectItems value="#{uiConverters.buildingPermitRuleGroup.selectItems(systemConfigurationHelper.buildingPermitRuleGroups)}"/>
                        </h:selectOneMenu>
                        <br />
                        <h:message for="building_permit_rule_group" style="color:Red;"/>
                    </h:panelGroup>
                    
                    <h:outputLabel for="operation_permit_rule_group" value="#{messages['system_config.operation_permit_rule_group']}" />
                    <h:panelGroup>
                        <h:selectOneMenu id="operation_permit_rule_group"
                            label="#{messages['system_config.operation_permit_rule_group']}"
                            value="#{systemConfigurationHelper.systemConfig.operationPermitRuleGroup}"
                            converter="#{uiConverters.operationPermitRuleGroup}"
                            required="true" style="width:300px">
                            <f:selectItems value="#{uiConverters.operationPermitRuleGroup.selectItems(systemConfigurationHelper.operationPermitRuleGroups)}"/>
                        </h:selectOneMenu>
                        <br />
                        <h:message for="operation_permit_rule_group" style="color:Red;"/>
                    </h:panelGroup>
                </h:panelGrid>
                <br />
                <a4j:commandButton value="#{messages['button.applychanges']}"
                    action="#{systemConfigurationHelper.save}" render="grdPermitConf"
                    oncomplete="if (#{facesContext.maximumSeverity == 'INFO 0'}) #{rich:component('msgPanel')}.show();">
                </a4j:commandButton>
                <sigit:simpleButton value="#{messages['button.reset']}" type="reset" />
                <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
            </h:form>

            <br />
            <br />
            <br />

            <h:outputText value="#{messages['map_server.status']}" style="font-size:medium;font-weight:bold;" />
            <hr/>
            <br />
            <h:form>
                <h:panelGroup id="mapServerStatus">
                    <h:panelGroup rendered="#{systemConfigurationHelper.mapServerAlive}">
                        <h:outputText value="#{messages['map_server.check_passed']}"/>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{not systemConfigurationHelper.mapServerAlive}">
                        <h:outputText value="#{messages['map_server.check_failed']}" style="color:Red;"/>
                        <br />
                        <br />
                        <h:outputText value="#{messages['map_server.failure_indications']}" />
                    </h:panelGroup>
                </h:panelGroup>
                <br />
                <br />
                <a4j:commandButton value="#{messages['map_server.refresh']}"
                    action="#{systemConfigurationHelper.refreshMapServerAliveFlag}" render="mapServerStatus"
                    oncomplete="if (#{facesContext.maximumSeverity == 'INFO 0'}) #{rich:component('msgPanel')}.show();">
                </a4j:commandButton>
                <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
            </h:form>
            <br />
        </div>
    </ui:define>
</ui:composition>
