<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <ui:define name="body">
        <h:form>
            <div align="center">
                <h3>#{messages['user.management']}</h3>
                <br />
                <hr/>
                <br />
                
                <a4j:commandLink
                    value="#{messages['user.newuser']}" action="#{usersHelper.newUser}"
                    oncomplete="#{rich:component('addUserDlg')}.show();"
                    render="addUserDlg">
                </a4j:commandLink>
                
                <br />
                <br />
                <rich:dataTable id="dtUsers" value="#{usersHelper.users}" var="user" rowKeyVar="row">
                    <rich:column>
                        <f:facet name="header">#{messages['txt.user']}</f:facet>
                        <h:outputText value="#{user.userName}" />
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{messages['txt.party_formal_identity']}</f:facet>
                        <h:outputText value="#{user.party.formalIdentity}" />
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{messages['txt.full_name']}</f:facet>
                        <h:outputText value="#{user.party.name}" />
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{messages['txt.type']}</f:facet>
                        <h:outputText value="#{usersHelper.partyType(user)}" />
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{messages['txt.active']}</f:facet>
                        <h:outputText value="#{user.active ? 'SI' : 'NO'}" />
                    </rich:column>
                    <rich:column>
                        <f:facet name="header"></f:facet>
                        <a4j:commandLink value="#{messages['button.edit']}"
                            action="#{usersHelper.editUser(user)}"
                            oncomplete="#{rich:component('editUserDlg')}.show();"
                            render="editUserDlg">
                        </a4j:commandLink>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header"></f:facet>
                        <a4j:commandLink value="#{user.active ? messages['user.deactivate'] : messages['user.activate']}"
                            action="#{usersHelper.toggleActivation(user)}"
                            render="dtUsers">
                            <f:setPropertyActionListener value="#{row}" target="#{usersHelper.currentRow}" />
                        </a4j:commandLink>
                    </rich:column>
                </rich:dataTable>
            </div>
        </h:form>
        
        <rich:popupPanel id="addUserDlg" minWidth="450" minHeight="490">
            <f:facet name="header">
                <h:outputText value="#{messages['user.editdata']}"/>
            </f:facet>
            
            <f:facet name="controls">
                <h:graphicImage value="/img/close.png">
                    <rich:componentControl target="addUserDlg" operation="hide" event="click" />
                </h:graphicImage>
            </f:facet>
            
            <h:form>
                <h:panelGroup rendered="#{usersHelper.selected != null}">
                    <div align="center">
                        <strong>#{messages['user.data']}</strong>
                        <hr />
                        <br />
                        <h:panelGrid columns="2" width="70%">
                            <h:outputText value="#{messages['txt.user']}" />
                            <h:inputText label="#{messages['txt.user']}"
                            value="#{usersHelper.selected.userName}"
                            required="true"
                            style="width:95%">
                                <f:validateLength minimum="3"/>
                            </h:inputText>
                        </h:panelGrid>
                        <br />
                        <br />

                        <h:outputText value="#{messages['user.newuser_partyname']}:" />
                        <br />
                        <h:inputText
                        id="partyName"
                        value="#{usersHelper.newUserPartyName}"
                        readonly="true"
                        style="width:70%">
                            <f:validateLength minimum="13" />
                        </h:inputText>
                        <a4j:commandLink execute="@this" oncomplete="#{rich:component('selectPartyPanel')}.show()">
                            <f:setPropertyActionListener target="#{personHelper.returnValueField}" value="usersHelper.selected.party" />
                            <f:setPropertyActionListener target="#{personHelper.reRenderComponents}" value="partyName" />
                            <f:setPropertyActionListener target="#{legalPersonHelper.returnValueField}" value="usersHelper.selected.party" />
                            <f:setPropertyActionListener target="#{legalPersonHelper.reRenderComponents}" value="partyName" />

                            <h:outputText value="Seleccionar" />
                        </a4j:commandLink>
                        <br />
                        <br />
                    
                        <ui:include src="rolesIncl.xhtml" />
                        
                        <br />
                        <br />
                        
                        <strong>#{messages['user.newuser_intialpassword']}</strong>
                        <hr />
                        <br />
                        <h:panelGrid columns="2" width="70%">
                            <h:outputText value="#{messages['txt.password']}" />
                            <h:inputSecret
                            label="#{messages['txt.password']}"
                            value="#{usersHelper.password}"
                            required="true">
                                <f:validateLength minimum="5"/>
                            </h:inputSecret>
                            
                            <h:outputText value="#{messages['user.confirm_password']}" />
                            <h:inputSecret
                            label="#{messages['user.confirm_password']}"
                            value="#{usersHelper.confPassword}"
                            required="true">
                                <f:validateLength minimum="5"/>
                            </h:inputSecret>
                        </h:panelGrid>
                        
                        <br />
                        
                        <h:panelGrid columns="2" style="">
                            <a4j:commandButton
                                value="#{messages['button.ok']}"
                                execute="@form"
                                action="#{usersHelper.saveSelected}"
                                oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('addUserDlg')}.hide(); else #{rich:component('msgPanel')}.show();"
                                render="dtUsers">
                            </a4j:commandButton>
                            <a4j:commandButton
                                value="#{messages['button.cancel']}"
                                execute="@this"
                                oncomplete="#{rich:component('addUserDlg')}.hide();">
                            </a4j:commandButton>
                        </h:panelGrid>
                    </div>
                </h:panelGroup>
                <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
            </h:form>
        </rich:popupPanel>
        
        <rich:popupPanel id="editUserDlg" minWidth="450" minHeight="410" resizeable="false">
            <f:facet name="header">
                <h:outputText value="#{messages['user.editdata']}"/>
            </f:facet>
            
            <f:facet name="controls">
                <h:graphicImage value="/img/close.png">
                    <rich:componentControl target="editUserDlg" operation="hide" event="click" />
                </h:graphicImage>
            </f:facet>
            
            <rich:tabPanel switchType="client">
                <rich:tab header="#{messages['user.data']}">
                    <h:form>
                        <h:panelGroup rendered="#{usersHelper.selected != null}">
                            <div align="center">
                                <strong>#{messages['user.data']}</strong>
                                <hr />
                                <h:panelGrid columns="2" width="70%">
                                    <h:outputText value="#{messages['txt.user']}" />
                                    <h:outputText value="#{usersHelper.selected.userName}" style="font-weight:bold;" />
        
                                    <h:outputLabel for="chkActive" value="#{messages['txt.active']}" />
                                    <h:selectBooleanCheckbox id="chkActive" value="#{usersHelper.selected.active}" />
                                </h:panelGrid>
                                <br />
                                <h:panelGrid columns="2" width="100%">
                                    <h:outputText value="#{messages['txt.full_name']}" />
                                    <h:outputText value="#{usersHelper.selected.party.name}" style="font-weight:bold;" />
                                </h:panelGrid>
                                <br />
                                
                                <ui:include src="rolesIncl.xhtml" />
                                
                                <br />
                                <br />
                                
                                <h:panelGrid columns="2" style="">
                                    <a4j:commandButton
                                        value="#{messages['button.ok']}"
                                        action="#{usersHelper.applyUserDataChange}"
                                        oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('editUserDlg')}.hide(); else #{rich:component('msgPanel')}.show();"
                                        render="dtUsers">
                                    </a4j:commandButton>
                                    <a4j:commandButton
                                        value="#{messages['button.cancel']}"
                                        execute="@this"
                                        oncomplete="#{rich:component('editUserDlg')}.hide();">
                                    </a4j:commandButton>
                                </h:panelGrid>
                            </div>
                        </h:panelGroup>
                    </h:form>
                </rich:tab>
                <rich:tab header="#{messages['user.reset_password']}">
                    <h:form>
                        <h:messages />
                        <h:panelGroup rendered="#{usersHelper.selected != null}">
                            <div align="center">
                                <strong>#{messages['user.reset_password']}</strong>
                                <hr />
                                <h:panelGrid columns="2">
                                    <h:outputText value="#{messages['user.new_password']}" />
                                    <h:inputSecret value="#{usersHelper.password}" />
                                    
                                    <h:outputText value="#{messages['user.confirm_password']}" />
                                    <h:inputSecret value="#{usersHelper.confPassword}" />
                                </h:panelGrid>
                                
                                <br />
                                <br />
                                
                                <h:panelGrid columns="2" style="">
                                    <a4j:commandButton
                                        value="#{messages['button.ok']}"
                                        action="#{usersHelper.saveSelected}"
                                        oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('editUserDlg')}.hide(); else #{rich:component('msgPanel')}.show();"
                                        render="dtUsers">
                                    </a4j:commandButton>
                                    <a4j:commandButton
                                        value="#{messages['button.cancel']}"
                                        execute="@this"
                                        oncomplete="#{rich:component('editUserDlg')}.hide();">
                                    </a4j:commandButton>
                                </h:panelGrid>
                            </div>
                        </h:panelGroup>
                    </h:form>
                </rich:tab>
            </rich:tabPanel>
        </rich:popupPanel>
        
        
        <ui:include src="/WEB-INF/includes/selectParty.xhtml" />
    </ui:define>
</ui:composition>
    
