<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <h:outputText
        value="#{messages['operation_permit.assessments.field_visit']}"
        style="font-weight:bold;" />
    <hr />
    <br />
    <h:panelGrid columns="1" style="width:70%">
        <h:inputTextarea id="fieldVisitAssessment"
            value="#{buildingPermitHelper.permit.fieldVisitAssessment}"
            label="#{messages['building_permit.assessments.field_visit']}"
            rows="5" style="width:100%" required="true" readonly="#{readonly}">
        </h:inputTextarea>
        <rich:message style="color:Red;" for="fieldVisitAssessment" />
    </h:panelGrid>

    <br /> <br /> <br />

    <h:outputText
        value="#{messages['building_permit.assessments.environmental_assessment']}"
        style="font-weight:bold;" />
    <hr />
    <br />
    <h:panelGrid columns="1" style="width:70%">
        <h:inputTextarea id="environmentalAssessment"
            value="#{buildingPermitHelper.permit.environmentalAssessment}"
            label="#{messages['building_permit.assessments.environmental_assessment']}"
            rows="5" style="width:100%" required="true" readonly="#{readonly}">
        </h:inputTextarea>
        <rich:message style="color:Red;" for="environmentalAssessment" />
    </h:panelGrid>

</ui:composition>
