<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <h:panelGrid width="80%" columns="2"
        columnClasses="introCol1,introCol2">
        <h:outputText value="#{messages['permit.partyid']}" />
        <h:panelGroup>
            <h:panelGroup rendered="#{not readonly}">
                <h:panelGroup id="identGroup">
                    <h:inputText value="#{buildingPermitHelper.partyNationalIdentity}"
                        style="width:70%" readonly="true">
                    </h:inputText>
                    <h:inputHidden id="partyId"
                        label="#{messages['permit.partyid']}"
                        value="#{buildingPermitHelper.partyNationalIdentity}"
                        required="true" />
                </h:panelGroup>
                #{'   '}
                <a4j:commandLink execute="@this"
                    oncomplete="#{rich:component('selectPartyPanel')}.show()">
                    <f:setPropertyActionListener
                        target="#{personHelper.returnValueField}"
                        value="buildingPermitHelper.party" />
                    <f:setPropertyActionListener
                        target="#{personHelper.reRenderComponents}"
                        value="identGroup, partyGroup" />
                    <f:setPropertyActionListener
                        target="#{legalPersonHelper.returnValueField}"
                        value="buildingPermitHelper.party" />
                    <f:setPropertyActionListener
                        target="#{legalPersonHelper.reRenderComponents}"
                        value="identGroup, partyGroup" />
                    <h:outputText value="#{messages['intro.search']}" />
                </a4j:commandLink>
                <br />
                <rich:message style="color:Red;" for="partyId" />
            </h:panelGroup>
            
            <h:panelGroup rendered="#{readonly}">
                <h:inputText value="#{buildingPermitHelper.partyNationalIdentity}"
                    style="width:70%" readonly="true">
                </h:inputText>
            </h:panelGroup>
        </h:panelGroup>

        <h:outputText value="#{messages['permit.party_full_name']}" />
        <h:panelGroup id="partyGroup">
            <a4j:region renderRegionOnly="true">
                <h:inputText id="partyName"
                    value="#{buildingPermitHelper.partyName}" readonly="true"
                    style="width:100%;">
                </h:inputText>
            </a4j:region>
        </h:panelGroup>

        <h:outputText value="#{messages['permit.type']}" />
        <h:panelGroup>
            <h:panelGroup rendered="#{not readonly}">
                <h:selectOneMenu id="buildingPermitType"
                    label="#{messages['permit.type']}"
                    value="#{buildingPermitHelper.permit.type}"
                    converter="#{uiConverters.buildingPermitType}"
                    required="true">
                    <f:selectItems value="#{uiConverters.buildingPermitType.valueList}" />
                </h:selectOneMenu>
                <br />
                <rich:message style="color:Red;" for="buildingPermitType" />
            </h:panelGroup>

            <h:panelGroup rendered="#{readonly}">
                <h:inputText value="#{messages[buildingPermitHelper.permit.type.name()]}" style="width: 70%" readonly="true" />
            </h:panelGroup>
        </h:panelGroup>

        <h:outputText value="#{messages['permit.validity_from']}" />
        <h:panelGroup>
            <h:panelGroup rendered="#{not readonly}">
                <rich:calendar id="validityFrom" label="#{messages['permit.validity_from']}"
                    value="#{buildingPermitHelper.permit.validityFrom}" />
                <h:outputText value="#{messages['permit.date_note']}" />
            </h:panelGroup>
            
            <h:panelGroup rendered="#{readonly}">
                <h:inputText value="#{buildingPermitHelper.permit.validityFrom}" readonly="true" />
            </h:panelGroup>
        </h:panelGroup>

        <h:outputText value="#{messages['permit.validity_to']}" />
        <h:panelGroup>
            <h:panelGroup rendered="#{not readonly}">
                <rich:calendar value="#{buildingPermitHelper.permit.validityTo}" />
                <h:outputText value="#{messages['permit.date_note']}" />
            </h:panelGroup>
            
            <h:panelGroup rendered="#{readonly}">
                <h:inputText value="#{buildingPermitHelper.permit.validityTo}" readonly="true" />
            </h:panelGroup>
        </h:panelGroup>

        <h:outputText
            value="#{messages['building_permit.new_buildings_parcel']}" />
        <h:panelGroup>
            <h:panelGroup rendered="#{not readonly}">
                <h:panelGroup id="selectedParcelGrp">
                    <h:inputText id="selectedParcel"
                        value="#{buildingPermitHelper.selectedZoneName != null ? buildingPermitHelper.selectedZoneName : messages['building_permit.new_buildings_parcel_select']}"
                        style="width:70%" readonly="true">
                    </h:inputText>
                    <h:inputHidden id="selectedZoneName"
                        label="#{messages['building_permit.new_buildings_parcel']}"
                        value="#{buildingPermitHelper.selectedZoneName}" required="true" />
                </h:panelGroup>
                #{'   '}
                <a4j:commandLink execute="@this"
                    oncomplete="#{rich:component('selectZonePanel')}.show(); mapEditor.zoomToMaxExtent();">
                    <h:outputText value="#{messages['intro.search']}" />
                </a4j:commandLink>
                <br />
                <rich:message style="color:Red;" for="selectedZoneName" />
            </h:panelGroup>
            
            <h:panelGroup rendered="#{readonly}">
                <h:inputText
                    value="#{buildingPermitHelper.selectedZoneName != null ? buildingPermitHelper.selectedZoneName : messages['building_permit.new_buildings_parcel_select']}"
                    style="width:70%" readonly="true">
                </h:inputText>
            </h:panelGroup>
        </h:panelGroup>

        <h:outputText value="#{messages['building_permit.new_buildings_layer']}" />
        <h:panelGroup>
            <h:panelGroup rendered="#{not readonly}">
                <h:selectOneMenu id="layerSelect"
                    label="#{messages['building_permit.new_buildings_layer']}"
                    value="#{buildingPermitHelper.permit.buildingUnit.level}"
                    converter="#{uiConverters.layer}" required="true">
                    <f:selectItems value="#{uiConverters.layer.selectItems(buildingPermitHelper.buildingLayers)}" />
                </h:selectOneMenu>
                <br />
                <rich:message style="color:Red;" for="layerSelect" />
            </h:panelGroup>
            
            <h:panelGroup rendered="#{readonly}">
                <h:inputText value="#{buildingPermitHelper.permit.buildingUnit.level}" converter="#{uiConverters.layer}" readonly="true" />
            </h:panelGroup>
        </h:panelGroup>

        <h:outputText value="#{messages['permit.request_text']}" />
        <h:panelGroup>
            <h:panelGroup rendered="#{not readonly}">
                <a4j:region renderRegionOnly="true">
                    <h:inputTextarea id="requestText"
                        label="#{messages['permit.request_text']}"
                        value="#{buildingPermitHelper.permit.requestText}" required="true"
                        rows="5" style="width:100%" validatorMessage="Valor muy corto">
                        <f:validateLength minimum="3" />
                        <a4j:ajax event="blur" />
                    </h:inputTextarea>
                    <br />
                    <rich:message style="color:Red;" for="requestText" />
                </a4j:region>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{readonly}">
                <h:inputTextarea
                    value="#{buildingPermitHelper.permit.requestText}" readonly="true"
                    rows="5" style="width:100%">
                </h:inputTextarea>
            </h:panelGroup>
        </h:panelGroup>
    </h:panelGrid>

</ui:composition>
