<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <h:panelGrid width="80%" columns="2"
        columnClasses="introCol1,introCol2">
        <h:outputText value="#{messages['building_permit.building_type']}" />
        <h:panelGroup id="buildingTypeGrp">
            <h:panelGroup rendered="#{not readonly}">
                <h:inputText id="buildingType"
                    value="#{buildingPermitHelper.permit.buildingUnit.buildingType != null ? buildingPermitHelper.permit.buildingUnit.buildingType.name : ''}"
                    style="width:70%" readonly="true">
                </h:inputText>
                #{'   '}
                <a4j:commandLink execute="@this"
                    oncomplete="#{rich:component('selectBuildingTypePanel')}.show()">
                    <f:setPropertyActionListener
                        target="#{buildingTypeHelper.returnValueField}"
                        value="buildingPermitHelper.permit.buildingUnit.buildingType" />
                    <f:setPropertyActionListener
                        target="#{buildingTypeHelper.reRenderComponents}"
                        value="buildingType" />
                    <h:outputText value="#{messages['intro.search']}" />
                </a4j:commandLink>
                <br />
                <rich:message style="color:Red;" for="buildingType" />
            </h:panelGroup>
            
            <h:panelGroup rendered="#{readonly}">
                <h:inputText
                    value="#{buildingPermitHelper.permit.buildingUnit.buildingType != null ? buildingPermitHelper.permit.buildingUnit.buildingType.name : ''}"
                    style="width:70%" readonly="true">
                </h:inputText>
            </h:panelGroup>
        </h:panelGroup>

        <h:outputText value="#{messages['building_permit.building_material']}" />
        <h:panelGroup id="buildingMaterialGrp">
            <h:panelGroup rendered="#{not readonly}">
                <a4j:commandLink execute="@this"
                    oncomplete="#{rich:component('selectBuildingMaterialPanel')}.show()">
                    <f:setPropertyActionListener
                        target="#{buildingMaterialHelper.addingToList}" value="#{true}" />
                    <f:setPropertyActionListener
                        target="#{buildingMaterialHelper.addToListMethod}"
                        value="buildingPermitHelper.addBuildingMaterial" />
                    <f:setPropertyActionListener
                        target="#{buildingMaterialHelper.returnValueField}"
                        value="buildingPermitHelper.selectedBuildingMaterial" />
                    <f:setPropertyActionListener
                        target="#{buildingMaterialHelper.reRenderComponents}"
                        value="buildingMaterials" />
                    <h:outputText value="#{messages['intro.search']}" />
                </a4j:commandLink>
                <br />
                <br />
                <h:panelGroup id="buildingMaterials">
                    <h:panelGroup
                        rendered="#{not empty buildingPermitHelper.permit.buildingUnit.buildingMaterials}">
                        <rich:dataGrid var="material"
                            value="#{buildingPermitHelper.permit.buildingUnit.buildingMaterials}"
                            columns="2">
                            <table style="width: 200px">
                                <tr>
                                    <td style="width: 70%"><h:outputText
                                            value="#{material.name}" /></td>
                                    <td><a4j:commandLink execute="@this" value="Eliminar"
                                            action="#{buildingPermitHelper.deleteBuildingMaterial(material)}"
                                            render="buildingMaterials">
                                        </a4j:commandLink></td>
                                </tr>
                            </table>
                        </rich:dataGrid>
                    </h:panelGroup>
                    <h:panelGroup
                        rendered="#{empty buildingPermitHelper.permit.buildingUnit.buildingMaterials}">
                        #{messages['building_permit.specify_materials']}
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{readonly}">
                <h:panelGroup
                    rendered="#{not empty buildingPermitHelper.permit.buildingUnit.buildingMaterials}">
                    <rich:dataGrid var="material"
                        value="#{buildingPermitHelper.permit.buildingUnit.buildingMaterials}"
                        columns="2">
                        <table style="width: 200px">
                            <tr>
                                <td style="width: 70%"><h:outputText
                                        value="#{material.name}" /></td>
                            </tr>
                        </table>
                    </rich:dataGrid>
                </h:panelGroup>
                <h:panelGroup
                    rendered="#{empty buildingPermitHelper.permit.buildingUnit.buildingMaterials}">
                    #{messages['building_permit.specify_materials']}
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>

        <h:outputText value="#{messages['building_permit.building_area']}" />
        <h:panelGroup>
            <h:panelGroup rendered="#{not readonly}">
                <h:inputText id="builtArea"
                    label="#{messages['building_permit.building_area']}"
                    value="#{buildingPermitHelper.permit.buildingUnit.builtArea}"
                    required="true" />
                <br />
                <rich:message style="color:Red;" for="builtArea" />
            </h:panelGroup>
            
            <h:panelGroup rendered="#{readonly}">
                <h:inputText
                    value="#{buildingPermitHelper.permit.buildingUnit.builtArea}"
                    readonly="true">
                </h:inputText>
            </h:panelGroup>
        </h:panelGroup>

        <h:outputText value="#{messages['building_permit.number_of_floors']}" />
        <h:panelGroup>
            <h:panelGroup rendered="#{not readonly}">
                <rich:inputNumberSpinner id="numberOfFloors"
                    label="#{messages['building_permit.number_of_floors']}"
                    value="#{buildingPermitHelper.permit.buildingUnit.numberOfFloors}"
                    minValue="1" maxValue="100" required="true" />
                <br />
                <rich:message style="color:Red;" for="numberOfFloors" />
            </h:panelGroup>
            
            <h:panelGroup rendered="#{readonly}">
                <h:inputText
                    value="#{buildingPermitHelper.permit.buildingUnit.numberOfFloors}"
                    readonly="true">
                </h:inputText>
            </h:panelGroup>
        </h:panelGroup>

        <h:outputText value="#{messages['building_permit.building_value']}" />
        <h:panelGroup>
            <h:panelGroup rendered="#{not readonly}">
                <h:inputText id="buildingUnitValue"
                    label="#{messages['building_permit.building_value']}"
                    value="#{buildingPermitHelper.permit.buildingUnit.value}"
                    required="true" />
                <br />
                <rich:message style="color:Red;" for="buildingUnitValue" />
            </h:panelGroup>
            
            <h:panelGroup rendered="#{readonly}">
                <h:inputText
                    value="#{buildingPermitHelper.permit.buildingUnit.value}"
                    readonly="true">
                </h:inputText>
            </h:panelGroup>
        </h:panelGroup>
    </h:panelGrid>

</ui:composition>
