<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <style type="text/css">
        .introCol1 {
            vertical-align:top;
            width:30%;
        }
        .introCol2 {
            vertical-align:top;
            width:70%;
        }
    </style>
    
    <h:panelGrid width="80%" columns="2" columnClasses="introCol1,introCol2">
        <h:outputText value="#{messages['intro.cashierscode']}:"/>
        <h:panelGroup>
            <a4j:region renderRegionOnly="true">
                <h:inputText id="cashiersCode" value="#{buildingPermitHelper.permit.cashiersCode}"
                label="#{messages['intro.cashierscode']}"
                required="true"
                readonly="#{readonly}"
                style="width:100%;">
                    <a4j:ajax event="blur" />
                </h:inputText>
                <br />
                <rich:message style="color:Red;" for="cashiersCode" />
            </a4j:region>
        </h:panelGroup>
        
        <h:outputText value="#{messages['intro.payment']}:"/>
        <h:panelGroup>
            <a4j:region renderRegionOnly="true">
                <h:inputText id="payment" value="#{buildingPermitHelper.permit.payment}"
                label="#{messages['intro.payment']}"
                required="true"
                readonly="#{readonly}"
                style="width:100%;">
                    <a4j:ajax event="blur" />
                </h:inputText>
                <br />
                <rich:message style="color:Red;" for="payment" />
            </a4j:region>
        </h:panelGroup>
    </h:panelGrid>

</ui:composition>
