<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cc="http://java.sun.com/jsf/composite"
    xmlns:sigit="http://java.sun.com/jsf/composite/components">
      
    <cc:interface>
        <cc:attribute name="attachFileHelper" />
    </cc:interface>

    <cc:implementation>
        <script type="text/javascript">
            function showErrorMsg(text) {
                #{rich:element('txtError')}.innerHTML = text;
                #{rich:component('simpleErrorPanel')}.show()
            }
        </script>
        <rich:popupPanel id="adminSourceFileUploadPanel" autosized="true" zindex="10500" minWidth="500" minHeight="300">
            <f:facet name="header">
                <h:outputText value="Editar" rendered="#{cc.attrs.attachFileHelper.editMode == '1'}"/>
                <h:outputText value="Agregar" rendered="#{cc.attrs.attachFileHelper.editMode == '0'}"/>
            </f:facet>
        
            <h:form id="frmAdminSourceFileUpload">
                <div align="center">
                    <a4j:jsFunction name="refreshAdminSourceInfo" render="adminSourceInfo"/>

                    <h:panelGroup id="adminSourceInfo">
                        <h:panelGrid columns="2" rendered="#{cc.attrs.attachFileHelper.selectedFile == null}">
                            <h:outputText value="#{messages['intro2.file']}:"/>
                            <h:panelGroup>
                                <rich:fileUpload acceptedTypes="gif,jpg,png,pdf,tif,tiff,doc,xls,docx,xlsx"
                                    maxFileSize="#{generalHelper.maxUploadedFileSize}" maxFilesQuantity="1" immediateUpload="true"
                                    addLabel="Seleccionar" clearAllLabel="" clearLabel=""
                                    fileUploadListener="#{cc.attrs.attachFileHelper.attachFileListener}"
                                    listHeight="80" listWidth="200" 
                                    onsizerejected="showErrorMsg('#{messages['attached_files.max_file_size_exceeded']}')"
                                    ontyperejected="showErrorMsg('#{messages['attached_files.unsupported_file_type']}')"
                                    onuploadcomplete="refreshAdminSourceInfo()">
                                </rich:fileUpload>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="2" rendered="#{cc.attrs.attachFileHelper.selectedFile != null}">
                            <h:outputText value="#{messages['intro2.file']}:"/>
                            <h:outputText value="#{cc.attrs.attachFileHelper.selectedFile.fileName}"/>

                            <h:outputText value="#{messages['txt.type']}" />
                            <h:selectOneMenu
                                label="#{messages['txt.type']}"
                                value="#{cc.attrs.attachFileHelper.selectedFile.adminSourceType}"
                                converter="#{uiConverters.administrativeSourceType}"
                                required="true">
                                <f:selectItems
                                    noSelectionValue=""
                                    value="#{uiConverters.administrativeSourceType.valueList}">
                                </f:selectItems>
                            </h:selectOneMenu>
                            
                            <h:outputText value="#{messages['intro2.description']}:"/>
                            <h:inputTextarea
                                label="#{messages['intro2.description']}"
                                value="#{cc.attrs.attachFileHelper.selectedFile.descripcion}"
                                cols="50" rows="10"
                                required="true">
                            </h:inputTextarea>
                        </h:panelGrid>

                        <br />
                        <br />

                        <a4j:commandButton
                            value="#{messages['button.ok']}"
                            execute="@form"
                            action="#{cc.attrs.attachFileHelper.acceptSelectedFile}"
                            render="tabla"
                            oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('adminSourceFileUploadPanel')}.hide(); else #{rich:component('msgPanel')}.show();">
                        </a4j:commandButton>
                        <sigit:simpleButton
                            value="#{messages['button.close']}"
                            type="button"
                            onclick="#{rich:component('adminSourceFileUploadPanel')}.hide()">
                        </sigit:simpleButton>
                    </h:panelGroup>
                </div>
            </h:form>
        </rich:popupPanel>

        <rich:popupPanel id="simpleErrorPanel" width="350" height="100" zindex="20500" autosized="true">
            <f:facet name="header">
                <h:panelGroup>
                    <h:outputText value="SIGIT"></h:outputText>
                </h:panelGroup>
            </f:facet>
            <f:facet name="controls">
                <h:graphicImage value="/img/close.png">
                    <rich:componentControl target="simpleErrorPanel" operation="hide" event="click" />
                </h:graphicImage>
            </f:facet>
                
            <table style="width:100%">
                <tr>
                    <td width="10%" align="center">
                        <h:graphicImage value="/img/error.gif" />
                    </td>
                    <td width="90%">
                        <h:outputText id="txtError" value=""/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <div style="height:10px"></div>
                        <input type="button" value="#{messages['button.ok']}" onclick="#{rich:component('simpleErrorPanel')}.hide();"/>
                    </td>
                </tr>
            </table>
        </rich:popupPanel>
    </cc:implementation>
</html>
