<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:cc="http://java.sun.com/jsf/composite">
      
    <cc:interface>
        <cc:attribute name="layers" />
        <cc:attribute name="layer" />
    </cc:interface>

    <cc:implementation>
        <c:forEach begin="0" end="14" var="i">
            <rich:dataGrid rendered="#{i lt cc.attrs.layers.size() and cc.attrs.layers[i] == cc.attrs.layer}"
            columns="#{viewerPrintHelper.min(tlg.layerLandUses(layer).size(), 4)}"
            var="lu" value="#{tlg.layerLandUses(layer)}"
            width="100%">
                <h:panelGrid columns="2">
                    <ui:include src="/WEB-INF/includes/landUse/landUseLegend.xhtml">
                        <ui:param name="lu" value="#{lu}" />
                    </ui:include>
                    <h:outputText value="#{lu.fullName}" />
                </h:panelGrid>
            </rich:dataGrid>
        </c:forEach>
    </cc:implementation>
</html>
