<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cc="http://java.sun.com/jsf/composite">
      

    <cc:interface>
        <cc:attribute name="width" type="java.lang.Integer" default="910" />
        <cc:attribute name="height" type="java.lang.Integer" default="650" />
        <cc:attribute name="drawParcelLayerOnly" type="java.lang.Boolean" default="false" />
        <cc:attribute name="selectAction" type="java.lang.String" />
        <cc:attribute name="render" type="java.lang.String" />
    </cc:interface>

    <cc:implementation>
        <ui:include src="/zoneselector/selectZonePanel.xhtml">
            <ui:param name="width" value="#{cc.attrs.width}" />
            <ui:param name="height" value="#{cc.attrs.height}" />
            <ui:param name="drawParcelLayerOnly" value="#{cc.attrs.drawParcelLayerOnly}" />
            <ui:param name="selectAction" value="#{cc.attrs.selectAction}" />
            <ui:param name="render" value="#{cc.attrs.render}" />
        </ui:include>
    </cc:implementation>
</html>
