<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:panelGroup rendered="#{cc.attrs.iconImage != null}">
        <h:graphicImage value="#{cc.attrs.iconImage}" width="#{cc.attrs.iconWidth}" height="#{cc.attrs.iconHeight}"/>
        <br />
    </h:panelGroup>
    <h:outputLabel rendered="#{not cc.attrs.justIcons}" value="#{cc.attrs.value}" style="font-weight:bold;"/>
    <rich:tooltip zindex="15000" rendered="#{cc.attrs.justIcons or cc.attrs.tooltipText != null}" followMouse="true" direction="#{cc.attrs.tooltipDirection}" showDelay="500" styleClass="tooltip">
        <span style="white-space:nowrap">
            #{not cc.attrs.justIcons ? cc.attrs.tooltipText : cc.attrs.value}
        </span>
    </rich:tooltip>
      
</ui:composition>
