<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cc="http://java.sun.com/jsf/composite">
      
    <cc:interface>
        <cc:attribute name="iconImage" />
        <cc:attribute name="iconWidth" default="24px" />
        <cc:attribute name="iconHeight" default="24px" />

        <cc:attribute name="justIcons" type="java.lang.Boolean" default="false" />

        <cc:attribute name="type" default="button" />
        <cc:attribute name="value" />
        <cc:attribute name="onclick" />
        <cc:attribute name="disabled" type="java.lang.Boolean" />

        <cc:attribute name="tooltipText" />
        <cc:attribute name="tooltipDirection" default="topRight" />
    </cc:interface>

    <cc:implementation>
        <a4j:outputPanel ajaxRendered="false" rendered="#{not cc.attrs.disabled}">
            <button value="#{cc.attrs.value}" type="#{cc.attrs.type}" onclick="#{cc.attrs.onclick}">
                <ui:include src="simpleButtonChildren.xhtml" />
            </button>
        </a4j:outputPanel>
        <a4j:outputPanel ajaxRendered="false" rendered="#{cc.attrs.disabled}">
            <button disabled="disabled" value="#{cc.attrs.value}" type="#{cc.attrs.type}" onclick="#{cc.attrs.onclick}">
                <ui:include src="simpleButtonChildren.xhtml" />
            </button>
        </a4j:outputPanel>
    </cc:implementation>
</html>
