<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:cc="http://java.sun.com/jsf/composite">
      
    <cc:interface>
        <cc:attribute name="styleName" />
    </cc:interface>

    <cc:implementation>
        <c:set var="sigit_styles" value="${['sigit_buildingunit','sigit_landuse', 'sigit_parcel',
                                    'sigit_parcel_taxation', 'sigit_permit', 'sigit_spatialzonestreet',
                                    'sigit_transaction']}"/>
        <c:forEach var="styleName" items="${sigit_styles}">
            <rich:dataGrid rendered="${cc.attrs.styleName == styleName}" var="lsi"
            value="#{interactiveViewerHelper.getLegendStyleInfo(cc.attrs.styleName)}"
            columns="#{viewerPrintHelper.min(interactiveViewerHelper.getLegendStyleInfo(cc.attrs.styleName).size(), 4)}">
                <h:panelGrid columns="2">
                    <h:graphicImage value="#{interactiveViewerHelper.layerHelper.legendGraphicURL(cc.attrs.styleName, lsi.ruleName)}" />
                    <h:outputText value="#{messages[lsi.label]}" />
                </h:panelGrid>
            </rich:dataGrid>
        </c:forEach>
    </cc:implementation>
</html>
