html, body {
    height: 98%;
}

#header {
    width: calc(100% - 5px);
    height: 175px;
}

#wrapper {
    height: 100%;
    width: 100%;
    margin: 0 auto -5px auto;
    position: relative;
}

#sidebar {
    width: 210px;
    bottom: 0px;
    top: 185px;
    position: absolute;
    overflow: auto;
}

#content {
    width: calc(100% - 225px);
    position: absolute;
    bottom: 0px;
    top: 185px;
    margin-left: 220px;
    overflow: auto;
}

#sigitBodyContent {
    position: absolute;
    left: 10px;
    top: 3px;
    right: 3px;
    bottom: 3px;
}

#workflowTopToolbar {
    position: absolute;
    top: 0px;
    height: 33px;
    width: 100%;
}

#workflowBottomToolbar {
    position: absolute;
    bottom: 0px;
    height: 33px;
    width: 100%;
}

#trxContent {
    position: absolute;
    top: 33px;
    bottom: 33px;
    width: 100%;
    overflow: auto;
}

.allHeight {
    height: 98%
}

.ui-widget, .ui-widget .ui-widget {
    font-size: 90% !important;
}