html, body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
}

.sigitLayoutHeader {
    height: 145px;
}

.sigitLayoutSidebar {
    position: absolute;
    top: 0px;
    bottom: 5px;
    overflow: auto;
}

.sigitLayoutBody {
    position: absolute;
    top: 0px;
    left: 1px;
    bottom: 5px;
    right: 1px;
    overflow: auto;
}

.rich-page-content {
    position: absolute;
    top: 145px;
    bottom: 15px;
    left: 5px;
    right: 5px;
    overflow: auto;
}

.rich-page-main {
    height: 97%;
}

.rich-page {
    height: 100%
}

.hundredHeight {
    width: 100%;
    height: 97%;
}