.sigitBodyContent {
    position: absolute;
    left: 10px;
    top: 3px;
    right: 20px;
    bottom: 3px;
}
.workflowTopToolbar {
    position: absolute;
    top: 0px;
    height: 33px;
    width: 100%;
}
.workflowBottomToolbar {
    position: absolute;
    bottom: 0px;
    height: 33px;
    width: 100%;
}
.trxContent {
    position: absolute;
    top: 33px;
    bottom: 33px;
    width: 100%;
    overflow: auto;
}
