<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    template="/WEB-INF/esquema/permitTemplate.xhtml">

    <ui:define name="activityCustomContent">
        <h3>#{messages['options.workflow']}</h3>
        <br/>
        <a4j:commandLink value="#{messages['options.view_request']}"
            oncomplete="#{rich:component('viewPanel')}.show()">
            <f:setPropertyActionListener value="#{true}" target="#{viewPermitHelper.renderData}" />
        </a4j:commandLink>

        <br/>
        <br/>
        <br/>
        <hr height="3px"/>
        <br/>
        
        <ui:include src="/permits/includes/viewPermitPanel.xhtml">
            <ui:param name="permitType" value="BUILDING_PERMIT" />
        </ui:include>
    </ui:define>

    <ui:define name="mainControls">
        <sigit:simpleButton value="#{messages['button.ok']}" onclick="finish();" />
        <sigit:simpleButton value="#{messages['button.l8r']}" onclick="pause();" />
    </ui:define>

    <ui:define name="extraControls">
        <sigit:simpleButton value="#{messages['permit.spatial_analysis']}" onclick="#{rich:component('spatialAnalysisPanel')}.show();" />
    </ui:define>
    
    <ui:define name="body">
        <div align="center">
            <br/>
            <strong>#{messages['building_permit.analysis_header']}</strong>
            <hr />
            <br/>

            <ui:include src="/WEB-INF/includes/showHelpIncl.xhtml">
                <ui:param name="width" value="500" />
                <ui:param name="mainMessage" value="#{messages['permit.analysis_message']}" />
            </ui:include>

            <br/>
        </div>
        <h:form>
            <h:panelGroup>
                <div align="center">
                    <br/>
                    <strong>#{messages['building_permit.analysis_permit_type']}</strong>
                    <hr />
                    <br />
                    <h:panelGrid columns="2">
                        <h:outputText value="#{messages['permit.type']}" />
                        <h:selectOneMenu value="#{buildingPermitHelper.permit.type}">
                            <f:selectItems value="#{uiConverters.buildingPermitType.valueList}"/>
                            <a4j:ajax event="keyup" render="subType"/>
                            <a4j:ajax event="change" render="subType"/>
                        </h:selectOneMenu>
                    </h:panelGrid>
                </div>
                <br/>
                <br/>
                <div align="center">
                    <br/>
                    <strong>#{messages['permit.target_zone']}</strong>
                    <hr />
                    <br/>
                    <a4j:commandLink execute="@this" oncomplete="#{rich:component('selectZonePanel')}.show()">
                        <h:outputText value="#{messages['permit.select_zone']}"/>
                    </a4j:commandLink>
                    <br />
                    <br />
                    <br />
                    <h:panelGroup id="grpZone">
                        <ui:include src="/WEB-INF/includes/zoneInfoIncl.xhtml">
                            <ui:param name="zone" value="#{buildingPermitHelper.permit.spatialZone}" />
                            <ui:param name="noZoneMsg" value="#{messages['permit.no_zone_selected']}" />
                            <ui:param name="width" value="50%" />
                        </ui:include>
                    </h:panelGroup>
                </div>
                <br />
                <br />
            </h:panelGroup>
            
            <br />
            <br />
            
            <h:panelGroup id="grpFilledObservations">
                <h:panelGroup rendered="#{empty spatialAnalysisHelper.spatialRuleToAnalysisMap and not empty buildingPermitHelper.permitObservations}">
                    <div align="center">
                        <br />
                        <ui:include src="/permits/includes/analystObservationsIncl.xhtml">
                            <ui:param name="title" value="#{messages['permit.analysis_observations_by_spatial_rule']}" />
                            <ui:param name="permitObservations" value="#{buildingPermitHelper.permitObservations}" />
                            <ui:param name="readonly" value="false" />
                        </ui:include>
                    </div>
                    <br />
                    <br />
                </h:panelGroup>
            </h:panelGroup>
            
            <div align="center">
                <br/>
                <strong>#{messages['permit.spatial_analysis']}</strong>
                <hr />
                <br />
                <a4j:commandLink value="#{messages['permit.do_spatial_analysis']}" onclick="#{rich:component('spatialAnalysisPanel')}.show();" />
                <br />
                <br />
                <br />
                <h:panelGroup id="grpSpatialAnalysis">
                    <h:panelGroup rendered="#{spatialAnalysisHelper.ruleGroup == null}">
                        <h:outputText value="#{messages['permit.no_spatial_rule_selected']}" style="color:Red;" />
                    </h:panelGroup>
                    <h:panelGroup rendered="#{spatialAnalysisHelper.ruleGroup != null}">
                        <h:panelGroup rendered="#{buildingPermitHelper.permit.spatialZone == null}">
                            <h:outputText value="#{messages['permit.no_zone_selected']}" style="color:Red;" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{buildingPermitHelper.permit.spatialZone != null}">
                            <ui:repeat var="rule" value="#{spatialAnalysisHelper.ruleGroupRules}">
                                <rich:panel>
                                    <table width="50%" style="text-align: left;">
                                        <tr>
                                            <th width="30%">#{messages['spatial_rules.code']}</th>
                                            <td width="70%">#{rule.code}</td>
                                        </tr>
                                        <tr>
                                            <th>#{messages['spatial_rules.description']}</th>
                                            <td>#{rule.description}</td>
                                        </tr>
                                    </table>
                                    <br />
                                    
                                    <rich:dataTable var="sar" 
                                        value="#{spatialAnalysisHelper.sarListFromRule(rule)}"
                                        width="95%">
                                        <rich:column>
                                            <f:facet name="header">#{messages['spatial_analysis.zone_name']}</f:facet>
                                            <h:outputText value="#{sar.zoneName}" />
                                        </rich:column>
                                        <rich:column>
                                            <f:facet name="header">#{messages['spatial_analysis.location']}</f:facet>
                                            <h:outputText value="#{sar.locationInCountry}" />
                                        </rich:column>
                                        <rich:column>
                                            <f:facet name="header">#{messages['spatial_analysis.current_land_use']}</f:facet>
                                            <h:outputText value="#{sar.landUse}" />
                                        </rich:column>
                                        <rich:column>
                                            <f:facet name="header">#{messages['spatial_analysis.proposed_land_use']}</f:facet>
                                            <h:outputText value="#{sar.proposedLandUse}" />
                                        </rich:column>
                                        <rich:column>
                                            <f:facet name="header">#{messages['spatial_analysis.level']}</f:facet>
                                            <h:outputText value="#{sar.levelName}" />
                                        </rich:column>
                                        <rich:column rendered="#{rule.distanceRule}">
                                            <f:facet name="header">#{messages['DISTANCE']}</f:facet>
                                            <h:outputText value="#{sar.distance}" />
                                        </rich:column>
                                        <rich:column breakRowBefore="true" style="text-align: center;" colspan="#{rule.distanceRule ? 6 : 5}">
                                            <h:outputText value="#{messages['permit.analyst_opinion']}" style="color:Red;font-weight:bold;" />
                                            <h:inputTextarea value="#{sar.analystObservation}" style="width:95%"/>
                                        </rich:column>
                                    </rich:dataTable>
                                </rich:panel>
                                <br />
                                <br />
                            </ui:repeat>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>
            </div>
            
            <br />
            <br />
            
            <div align="center">
                <br/>
                <strong>#{messages['permit.analyst_opinion']}</strong>
                <hr />
                <br/>
                <h:inputTextarea
                    value="#{buildingPermitHelper.permit.analystOpinion}"
                    rows="5" style="width:75%">
                </h:inputTextarea>
            </div>
            
            <br />
            <br />
            
            <a4j:jsFunction name="finish" action="#{buildingPermitHelper.endAnalysisTask}" />
        </h:form>
        
        <h:form>
            <a4j:jsFunction name="pause" action="home" />
        </h:form>
        
        
        <ui:include src="/zoneselector/selectZonePanel.xhtml">
            <ui:param name="width" value="800" />
            <ui:param name="height" value="620" />
            <ui:param name="selectAction" value="buildingPermitHelper.selectZoneFromMap" />
            <ui:param name="render" value="grpZone" />
        </ui:include>
        
        
        <ui:include src="/permits/includes/spatialAnalysisPanel.xhtml">
            <ui:param name="render" value="grpSpatialAnalysis,grpFilledObservations" />
        </ui:include>
    </ui:define>
    
</ui:composition>
