<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    template="startPermitTemplate.xhtml">

    <ui:define name="extraSelectors">
        <sigit:selectZonePopup
            drawParcelLayerOnly="true"
            selectAction="buildingPermitHelper.selectParcelFromMap"
            render="selectedParcelGrp">
        </sigit:selectZonePopup>
    </ui:define>

    <ui:define name="mainControls">
        <h:outputText value="#{messages['txt.options']}" />
        <h:outputText value="   " />
        <h:panelGroup>
            <sigit:simpleButton value="#{messages['button.cancel']}" onclick="#{rich:element('lnkCancel')}.click();"/>
            <sigit:simpleButton rendered="#{buildingPermitHelper.buildingLayers.size() gt 0}" value="#{messages['permit.admin_analysis']} &gt;&gt;" onclick="endDataIntro();"/>
            <h:form>
                <a4j:commandLink id="lnkCancel" style="display:none" oncomplete="#{rich:component('confirmation-dialog')}.show();">
                    <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['txt.confirm_pause_negative']}"/>
                    <f:setPropertyActionListener target="#{dialogHelper.jsFunction}" value="cancel();"/>
                </a4j:commandLink>
                <a4j:jsFunction name="cancel" action="#{navigationHelper.navigateToHome}" />
                <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
            </h:form>
        </h:panelGroup>

        <h:form>
        </h:form>
    </ui:define>

    <ui:define name="extraControls">
    </ui:define>
    
    <ui:define name="rightThings">
        <strong>#{messages['building_permit.start_header']}</strong>
    </ui:define>
    

    <ui:define name="stepBody">
        <style type="text/css">
            .introCol1 {
                vertical-align:top;
                width:30%;
            }
            .introCol2 {
                vertical-align:top;
                width:70%;
            }
        </style>

        <h:form id="frmInitialData">
            <div align="center">
                <ui:include src="includes/inputInitialData.xhtml" />
            </div>
            <br />
            <a4j:jsFunction
                name="endDataIntro"
                execute="@form"
                action="#{buildingPermitHelper.gotoAdminAnalysis}">
            </a4j:jsFunction>
        </h:form>
        
        <ui:include src="/permits/includes/attachFilesPanel.xhtml">
            <ui:param name="aPermitHelper" value="#{buildingPermitHelper}" />
            <ui:param name="onOkRender" value="frmInitialData:attachedFilesTable" />
        </ui:include>
    </ui:define>
</ui:composition>
