<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/WEB-INF/esquema/permitTemplate.xhtml">

    <ui:define name="body">
        <h:panelGroup rendered="#{buildingPermitHelper.buildingLayers.size() gt 0}">
            <ui:insert name="stepBody"/>
            
            <ui:include src="/WEB-INF/includes/selectLandUse.xhtml" />
            <ui:include src="/WEB-INF/includes/selectBuildingMaterial.xhtml" />
            <ui:include src="/WEB-INF/includes/selectBuildingType.xhtml" />
            <f:subview id="sp">
                <ui:include src="/WEB-INF/includes/selectParty.xhtml" />
            </f:subview>
            
            <ui:insert name="extraSelectors"/>
        </h:panelGroup>
        
        <h:panelGroup rendered="#{buildingPermitHelper.buildingLayers.size() eq 0}">
            <div align="center">
                <br/>
                <strong>#{messages['building_permit.start_header']}</strong>
                <hr />
                <br/>
            </div>
            
            <div align="center">
                <h:outputText value="#{messages['txt.no_building_layers_available']}" />
                <br />
                <br />
            </div>
        </h:panelGroup>
    </ui:define>
    
</ui:composition>
