<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    template="startPermitTemplate.xhtml">
    
    <ui:define name="mainControls">
        <h:outputText value="Opciones" />
        <h:outputText value="     " />
        <h:panelGroup>
            <sigit:simpleButton value="&lt;&lt; #{messages['txt.back']}" onclick="goBack();"/>
            <sigit:simpleButton rendered="#{buildingPermitHelper.adminAnalysisOK}" value="#{messages['permit.spatial_analysis']} &gt;&gt;" onclick="goNext();"/>
        </h:panelGroup>
    </ui:define>

    <ui:define name="title">
        <div align="center">
            <br/>
            <strong>#{messages['building_permit.start_header']}</strong>
            <hr />
            <br/>
        </div>
    </ui:define>
    
    <ui:define name="stepBody">
        <h:form>
            <style type="text/css">
                .introCol1 {
                    vertical-align:top;
                    width:30%;
                }
                .introCol2 {
                    vertical-align:top;
                    width:70%;
                }
            </style>
            
            
            <div align="center">
                <ui:include src="includes/adminAnalysisIncl.xhtml" />
            </div>
            
            <br />
            <a4j:jsFunction execute="@form"
                name="goBack"
                action="#{buildingPermitHelper.goBack}">
            </a4j:jsFunction>
            <a4j:jsFunction execute="@form"
                name="goNext"
                action="#{buildingPermitHelper.gotoSpatialAnalysis}">
            </a4j:jsFunction>
        </h:form>
    </ui:define>
</ui:composition>
