<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    template="/WEB-INF/esquema/permitTemplate.xhtml">
    
    <ui:param name="usePermitSidebar" value="true" />

    <ui:define name="mainControls">
        <h:form>
            <a4j:commandButton value="#{messages['button.ok']}" oncomplete="#{rich:component('strict-confirmation-dialog')}.show()">
                <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['dataentry.finish']}"/>
                <f:setPropertyActionListener target="#{dialogHelper.jsFunction}" value="finish();"/>
            </a4j:commandButton>
            <a4j:commandButton value="#{messages['button.l8r']}" oncomplete="#{rich:component('confirmation-dialog')}.show()">
                <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['dataentry.l8r']}"/>
                <f:setPropertyActionListener target="#{dialogHelper.jsFunction}" value="pause();"/>
            </a4j:commandButton>
            <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
        </h:form>
    </ui:define>

    <ui:define name="extraControls">
        <h:form>
            <a4j:commandButton
                value="#{messages['options.view_request']}"
                render="vrp:viewRequestPanel"
                oncomplete="#{rich:component('vrp:viewRequestPanel')}.show()">
                <f:setPropertyActionListener target="#{buildingPermitHelper.renderViewRequestPanel}" value="#{true}" />
            </a4j:commandButton>
            
            <a4j:commandButton
                value="#{messages['intro2.attacheddocs']}"
                oncomplete="#{rich:component('attachedFilesPanel')}.show()">
            </a4j:commandButton>
        </h:form>
    </ui:define>
    
    <ui:define name="rightThings">
        <h:outputText value="#{messages['building_permit.digitization_title']}" style="font-weight:bold;" />
    </ui:define>


    <ui:define name="activityCustomContent">
        #{interactiveViewerHelper.setShowRightsToolbox(true)}
        #{interactiveViewerHelper.setShowRestrictionsToolbox(true)}
        #{interactiveViewerHelper.setShowResponsibilitiesToolbox(true)}
        #{interactiveViewerHelper.setShowDataToolbox(true)}
        #{interactiveViewerHelper.setShowSpatialAnalysisToolbox(false)}
        #{interactiveViewerHelper.setShowHelpToolbox(false)}
        #{interactiveViewerHelper.setShowTitle(false)}
        #{interactiveViewerHelper.setBorderEditMode('CREATE')}
        #{interactiveViewerHelper.setLayerTypes('PARCEL, BUILDING')}
        #{interactiveViewerHelper.setShowSaveModificationButtons(true)}
        #{interactiveViewerHelper.setAllowEditing(false)}
        
        #{interactiveViewerHelper.setBorderShapeExpr('buildingPermitHelper.permit.buildingUnit.shape')}
        #{interactiveViewerHelper.setCreateZoneMode('SET_SHAPE_FIELD')}

        #{interactiveViewerHelper.setSelectedZone(buildingPermitHelper.permit.selectedZone)}
        <ui:include src="/viewer/includes/sideContentIncl.xhtml" />
    </ui:define>

    <ui:define name="body">
        <ui:include src="/viewer/includes/mapContentIncl.xhtml" />
        
        <h:form>
            <a4j:jsFunction name="finish" action="#{buildingPermitHelper.endDigitization}"/>
            <a4j:jsFunction name="pause" action="#{navigationHelper.navigateToHome}"/>
        </h:form>

        <f:subview id="vrp">
            <ui:include src="includes/viewRequestPanel.xhtml" />
        </f:subview>

        <ui:include src="/permits/includes/attachedFilesPanel.xhtml">
            <ui:param name="aPermitHelper" value="#{buildingPermitHelper}" />
        </ui:include>
    </ui:define>
</ui:composition>
