<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    template="/WEB-INF/esquema/permitTemplate.xhtml">
    
    <ui:param name="usePermitSidebar" value="true" />

    <ui:define name="mainControls">
        <h:panelGroup>
            <h:form>
                <a4j:commandButton value="#{messages['approval.btn.applychanges']}" oncomplete="#{rich:component('strict-confirmation-dialog')}.show()">
                    <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['permit.approve_permit_msg']}"/>
                    <f:setPropertyActionListener target="#{dialogHelper.jsFunction}" value="applychanges();"/>
                </a4j:commandButton>
                <a4j:commandButton value="#{messages['approval.btn.denychanges']}" oncomplete="#{rich:component('strict-confirmation-dialog')}.show()">
                    <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['permit.deny_permit_msg']}"/>
                    <f:setPropertyActionListener target="#{dialogHelper.jsFunction}" value="denychanges();"/>
                </a4j:commandButton>
                <sigit:simpleButton value="#{messages['button.l8r']}" onclick="pause();" type="button" />
            </h:form>
        </h:panelGroup>
    </ui:define>
    
    <ui:define name="extraControls">
    </ui:define>

    <ui:define name="rightThings">
        <strong>#{messages['permit.approval_header']}</strong>
    </ui:define>


    <ui:define name="title">
        <div align="center">
            <br /> <br />
        </div>
    </ui:define>

    <ui:define name="body">
        <h:form>
            <div align="center">
                <strong>#{messages['building_permit.start_header']}</strong>
                <hr />
                <rich:panel>
                    <ui:include src="/WEB-INF/includes/showHelpIncl.xhtml">
                        <ui:param name="width" value="500" />
                        <ui:param name="mainMessage" value="#{messages['building_permit.approval_request_msg']}" />
                        <ui:param name="observation" value="#{messages['txt.observations']}:" />
                        
                        <ui:param name="msgBullet" value="#{messages['permit.approval_check']}" />
                        <ui:param name="msgBullet1"  value="#{messages['txt.REQUIRED']}: #{messages['permit.input_validity_from']}" />
                        <ui:param name="msgBullet2" value="#{messages['txt.REQUIRED']}: #{messages['permit.input_validity_to']}" />
                    </ui:include>

                    <div style="height: 15px"/>
                    
                    <ui:include src="includes/inputData/approvalDataIncl.xhtml" />
                </rich:panel>
                
                <hr />
                
                <div style="height: 30px"/>

                <rich:collapsiblePanel switchType="client" header="#{messages['permit.REQUEST_DATA']}">
                    <f:subview>
                        <div align="center">
                            <ui:include src="/permits/building/includes/viewRequestPanelTabCnts.xhtml">
                                <ui:param name="unboundedHeight" value="#{true}" />
                            </ui:include>
                        </div>
                    </f:subview>
                </rich:collapsiblePanel>
            </div>


            <a4j:jsFunction name="applychanges" action="#{buildingPermitHelper.endApprovalTask}">
                <f:setPropertyActionListener target="#{buildingPermitHelper.approveTransaction}" value="#{true}"/>
            </a4j:jsFunction>
        </h:form>
        <h:form>
            <a4j:jsFunction name="denychanges" action="#{buildingPermitHelper.endApprovalTask}">
                <f:setPropertyActionListener target="#{buildingPermitHelper.approveTransaction}" value="#{false}"/>
            </a4j:jsFunction>
            <a4j:jsFunction name="pause" action="#{navigationHelper.navigateToHome}" />
        </h:form>
        <ui:include src="/WEB-INF/includes/modalPanels.xhtml" />
    </ui:define>
</ui:composition>
