<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    template="/WEB-INF/esquema/permitTemplate.xhtml">
    
    <ui:param name="usePermitSidebar" value="true" />

    <ui:define name="mainControls">
        <h:outputText value="Opciones" />
        <h:outputText value="     " />
        <h:panelGroup>
            <sigit:simpleButton value="#{messages['FINISH']}" onclick="#{rich:element('lnkFinish')}.click();" />
            <sigit:simpleButton value="#{messages['button.cancel']}" onclick="#{rich:element('lnkCancel')}.click();" />
            <h:form>
                <a4j:commandLink id="lnkFinish" style="display:none;" oncomplete="#{rich:component('strict-confirmation-dialog')}.show()">
                    <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['txt.confirm_finish']}"/>
                    <f:setPropertyActionListener target="#{dialogHelper.jsFunction}" value="finish();"/>
                </a4j:commandLink>
                <a4j:commandLink id="lnkCancel" style="display:none;" oncomplete="#{rich:component('confirmation-dialog')}.show()">
                    <f:setPropertyActionListener target="#{dialogHelper.confirmMsg}" value="#{messages['txt.confirm_pause_negative']}"/>
                    <f:setPropertyActionListener target="#{dialogHelper.jsFunction}" value="cancel();"/>
                </a4j:commandLink>
            </h:form>
        </h:panelGroup>
    </ui:define>
    
    <ui:define name="extraControls">
        <h:form>
            <a4j:commandButton
                value="#{messages['options.view_request']}"
                render="vrp:viewRequestPanel"
                oncomplete="#{rich:component('vrp:viewRequestPanel')}.show()">
                <f:setPropertyActionListener target="#{buildingPermitHelper.renderViewRequestPanel}" value="#{true}" />
            </a4j:commandButton>
            
            <a4j:commandButton
                value="#{messages['intro2.attacheddocs']}"
                oncomplete="#{rich:component('attachedFilesPanel')}.show()">
            </a4j:commandButton>
        </h:form>
    </ui:define>
    
    <ui:define name="rightThings">
        <strong>#{messages['building_permit.analysis_header']}</strong>
    </ui:define>

    <ui:define name="title">
        <div align="center">
            <br />
            <h:outputText
                value="#{messages['building_permit.assessments']}"
                style="font-size:medium;font-weight:bold;" />
            <hr />
            <br /><br />
        </div>
    </ui:define>

    <ui:define name="body">
        <h:form>
            <style type="text/css">
                .introCol1 {
                    vertical-align: top;
                    width: 30%;
                }
                
                .introCol2 {
                    vertical-align: top;
                    width: 70%;
                }
            </style>

            <div align="center">
                <ui:include src="includes/inputData/assessmentsIncl.xhtml" />
                <br /> <br /> <br />
            </div>

            <a4j:jsFunction name="finish"
                execute="@form"
                action="#{buildingPermitHelper.endAssessments}">
            </a4j:jsFunction>
            <a4j:jsFunction name="cancel"
                action="#{navigationHelper.navigateToHome}">
            </a4j:jsFunction>
        </h:form>
        
        <f:subview id="vrp">
            <ui:include src="includes/viewRequestPanel.xhtml" />
        </f:subview>

        <ui:include src="/permits/includes/attachedFilesPanel.xhtml">
            <ui:param name="aPermitHelper" value="#{buildingPermitHelper}" />
        </ui:include>
    </ui:define>
</ui:composition>
