<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    <rich:popupPanel id="editDlg" minWidth="450" minHeight="200" zindex="15500">
        <f:facet name="header">
            <h:outputText value="Agregar Material de Construccion" />
        </f:facet>

        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="editDlg" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
        
        <h:form id="frmEditEntity">
            <div align="center">
                <h:panelGroup rendered="#{buildingMaterialHelper.selected != null}">
                    <h:panelGrid columns="2" width="100%">
                        <h:outputText value="#{messages['txt.name']}: " />
                        <h:inputText value="#{buildingMaterialHelper.selected.name}"
                            readonly="#{not buildingMaterialHelper.editing}" required="true"
                            style="width:100%"
                            label="#{messages['txt.name']}">
                        </h:inputText>
    
                        <h:outputText value="#{messages['txt.description']}: " />
                        <h:inputTextarea value="#{buildingMaterialHelper.selected.description}"
                            style="width:100%" rows="3"
                            readonly="#{not buildingMaterialHelper.editing}">
                        </h:inputTextarea>
                    </h:panelGrid>
                </h:panelGroup>

                <br />
                <br />

                <h:panelGroup rendered="#{buildingMaterialHelper.editing}">
                    <a4j:commandButton value="#{messages['button.ok']}"
                        execute="@form"
                        action="#{buildingMaterialHelper.saveSelected}"
                        render="frmGrid"
                        oncomplete="if (#{facesContext.maximumSeverity == null}) #{rich:component('editDlg')}.hide(); else #{rich:component('simpleMsgPanel')}.show();">
                    </a4j:commandButton>
                    <button
                        onclick="#{rich:component('editDlg')}.hide();"
                        type="button">
                        #{messages['button.cancel']}
                    </button>
                </h:panelGroup>
                <h:panelGroup rendered="#{not buildingMaterialHelper.editing}">
                    <button
                        onclick="#{rich:component('editDlg')}.hide();"
                        type="button">
                        #{messages['button.ok']}
                    </button>
                </h:panelGroup>
            </div>
        </h:form>
    </rich:popupPanel>

</ui:composition>
