<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="buildingTypeLayout.xhtml">

    <ui:define name="tlbMainControls">
        <rich:toolbar height="25" itemSeparator="line">
            <rich:toolbarGroup>
                <h:form>
                    <h:outputText value="#{messages['txt.quick_search']}   " style="font-weight:bold;" />
                    <h:selectOneMenu value="#{buildingTypeHelper.searchSelector}">
                        <f:selectItem itemValue="#{buildingTypeHelper.BY_NAME}" itemLabel="Nombre"/>
                    </h:selectOneMenu>
                    <h:outputText value="  " />
                    <h:inputText value="#{buildingTypeHelper.searchText}" />
                    <h:outputText value="  " />
                    <a4j:commandButton
                        value="#{messages['txt.search']}"
                        action="#{buildingTypeHelper.quickSearch}"
                        render="frmGrid">
                    </a4j:commandButton>
                </h:form>
            </rich:toolbarGroup>
            <rich:toolbarGroup>
                <h:form>
                    <a4j:commandButton
                        value="#{messages['txt.add']}"
                        rendered="#{buildingTypeHelper.showAddButton}"
                        action="#{buildingTypeHelper.addNew}"
                        render="frmEditEntity"
                        oncomplete="#{rich:component('editDlg')}.show();">
                    </a4j:commandButton>
                </h:form>
            </rich:toolbarGroup>
        </rich:toolbar>
    </ui:define>
    
    <ui:define name="resultGrid">
        <h:form id="frmGrid" style="">
            <h:panelGroup rendered="#{empty buildingTypeHelper.entityList}">
                <h:messages style="color:Red;"/>
                <br />
                Ingrese un criterio de busqueda
                <br />
                <br />
                <br />
            </h:panelGroup>
            
            <rich:dataGrid id="grid" value="#{buildingTypeHelper.entityList}"
            rendered="#{not empty buildingTypeHelper.entityList}" var="entity"
            elements="#{mantUISettingsHelper.numElements}" columns="2" width="100%">
                <f:facet name="header">
                    <rich:dataScroller maxPages="15"></rich:dataScroller>
                </f:facet>
                <f:facet name="footer">
                    <rich:dataScroller maxPages="15"></rich:dataScroller>
                </f:facet>
                
                <table style="width: 100%">
                    <tr valign="top">
                        <td width="80%">
                            <h:panelGrid columns="2">
                                <h:outputText value="#{messages['txt.name']}: " />
                                <h:outputText value="#{entity.name}" />
                                
                                <h:outputText value="#{messages['txt.description']}: " />
                                <h:outputText value="#{entity.description}" />
                            </h:panelGrid>
                        </td>
                        <td>
                            <h:panelGrid columns="1">
                                <a4j:commandLink
                                    value="Seleccionar"
                                    rendered="#{buildingTypeHelper.selecting}"
                                    action="#{buildingTypeHelper.select(entity)}"
                                    render="#{buildingTypeHelper.reRenderComponents}"
                                    oncomplete="#{rich:component(selectionPanelName)}.hide();">
                                </a4j:commandLink>
                                <a4j:commandLink
                                    value="Editar"
                                    rendered="#{buildingTypeHelper.showEditButton}"
                                    action="#{buildingTypeHelper.edit(entity)}"
                                    render="frmEditEntity"
                                    oncomplete="#{rich:component('editDlg')}.show();">
                                </a4j:commandLink>
                                <a4j:commandLink
                                    value="Ver detalles"
                                    action="#{buildingTypeHelper.view(entity)}"
                                    render="frmEditEntity"
                                    oncomplete="#{rich:component('editDlg')}.show();">
                                </a4j:commandLink>
                            </h:panelGrid>
                        </td>
                    </tr>
                </table>
            </rich:dataGrid>
        </h:form>
    </ui:define>
    
    <ui:define name="res">
        <ui:include src="buildingTypeDlgs.xhtml">
            <ui:param name="resultList" value="grid" />
        </ui:include>
    </ui:define>

</ui:composition>
