<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <h:panelGroup rendered="#{not hideTitle}">
        <strong>#{messages['operation_permit.approval']}</strong>
        <hr />
        <br />
    </h:panelGroup>
    
    <h:panelGroup rendered="#{readonly}">
        <h:panelGrid columns="2">
            <h:outputText value="#{messages['txt.issueDate']}" style="font-weight:bold;" rendered="#{readonly}" />
            <h:outputText value="#{operationPermitHelper.permit.issueDate}" rendered="#{readonly}" />

            <h:outputText value="#{messages['txt.current_state']}" style="font-weight:bold;"/>
            <h:panelGroup>
                <h:panelGroup rendered="#{operationPermitHelper.permit.approved != null}">
                    <h:outputText rendered="#{operationPermitHelper.permit.approved}" value="#{messages['txt.APPROVED']}" />
                    <h:outputText
                        rendered="#{not operationPermitHelper.permit.approved}"
                        value="#{messages['txt.REJECTED']}"
                        style="color:Red;">
                    </h:outputText>
                </h:panelGroup>
                <h:outputText
                    rendered="#{operationPermitHelper.permit.approved == null}"
                    value="#{messages['txt.pending_state']}"
                    style="color:Red;">
                </h:outputText>
            </h:panelGroup>
        </h:panelGrid>
        <br />
    </h:panelGroup>

    <h:outputText
        value="#{messages['permit.validity']}"
        style="font-weight:bold;" />
    <hr />
    <br />
    <h:panelGrid width="50%" columns="2">
        <h:outputLabel for="validityFrom" value="#{messages['permit.validity_from']}" />
        <h:panelGroup>
            <h:panelGroup rendered="#{not readonly}">
                <rich:calendar id="validityFrom" label="#{messages['permit.validity_from']}"
                    value="#{operationPermitHelper.permit.validityFrom}" required="true" />
                <br />
                <rich:message style="color:Red;" for="validityFrom" />
            </h:panelGroup>
            <h:panelGroup rendered="#{readonly}">
                <h:inputText value="#{operationPermitHelper.permit.validityFrom}" readonly="true" />
            </h:panelGroup>
        </h:panelGroup>

        <h:outputLabel for="validityTo" value="#{messages['permit.validity_to']}" />
        <h:panelGroup>
            <h:panelGroup rendered="#{not readonly}">
                <rich:calendar id="validityTo" label="#{messages['permit.validity_to']}"
                    value="#{operationPermitHelper.permit.validityTo}" required="true" />
                <br />
                <rich:message style="color:Red;" for="validityTo" />
            </h:panelGroup>
            <h:panelGroup rendered="#{readonly}">
                <h:inputText value="#{operationPermitHelper.permit.validityTo}" readonly="true" />
            </h:panelGroup>
        </h:panelGroup>
    </h:panelGrid>
    
    <div style="height: 20px"/>

    <h:outputText
        value="#{messages['viewtransaction.approver_observations']}"
        style="font-weight:bold;" />
    <hr />
    <br />
    
    <h:panelGroup rendered="#{not readonly}">
        <h:inputTextarea id="approverOpinion"
            value="#{operationPermitHelper.permit.approverOpinion}"
            label="#{messages['viewtransaction.approver_observations']}"
            rows="5" style="width:70%" required="true">
        </h:inputTextarea>
        <br />
        <rich:message style="color:Red;" for="approverOpinion" />
    </h:panelGroup>
    <h:panelGroup rendered="#{readonly}">
        <h:inputTextarea
            value="#{operationPermitHelper.permit.approverOpinion}"
            rows="5" style="width:70%" readonly="true">
        </h:inputTextarea>
    </h:panelGroup>

    <br /> <br /> <br />

</ui:composition>
