<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    template="/WEB-INF/esquema/base-layout-sidebar.xhtml">

    <ui:define name="header">
    </ui:define>

    <ui:define name="sidebar">
    </ui:define>

    <ui:define name="sigitBodyContent">
        <h1>Error</h1>
        <p>Something bad happened :-(</p>

        <h:messages id="errorMessage" styleClass="message"/>
    </ui:define>

</ui:composition>
