<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"    
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <ui:define name="body">
        <style type="text/css">
            .col {
                vertical-align:top;
            }
        </style>
        
        <h1>#{messages['home.bienvenida']}</h1>
        <rich:panel bodyClass="hundredHeight">
            <h:panelGrid columns="2" columnClasses="col,col">
                <h:graphicImage value="/img/sigitlogo.jpg" alt="SIGIT logo" />
                <div style="info">
                    <p>#{messages['home.funciones']}</p>
                    <ul class="bullets">
                        <li>#{messages['home.fun01']}</li>
                        <li>#{messages['home.fun02']}</li>
                        <li>#{messages['home.fun03']}</li>
                        <li>#{messages['home.fun04']}</li>
                        <li>#{messages['home.fun05']}</li>
                    </ul>
                </div>
            </h:panelGrid>
        </rich:panel>
    </ui:define>
</ui:composition>
