<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <ui:define name="body">
        <h:form id="loginForm">
            <center>
                <rich:panel style="width:350px;">
                    <f:facet name="header">
                        #{messages['login.iniciosesion']}
                    </f:facet>
    
                    <p>#{messages['login.inicioaqui']}</p>
                    
                    <div class="dialog"><h:panelGrid columns="2" rowClasses="prop"
                        columnClasses="name,value">
                        <h:outputLabel for="username">#{messages['login.username']}</h:outputLabel>
                        <h:inputText id="username" value="#{credentials.username}" />
                        <h:outputLabel for="password">#{messages['login.password']}</h:outputLabel>
                        <h:inputSecret id="password" value="#{credentials.password}" />
                        <h:outputLabel for="rememberMe">#{messages['login.recuerdame']}</h:outputLabel>
                        <h:selectBooleanCheckbox id="rememberMe"/>
                    </h:panelGrid></div>
    
                    <p><i>#{messages['login.nota']} - </i><h:outputText
                        value="#{messages['login.olvido']} " /> <h:outputLink value="#">
                        <f:verbatim>#{messages['login.aqui']}</f:verbatim>
                    </h:outputLink></p>
                    <div class="actionButtons">
                        <h:commandButton id="submit" value="#{messages['login.login']}" action="#{identity.login}" />
                    </div>
                    
                    <rich:messages style="color:Red;"/>
                </rich:panel>
            </center>
        </h:form>
    </ui:define>

    <ui:define name="footer">
        <ui:include src="/WEB-INF/esquema/footer.xhtml" />
    </ui:define>

    <ui:define name="debug">
        <ui:include src="/WEB-INF/esquema/debug.xhtml" />
    </ui:define>

</ui:composition>
