<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <ui:define name="body">
        <h:form id="loginForm">
            <a4j:commandButton value="Throw Exception AJAX" action="#{testHelper.raiseException('AJAX error')}"/>
            <h:commandButton value="Throw Exception" action="#{testHelper.raiseException('normal request error')}"/>
            
            <br/>
            
            <a4j:commandButton value="Expire session" action="#{testHelper.expireSession}"/>
        </h:form>
    </ui:define>

    <ui:define name="footer">
        <ui:include src="/WEB-INF/esquema/footer.xhtml" />
    </ui:define>

    <ui:define name="debug">
        <ui:include src="/WEB-INF/esquema/debug.xhtml" />
    </ui:define>

</ui:composition>
