<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">
    
    <h:panelGroup id="modalPanels" layout="block" style="display: none;">
        <ui:include src="panels.xhtml" />
    </h:panelGroup>
    
</ui:composition>
