<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sigit="http://java.sun.com/jsf/composite/components">

    <rich:popupPanel id="msgPanel" width="350" height="100" zindex="20500" autosized="true">
        <f:facet name="header">
            <h:panelGroup>
                <h:outputText value="SIGIT"></h:outputText>
            </h:panelGroup>
        </f:facet>
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="msgPanel" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
            
        <table style="width:100%">
            <tr>
                <td width="10%" align="center">
                    <h:graphicImage value="/img/error.gif" rendered="#{facesContext.maximumSeverity != null and facesContext.maximumSeverity != 'INFO 0'}" />
                    <h:graphicImage value="/img/msginfo.png" rendered="#{facesContext.maximumSeverity == null or facesContext.maximumSeverity == 'INFO 0'}" />
                </td>
                <td width="90%">
                    <rich:messages showSummary="true" showDetail="false"/>
                    <strong>Detalle:</strong>
                    <rich:messages showSummary="false" showDetail="true"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" value="#{messages['button.ok']}" onclick="#{rich:component('msgPanel')}.hide();"/>
                </td>
            </tr>
        </table>
    </rich:popupPanel>

    <rich:popupPanel id="simpleMsgPanel" width="350" height="100" zindex="20500" autosized="true">
        <f:facet name="header">
            <h:panelGroup>
                <h:outputText value="SIGIT"></h:outputText>
            </h:panelGroup>
        </f:facet>
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="msgPanel" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
            
        <table style="width:100%">
            <tr>
                <td width="10%" align="center">
                    <h:graphicImage value="/img/error.gif" rendered="#{facesContext.maximumSeverity != null and facesContext.maximumSeverity != 'INFO 0'}" />
                    <h:graphicImage value="/img/msginfo.png" rendered="#{facesContext.maximumSeverity == null or facesContext.maximumSeverity == 'INFO 0'}" />
                </td>
                <td width="90%">
                    <rich:messages showSummary="true" showDetail="false"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" value="#{messages['button.ok']}" onclick="#{rich:component('simpleMsgPanel')}.hide();"/>
                </td>
            </tr>
        </table>
    </rich:popupPanel>

    <a4j:outputPanel ajaxRendered="true">
        <rich:popupPanel id="confirmation-dialog" resizeable="false" autosized="false"
            minWidth="#{dialogHelper.width}" minHeight="#{dialogHelper.height}"
            moveable="#{dialogHelper.moveable}" shadowOpacity="1" zindex="#{dialogHelper.zIndex}">

            <f:facet name="header">#{messages['txt.confirm_dlg']}</f:facet>

            <f:facet name="controls">
                <h:graphicImage value="/img/close.png">
                    <rich:componentControl target="confirmation-dialog" operation="hide" event="click" />
                </h:graphicImage>
            </f:facet>
            
            <div align="center">
                <br />
                <h:outputText value="#{dialogHelper.confirmMsg}" />
                <br />
                <br />
                <h:outputText value="#{messages['txt.confirm_question']}" />
                <br />
                <br />
                <br />
                
                <a4j:commandButton
                    value="#{messages['button.ok']}"
                    rendered="#{dialogHelper.serverAction}"
                    action="#{dialogHelper.doConfirmAction()}"
                    render="#{dialogHelper.reRenderList}"
                    onclick="#{rich:component('confirmation-dialog')}.hide();">
                    <f:setPropertyActionListener target="#{dialogHelper.strictConfirmationDialog}" value="#{false}"/>
                </a4j:commandButton>
                
                <sigit:simpleButton
                    value="#{messages['button.ok']}"
                    rendered="#{not dialogHelper.serverAction}"
                    onclick="#{dialogHelper.jsFunction}"
                    type="button">
                </sigit:simpleButton>
                
                <sigit:simpleButton
                    value="#{messages['button.cancel']}"
                    onclick="#{rich:component('confirmation-dialog')}.hide()"
                    type="button">
                </sigit:simpleButton>
            </div>
        </rich:popupPanel>

        <rich:popupPanel id="strict-confirmation-dialog" resizeable="false" autosized="false"
            minWidth="#{dialogHelper.width}" minHeight="#{dialogHelper.height}"
            moveable="#{dialogHelper.moveable}" shadowOpacity="1" zindex="#{dialogHelper.zIndex}">

            <f:facet name="header">#{messages['txt.confirm_dlg']}</f:facet>

            <f:facet name="controls">
                <h:graphicImage value="/img/close.png">
                    <rich:componentControl target="strict-confirmation-dialog" operation="hide" event="click" />
                </h:graphicImage>
            </f:facet>

            <div align="center">
                <h:outputText value="#{dialogHelper.confirmMsg}" />
                <br />
                <br />
                <br />
                
                <h:selectBooleanCheckbox id="chkConfirm" value="#{dialogHelper.actionConfirmed}"/>
                <h:outputLabel value="#{messages['txt.confirm_check']}" for="chkConfirm" />
                
                <br />
                <br />
                
                <a4j:commandButton
                    value="#{messages['button.ok']}"
                    rendered="#{dialogHelper.serverAction}"
                    action="#{dialogHelper.doConfirmAction()}"
                    render="#{dialogHelper.reRenderList}"
                    onclick="#{rich:component('strict-confirmation-dialog')}.hide();">
                    <f:setPropertyActionListener target="#{dialogHelper.strictConfirmationDialog}" value="#{true}"/>
                </a4j:commandButton>
                
                <sigit:simpleButton
                    value="#{messages['button.ok']}"
                    rendered="#{not dialogHelper.serverAction}"
                    onclick="if (#{rich:element('chkConfirm')}.checked) #{dialogHelper.jsFunction}; #{rich:component('strict-confirmation-dialog')}.hide();"
                    type="button">
                </sigit:simpleButton>
                
                <sigit:simpleButton
                    value="#{messages['button.cancel']}"
                    onclick="#{rich:component('strict-confirmation-dialog')}.hide();"
                    type="button">
                </sigit:simpleButton>
            </div>
        </rich:popupPanel>
    </a4j:outputPanel>

    <ui:remove>
    <rich:popupPanel id="verDocPanel" autosized="true">
        <f:facet name="header">
            <h:outputText value="Documento"/>
        </f:facet>
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="verDocPanel" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
        <h:form id="docForm">
            <a4j:mediaOutput id="pdfOut" name="pdfOut" rendered="false"
             uriAttribute="data"
             element="object"
             width="800"
             height="600"
             createContent="#{documentViewer.viewFile}"
             mimeType="application/pdf"
             standBy="loading..."/>
         </h:form>
        <script type="text/javascript">
        document.getElementById("docForm:pdfOut").type="application/pdf";
        </script>
     </rich:popupPanel>
     </ui:remove>

</ui:composition>
