<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <rich:popupPanel id="selectLandUsePanel" width="460" height="550" zindex="10600" resizeable="#{true}">
        <f:facet name="header">
            <h:outputText value="Seleccionar Tipo de Uso"/>
        </f:facet>
        
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="selectLandUsePanel" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>
        
        <div style="width:100%; height:515px; overflow:auto;">
            <ui:include src="/WEB-INF/includes/landUse/landUses.xhtml" />
        </div>
    </rich:popupPanel>

</ui:component>
