<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:richx="http://richfaces.org/richx">

    <rich:popupPanel id="selectBuildingMaterialPanel" minWidth="810" minHeight="580" resizeable="false" zindex="15000">
        <f:facet name="header">
            <h:outputText value="Seleccionar material de construccion"/>
        </f:facet>
        
        <f:facet name="controls">
            <h:graphicImage value="/img/close.png">
                <rich:componentControl target="selectBuildingMaterialPanel" operation="hide" event="click" />
            </h:graphicImage>
        </f:facet>

        <div style="width:100%;height:495px;overflow:auto">
            <f:subview id="bm">
                <ui:include src="/permits/building/mant/buildingMaterial.xhtml">
                    <ui:param name="showTitle" value="false" />
                    <ui:param name="numElements" value="4" />
                    <ui:param name="selecting" value="true" />
                    <ui:param name="selectionPanelName" value="selectBuildingMaterialPanel" />
                </ui:include>
            </f:subview>
        </div>
        
        <br />
        
        <div align="center">
            <button
                onclick="#{rich:component('selectBuildingMaterialPanel')}.hide();">
                #{messages['button.close']}
            </button>
        </div>
    </rich:popupPanel>

</ui:component>
