<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:richx="http://richfaces.org/richx">

    <rich:popupPanel id="selectParcelPanel" width="480" height="400" zindex="10000">
        <f:facet name="header">
            <h:outputText value="Seleccionar predio"/>
        </f:facet>
        <h:form>
            <!-- a4j:region renderRegionOnly="true"-->
                <rich:extendedDataTable id="selectParcelTable" value="#{selectParcelHelper.dataModel}"
                        var="parcel" rows="10" height="330px" selectionMode="single" enableContextMenu="false"
                        selection="#{selectParcelHelper.parcelSelection}">
                    <f:facet name="header">
                        <h:outputText value="Filtre por cualquier atributo"/>
                    </f:facet>
                    <f:facet name="footer">
                        <rich:dataScroller selectedStyle="font-weight:bold"/>
                    </f:facet>

                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Nombre"/>
                        </f:facet>
                        <h:outputText value="#{parcel.label}" />
                    </rich:column>
                    <rich:column filterBy="#{parcel.fieldTab}" filterEvent="onkeyup">
                        <f:facet name="header">
                            <h:outputText value="Ficha de campo"/>
                        </f:facet>
                        <h:outputText value="#{parcel.fieldTab}" />
                    </rich:column>
                    <rich:column filterBy="#{parcel.municipalKey}" filterEvent="onkeyup">
                        <f:facet name="header">
                            <h:outputText value="Clave municipal"/>
                        </f:facet>
                        <h:outputText value="#{parcel.municipalKey}" />
                    </rich:column>
                    <rich:column filterBy="#{parcel.cadastralKey}" filterEvent="onkeyup">
                        <f:facet name="header">
                            <h:outputText value="Clave catastral"/>
                        </f:facet>
                        <h:outputText value="#{parcel.cadastralKey}" />
                    </rich:column>
                </rich:extendedDataTable>
                <br/>
                <a4j:commandButton id="acceptParcel" value="#{messages['button.ok']}"
                        actionListener="#{selectParcelHelper.takeSelection}"
                        oncomplete="#{rich:component('selectParcelPanel')}.hide()"
                        render="#{selectParcelHelper.reRenderComponents}">
                </a4j:commandButton>
                <a4j:commandButton value="#{messages['button.cancel']}" onclick="#{rich:component('selectParcelPanel')}.hide()"/>
            <!-- /a4j:region-->
        </h:form>
    </rich:popupPanel>

</ui:component>
