<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    
    >


    <table width="#{width}" border="0">
        <tr>
            <td>
                <rich:panel>
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                        <tr>
                            <td width="10%" valign="top">
                                <h:graphicImage value="/img/int_ayuda.gif" width="45" height="43" />
                            </td>
                            <td>
                                <h:panelGroup rendered="#{mainMessage != null}">
                                    <h:outputText value="#{mainMessage}" />
                                    <br/>
                                    <br/>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{observation != null}">
                                    <h:outputText value="#{observation}" />
                                    <br/>
                                    <br/>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{msgBullet != null}">
                                    <ul style="line-height:normal;">
                                        <li>#{msgBullet}</li>
                                        <h:panelGroup rendered="#{msgBullet1 != null}">
                                            <li>#{msgBullet1}</li>
                                        </h:panelGroup>
                                        <h:panelGroup rendered="#{msgBullet2 != null}">
                                            <li>#{msgBullet2}</li>
                                        </h:panelGroup>
                                        <h:panelGroup rendered="#{msgBullet3 != null}">
                                            <li>#{msgBullet3}</li>
                                        </h:panelGroup>
                                        <h:panelGroup rendered="#{msgBullet4 != null}">
                                            <li>#{msgBullet4}</li>
                                        </h:panelGroup>
                                        <h:panelGroup rendered="#{msgBullet5 != null}">
                                            <li>#{msgBullet5}</li>
                                        </h:panelGroup>
                                        <h:panelGroup rendered="#{msgBullet6 != null}">
                                            <li>#{msgBullet6}</li>
                                        </h:panelGroup>
                                        <h:panelGroup rendered="#{msgBullet7 != null}">
                                            <li>#{msgBullet7}</li>
                                        </h:panelGroup>
                                        <h:panelGroup rendered="#{msgBullet8 != null}">
                                            <li>#{msgBullet8}</li>
                                        </h:panelGroup>
                                        <h:panelGroup rendered="#{msgBullet9 != null}">
                                            <li>#{msgBullet9}</li>
                                        </h:panelGroup>
                                    </ul>
                                </h:panelGroup>
                            </td>
                        </tr>
                    </table>
                </rich:panel>
            </td>
        </tr>
    </table>
</ui:composition>

