<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:richx="http://richfaces.org/richx">

    <div align="center">
        <br />
        <ui:include src="viewParcelAdminDataCore.xhtml">
            <ui:param name="parcel" value="#{parcel}" />
        </ui:include>
    </div>

</ui:component>
