<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    
    >

    <h:form>
        <h:panelGroup rendered="#{predSucc == 0}">
            <h:panelGroup rendered="#{not empty parcelQueryHelper.selectedParcelPredecessors}">
                <ui:repeat var="parcel" value="#{parcelQueryHelper.selectedParcelPredecessors}">
                    <li>
                        <h:commandLink action="#{navigationHelper.navigateTo('/queries/parcels')}">
                            <f:setPropertyActionListener target="#{parcelQueryHelper.selected}" value="#{parcel}" />
                            <h:outputText value="#{generalHelper.getZoneUsefulName(parcel)}" />
                        </h:commandLink>
                    </li>
                </ui:repeat>
            </h:panelGroup>
            <h:panelGroup rendered="#{empty parcelQueryHelper.selectedParcelPredecessors}">
                No existe(n) predecesor(es)
                <br />
            </h:panelGroup>
        </h:panelGroup>
        
        <h:panelGroup rendered="#{predSucc == 1}">
            <h:panelGroup rendered="#{not empty parcelQueryHelper.selectedParcelSuccessors}">
                <ui:repeat var="parcel" value="#{parcelQueryHelper.selectedParcelSuccessors}">
                    <li>
                        <h:commandLink action="#{navigationHelper.navigateTo('/queries/parcels')}">
                            <f:setPropertyActionListener target="#{parcelQueryHelper.selected}" value="#{parcel}" />
                            <h:outputText value="#{generalHelper.getZoneUsefulName(parcel)}" />
                        </h:commandLink>
                    </li>
                </ui:repeat>
            </h:panelGroup>
            <h:panelGroup rendered="#{empty parcelQueryHelper.selectedParcelSuccessors}">
                No existe(n) sucesor(es)
                <br />
            </h:panelGroup>
        </h:panelGroup>
    </h:form>
    
</ui:composition>
