<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    
    >

    <h:panelGroup rendered="#{predSucc == 0}">
        <h:panelGroup rendered="#{not empty viewParcelHelper.getParcelPredecessors(inParcel)}">
            <ui:repeat var="parcel" value="#{viewParcelHelper.getParcelPredecessors(inParcel)}">
                <li>#{parcel.fieldTab}</li>
            </ui:repeat>
        </h:panelGroup>
        <h:panelGroup rendered="#{empty viewParcelHelper.getParcelPredecessors(inParcel)}">
            No existe(n) predecesor(es)
            <br />
        </h:panelGroup>
    </h:panelGroup>
    
    <h:panelGroup rendered="#{predSucc == 1}">
        <h:panelGroup rendered="#{not empty viewParcelHelper.getParcelSuccessors(inParcel)}">
            <ui:repeat var="parcel" value="#{viewParcelHelper.getParcelSuccessors(inParcel)}">
                <li>#{parcel.fieldTab}</li>
            </ui:repeat>
        </h:panelGroup>
        <h:panelGroup rendered="#{empty viewParcelHelper.getParcelSuccessors(inParcel)}">
            No existe(n) sucesor(es)
            <br />
        </h:panelGroup>
    </h:panelGroup>

    
</ui:composition>
