<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <table width="95%" cellspacing="10px">
        <tr valign="top" align="center">
            <td width="50%">
                <rich:panel style="width:360px">
                    <h:form>
                        <h:panelGroup rendered="#{interactiveViewerHelper.mapServerAlive}">
                            <m:map id="mapEditor" width="350px" height="350px" options="#{parcelQueryHelper.mapOptions}" jsVariable="mapEditor">
                                <m:wmsLayer
                                    name="Centroides de predio"
                                    url="#{generalHelper.wmsUrl}"
                                    params="{layers: '#{generalHelper.primaryWMSLayer}', transparent: true, format: 'image/png'}"
                                    options="{ isBaseLayer: true, projection: '#{generalHelper.workingSRS}' }">
                                </m:wmsLayer>
                                <m:vectorLayer name="Editable" jsVariable="vlayer"/>
                                <m:vectorLayer name="parcelFeaturesLayer" jsVariable="parcelFeaturesLayer" />
                                <m:navigationControl />
                                <m:panZoomBarControl />
                                <m:scaleLineControl />
                                <m:mousePositionControl />
                                <m:overviewMapControl />
                                <m:panelControl>
                                    <m:navigationControl options="{title:'#{messages['map.navigation']}'}" />
                                    <m:zoomToMaxExtentControl options="{title:'#{messages['map.zoom_to_max_extent']}'}" />
                                </m:panelControl>
                                <m:script>
                                    <h:outputText value="#{parcelQueryHelper.mapScript('mapEditor')}" />
                                </m:script>
                            </m:map>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{not interactiveViewerHelper.mapServerAlive}">
                            El servidor de mapas no esta disponible
                        </h:panelGroup>
                    </h:form>
                </rich:panel>
            </td>
            <td width="50%">
                <strong>Datos Generales</strong>
                <hr />
                <br />
                <h:panelGrid columns="2">
                    <h:outputText value="#{messages['txt.field_tab']}" style="font-weight:bold;" />
                    <h:outputText value="#{parcel.fieldTab != null ? parcel.fieldTab : '(sin ficha de campo)'}" />
            
                    <h:outputText value="#{messages['txt.municipal_key']}" style="font-weight:bold;" />
                    <h:outputText value="#{parcel.municipalKey != null ? parcel.municipalKey : '(sin clave municipal)'}" />
            
                    <h:outputText value="#{messages['txt.cadastral_key']}" style="font-weight:bold;" />
                    <h:outputText value="#{parcel.cadastralKey != null ? parcel.cadastralKey : '(sin clave catastral)'}" />
            
                    <h:outputText value="#{messages['txt.name']}" style="font-weight:bold;" />
                    <h:outputText value="#{parcel.zoneName != null ? parcel.zoneName : '(sin nombre)'}" />

                    <h:outputText value="#{messages['txt.development']}" style="font-weight:bold;" />
                    <h:outputText value="#{messages[parcel.developmentStatus]}" />
                </h:panelGrid>
                
                <br />
                <br />
                
                <strong>Vigencia</strong>
                <hr />
                <br />
                <h:panelGrid columns="2">
                    <h:outputText value="Vigente" style="font-weight:bold;" />
                    <h:panelGroup>
                        <h:outputText value="#{messages['txt.YES']}" rendered="#{parcel.alive}" />
                        <h:outputText value="#{messages['txt.NO']}" rendered="#{not parcel.alive}" style="color:Red;" />
                    </h:panelGroup>
                    
                    <h:outputText value="Comienzo vigencia" style="font-weight:bold;" />
                    <h:outputText value="#{parcel.beginLifespanVersion}" />
                    
                    <h:outputText value="Fin de vigencia" style="font-weight:bold;" />
                    <h:outputText value="#{parcel.endLifespanVersion}" />
                </h:panelGrid>
                
                <ui:include src="zoneLockInfoIncl.xhtml">
                    <ui:param name="sz" value="#{parcel}" />
                </ui:include>
            </td>
        </tr>
    </table>
    <br />
    <br />
    

</ui:component>
