<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <div align="center">
        <br />
        <strong>Derechos</strong>
        <hr />
        <br />
        <ui:include src="viewParcelRRRCore.xhtml">
            <ui:param name="property" value="#{parcel.property}" />
            <ui:param name="rrr" value="1" />
        </ui:include>
        <br />
        <br />
        <br />
        <strong>Restricciones</strong>
        <hr />
        <br />
        <ui:include src="viewParcelRRRCore.xhtml">
            <ui:param name="property" value="#{parcel.property}" />
            <ui:param name="rrr" value="2" />
        </ui:include>
        <br />
        <br />
        <br />
        <strong>Responsabilidades</strong>
        <hr />
        <br />
        <ui:include src="viewParcelRRRCore.xhtml">
            <ui:param name="property" value="#{parcel.property}" />
            <ui:param name="rrr" value="3" />
        </ui:include>
    </div>

</ui:component>
