<ui:component xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sigit="http://java.sun.com/jsf/composite/components">

    <style type="text/css">
        .content {
            width:100%;
            height:530px;
            overflow:auto;
        }
    </style>
    
    <rich:popupPanel id="viewRequestPanel" width="700" height="600" zindex="10000">
        <f:facet name="header">
            <h:outputText value="#{messages['introfin.transactiondata']}"/>
        </f:facet>
        
        <f:facet name="controls">
            <h:panelGroup>
                <h:graphicImage id="hideViewRequestPanel" value="/img/close.png"
                    styleClass="hidelink" onclick="viewRequestClose()" />
            </h:panelGroup>
        </f:facet>

        <div align="center">
            <div class="content">
                <ui:include src="/workflow/viewTransaction.xhtml" />
                <br/>
            </div>
            <br/>
            
            <a4j:jsFunction
            name="viewRequestClose"
            oncomplete="#{rich:component('viewRequestPanel')}.hide()">
                <f:setPropertyActionListener value="#{false}" target="#{viewTransactionHelper.renderTransactionData}" />
            </a4j:jsFunction>
            <sigit:simpleButton
                id="btnClose"
                type="button"
                value="#{messages['button.ok']}"
                onclick="viewRequestClose()">
            </sigit:simpleButton>
        </div>
    </rich:popupPanel>
    
</ui:component>
