<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j">

    #{zoneInfoHelper.setSpatialZone(zone)}
    <h:panelGroup rendered="#{zoneInfoHelper.spatialZone == null}">
        <h:outputText value="#{noZoneMsg}" />
    </h:panelGroup>
    <h:panelGroup rendered="#{zoneInfoHelper.spatialZone != null}">
        <div align="center">
            <strong>Datos Generales</strong>
            <table width="#{width}"><tr><td>
                <rich:panel>
                    <table width="100%" style="text-align: left;" border="0">
                        <tr>
                            <th width="40%">#{messages['spatial_analysis.zone_name']}</th>
                            <td width="60%">#{generalHelper.formatZoneNameText(zoneInfoHelper.spatialZone)}</td>
                        </tr>
                        <tr>
                            <th>#{messages['spatial_analysis.location']}</th>
                            <td>#{generalHelper.formatNullText(zoneInfoHelper.spatialZone.locationInCountry)}</td>
                        </tr>
                        <tr>
                            <th>#{messages['spatial_analysis.current_land_use']}</th>
                            <td>#{generalHelper.formatLandUseText(zoneInfoHelper.spatialZone.landUse)}</td>
                        </tr>
                        <tr>
                            <th>#{messages['spatial_analysis.proposed_land_use']}</th>
                            <td>#{generalHelper.formatLandUseText(zoneInfoHelper.spatialZone.proposedLandUse)}</td>
                        </tr>
                        <tr>
                            <th>#{messages['spatial_analysis.level']}</th>
                            <td>#{generalHelper.formatLevelText(zoneInfoHelper.spatialZone.level)}</td>
                        </tr>
                    </table>
                    <ui:include src="zoneLockInfoIncl.xhtml">
                        <ui:param name="sz" value="#{zoneInfoHelper.spatialZone}" />
                    </ui:include>
                </rich:panel>
            </td></tr></table>
            
            <h:panelGroup rendered="#{zoneInfoHelper.parcelInstance}">
                <br />
                <strong>Datos del Predio</strong>
                <table width="#{width}"><tr><td>
                    <rich:panel>
                        <table width="100%" style="text-align: left;" border="0">
                            <tr>
                                <th width="40%">Nombre</th>
                                <td width="60%">#{zoneInfoHelper.parcel.label}</td>
                            </tr>
                            <tr>
                                <th>Ficha de campo</th>
                                <td>#{zoneInfoHelper.parcel.fieldTab}</td>
                            </tr>
                            <tr>
                                <th>Clave municipal</th>
                                <td>#{zoneInfoHelper.parcel.municipalKey}</td>
                            </tr>
                            <tr>
                                <th>Clave catastral</th>
                                <td>#{zoneInfoHelper.parcel.cadastralKey}</td>
                            </tr>
                        </table>
                    </rich:panel>
                </td></tr></table>
            </h:panelGroup>
        </div>
    </h:panelGroup>


</ui:composition>
