<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j">

    <h:panelGroup rendered="#{sz.lock.locked}">
        <br />
        <h:outputText value="NOTA: Esta zona espacial/parcela se encuentra bloqueada" style="text-align:center;color:Red;" />
    </h:panelGroup>

</ui:composition>
