<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j">

    <h:panelGroup rendered="#{empty transactionQueryHelper.fileSources}">
        <div align="center">
            <br/>
            <h:outputText value="#{messages['intro2.nodocsattached']}"/>
        </div>
    </h:panelGroup>
    <br />
    <rich:dataTable id="datosTabla" value="#{transactionQueryHelper.fileSources}"
            var="source" rowKeyVar="row" rendered="#{not empty transactionQueryHelper.fileSources}">
        <rich:column>
            <f:facet name="header">#{messages['intro2.description']}</f:facet>
            <h:outputText value="#{source.archive.description}"/>
        </rich:column>

        <rich:column>
            <f:facet name="header">#{messages['intro2.filename']}</f:facet>
            <h:outputText value="#{source.archive.name}"/>
        </rich:column>

        <rich:column>
            <h:form>
                <a href="/sigit/services/docs/#{source.archive.sID}" target="_blank">
                    <h:outputText value="#{messages['viewtransaction.viewattacheddoc']}"/>
                </a> 
            </h:form>
        </rich:column>
    </rich:dataTable>

</ui:composition>
