<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j">
    
    <table style="width: 95%; vertical-align: top;">
        <tr>
            <td style="width: 50%; vertical-align: top;">
                <div align="center">
                    <h3>
                        <h:outputText value="#{messages['query.transaction.transaction_data']}" />
                    </h3>
                    <hr />
                    <h:panelGrid columns="2">
                        <h:outputText value="#{messages['viewtransaction.presentation_date']}" style="font-weight:bold;" />
                        <h:outputText value="#{transaction.presentationDate}">
                            <f:convertDateTime type="both" dateStyle="full" timeStyle="medium"/>
                        </h:outputText>
                        
                        <h:outputText value="#{messages['viewtransaction.presentation_id']}" style="font-weight:bold;" />
                        <h:outputText value="#{transaction.presentationNo}" />
                        
                        <h:outputText value="#{messages['intro.partyid']}" style="font-weight:bold;" />
                        <h:outputText value="#{transaction.extParty.formalIdentity}" />
                        
                        <h:outputText value="#{messages['intro.fullname']}" style="font-weight:bold;" />
                        <h:outputText value="#{transaction.extParty.name}" />
                        
                        <h:outputText value="#{messages['intro.cashierscode']}" style="font-weight:bold;" />
                        <h:outputText value="#{transaction.cashiersCode}" />
                        
                        <h:outputText value="#{messages['intro.payment']}" style="font-weight:bold;" />
                        <h:outputText value="#{transaction.payment}" />
                        
                        <h:outputText value="#{messages['intro.description']}" style="font-weight:bold;" />
                        <h:outputText value="#{transaction.description}" />
                        
                        <h:outputText value="Tipo de solicitud segun analista" style="font-weight:bold;" />
                        <h:outputText value="#{messages[transaction.requestType.toString()]}" />
                        
                        <h:outputText value="Subtipo de solicitud segun analista" style="font-weight:bold;" />
                        <h:outputText value="#{messages[transaction.requestSubType.toString()]}" />
                        
                        <h:outputText value="#{messages['analysis.dictum']}" style="font-weight:bold;" />
                        <h:outputText value="#{transaction.analysisDictum}" />
                        
                        <h:outputText value="#{messages['analysis.additional_observations']}" style="font-weight:bold;" />
                        <h:outputText value="#{transaction.additionalObservations}" />
                    </h:panelGrid>
                    <br/>
                    <br/>
                </div>
            </td>
            <td style="width: 50%; vertical-align: top;">
                <div align="center">
                    <h3>
                        <h:outputText value="#{messages['query.transaction.transaction_state_resp']}" />
                    </h3>
                    <hr />
                    <h:panelGrid columns="2">
                        <h:outputText value="#{messages['txt.current_activity']}" style="font-weight:bold;" />
                        <h:outputText value="#{messages[transaction.currentActivity.toString()]}" />
                        
                        <h:outputText value="#{messages['txt.completion_date']}" style="font-weight:bold;" />
                        <h:outputText value="#{transaction.completionDate}">
                            <f:convertDateTime type="both" dateStyle="full" timeStyle="medium"/>
                        </h:outputText>
                        
                        <h:outputText value="#{messages['RECEPTIONIST']}" style="font-weight:bold;" />
                        <h:outputText value="#{transaction.receptionistFullName} (#{transaction.receptionistUserName})" />
                        
                        <h:outputText value="#{messages['ANALYST']}" style="font-weight:bold;" />
                        <h:outputText value="#{transaction.analystFullName} (#{transaction.analystUserName})" />
                        
                        <h:outputText value="#{messages['EDITOR']}" style="font-weight:bold;" />
                        <h:outputText value="#{transaction.editorFullName} (#{transaction.editorUserName})" />
                        
                        <h:outputText value="#{messages['APPROVER']}" style="font-weight:bold;" />
                        <h:outputText value="#{transaction.approverFullName} (#{transaction.approverUserName})" />
                    </h:panelGrid>
                    <br/>
                    <br/>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="vertical-align: top;">
                <div align="center">
                    <h3>
                        <h:outputText value="#{messages['txt.document_sources']}" />
                    </h3>
                    <hr />
                    <ui:include src="/WEB-INF/includes/transaction/transactionSources.xhtml">
                        <ui:param name="transaction" value="#{transactionQueryHelper.selected}" />
                    </ui:include>
                    <br/>
                    <br/>
                </div>
            </td>
        </tr>
    </table>

</ui:composition>
