<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j">

    <div align="center">
        <strong>#{messages['query.transaction.transaction_data']}</strong>
        <rich:panel>
            <h:panelGrid columns="2" width="#{width}">
                <h:outputText value="#{messages['viewtransaction.presentation_date']}" style="font-weight:bold;" />
                <h:outputText value="#{transaction.presentationDate}">
                    <f:convertDateTime type="both" dateStyle="full" timeStyle="medium"/>
                </h:outputText>
                
                <h:outputText value="#{messages['viewtransaction.presentation_id']}" style="font-weight:bold;" />
                <h:outputText value="#{transaction.presentationNo}" />
                
                <h:outputText value="#{messages['intro.partyid']}" style="font-weight:bold;" />
                <h:outputText value="#{transaction.extParty.formalIdentity}" />
                
                <h:outputText value="#{messages['intro.fullname']}" style="font-weight:bold;" />
                <h:outputText value="#{transaction.extParty.name}" />
                
                <h:outputText value="#{messages['query.transaction.type_according_analyst']}" style="font-weight:bold;" />
                <h:outputText value="#{messages[transaction.requestType.toString()]}" />
            </h:panelGrid>
        </rich:panel>
        
        <br />
        <strong>#{messages['query.transaction.transaction_state']}</strong>
        <rich:panel>
            <h:panelGrid columns="2" width="#{width}">
                <h:outputText value="#{messages['txt.current_activity']}" style="font-weight:bold;" />
                <h:outputText value="#{messages[transaction.currentActivity.toString()]}" />
                
                <h:outputText value="#{messages['txt.completion_date']}" style="font-weight:bold;" />
                <h:outputText value="#{transaction.completionDate}">
                    <f:convertDateTime type="both" dateStyle="full" timeStyle="medium"/>
                </h:outputText>
            </h:panelGrid>
        </rich:panel>
    </div>

</ui:composition>
