<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    >
    
    <div align="center">
        <h3>
            <h:outputText value="Parcelas requeridas por el solicitante" />
        </h3>
        <hr />
        <br />
        <br />
        <rich:dataGrid value="#{transactionQueryHelper.requestedSpatialZones}" var="sz"
        columns="#{transactionQueryHelper.requestedSpatialZones.size() lt 2 ? 1 : 2}" width="95%"
        rendered="#{not empty transactionQueryHelper.requestedSpatialZones}">
            <ui:include src="/WEB-INF/includes/zoneInfoIncl.xhtml">
                <ui:param name="zone" value="#{sz}" />
                <ui:param name="width" value="300px" />
            </ui:include>
        </rich:dataGrid>
        <br />
    
        <h3>
            <h:outputText value="Parcelas vecinas de parcelas requeridas" />
        </h3>
        <hr />
        <br />
        <rich:dataGrid value="#{transactionQueryHelper.neighborSpatialZones}" var="sz"
        columns="#{transactionQueryHelper.neighborSpatialZones.size() lt 2 ? 1 : 2}" width="95%"
        rendered="#{not empty transactionQueryHelper.neighborSpatialZones}">
            <ui:include src="/WEB-INF/includes/zoneInfoIncl.xhtml">
                <ui:param name="zone" value="#{sz}" />
                <ui:param name="width" value="300px" />
            </ui:include>
        </rich:dataGrid>
        <br />
        
        <h3>
            <h:outputText value="Parcelas vecinas de parcelas vecinas de parcelas requeridas" />
        </h3>
        <hr />
        <br />
        <rich:dataGrid value="#{transactionQueryHelper.neighborNeighborSpatialZones}" var="sz"
        columns="#{transactionQueryHelper.neighborNeighborSpatialZones.size() lt 2 ? 1 : 2}" width="95%"
        rendered="#{not empty transactionQueryHelper.neighborNeighborSpatialZones}">
            <ui:include src="/WEB-INF/includes/zoneInfoIncl.xhtml">
                <ui:param name="zone" value="#{sz}" />
                <ui:param name="width" value="300px" />
            </ui:include>
        </rich:dataGrid>
        <br />
    </div>
</ui:composition>
