<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    
    xmlns:m="http://www.ol4jsf.org"
    xmlns:a4j="http://richfaces.org/a4j"
    >

    <div align="center">
        <h3>
            <h:outputText value="Seguimiento de la transaccion" />
        </h3>
        <hr />
        <br />
        <br />
        <rich:dataTable value="#{transactionQueryHelper.transactionLogs}" var="tl" rowKeyVar="curRow">
            <rich:column>
                <f:facet name="header">No.</f:facet>
                <h:outputText value="#{curRow + 1}"/>
            </rich:column>
            <rich:column>
                <f:facet name="header">Actividad</f:facet>
                <h:outputText value="#{messages[tl.activity.toString()]}"/>
            </rich:column>
            <rich:column>
                <f:facet name="header">Fecha de Arrivo</f:facet>
                <h:outputText value="#{tl.dateActivity}">
                    <f:convertDateTime type="both" dateStyle="full" timeStyle="medium"/>
                </h:outputText>
            </rich:column>
            <rich:column>
                <f:facet name="header">Fecha de Inicio</f:facet>
                <h:outputText value="#{tl.dateClaimed}">
                    <f:convertDateTime type="both" dateStyle="full" timeStyle="medium"/>
                </h:outputText>
            </rich:column>
            <rich:column>
                <f:facet name="header">Asignada a</f:facet>
                <h:outputText value="#{transactionQueryHelper.claimingUser(tl)}"/>
            </rich:column>
        </rich:dataTable>
    </div>

</ui:composition>
