<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    
    >

    <ui:repeat var="spatialZone" value="#{spatialZoneList}">
        <h:panelGroup rendered="#{transactionQueryHelper.isParcelInstance(spatialZone)}">
            <rich:panel header="Parcela con Clave Municipal: #{spatialZone.municipalKey != null ? spatialZone.municipalKey : '(sin clave municipal)'}">
                <strong>.- Ficha de Campo: #{spatialZone.fieldTab != null ? spatialZone.fieldTab : '(sin ficha de campo)'}</strong>
                <br />
                <strong>.- Clave Catastral: #{spatialZone.cadastralKey != null ? spatialZone.cadastralKey : '(sin clave catastral)'}</strong>
                <br />
                <strong>.- Nombre: #{spatialZone.zoneName != null ? spatialZone.zoneName : '(sin nombre)'}</strong>
                <div align="center">
                    <br />
                    <ui:include src="spatialZoneRRRHeader.xhtml" >
                        <ui:param name="spatialZone" value="#{spatialZone}" />
                    </ui:include>
                </div>
            </rich:panel>
            <br />
        </h:panelGroup>
        <h:panelGroup rendered="#{not transactionQueryHelper.isParcelInstance(spatialZone)}">
            No implementado
        </h:panelGroup>
    </ui:repeat>
</ui:composition>
