<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    <style type="text/css">
        .rowtitle {
            font-weight:bold;
            width: 40%
        }
    </style>
    <div align="center">
        <strong>#{messages['dataentry.editdata.cadastral_section']}</strong>
        <hr />
        <br />
        <h:panelGrid columns="2" columnClasses=",rowtitle" width="350px">
            <h:outputText value="#{messages['dataentry.editdata.parcel_name']}" />
            <h:outputText value=" #{ generalHelper.getZoneUsefulName(spatialZone) }"/>

            <h:outputText value="#{messages['dataentry.editdata.geometry_area']}" />
            <h:outputText value="#{ generalHelper.formatEmptyText(spatialZone.geometryArea) }"/>
        
            <h:outputText value="#{messages['dataentry.editdata.documented_area']}" />
            <h:outputText value="#{ generalHelper.formatEmptyText(spatialZone.documentedArea) }"/>
        
            <h:outputText value="#{messages['dataentry.editdata.measured_area']}" />
            <h:outputText value="#{ generalHelper.formatEmptyText(spatialZone.measuredArea) }"/>
        
            <h:outputText value="#{messages['dataentry.editdata.documented_built_area']}" />
            <h:outputText value="#{ generalHelper.formatEmptyText(spatialZone.documentedBuiltArea) }"/>
        
            <h:outputText value="#{messages['dataentry.editdata.location_in_country']}" />
            <h:outputText value="#{ generalHelper.formatEmptyText(spatialZone.locationInCountry) }"/>
        </h:panelGrid>
        <h:panelGrid rendered="#{generalHelper.isParcelInstance(spatialZone)}" columns="2" columnClasses=",rowtitle" width="350px">
            #{viewTransactionHelper.setSuID(spatialZone.suID)}
            <h:outputText value="#{messages['txt.field_tab']}" style="font-weight:bold;" />
            <h:outputText value="#{ generalHelper.formatEmptyText(viewTransactionHelper.parcel.fieldTab) }"/>
    
            <h:outputText value="#{messages['txt.municipal_key']}" style="font-weight:bold;" />
            <h:outputText value="#{ generalHelper.formatEmptyText(viewTransactionHelper.parcel.municipalKey) }"/>
    
            <h:outputText value="#{messages['txt.cadastral_key']}" style="font-weight:bold;" />
            <h:outputText value="#{ generalHelper.formatEmptyText(viewTransactionHelper.parcel.cadastralKey) }"/>
    
            <h:outputText value="#{messages['dataentry.editdata.parcel_name']}" style="font-weight:bold;" />
            <h:outputText value="#{ generalHelper.formatEmptyText(viewTransactionHelper.parcel.zoneName) }"/>

            <h:outputText value="#{messages['txt.development']}" style="font-weight:bold;" />
            <h:outputText value="#{messages[viewTransactionHelper.parcel.developmentStatus]}" />

            <h:outputText value="#{messages['dataentry.editdata.ground_built_area']}" />
            <h:outputText value="#{ generalHelper.formatEmptyText(viewTransactionHelper.parcel.groundBuiltArea) }"/>
        
            <h:outputText value="#{messages['dataentry.editdata.neighborhood']}" />
            <h:outputText value="#{ generalHelper.formatEmptyText(viewTransactionHelper.parcel.neighborhood) }"/>

            <h:outputText value="#{messages['dataentry.editdata.access_way1']}" />
            <h:outputText value="#{ generalHelper.formatEmptyText(spatialZone.accessWay1) }"/>

            <h:outputText value="#{messages['dataentry.editdata.access_way2']}" />
            <h:outputText value="#{ generalHelper.formatEmptyText(spatialZone.accessWay2) }"/>

            <h:outputText value="#{messages['dataentry.editdata.house_number']}" />
            <h:outputText value="#{ generalHelper.formatEmptyText(spatialZone.houseNumber) }"/>
        </h:panelGrid>
        <br />
        <br />
        
        <h:panelGroup rendered="#{generalHelper.isParcelInstance(spatialZone)}">
            <strong>#{messages['dataentry.editdata.tax_section']}</strong>
            <hr />
            <br />
            <h:panelGrid columns="2" columnClasses=",rowtitle" width="350px">
                <h:outputText value="#{messages['dataentry.editdata.commercial_appraisal']}" />
                <h:outputText value="#{ generalHelper.formatEmptyText(spatialZone.commercialAppraisal) }" />
    
                <h:outputText value="#{messages['dataentry.editdata.fiscal_appraisal']}" />
                <h:outputText value="#{ generalHelper.formatEmptyText(spatialZone.fiscalAppraisal) }"/>
    
                <h:outputText value="#{messages['dataentry.editdata.taxation_balance_due']}" />
                <h:outputText value="#{ generalHelper.formatEmptyText(spatialZone.taxationBalanceDue) }"/>
    
                <h:outputText value="#{messages['dataentry.editdata.status']}" />
                <h:outputText value="#{ generalHelper.formatEmptyText(resBundle.loadMessage(spatialZone.taxationStatus.toString())) }" />
            </h:panelGrid>
            <br />
            <br />
        
            <strong>#{messages['dataentry.editdata.landuse_section']}</strong>
            <hr />
            <br />
            <h:panelGrid columns="2" columnClasses=",rowtitle" width="350px">
                <h:outputText value="#{messages['dataentry.editdata.primary_landuse']}" />
                <h:outputText value="#{ generalHelper.formatLandUseText(spatialZone.landUse) }" />
    
                <h:outputText value="#{messages['dataentry.editdata.proposed_landuse']}" />
                <h:outputText value="#{ generalHelper.formatLandUseText(spatialZone.proposedLandUse) }"/>
            </h:panelGrid>
        </h:panelGroup>
    </div>
</ui:composition>
