<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    
    >

    <strong>Derechos</strong>
    <hr />
    <br />
    <ui:include src="spatialZoneRRR.xhtml">
        <ui:param name="spatialZone" value="#{spatialZone}" />
        <ui:param name="rrr" value="1" />
    </ui:include>
    <br />
    <br />
    <br />
    <strong>Restricciones</strong>
    <hr />
    <br />
    <ui:include src="spatialZoneRRR.xhtml">
        <ui:param name="spatialZone" value="#{spatialZone}" />
        <ui:param name="rrr" value="2" />
    </ui:include>
    <br />
    <br />
    <br />
    <strong>Responsabilidades</strong>
    <hr />
    <br />
    <ui:include src="spatialZoneRRR.xhtml">
        <ui:param name="spatialZone" value="#{spatialZone}" />
        <ui:param name="rrr" value="3" />
    </ui:include>
</ui:composition>
