<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    
    >

    <h:panelGroup rendered="#{baUnitId != null and not baUnit.equals('')}">
        <h:panelGroup rendered="#{rrr == '1'}">
            <h:panelGroup rendered="#{not empty viewTransactionHelper.getParcelRightsList(baUnitId)}">
                <rich:dataTable style="vertical-align:baseline;" value="#{viewTransactionHelper.getParcelRightsList(baUnitId)}" var="right" rowKeyVar="row" cellspacing="1" rows="13">
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['dataentry.mutate_rrr.party']}"/>
                        </f:facet>
                        <h:outputText value="#{right.owner}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['dataentry.mutate_rights.type']}"/>
                        </f:facet>
                        <h:outputText value="#{messages[right.typeString]}" />
                    </rich:column>
                    <rich:column style="text-align:right;">
                        <f:facet name="header">
                            <h:outputText value="#{messages['dataentry.mutate_rrr.share']}"/>
                        </f:facet>
                        <h:outputText value="#{right.shareString}"/>
                    </rich:column>
        
                    <f:facet name="footer">
                        <rich:columnGroup>
                            <rich:column>#{messages['dataentry.mutate_rrr.total']}</rich:column>
                            <rich:column colspan="3" style="text-align:right;">
                                <h:outputText value="#{viewTransactionHelper.rightsSumShares}"/>
                            </rich:column>
                        </rich:columnGroup>
                    </f:facet>
                </rich:dataTable>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{empty viewTransactionHelper.getParcelRightsList(baUnitId)}">
                <h:outputText value="#{messages['dataentry.mutate_rights.no']}" />
            </h:panelGroup>
        </h:panelGroup>
    
        <h:panelGroup rendered="#{rrr == '2'}">
            <h:panelGroup rendered="#{not empty viewTransactionHelper.getParcelRestrictionsList(baUnitId)}">
                <rich:dataTable style="vertical-align:baseline;" value="#{viewTransactionHelper.getParcelRestrictionsList(baUnitId)}" var="restriction" rowKeyVar="row" cellspacing="1" rows="13">
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['dataentry.mutate_rrr.party']}"/>
                        </f:facet>
                        <h:outputText value="#{restriction.owner}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['dataentry.mutate_restrictions.type']}"/>
                        </f:facet>
                        <h:outputText value="#{messages[restriction.typeString]}" />
                    </rich:column>
                    <rich:column style="text-align:right;">
                        <f:facet name="header">
                            <h:outputText value="#{messages['dataentry.mutate_rrr.share']}"/>
                        </f:facet>
                        <h:outputText value="#{restriction.shareString}"/>
                    </rich:column>
    
                    <f:facet name="footer">
                        <rich:columnGroup>
                            <rich:column>#{messages['dataentry.mutate_rrr.total']}</rich:column>
                            <rich:column colspan="3" style="text-align:right;">
                                <h:outputText value="#{viewTransactionHelper.restrictionsSumShares}"/>
                            </rich:column>
                        </rich:columnGroup>
                    </f:facet>
                </rich:dataTable>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{empty viewTransactionHelper.getParcelRestrictionsList(baUnitId)}">
                <h:outputText value="#{messages['dataentry.mutate_restrictions.no']}" />
            </h:panelGroup>
        </h:panelGroup>
        
        <h:panelGroup rendered="#{rrr == '3'}">
            <h:panelGroup rendered="#{not empty viewTransactionHelper.getParcelResponsibilitiesList(baUnitId)}">
                <rich:dataTable style="vertical-align:baseline;" value="#{viewTransactionHelper.getParcelResponsibilitiesList(baUnitId)}" var="responsibility" rowKeyVar="row" cellspacing="1" rows="13">
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['dataentry.mutate_rrr.party']}"/>
                        </f:facet>
                        <h:outputText value="#{responsibility.owner}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['dataentry.mutate_responsibilities.type']}"/>
                        </f:facet>
                        <h:outputText value="#{messages[responsibility.typeString]}" />
                    </rich:column>
                    <rich:column style="text-align:right;">
                        <f:facet name="header">
                            <h:outputText value="#{messages['dataentry.mutate_rrr.share']}"/>
                        </f:facet>
                        <h:outputText value="#{responsibility.shareString}"/>
                    </rich:column>
    
                    <f:facet name="footer">
                        <rich:columnGroup>
                            <rich:column>#{messages['dataentry.mutate_rrr.total']}</rich:column>
                            <rich:column colspan="3" style="text-align:right;">
                                <h:outputText value="#{viewTransactionHelper.responsibilitiesSumShares}"/>
                            </rich:column>
                        </rich:columnGroup>
                    </f:facet>
                </rich:dataTable>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{empty viewTransactionHelper.getParcelResponsibilitiesList(baUnitId)}">
                <h:outputText value="#{messages['dataentry.mutate_responsibilities.no']}" />
            </h:panelGroup>
        </h:panelGroup>
    </h:panelGroup>
</ui:composition>
