<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    #{viewTransactionHelper.setSuID(suID)}
    <style type="text/css">
        .rowtitle {
            font-weight:bold;
        }
    </style>
    <div align="center">
        <strong>#{messages['dataentry.editdata.cadastral_section']}</strong>
        <hr />
        <br style=""/>
        <h:panelGrid id="editDataTab1" columns="2" columnClasses=",rowtitle">
            <h:outputText value="#{messages['txt.field_tab']}" style="font-weight:bold;" />
            <h:outputText value="#{ viewParcelHelper.formatEmptyText(viewTransactionHelper.parcel.fieldTab) }"/>
    
            <h:outputText value="#{messages['txt.municipal_key']}" style="font-weight:bold;" />
            <h:outputText value="#{ viewParcelHelper.formatEmptyText(viewTransactionHelper.parcel.municipalKey) }"/>
    
            <h:outputText value="#{messages['txt.cadastral_key']}" style="font-weight:bold;" />
            <h:outputText value="#{ viewParcelHelper.formatEmptyText(viewTransactionHelper.parcel.cadastralKey) }"/>
    
            <h:outputText value="#{messages['dataentry.editdata.parcel_name']}" style="font-weight:bold;" />
            <h:outputText value="#{ viewParcelHelper.formatEmptyText(viewTransactionHelper.parcel.zoneName) }"/>

            <h:outputText value="#{messages['txt.development']}" style="font-weight:bold;" />
            <h:outputText value="#{messages[viewTransactionHelper.parcel.developmentStatus]}" />

            <h:outputText value="#{messages['dataentry.editdata.geometry_area']}" />
            <h:outputText value="#{ viewTransactionHelper.formatEmptyText(viewTransactionHelper.parcel.geometryArea) }"/>
        
            <h:outputText value="#{messages['dataentry.editdata.documented_area']}" />
            <h:outputText value="#{ viewTransactionHelper.formatEmptyText(viewTransactionHelper.parcel.documentedArea) }"/>
        
            <h:outputText value="#{messages['dataentry.editdata.measured_area']}" />
            <h:outputText value="#{ viewTransactionHelper.formatEmptyText(viewTransactionHelper.parcel.measuredArea) }"/>
        
            <h:outputText value="#{messages['dataentry.editdata.documented_built_area']}" />
            <h:outputText value="#{ viewTransactionHelper.formatEmptyText(viewTransactionHelper.parcel.documentedBuiltArea) }"/>
        
            <h:outputText value="#{messages['dataentry.editdata.ground_built_area']}" />
            <h:outputText value="#{ viewTransactionHelper.formatEmptyText(viewTransactionHelper.parcel.groundBuiltArea) }"/>
        
            <h:outputText value="#{messages['dataentry.editdata.neighborhood']}" />
            <h:outputText value="#{ viewTransactionHelper.formatEmptyText(viewTransactionHelper.parcel.neighborhood) }"/>

            <h:outputText value="#{messages['dataentry.editdata.access_way1']}" />
            <h:outputText value="#{ viewTransactionHelper.formatEmptyText(viewTransactionHelper.parcel.accessWay1) }"/>

            <h:outputText value="#{messages['dataentry.editdata.access_way2']}" />
            <h:outputText value="#{ viewTransactionHelper.formatEmptyText(viewTransactionHelper.parcel.accessWay2) }"/>

            <h:outputText value="#{messages['dataentry.editdata.house_number']}" />
            <h:outputText value="#{ viewTransactionHelper.formatEmptyText(viewTransactionHelper.parcel.houseNumber) }"/>

            <h:outputText value="#{messages['dataentry.editdata.location_in_country']}" />
            <h:outputText value="#{ viewTransactionHelper.formatEmptyText(viewTransactionHelper.parcel.locationInCountry) }"/>
        </h:panelGrid>
        <br />
        <br />
        
        <strong>#{messages['dataentry.editdata.tax_section']}</strong>
        <hr />
        <br />
        <h:panelGrid id="editDataTab2" columns="2" columnClasses=",rowtitle">
            <h:outputText value="#{messages['dataentry.editdata.commercial_appraisal']}" />
            <h:outputText value="#{ viewTransactionHelper.formatEmptyText(viewTransactionHelper.parcel.commercialAppraisal) }" />

            <h:outputText value="#{messages['dataentry.editdata.fiscal_appraisal']}" />
            <h:outputText value="#{ viewTransactionHelper.formatEmptyText(viewTransactionHelper.parcel.fiscalAppraisal) }"/>

            <h:outputText value="#{messages['dataentry.editdata.taxation_balance_due']}" />
            <h:outputText value="#{ viewTransactionHelper.formatEmptyText(viewTransactionHelper.parcel.taxationBalanceDue) }"/>

            <h:outputText value="#{messages['dataentry.editdata.status']}" />
            <h:outputText value="#{ viewTransactionHelper.formatEmptyText(resBundle.loadMessage(viewTransactionHelper.parcel.taxationStatus)) }" />
        </h:panelGrid>
        <br />
        <br />
        
        <strong>#{messages['dataentry.editdata.landuse_section']}</strong>
        <hr />
        <br />
        <h:panelGrid id="editDataTab3" columns="2" columnClasses=",rowtitle">
            <h:outputText value="#{messages['dataentry.editdata.primary_landuse']}" />
            <h:outputText value="#{ viewTransactionHelper.formatEmptyText(viewTransactionHelper.landUseText) }" />

            <h:outputText value="#{messages['dataentry.editdata.proposed_landuse']}" />
            <h:outputText value="TODO!"/>
        </h:panelGrid>
    </div>
</ui:composition>
