<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    
    >

    <ui:repeat var="parcel" value="#{approvalHelper.getParcelList(listIdx)}">
        <rich:panel header="Parcela con Clave Municipal: #{parcel.municipalKey != null ? parcel.municipalKey : '(sin clave municipal)'}">
            <strong>.- Ficha de Campo: #{parcel.fieldTab != null ? parcel.fieldTab : '(sin ficha de campo)'}</strong>
            <br />
            <strong>.- Clave Catastral: #{parcel.cadastralKey != null ? parcel.cadastralKey : '(sin clave catastral)'}</strong>
            <br />
            <strong>.- Nombre: #{parcel.zoneName != null ? parcel.zoneName : '(sin nombre)'}</strong>
            <div align="center">
                <br />
                <strong>Derechos</strong>
                <hr />
                <br />
                <ui:include src="/workflow/transaction/viewTransaction/viewRRRsModifications.xhtml">
                    <ui:param name="baUnitId" value="#{parcel.property.uID}" />
                    <ui:param name="rrr" value="1" />
                </ui:include>
                <br />
                <br />
                <br />
                <strong>Restricciones</strong>
                <hr />
                <br />
                <ui:include src="/workflow/transaction/viewTransaction/viewRRRsModifications.xhtml">
                    <ui:param name="baUnitId" value="#{parcel.property.uID}" />
                    <ui:param name="rrr" value="2" />
                </ui:include>
                <br />
                <br />
                <br />
                <strong>Responsabilidades</strong>
                <hr />
                <br />
                <ui:include src="/workflow/transaction/viewTransaction/viewRRRsModifications.xhtml">
                    <ui:param name="baUnitId" value="#{parcel.property.uID}" />
                    <ui:param name="rrr" value="3" />
                </ui:include>
            </div>
        </rich:panel>
        <br />
    </ui:repeat>
</ui:composition>