<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <ui:define name="body">
        <h:form>
            <div align="center">
                <h3>#{messages['activities.activities']}</h3>
                <hr />
            </div>
            <br />
            <br />
            <h:panelGroup id="panelActividades">
                <rich:collapsiblePanel switchType="client" header="#{messages['activities.assignedactivitesheader']}">
                    <rich:dataTable value="#{transactionHelper.taskList}" var="task" rendered="#{not empty transactionHelper.taskList}">
                        <rich:column>
                            <f:facet name="header">#{messages['activities.transaction_no']}</f:facet>
                            <h:outputText value="#{task.presentationNo}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">#{messages['activities.activity']}</f:facet>
                            <h:outputText value="#{messages[task.name]}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">#{messages['activities.description']}</f:facet>
                            <h:outputText value="#{messages[task.description]}"/>
                        </rich:column>
                        <rich:column sortBy="#{task.create}">
                            <f:facet name="header">#{messages['activities.startdate']}</f:facet>
                            <h:outputText value="#{task.create}">
                                <f:convertDateTime type="both" dateStyle="full" timeStyle="medium"/>
                            </h:outputText>
                        </rich:column>
                        <rich:column style="text-align:center;">
                            <f:facet name="header">#{messages['txt.docReceipt']}</f:facet>
                            <h:commandLink value="#{messages['txt.print']}"
                                action="#{navigationHelper.navigateTo('/queries/reports/documentsReceipt')}"
                                target="_blank">
                                <f:setPropertyActionListener target="#{transactionHelper.presentationNoStr}" value="#{task.presentationNo}"/>
                                <f:setPropertyActionListener target="#{transactionQueryHelper.selected}" value="#{transactionHelper.transaction}"/>
                            </h:commandLink>
                        </rich:column>
                        <rich:column>
                            <h:commandLink action="#{transactionHelper.startTask}" value="#{messages['activities.resume']} &gt;&gt;">
                                <f:setPropertyActionListener value="#{task}" target="#{transactionHelper.selectedTask}" />
                                <f:setPropertyActionListener target="#{transactionHelper.presentationNoStr}" value="#{task.presentationNo}"/>
                                <f:setPropertyActionListener target="#{transactionQueryHelper.selected}" value="#{transactionHelper.transaction}"/>
                            </h:commandLink>
                        </rich:column>
                    </rich:dataTable>
                    <h:outputText value="#{messages['activities.nopending']}" rendered="#{empty transactionHelper.taskList}"/>
                </rich:collapsiblePanel>
                
                <br/>
                <br/>
                
                <rich:collapsiblePanel switchType="client" header="#{messages['activities.pooledactivitesheader']}">
                    <rich:dataTable id="sidebar_dtactivpendientes" value="#{transactionHelper.pooledTaskList}" var="task" rendered="#{not empty transactionHelper.pooledTaskList}">
                        <rich:column>
                            <f:facet name="header">#{messages['activities.transaction_no']}</f:facet>
                            <h:outputText value="#{task.presentationNo}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">#{messages['activities.activity']}</f:facet>
                            <h:outputText value="#{resBundle.loadMessage(task.name)}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">#{messages['activities.description']}</f:facet>
                            <h:outputText value="#{resBundle.loadMessage(task.description)}"/>
                        </rich:column>
                        <rich:column sortBy="#{task.create}">
                            <f:facet name="header">#{messages['activities.startdate']}</f:facet>
                            <h:outputText value="#{task.create}">
                                <f:convertDateTime type="both" dateStyle="full" timeStyle="medium"/>
                            </h:outputText>
                        </rich:column>
                        <rich:column style="text-align:center;">
                            <f:facet name="header">#{messages['txt.docReceipt']}</f:facet>
                            <h:commandLink value="#{messages['txt.print']}"
                                action="#{navigationHelper.navigateTo('/queries/reports/documentsReceipt')}"
                                target="_blank">
                                <f:setPropertyActionListener target="#{transactionHelper.presentationNoStr}" value="#{task.presentationNo}"/>
                                <f:setPropertyActionListener target="#{transactionQueryHelper.selected}" value="#{transactionHelper.transaction}"/>
                            </h:commandLink>
                        </rich:column>
                        <rich:column>
                            <h:commandLink action="#{transactionHelper.assignToCurrentUser}" value="#{messages['activities.claim']}">
                                <f:setPropertyActionListener value="#{task}" target="#{transactionHelper.selectedTask}" />
                            </h:commandLink>
                        </rich:column>
                    </rich:dataTable>
                    <h:outputText value="#{messages['activities.nopending']}" rendered="#{empty transactionHelper.pooledTaskList}"/>
                </rich:collapsiblePanel>
                <br/>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
