<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:sigit="http://java.sun.com/jsf/composite/components"
    template="/WEB-INF/esquema/plantillasimple.xhtml">

    <ui:define name="body">
        <div align="center">
            <br/>
            <h2>#{messages['starttransaction.header']}</h2>
            <hr />
            <br/>
            
            <ui:insert name="stepBody"/>
        </div>
        <ui:include src="/WEB-INF/includes/selectParty.xhtml">
            <ui:param name="selectionPanelName" value="selectPartyPanel" />
        </ui:include>
        <sigit:adminSourceFileUpload
            attachFileHelper="#{transactionHelper}">
        </sigit:adminSourceFileUpload>
    </ui:define>
    
</ui:composition>
