<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">


    <style type="text/css">
        .alignTop {
            vertical-align:top;
        }
    </style>
    
    <h:panelGroup id="transactionData">
        <rich:tabPanel switchType="client">
            <rich:tab header="#{messages['viewtransaction.presentation']}">
                <div align="center">
                    <strong>#{messages['viewtransaction.receptionist']}</strong>
                    <hr />
                    <br/>
                    <h:panelGrid columns="2" columnClasses="alignTop,alignTop">
                        <h:outputText value="#{messages['viewtransaction.receptionist_username']}" />
                        <h:outputText value="#{transactionHelper.transaction.receptionistUserName}" />
        
                        <h:outputText value="#{messages['viewtransaction.receptionist_fullname']}" />
                        <h:outputText value="#{transactionHelper.transaction.receptionistFullName}" />
                    </h:panelGrid>
                    <br/>
                    <br/>
                    <br/>
                    <strong>#{messages['intro.partydata']}</strong>
                    <hr />
                    <br/>


                    <ui:include src="transaction/includes/showInitialData.xhtml" />

                    
                    <br/>
                    <br/>
                    <br/>
                    <strong>#{messages['introfin.attacheddocs']}</strong>
                    <hr />
                    <br/>
                    
                    <ui:include src="/workflow/transaction/includes/showAttachedFiles.xhtml" />
                    
                </div>
            </rich:tab>
            
            <rich:tab header="#{messages['viewtransaction.analysis']}">
                <div align="center">
                    <strong>#{messages['viewtransaction.analyst']}</strong>
                    <hr />
                    <br/>
                    <h:panelGrid columns="2">
                        <h:outputText value="#{messages['viewtransaction.analyst_username']}"/>
                        <h:outputText value="#{transactionHelper.transaction.analystUserName}"/>
                        
                        <h:outputText value="#{messages['viewtransaction.analyst_fullname']}"/>
                        <h:outputText value="#{transactionHelper.transaction.analystFullName}"/>
                    </h:panelGrid>
                    <br/>
                    <br/>
                    <strong>#{messages['analysis.type']}</strong>
                    <hr />
                    <br/>
                    <h:panelGrid columns="2" columnClasses="alignTop,alignTop">
                        <h:outputText value="#{messages['analysis.request_type']}" />
                        <h:outputText value="#{resBundle.loadMessage(transactionHelper.transaction.requestType)}" />
                    </h:panelGrid>
                    <br/>
                    <br/>
                    <strong>#{messages['analysis.property_list']}</strong>
                    <hr />
                    <br/>
                    <h:panelGroup id="_grpZone">
                        <ui:repeat value="#{transactionHelper.requestedZoneList}" var="zone">
                        <rich:panel>
                            <table style="width:100%">
                                <tr>
                                    <td>
                                        <rich:panel>
                                        <ui:include src="/WEB-INF/includes/zoneInfoIncl.xhtml">
                                            <ui:param name="zone" value="#{zone}" />
                                            <ui:param name="noZoneMsg" value="#{messages['permit.no_zone_selected']}" />
                                            <ui:param name="width" value="100%" />
                                        </ui:include>
                                        </rich:panel>
                                    </td>
                                </tr>
                            </table>
                        </rich:panel>
                        </ui:repeat>
                    </h:panelGroup>
                    
                    <br/>
                    <br/>
                    
                    <strong>#{messages['analysis.request_dictum']}</strong>
                    <hr />
                    <br/>
                    <h:inputTextarea readonly="true" value="#{transactionHelper.transaction.analysisDictum}" style="width:90%" rows="5">
                    </h:inputTextarea>
    
                    <br/>
                    <br/>
                    <strong>#{messages['analysis.additional_observations']}</strong>
                    <hr />
                    <br/>
                    <h:inputTextarea readonly="true" value="#{transactionHelper.transaction.additionalObservations}" style="width:90%" rows="5">
                    </h:inputTextarea>
                </div>
            </rich:tab>
        </rich:tabPanel>
    </h:panelGroup>
    
</ui:composition>
